    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Josefin+Sans:300,400,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext'); html, button, input, select, textarea {
        color: #222;
    }
    /* header-login-SA.css°/
    /** Customizzazione reveal login mobile **/
    .reveal--sa-login {
      overflow: hidden;
      /* 	.reveal__header-mobile { .db; } */
    }
    .reveal--sa-login .reveal__inner {
      overflow: hidden;
      position: absolute;
      top: 0;
     left: 0;
      bottom: 0;
      right: 0;
    }
    .reveal--sa-login .reveal__content {
      position: absolute;
      top: 95px;
      bottom: 0;
      width: 100%;
      height: auto;
      overflow-y: scroll;
      padding-top: 0;
      padding-bottom: 70px;
    }
    .reveal--sa-login .button-wrap {
      padding: 0 10px;
      margin-bottom: 20px;
    }
    .reveal--sa-login .reveal__content{
      padding: 0 0 50px;
      overflow: hidden;
      position: static;
      top: auto;
      bottom: auto;
      width: 75%;
      margin: 0 auto;
      padding: 0 0 50px;
      overflow: auto;
      height: auto;
    }
    .reveal--sa-login .reveal__content .button-wrap{
      /*padding-right: 10px;*/
      /*float: left;*/
      /*width: 33%;*/
      padding: 20px 135px 0;
    }
    .reveal--sa-login .reveal__content .button-wrap .button{
      background-size: 18px 12px;
      background-position: 15px center;
      height: auto;
      padding-left: 20px;
      padding-right: 20px;
      background-repeat: no-repeat;
    }
    .reveal--sa-login .reveal__content .button-wrap.custom-button-wrap{
      width: 33.33%;
      float: left;
      margin-bottom: 30px;
      padding: 0 10px;
    }
    .reveal--sa-login .reveal__content .button-wrap.custom-button-wrap a.button{
      background-size: 18px 12px;
      background-position: 15px center;
      height: auto;
      background-repeat: no-repeat;
    }
    .reveal--sa-login .reveal__content .button-wrap.custom-button-wrap a.button span{
      padding-left: 15px;
    }
    .reveal--sa-login .reveal__content .custom-row p {
      margin: 0 0 25px 0;
    }
    .reveal--sa-login .reveal__content .custom-row p a {
      font-weight: 700;
      cursor:pointer;
    }
    .reveal--sa-login .reveal__content .custom-row p.small-txt {
      font-size: 18px;
      margin-bottom: 0;
    }
    .reveal--sa-login .reveal__content .custom-row .custom-button-wrap {
      width: 33.33%;
      float: left;
      margin-bottom: 30px;
    }
    .reveal--sa-login .reveal__content .custom-row .custom-button-wrap .button {
      padding-left: 40px;
      text-align: center;
      background-position: 15px center;
      background-repeat: no-repeat;
      padding: 15px 20px 12px 20px;
    }
    .reveal--sa-login .reveal__content .custom-row.custom-row-button {
      padding: 0 10px;
    }
    .reveal--sa-login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button {
      background-position: center center;
      height: 45px;
      -webkit-border-top-right-radius: 10px;
      -webkit-border-bottom-right-radius: 10px;
      -webkit-border-bottom-left-radius: 10px;
      -webkit-border-top-left-radius: 10px;
      -moz-border-radius-topright: 10px;
      -moz-border-radius-bottomright: 10px;
      -moz-border-radius-bottomleft: 10px;
      -moz-border-radius-topleft: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      width: 100%;
    }
    .reveal--sa-login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button span {
      display: none;
    }
    .reveal--sa-login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--gp {
      background-size: 23px 15px;
    }
    .reveal--sa-login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--fb {
      background-size: 9px 20px;
    }
    .reveal--sa-login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--in {
      background-size: 25px 25px;
    }
    .reveal--sa-login .reveal__content .custom-row.custom-row-utils {
      margin: 10px 0 25px;
    }
    .reveal--sa-login .checkbox-wrap {
      padding-left: 0px;
      float: left;
      clear: both;
      margin-bottom: 25px;
    }
    .reveal--sa-login .checkbox-wrap label {
      font-size: 16px;
      color: #676767;
      font-family: 'Source Sans Pro', Arial, sans-serif;
      font-weight: 300;
      line-height: 1;
    }
    .reveal--sa-login .checkbox-wrap input {
      margin-bottom: 0;
    }
    .reveal--sa-login .cta-custom-wrap {
      padding-right: 0px;
      float: left;
      clear: both;
    }
    .reveal--sa-login .input-wrap {
      margin-bottom: 20px;
    }
    .reveal--sa-login .custom-button-wrap {
      width: 33.33%;
      float: left;
      margin-bottom: 30px;
    }
    .reveal--sa-login .custom-button-wrap .button {
      padding-left: 40px;
      text-align: center;
      background-position: 15px center;
      background-repeat: no-repeat;
      padding: 15px 20px 12px 40px;
    }
    .reveal--sa-login .button-wrap-padding {
      padding: 0;
    }
    .reveal--sa-login .button-wrap-padding .button {
      width: 100%;
    }
    .button#login-submit-sa{
     /* float: none;*/
     margin-left:0%; important;
    }
    #login.reveal .button-wrap .button {
	    padding: 17px 20px 14px 20px;
	}
	/*** Fix visualizzazione Recupera Pin ***/
	#login .cta-wrap.cta-custom-wrap {
	    font-size: 16px;
	}
	
	@media only screen and (max-width: 1023px) {
		.reveal--sa-login .reveal__content {
			width: 100%;
            position: absolute;
    		top: 95px;
    		bottom: 0;
    		height: auto;
    		overflow-y: scroll;
    		padding-top: 0;
    		padding-bottom: 70px;
		}
		.reveal--sa-login .reveal__content a.user-signin.show-for-large {
		    display: inline-block !important;
		}
		.reveal--sa-login .reveal__content .input-wrap {
			padding: 0;
			padding-top: 5px;
		}
		.reveal--sa-login .reveal__content div#socialGigyaIcons {
			padding-bottom: 15px;
		}
		.reveal--sa-login .reveal__content .cta-custom-wrap {
			float: left;
		}
		.reveal--sa-login .reveal__content .input-wrap.loginMenu__block {
			display: none;
		}
		.reveal--sa-login .reveal__content .button-wrap.button-wrap-padding {
			padding: 20px 40px 33px;
		}
	}
	
    @media (min-width: 768px) {

      .reveal--sa-login .reveal__header {
        display: none;
      }
      .reveal--sa-login .reveal__header-mobile {
        display: inline-block;
        *display: inline;
        zoom: 1;
      }
      .reveal--sa-login .reveal__content {
        padding-top: 44px;
      }
      .reveal--sa-login .reveal__content .custom-row {
        padding: 0 140px;
      }
      .reveal--sa-login .reveal__content .custom-row .custom-button-wrap .button {
        padding-left: 40px;
        text-align: center;
        background-position: 15px center;
        background-repeat: no-repeat;
        padding: 15px 20px 12px 20px;
      }

      .reveal--login .reveal__content .custom-row .custom-button-wrap .button {
          padding: 15px 20px 12px 20px; important;
      }

      .reveal--sa-login .reveal__content .custom-row.custom-row-button {
        padding: 0 200px;
      }
      .reveal--sa-login .reveal__content .custom-row.custom-row-utils {
        margin: 20px 0 60px;
      }
      .reveal--sa-login .checkbox-wrap {
        padding-left: 60px;
        float: left;
        clear: none;
        margin-bottom: 0px;
      }
      .reveal--sa-login .cta-custom-wrap {
        padding-right: 60px;
        float: right;
        clear: none;
      }
      .reveal--sa-login .button-wrap-padding {
        padding: 20px 160px 0;
      }

    }

    @media (min-width: 1024px) {
	#login.reveal--login .button-wrap-padding {
      	padding: 20px 110px 0;
      }
      
      .reveal--sa-login {
         overflow: visible;
        }
      .reveal--sa-login .reveal__header {
        padding-bottom: 30px;
        display: block;
      }
      .reveal--sa-login .close-button {
        display: block;
      }
      .reveal--sa-login .reveal__header-mobile {
        display: none;
      }
      .reveal--sa-login .reveal__inner {
        overflow: hidden;
        position: static;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
        height: auto;
        border-radius: 5px;
      }
      .reveal--sa-login .reveal__content {
        position: static;
        top: auto;
        bottom: auto;
        width: 75%;
        margin: 0 auto;
        padding: 0 0 50px;
        overflow: auto;
        height: auto;
      }
      .reveal--sa-login .reveal__content .custom-row {
        padding: 0;
      }
      .reveal--sa-login .reveal__content .custom-row.custom-row-button {
        padding: 0px 160px;
      }

      .reveal--login .reveal__content .custom-row.custom-row-button {
          padding: 0px 160px; important;
      }

      .reveal--sa-login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button {
        background-position: 7px center;
        /*height: auto;*/
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-topleft: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
      }

      .reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button {
        background-position: 7px center; important;
      }

      .reveal--sa-login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button span {
        display: block;
      }
      .reveal--sa-login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--gp {
        background-size: 25px 25px;
      }

      .reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--gp {
          background-size: 25px 25px; important;
      }

      .reveal--sa-login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--fb {
      }
        background-size: 25px 18px;
      }

      .reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--fb {
          background-size: 25px 18px; important;
       }

      .reveal--sa-login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--in {
        background-size: 25px 25px;
      }

      .reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--in {
          background-size: 25px 25px; important;
      }

      .reveal--sa-login .reveal__content .custom-row.custom-row-utils {
        margin: 0px;
      }
      .reveal--sa-login .input-wrap {
        padding: 0 60px;
        padding-top: 5px;
      }
      .reveal--sa-login .h4 {
        padding: 0 10px;
        display: inline-block;
        *display: inline;
        zoom: 1;
      }
      .reveal--sa-login .button-wrap-padding {
        padding: 10px 10px 10px 10px;/*20px 135px 0;*/
      }
      .reveal--sa-login .cta-custom-wrap {
          padding-right: 33px;float: right;
      }

      .reveal--sa-login #header_recaptchaContainer {
          padding: 0px 22px;

      }
      


      /** Customizzazione reveal language desktop **/


    }
    

