.vac {
  top: 50%;
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.floating-card {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  padding: 20px 20px 0 20px;
}
.floating-card h6 {
  margin-bottom: 20px;
}
.badge {
  padding: 8px 15px 8px 35px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.badge--confirm {
  background: url("../../../../../../etc/designs/alitalia/clientlibs-myalitalia/images/ico-check.svg") 15px center no-repeat #d7ece0;
}
.badge--refute {
  background: url("../../../../../../etc/designs/alitalia/clientlibs-myalitalia/images/ico-close.svg") 15px center no-repeat #ffe5e8;
}
.list-actions .action {
  position: relative;
  padding: 20px 0;
  border-top: 1px solid #c1c1c1;
}
.list-actions .action > .cta-wrap {
  position: absolute;
  right: 0;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.list-actions .action > .cta-wrap .cta {
  width: 20px;
  height: 20px;
  padding: 0;
  background-position: right center;
}
.list-actions .action.expanded .form-wrap {
  display: block;
}
.list-actions .action.expanded > .cta-wrap {
  display: none;
}
.list-actions .action [data-toggle] {
  cursor: pointer;
}
.list-actions .action .title {
  display: block;
  padding-right: 20px;
  font-weight: 600;
  color: #333333;
}
.list-actions .action .title--dib {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.list-actions .action .inner-row .column {
  padding-right: .625rem;
  padding-left: .625rem;
}
.list-actions .action .button {
  width: 100%;
}
.list-actions .action .form-wrap {
  display: none;
  padding-top: 20px;
}
.list-actions .action .form-wrap label {
  text-transform: uppercase;
}
.list-actions .action .wrap-checkbox .field-wrap {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 30px 0 0;
}
.list-actions .action .radio-wrap {
  float: left;
  margin: 0 30px 0 0;
}
.list-actions .action .list-company {
  column-count: 2;
  padding: 0 0 20px;
}
.list-actions .action .badge {
  margin: 10px 0;
  display: table;
}
.list-actions .action .cta {
  background-size: 100%;
}
.list-actions .action .cta--credentials {
  background-image: url(/etc/designs/alitalia/clientlibs-myalitalia/images/ico-asterisk-green.svg);
}
.list-actions .action .cta--modify {
  background-image: url(/etc/designs/alitalia/clientlibs-myalitalia/images/ico-modify-green.svg);
}
.list-actions .action .cta--request {
  background-image: url(/etc/designs/alitalia/clientlibs-myalitalia/images/ico-imp-green.svg);
}
.list-actions .action .cta--send {
  background-image: url(/etc/designs/alitalia/clientlibs-myalitalia/images/ico-exp-green.svg);
}
.list-actions .action .cta--remove {
  background-image: url(/etc/designs/alitalia/clientlibs-myalitalia/images/ico-trash-green.svg);
  background-size: 20px 20px;
}
.list-actions .action .field-wrap {
  position: relative;
}
.list-actions .action .field-wrap.checked .field-checkbox .checkbox-wrap .placeholder {
  background-position: 0 -29px;
}
.list-actions .action .field-wrap label,
.list-actions .action .field-wrap .label {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-bottom: 0;
}
.list-actions .action .field-wrap label.empty,
.list-actions .action .field-wrap .label.empty {
  min-height: 1px;
}
.list-actions .action .field-wrap .field-checkbox {
  margin: 5px 0;
}
.list-actions .action .field-wrap .field-checkbox .checkbox-wrap {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-right: 5px;
}
.list-actions .action .field-wrap .field-checkbox .checkbox-wrap:hover {
  cursor: pointer;
}
.list-actions .action .field-wrap .field-checkbox .checkbox-wrap input {
  position: absolute;
  /*top: -100%; left: -100%;*/
  top: 0;
  left: 0;
  opacity: 0;
}
.list-actions .action .field-wrap .field-checkbox .checkbox-wrap .placeholder {
  border: none;
  display: block;
  height: 30px;
  width: 30px;
  background: url("../../../../../../etc/designs/alitalia/clientlibs-checkin/images/checkbox.svg") no-repeat;
  background-size: 30px;
  vertical-align: middle;
}
.list-actions .action .field-wrap .field-checkbox label {
  vertical-align: middle;
}
.list-actions .action .field-wrap .field-checkbox label:hover {
  cursor: pointer;
}
.list-actions .action .pw-box {
  position: relative;
}
.list-actions .action .pw-reveal {
  width: 15px;
  height: 10px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(/etc/designs/alitalia/clientlibs-myalitalia/images/ico-eye.svg);
  background-size: 100%;
  cursor: pointer;
}
.reveal--action.reveal .reveal__header {
  padding: 40px 0 30px;
}
.reveal--action.reveal .reveal__content {
  padding: 40px 40px 0 40px;
}
.reveal--action.reveal .reveal__content label {
  text-align: left;
  text-transform: uppercase;
}
.reveal--action.reveal .reveal__content .button {
  width: 100%;
}
.reveal--action.reveal .reveal__content p {
  text-align: left;
  margin: 0 0 15px;
}
.reveal--action.reveal .reveal__content .button-wrap {
  margin: 30px auto 0;
}
.reveal--action.reveal .manage-social {
  font-weight: 600;
}
.reveal--action.reveal .manage-social li {
  text-align: left;
  position: relative;
  border-bottom: 1px solid #c1c1c1;
  padding: 30px 0;
}
.reveal--action.reveal .manage-social li .icon {
  float: left;
  width: 40px;
  height: 40px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.reveal--action.reveal .manage-social li .icon.gp {
  background: url('/etc/designs/alitalia/clientlibs/images/ico-social-gp.svg') no-repeat center #d94234;
  background-size: 18px 12px;
}
.reveal--action.reveal .manage-social li .icon.fb {
  background: url('/etc/designs/alitalia/clientlibs/images/ico-social-fb.svg') no-repeat center #3d5b96;
  background-size: 6px 12px;
}
.reveal--action.reveal .manage-social li .icon.in {
  background: url('/etc/designs/alitalia/clientlibs/images/ico-social-in.svg') no-repeat center #007bb5;
  background-size: 18px 12px;
}
.reveal--action.reveal .manage-social li .action {
  float: left;
}
.reveal--action.reveal .manage-social li .action a {
  display: block;
}
.reveal--action.reveal .manage-social li .action .action__img {
  float: left;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 0 0 20px;
}
.reveal--action.reveal .manage-social li .action .action__name {
  float: left;
  margin: 0 0 0 15px;
}
.reveal--action.reveal .manage-social li .action .action__name span {
  font-size: 18px;
  color: #333333;
}
.reveal--action.reveal .manage-social li .action--connect a {
  line-height: 40px;
  margin: 0 0 0 20px;
}
.reveal--action.reveal .manage-social li:last-child {
  border: none;
}
.reveal--action.reveal--small.reveal .reveal__content {
  padding: 40px 40px 0 40px;
}
@media (min-width: 768px) {
  .list-actions .action > .cta-wrap a {
    font-size: 16px;
    line-height: normal;
  }
  .list-actions .action > .cta-wrap span {
    position: absolute;
    right: 30px;
    top: 3px;
    text-transform: none;
    font-weight: 400;
  }
  .list-actions .action .button-wrap {
    float: right;
  }
  .list-actions .action .radio-wrap .placeholder {
    width: 20px;
    height: 20px;
  }
  .list-actions .action .radio-wrap .placeholder:after {
    width: 12px;
    height: 12px;
    left: 3px;
    top: 3px;
  }
  .list-actions .action .field-wrap.checked .field-checkbox .checkbox-wrap .placeholder {
    background-position: 0 -19px;
  }
  .list-actions .action .field-wrap .field-checkbox .checkbox-wrap .placeholder {
    height: 20px;
    width: 20px;
    background-size: 20px;
  }
  .list-actions .action .button {
    width: auto;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .list-actions .action .badge {
    position: absolute;
    left: 40%;
    top: 13px;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .reveal--action.reveal .reveal__content {
    padding: 0 100px 30px 100px;
  }
  .reveal--action.reveal .reveal__content .button {
    width: auto;
    margin: 0 auto;
    padding: 20px 60px;
  }
  .reveal--action.reveal--small {
    max-width: 500px;
  }
  .reveal--action.reveal--small.reveal .reveal__content {
    padding: 0 60px 30px 60px;
  }
}
