/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Josefin+Sans:300,400,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext');
html,
button,
input,
select,
textarea {
  color: #222;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:active {
  color: inherit;
}
a {
  outline: none;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
::-webkit-input-placeholder {
  color: #000;
  opacity: 1 !important;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
  opacity: 1 !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
  opacity: 1 !important;
}
:-ms-input-placeholder {
  color: #000;
  opacity: 1 !important;
}
input:-ms-clear {
  display: none;
}
input::-ms-clear {
  display: none;
}
/* ==========================================================================
   Custom styles
   ========================================================================== */
html,
body {
  width: 100%;
  height: 100%;
}
html * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body.lock {
  height: 0;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}
@keyframes fade-circle {
  0%,
  100% {
    box-shadow: 0em -2em 0em 0em #006643, 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0), 2em 0em 0em 0em rgba(0, 102, 67, 0), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), 0em 2em 0em 0em rgba(0, 102, 67, 0.2), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.4), -2em 0em 0em 0em rgba(0, 102, 67, 0.6), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.8);
  }
  12.5% {
    box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0.8), 1.4em -1.4em 0em 0em #006643, 2em 0em 0em 0em rgba(0, 102, 67, 0), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), 0em 2em 0em 0em rgba(0, 102, 67, 0), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.2), -2em 0em 0em 0em rgba(0, 102, 67, 0.4), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.6);
  }
  25% {
    box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0.6), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.8), 2em 0em 0em 0em #006643, 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), 0em 2em 0em 0em rgba(0, 102, 67, 0), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), -2em 0em 0em 0em rgba(0, 102, 67, 0.2), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.4);
  }
  37.5% {
    box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0.4), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.6), 2em 0em 0em 0em rgba(0, 102, 67, 0.8), 1.4em 1.4em 0em 0em #006643, 0em 2em 0em 0em rgba(0, 102, 67, 0), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), -2em 0em 0em 0em rgba(0, 102, 67, 0), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.2);
  }
  50% {
    box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0.2), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.4), 2em 0em 0em 0em rgba(0, 102, 67, 0.6), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.8), 0em 2em 0em 0em #006643, -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), -2em 0em 0em 0em rgba(0, 102, 67, 0), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0);
  }
  62.5% {
    box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.2), 2em 0em 0em 0em rgba(0, 102, 67, 0.4), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.6), 0em 2em 0em 0em rgba(0, 102, 67, 0.8), -1.4em 1.4em 0em 0em #006643, -2em 0em 0em 0em rgba(0, 102, 67, 0), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0);
  }
  75% {
    box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0), 2em 0em 0em 0em rgba(0, 102, 67, 0.2), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.4), 0em 2em 0em 0em rgba(0, 102, 67, 0.6), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.8), -2em 0em 0em 0em #006643, -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0);
  }
  87.5% {
    box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0), 2em 0em 0em 0em rgba(0, 102, 67, 0), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.2), 0em 2em 0em 0em rgba(0, 102, 67, 0.4), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.6), -2em 0em 0em 0em rgba(0, 102, 67, 0.8), -1.4em -1.4em 0em 0em #006643;
  }
}
.shadow {
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
}
/*** Stili generali ***/
body {
  color: #676767;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  line-height: 1.2em;
}

#header h1,
#header .h1,
#header h2,
#header .h2,
#header h3,
#header .h3,
#header h4,
#header .h4,
#header h5,
#header .h5,
#header h6,
#header .h6 {
  margin: 0;
  color: #333333;
}
#header h1,
#header .h1 {
  font: 400 30px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  margin: 10px 0;
}
#header h2,
#header .h2 {
  font: 400 30px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  margin: 10px 0;
}
#header h3,
#header .h3 {
  font: 300 30px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  margin: 15px 0;
}
#header h4,
#header .h4 {
  font: 700 25px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}
#header h5,
#header .h5 {
  font: 700 20px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  text-transform: uppercase;
}
#header h6,
#header .h6 {
  font: 700 21px 'Source Sans Pro', Arial, sans-serif;
}
.isVisuallyHidden {
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  padding: 0;
  clip: rect(0 0 0 0);
}
.isVisuallyHidden:not(:focus) {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
#skiplink .skiplink__link {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 16px;
  color: #000000;
  z-index: 1000;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
#skiplink .skiplink__link:focus,
#skiplink .skiplink__link:active {
  top: 0;
  left: 30%;
  right: auto;
  background: #e6ede4;
  border: solid #d6d3cc;
  border-width: 0 1px 1px 1px;
  overflow: visible;
  padding: 5px 8px;
  width: auto;
  height: auto;
  clip: auto;
}
a {
  color: #006643;
}
.hide-txt {
  font-size: 0 !important;
}
section {
  padding: 40px 0;
}
.bg-primary {
  background: #006643;
}
.bg-secondary {
  background: #a42615;
}
.bg-main {
  background: #e6e6e6;
}
.widget-slider-wrap {
  position: relative;
}
.row {
  padding: 0 15px;
}
/** cta wrap **/
.cta-wrap {
  font-size: 0;
  line-height: 0;
}
.cta-wrap .cta {
  font: 700 16px/1.3em 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.cta-wrap .cta span {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.cta-wrap .cta--primary {
  color: #006643;
}
.cta-wrap .cta--secondary {
  color: #a42615;
}
.cta-wrap .cta--light {
  color: white;
}
.cta-wrap .cta--icon {
  padding-right: 36px;
  background-position: right 2px;
  background-repeat: no-repeat;
  background-size: 18px 14px;
}
.cta-wrap .cta--icon.cta--primary {
  background-image: url('../images/arrow-dx-green.svg');
}
.cta-wrap .cta--icon.cta--secondary {
  background-image: url('../images/arrow-dx-red.svg');
}
.cta-wrap .cta--icon.cta--light {
  background-image: url('../images/arrow-dx-white.svg');
}
.cta-wrap .cta--icon.cta--dark {
  background-image: url('../images/arrow-dx-dark.svg');
}
.cta-wrap .cta--only-icon {
  padding: 25px 32px 0 0;
  background-size: 27px 21px;
  background-repeat: no-repeat;
  background-position: center center;
}
.cta-wrap .cta--only-icon.cta--primary {
  background-image: url('../images/arrow-dx-green.svg');
}
.cta-wrap .cta--only-icon.cta--secondary {
  background-image: url('../images/arrow-dx-red.svg');
}
.cta-wrap .cta--only-icon.cta--light {
  background-image: url('../images/arrow-dx-white.svg');
}
.cta-wrap .cta--only-icon span {
  display: none;
}
.cta-wrap .cta--form {
  font-size: 16px;
  color: #676767;
  line-height: 1;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 300;
  background-position: right center;
  text-transform: none;
}
.button-wrap .button {
  margin: 0;
  text-transform: uppercase;
  font: 700 18px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  padding: 18px 20px 15px;
}
.button-wrap .button-white {
  padding: 0;
  height: 50px;
  border: 3px solid #006643;
}
.button-wrap .button-white,
.button-wrap .button-white:hover,
.button-wrap .button-white:focus {
  background-color: white;
  color: #006643;
}
.button-wrap .button-white:hover,
.button-wrap .button-white:focus {
  border-color: #006643;
}
.button-wrap .button--light {
  background-color: #fff;
  color: #006643;
}
.button-wrap .button--gp {
  background-color: #d94234;
  background-image: url('../../../../../../etc/designs/alitalia/clientlibs/images/ico-social-gp.svg');
  background-size: 18px 12px;
}
.button-wrap .button--fb {
  background-color: #3d5b96;
  background-image: url('../../../../../../etc/designs/alitalia/clientlibs/images/ico-social-fb.svg');
  background-size: 6px 12px;
}
.button-wrap .button--tw {
  background-color: #5aadeb;
  background-image: url('../../../../../../etc/designs/alitalia/clientlibs/images/ico-social-tw.svg');
  background-size: 18px 12px;
}
/** Loading **/
.loader-wrap {
  overflow: hidden;
  position: relative;
}
.loader-wrap.loading .loader {
  display: block;
}
.loader-wrap .loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 203;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: none;
}
.loader-wrap .loader .fade-circle {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0;
  border-radius: 100%;
  font-size: 9px;
  width: 1em;
  height: 1em;
  animation: fade-circle 1.5s infinite ease;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
/** reveal mobile **/
.reveal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
.reveal {
  overflow: visible;
  padding: 0;
  text-align: center;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  background: transparent;
  pointer-events: none;
  outline: none;
}
.reveal h4,
.reveal .h4 {
  color: #006643;
  margin: 0;
  text-transform: none;
  font-weight: 400;
  letter-spacing: 0;
}
.reveal .reveal__inner {
  overflow: hidden;
  background-color: white;
  pointer-events: auto;
}
.reveal .reveal__header {
  padding: 40px 0;
}
.reveal .reveal__content {
  overflow: hidden;
  padding: 20px 0;
}
.reveal .reveal__content .custom-column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}
.reveal .reveal__content img {
  margin: 10px 0;
}
.reveal .reveal__content h6 {
  margin: 20px 0;
}
.reveal .reveal__content ul li {
  padding: 10px 0;
}
.reveal .reveal__bottom-bar {
  padding: 30px 0;
}
.reveal .reveal__bottom-bar p {
  margin: 0;
  color: white;
  font-weight: 400;
}
.reveal .reveal__bottom-bar a {
  color: white;
  font-weight: 700;
  margin: 0 5px;
}
.reveal .reveal__bottom-bar .icon--info {
  vertical-align: middle;
  border: none;
  margin-left: 5px;
  margin-top: -2px;
  text-indent: -9999px;
}
/** Customizzazione reveal generico mobile **/
.reveal {
  display: block;
  height: 100%;
  width: auto;
  top: 0 !important;
}
.reveal .reveal__header {
  display: none;
}
.reveal .close-button {
  display: none;
}
.reveal .custom-row {
  overflow: hidden;
  padding: 0 20px;
}
.reveal .custom-row.custom-row--alt {
  margin: 0 -10px;
}
.reveal .reveal__inner {
  height: 100%;
}
.reveal .reveal__header-mobile {
  padding: 28px 40px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
  box-shadow: 0px 0px 20px #cccccc;
}
.reveal .reveal__header-mobile span {
  font-size: 20px;
  color: #333333;
  float: left;
}
.reveal .reveal__header-mobile .close-button {
  float: right;
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  right: 0;
}
.reveal .reveal__header-mobile .close-button:hover {
  cursor: pointer;
}
.reveal .reveal__header-mobile .close-button .icon--close--black {
  background: url(/etc/designs/alitalia/clientlibs/images/ico-close-black.svg) no-repeat left center;
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
}
.reveal .reveal__content {
  padding-top: 30px;
  overflow: auto;
  height: calc(100% - 75px);
}
/** tooltip base **/
.tooltip {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 15px #CCCCCC;
  overflow: hidden;
  max-width: 250px;
  padding: 15px;
}
.tooltip strong {
  display: block;
  font-size: 16px;
}
.tooltip p {
  color: #333333;
  margin: 0;
  font-size: 14px;
}
/** icons **/
.icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: contain;
}
.icon.icon--info {
  width: 15px;
  height: 15px;
  background-image: url('../../../../../../etc/designs/alitalia/clientlibs/images/ico-info-empty.svg');
}
.icon.icon--info:hover {
  background-image: url('../../../../../../etc/designs/alitalia/clientlibs/images/ico-info-full.svg');
}
.icon.icon--close {
  background-image: url('../../../../../../etc/designs/alitalia/clientlibs/images/ico-close-white.svg');
}
.icon.icon--reverse {
  background-image: url('../../../../../../etc/designs/alitalia/clientlibs/images/icon-reverse-white.svg');
}
.icon.icon--it {
  background-image: url('../../../../../../etc/designs/alitalia/clientlibs/images/icon-it.svg');
}
.icon.icon--us {
  background-image: url('../../../../../../etc/designs/alitalia/clientlibs/images/icon-us.svg');
}
.icon.icon--uk {
  background-image: url('../../../../../../etc/designs/alitalia/clientlibs/images/icon-uk.svg');
}
.icon.icon--fr {
  background-image: url('../../../../../../etc/designs/alitalia/clientlibs/images/icon-fr.svg');
}
.icon.icon--es {
  background-image: url('../../../../../../etc/designs/alitalia/clientlibs/images/icon-es.svg');
}
/** Forms **/
select {
  background-image: url('../../../../../../etc/designs/alitalia/clientlibs/images/ico-select-green.svg');
  background-size: 16px 9px;
  background-position: right -0.9rem center;
  padding-right: 1.8rem;
}
.radio-wrap {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.radio-wrap:hover {
  cursor: pointer;
}
.radio-wrap.checked .placeholder {
  position: relative;
}
.radio-wrap.checked .placeholder::after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #006643;
}
.radio-wrap.on-focus .placeholder {
  border-color: #006643;
}
.radio-wrap.on-focus label {
  background: none;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.radio-wrap.on-focus label:after {
  border: none;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.radio-wrap input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
}
.radio-wrap input:focus {
  background: none;
  outline: none;
  border: none !important;
}
.radio-wrap .placeholder,
.radio-wrap label {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
.radio-wrap label {
  font-size: 18px;
  /*margin-left: 10px;*/
  margin: 0;
  cursor: pointer;
}
.radio-wrap .placeholder {
  border: 1px solid #c1c1c1;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 10px 0 0;
}
.is-invalid-input:not(:focus) {
  background: none;
}
.swiper-container--carousel {
  margin: 0 -10px;
  padding: 10px 0 40px;
}
.swiper-container--carousel .swiper-slide {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
.custom-card {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: white;
  overflow: hidden;
}
.custom-card.custom-card-shadow {
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.custom-card .cta-wrap {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.custom-card .custom-card__section {
  padding: 20px 20px 50px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.custom-card .custom-card__section.section-bordered {
  border: 1px solid #c1c1c1;
  border-width: 0 1px 1px 1px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
/*** Paginazione swiper  ***/
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #676767;
  bottom: 0;
}
.pagination-primary .swiper-pagination-bullet {
  background: #006643;
}
.pagination-secondary .swiper-pagination-bullet {
  background: #a42615;
}
.pagination-light .swiper-pagination-bullet {
  background: white;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (min-width: 768px) {
  /*** Stili generali ***/
  h1,
  .h1 {
    font-size: 40px;
  }
  h2,
  .h2 {
    font-size: 40px;
  }
  h3,
  .h3 {
    font-size: 30px;
  }
  h4,
  .h4 {
    font-size: 26px;
  }
  h6,
  .h6 {
    font-size: 18px;
  }
  section {
    padding: 50px 0;
  }
  .row {
    padding: 0 35px;
  }
  .cta-wrap .cta {
    font-size: 14px;
  }
  .cta-wrap .cta--icon {
    padding-right: 32px;
    background-size: 18px 14px;
    background-position: right 0;
  }
  .cta-wrap .cta--icon span {
    padding-top: 1px;
  }
  .cta-wrap .cta--form {
    font-size: 16px;
    background-position: right center;
  }
  .button-wrap .button {
    display: block;
    width: 100%;
    font-size: 14px;
  }
  .swiper-container--carousel {
    margin: 0 -10px;
  }
  .swiper-container--carousel .swiper-slide {
    padding: 0 10px;
  }
  /** Forms **/
  .radio-group .placeholder {
    height: 20px;
    width: 20px;
  }
  .radio-group .radio-wrap.checked .placeholder::after {
    height: 12px;
    width: 12px;
    top: 3px;
    left: 3px;
  }
}
@media (min-width: 1024px) {
  body.lock {
    overflow: visible;
    height: 100% !important;
    position: static;
    z-index: auto;
  }
  a:focus {
    outline: 1px solid #5569ae;
    background-color: #f8f8f8;
    background-color: rgba(191, 191, 191, 0.25);
  }
  .custom-card.custom-card--hor .custom-card__section {
    float: left;
    width: 50%;
  }
  .custom-card.custom-card--hor .custom-card__section.section-bordered {
    border-width: 1px 1px 1px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .reveal {
    max-height: 90%;
    padding: 80px 0 0;
  }
  .reveal.reveal--medium {
    width: 100%;
    max-width: 620px;
  }
  .reveal.reveal--large {
    width: 100%;
    max-width: 850px;
  }
  .reveal.reveal--xlarge {
    width: 100%;
    max-width: 935px;
  }
  .reveal .custom-row {
    padding: 0;
  }
  .reveal .reveal__inner {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .reveal .reveal__content {
    overflow: hidden;
  }
  .reveal .close-button {
    position: absolute;
    top: 30px;
    right: 0;
    pointer-events: auto;
  }
  .reveal .close-button .icon--close {
    display: block;
  }
  .reveal .close-button:hover {
    cursor: pointer;
  }
  .reveal {
    height: auto;
  }
  .reveal .reveal__header {
    display: block;
  }
  .reveal .reveal__header-mobile {
    display: none;
  }
  .reveal .close-button {
    display: block;
  }
  .radio-wrap.on-focus label {
    background-color: #f8f8f8;
    background-color: rgba(191, 191, 191, 0.25);
  }
  .radio-wrap.on-focus label:after {
    border: 1px solid #5569ae;
  }
}
@media (min-width: 1025px) {
  .radio-wrap input {
    visibility: visible;
    width: 0;
    height: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
@media (min-width: 1150px) {
  .reveal.reveal--xlarge {
    width: 100%;
    max-width: 1060px;
  }
}
