.reveal--myalitalia-login-section {
  overflow: hidden;
}
.reveal--myalitalia-login-section .reveal__inner {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.reveal--myalitalia-login-section .reveal__content {
  position: relative;
  top: 20px;
  bottom: 0;
  width: 100%;
  height: auto;
  overflow-y: scroll;
  padding-top: 0;
  padding-bottom: 70px;
}
.reveal--myalitalia-login-section .button-wrap {
  padding: 0 10px;
  margin-bottom: 40px;
}
.reveal--myalitalia-login-section .reveal__content .custom-row p {
  margin: 0 0 25px 0;
}
.reveal--myalitalia-login-section .reveal__content .custom-row p a {
  font-weight: 700;
}
.reveal--myalitalia-login-section .reveal__content .custom-row p.small-txt {
  font-size: 14px;
  margin-bottom: 0;
}
.reveal--myalitalia-login-section .reveal__content .custom-row .custom-button-wrap {
  width: 33.33%;
  float: left;
  margin-bottom: 30px;
}
.reveal--myalitalia-login-section .reveal__content .custom-row .custom-button-wrap .button {
  padding-left: 40px;
  text-align: center;
  background-position: 15px center;
  background-repeat: no-repeat;
  padding: 15px 20px 12px 40px;
}
.reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-button {
  padding: 0 10px;
}
.reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-button .custom-button-wrap .button {
  background-position: center center;
  height: 45px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 100%;
}
.reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-button .custom-button-wrap .button span {
  display: none;
}
.reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--gp {
  background-size: 23px 15px;
}
.reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--fb {
  background-size: 9px 20px;
}
.reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--tw {
  background-size: 20px 16px;
}
.reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-utils {
  margin: 10px 0 25px;
}
.reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-registration p {
  margin: 15px 0;
  width: 100%;
}
.reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-registration .button-wrap {
  margin: 0;
}
.reveal--myalitalia-login-section .input-wrap input::placeholder {
  color: #333333;
}
.reveal--myalitalia-login-section .input-wrap input:focus::placeholder {
  color: #fff;
}
.reveal--myalitalia-login-section label {
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
}
.reveal--myalitalia-login-section .pin-wrap {
  text-align: left;
}
.reveal--myalitalia-login-section .pin-wrap p {
  font-size: 14px;
}
.reveal--myalitalia-login-section .pin-wrap p a {
  text-transform: uppercase;
}
.reveal--myalitalia-login-section .checkbox-wrap {
  padding-left: 0px;
  float: left;
  clear: both;
  margin-bottom: 25px;
}
.reveal--myalitalia-login-section .checkbox-wrap label {
  font-size: 16px;
  color: #676767;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 300;
  line-height: 1;
  text-transform: none;
}
.reveal--myalitalia-login-section .checkbox-wrap input {
  margin-bottom: 0;
}
.reveal--myalitalia-login-section .cta-custom-wrap {
  padding-right: 0px;
  float: left;
  clear: both;
}
.reveal--myalitalia-login-section .input-wrap {
  margin-bottom: 20px;
}
.reveal--myalitalia-login-section .custom-button-wrap {
  width: 33.33%;
  float: left;
  margin-bottom: 30px;
}
.reveal--myalitalia-login-section .custom-button-wrap .button {
  padding-left: 40px;
  text-align: center;
  background-position: 15px center;
  background-repeat: no-repeat;
  padding: 15px 20px 12px 40px;
}
.reveal--myalitalia-login-section .button-wrap-padding {
  padding: 0;
}
.reveal--myalitalia-login-section .button-wrap-padding .button {
  width: 100%;
}
.reveal--myalitalia-login-section .millemiglia-email-val {
  display: inline-block;
  *display: inline;
  zoom: 1;
  background-color: #f2f2f2;
  color: #000;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 5px 10px;
}
.reveal--myalitalia-login-section .back-step-01 {
  width: 16px;
  height: 13px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 10px 0 0;
  background: url("../../../../../../etc/designs/alitalia/clientlibs-myalitalia/images/arrow-back.svg") no-repeat center center;
}
.reveal--signin-section .reveal__content .custom-row {
  padding: 0;
}
.reveal--signin-section .reveal__content .custom-row .vantaggi_row .millemiglia_vantaggio {
  font: 700 16px/1.3em 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  *display: inline;
  zoom: 1;
  color: #006643;
  padding: 15px 0;
}
.reveal--signin-section .reveal__content .custom-row.switch-signin .row {
  padding: 0;
}
.reveal--signin-section .reveal__content .custom-row.switch-signin .switch-signin__col {
  position: relative;
  padding: 0 20px;
  padding-bottom: 50px;
}
.reveal--signin-section .reveal__content .custom-row.switch-signin .switch-signin__col:first-child {
  border-bottom: 1px solid #c1c1c1;
}
.reveal--signin-section .reveal__content .custom-row.switch-signin label {
  text-align: left;
  font-size: 12px;
  text-transform: uppercase;
}
.reveal--signin-section .reveal__content .custom-row.switch-signin .button-wrap {
  position: relative;
  margin-top: 10px;
}
.reveal--signin-section .reveal__content .custom-row.switch-signin .button-wrap .button {
  width: 100%;
}
.reveal--signin-section .reveal__content .custom-row.switch-signin .centered-content {
  font-size: 18px;
  line-height: 1.3em;
  color: #333333;
}
@media (min-width: 768px) {
  .reveal--myalitalia-login-section .reveal__header {
    display: none;
  }
  .reveal--myalitalia-login-section .reveal__header-mobile {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .reveal--myalitalia-login-section .reveal__content {
    padding-top: 44px;
  }
  .reveal--myalitalia-login-section .reveal__content .custom-row {
    padding: 0 140px;
  }
  .reveal--myalitalia-login-section .reveal__content .custom-row .custom-button-wrap .button {
    padding-left: 40px;
    text-align: center;
    background-position: 15px center;
    background-repeat: no-repeat;
    padding: 15px 20px 12px 40px;
  }
  .reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-button {
    padding: 0 200px;
  }
  .reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-utils {
    margin: 20px 0 60px;
  }
  .reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-registration p,
  .reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-registration .button-wrap {
    width: 50%;
    float: left;
  }
  .reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-registration .button-wrap {
    padding: 0;
  }
  .reveal--myalitalia-login-section .pin-wrap {
    padding-left: 80px;
  }
  .reveal--myalitalia-login-section .checkbox-wrap {
    padding-left: 0px;
    float: left;
    clear: none;
    margin-bottom: 0px;
  }
  .reveal--myalitalia-login-section .cta-custom-wrap {
    padding-right: 0px;
    float: right;
    clear: none;
  }
  .reveal--myalitalia-login-section .button-wrap-padding {
    padding: 20px 160px 0;
  }
  .reveal--signin-section .reveal__content .custom-row {
    padding: 0 200px;
  }
  .reveal--signin-section .reveal__content .custom-row .vantaggi_row .millemiglia_vantaggio {
    padding: 10px 0;
  }
  .reveal--signin-section .reveal__content .custom-row.switch-signin {
    padding: 20px 0 0 0;
  }
  .reveal--signin-section .reveal__content .custom-row.switch-signin .switch-signin__col {
    position: relative;
    padding: 0 200px;
    padding-bottom: 50px;
  }
  .reveal--signin-section .reveal__content .custom-row.switch-signin .switch-signin__col:first-child {
    border-bottom: 1px solid #c1c1c1;
  }
}
@media (min-width: 1024px) {
  .reveal--myalitalia-login-section {
    overflow: visible;
  }
  .reveal--myalitalia-login-section .reveal__header {
    padding-bottom: 30px;
    display: block;
  }
  .reveal--myalitalia-login-section .close-button {
    display: block;
  }
  .reveal--myalitalia-login-section .reveal__header-mobile {
    display: none;
  }
  .reveal--myalitalia-login-section .reveal__inner {
    overflow: hidden;
    position: static;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    height: auto;
    border-radius: 5px;
  }
  .reveal--myalitalia-login-section .reveal__content{
    position: static;
    top: auto;
    bottom: auto;
    width: 75%;
    margin: 0 auto;
    padding: 0 0 50px;
    overflow: auto;
    height: auto;
  }

  .reveal--myalitalia-login-section .reveal__content .custom-row {
    padding: 0;
  }
  .reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-button {
    padding: 0;
  }
  .reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-button .custom-button-wrap .button {
    background-position: 15px center;
    height: auto;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-button .custom-button-wrap .button span {
    display: block;
  }
  .reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--gp {
    background-size: 18px 12px;
  }
  .reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--fb {
    background-size: 6px 12px;
  }
  .reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--tw {
    background-size: 18px 12px;
  }
  .reveal--myalitalia-login-section .reveal__content .custom-row.custom-row-utils {
    margin: 0px;
  }
  .reveal--myalitalia-login-section .input-wrap {
    padding: 0px 0px;
    padding-top: 5px;
  }
  .reveal--myalitalia-login-section .h4 {
    padding: 0 10px;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .reveal--myalitalia-login-section .button-wrap-padding {
    padding: 20px 135px 0;
  }
}