.reveal--offerte .success {
min-height: 400px;
}
.reveal--offerte .success h4:before {
content: "";
display: block;
width: 36px;
height: 36px;
background: url("/etc/designs/alitalia/clientlibs/images/ico-select-green.svg") 0 0 no-repeat;
background-size: 100% auto;
margin: 0 auto 20px;
}
.reveal--offerte .success h4 {
margin-top: 150px;
}

.reveal--success .success {
min-height: 400px;
}
.reveal--success .success h4:before {
content: "";
display: block;
width: 36px;
height: 36px;
background: url("/etc/designs/alitalia/clientlibs/images/ico-select-green.svg") 0 0 no-repeat;
background-size: 100% auto;
margin: 0 auto 20px;
}
.reveal--success .success h4 {
margin-top: 150px;
}

.is-drilldown{}