.special-needs {
  border-top: 1px solid #c1c1c1;
}
.special-needs .special-needs__inner {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.special-needs p a {
  color: inherit;
}
