footer {
  padding: 0;
  max-height: 0;
}
.footer__credits {
  padding: 20px 15px;
  background-color: #3d3e3f;
  overflow: hidden;
  width:100%;
}
.footer__credits p {
  color: white;
  margin-top: 0;
  font-size: 15px;
  margin: 0;
}
.footer__credits p a {
  color: inherit;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__credits {
    padding: 10px 0;
  }
  .footer__credits p {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  /* 	.footer__credits p { padding: 0; text-align: left; } */
}
