@media only screen and (max-width: 640px){
	.paybackForm .form__element.two-col {
		width: 100%;
	}
}

@media only screen and (min-width: 641px){
	.paybackForm .form__element.two-col {
		width: 42%;
	}
}

@media only screen and (min-width: 801px) {
	.bookingForm .form__element+.form__element {
		margin-left: 10%;
	}
}