/* FONT SIZE */

.rteSize9, .rteSize9strike {
	font-size: 9px;
}

.rteSize10, .rteSize10strike {
	font-size: 10px;
}

.rteSize12, .rteSize12strike {
	font-size: 12px;
}

.rteSize14, .rteSize14strike {
	font-size: 14px;
}

.rteSize16, .rteSize16strike {
	font-size: 16px;
}

.rteSize18, .rteSize18strike {
	font-size: 18px;
}

.rteSize24, .rteSize24strike {
	font-size: 24px;
}

.rteSize36, .rteSize36strike {
	font-size: 36px;
}

.rteSize48, .rteSize48strike {
	font-size: 48px;
}

.rteSize9strike,
.rteSize10strike,
.rteSize12strike,
.rteSize14strike,
.rteSize16strike,
.rteSize18strike,
.rteSize24strike,
.rteSize36strike,
.rteSize48strike,
.strike
{
    text-decoration: line-through;
}