@charset "UTF-8";
/* CSS Document */
/* Autocomplete */


#ui-id-6::before {
    background-color: #e0ede2 !important;
    content: "" !important;
    display: block !important;
    height: 16px !important;
    left: 65px !important;
    position: absolute !important;
    top: 8px !important;
    transform: rotate(45deg) !important;
    width: 16px !important;
    z-index: -10 !important;
}


.ui-menu::before {
    background-color: #e0ede2 !important;
    content: "" !important;
    display: block !important;
    height: 16px !important;
    left: 100px !important;
    position: absolute !important;
    top: 8px !important;
    transform: rotate(45deg) !important;
    width: 16px !important;
    z-index: -10 !important;
}

.arrival .autocomplete-suggestions-horiz .autocomplete-suggestion-horiz, .departure .autocomplete-suggestions-horiz .autocomplete-suggestion-horiz {
    padding: 0px;
}

.autocomplete-suggestion-horiz {
    position: relative;
    top: 15px;
    background: #e0ede2 none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    padding: 10px 25px;
    white-space: nowrap;
    cursor: default;
    text-align: left;
    width: 300px;
}

.autocomplete-suggestion-class {
    position: relative !important;
    top: 15px !important;
    padding: 10px 25px !important;
}

#ui-id-6 {
    background: transparent !important;
	box-shadow: 5px 9px 13px rgba(0, 0, 0, 0.35) !important;
    cursor: default !important;
    overflow: hidden !important;
    padding-top: 15px !important;
    width: 150px !important;
    text-align: left !important;
    white-space: nowrap !important;
}

.sugg_dest_data-class {
    position: relative;
    display: block;
    height: auto;
    top: -15px;
    padding: 0px 0px;
}

#ui-id-6 li {
    background: #e0ede2 none repeat scroll 0 0 !important;
    border-bottom: 1px solid #fff !important;
    height: 100% !important;
}

    #ui-id-6 li:hover {
        background: #f5f8f4 url("/etc/designs/alitalia/clientlibs/images/check.png") no-repeat scroll 90% 50% !important;
        font-weight: 300 !important;
    }

@media (max-width: 1024px) {
    .autocomplete-suggestion {
        width: 43.2292%;
    }

    #ui-id-5 {
        max-width: 20.7% !important;
    }
}



@media (max-width: 640px) {
    .autocomplete-suggestion {
        width: 100%;
        height: 100%;
    }

    #ui-id-5 {
        max-width: 100% !important;
        max-height: 100% !important;
    }
}


.autocomplete-selected {
    background: #000 none repeat scroll 0 0;
}

.autocomplete-suggestion-horiz .sugg_dest_data-horiz {
}

.arrival .sugg_dest_data-horiz, .departure .sugg_dest_data-horiz {
}

.arrival .sugg_dest_data-horiz, .departure .sugg_dest_data-horiz {
}

.arrival .autocomplete-suggestions-horiz, .departure .autocomplete-suggestions-horiz {
    top: 48px;
}

.arrival .autocomplete-suggestions-horiz, .departure .autocomplete-suggestions-horiz {
    left: -1px;
    top: 38px;
}

.autocomplete-suggestions-horiz {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #999;
    box-shadow: 1.5px 2.598px 7px 0 rgba(0, 0, 0, 0.35);
    cursor: default;
    overflow: auto;
    text-align: left;
}

.sugg_dest_data-horiz .sugg_city_name-horiz {
        font-weight: 800 !important;
    font-size: 18px;
    color: #333333;
}

.sugg_dest_data-horiz .sugg_city_nation-horiz {
        font-size: 18px;
        font-weight: normal;
    color: #5B5B5B;
}

.sugg_dest_data-horiz .sugg_airport-horiz {
        font-weight: normal;
    font-size: 16px;
    color: #5B5B5B;
}

.sugg_dest_data-horiz .sugg_airportCode-horiz {
        font-size: 16px;
        font-weight: 800 !important;
    color: #3b7e06;
}

ol, ul {
        list-style: outside none none;
}

.autocomplete-suggestion-horiz .sugg_airport-horiz {
        font-weight: normal;
        white-space: normal;
}

.autocomplete-suggestion-horiz .sugg_airportCode-horiz {
        color: #3b7e06;
        font-weight: normal;
}


/*
.ui-state-active.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, 
.ui-autocomplete, .ui-autocomplete:hover, 
.ui-menu-item, .ui-menu-item:hover,
.ui-menu-item a, .ui-menu-item a:hover,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active,
.ui-menu .ui-menu-item a
{ background: #ffffff none no-repeat; 
padding:0;
margin:0;
display:block;
border:0;border-collapse:collapse;
}
*/

.ui-state-active
{
    border:0 !important;
}
