.daterangepicker {
    position: absolute;
    color: inherit;
    background-color: #e0ede2;
    border-radius: 0px;
    width: 278px;
    padding: 0px;
   /* margin-top: 20px;*/
    /*top: 100px;*/
         top: 300px !important;
    left: 25% !important;
}


    .daterangepicker td.start-date {
        border-left-color: #000;
        border-right-width: 0;
        right: 0;
    }

.start-date {
    border-left-color: #000;
    border-right-width: 0;
    left: 0;
}

.single-hover {
    background-color: #fff;
    color: #000003;
    position: relative;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 20px;
    margin: 2px !important;
}

    .single-hover:hover {
        background-color: #3b7e06;
        color: #fff;
    }


.start-date-single {
    background-color: #3b7e06;
    color: #fff;
}

.end-date-single {
    background-color: #3b7e06;
    color: #fff;
}


.daterangepicker td.off.start-date::after, .daterangepicker td.off.end-date::after {
    display: none !important;
}


.next {
    height: 13px;
    width: 25px;
    background: #e0ede2 !important;
    background-size: 25px 13px;
}

.prev {
    height: 13px;
    width: 25px;
    background: #e0ede2 !important;
    background-size: 25px 13px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.next:hover::after {
    display: none;
}

.prev:hover::after {
    display: none;
}

.table-condensed tbody {
    font-size: 15px;
}

.table-condensed thead {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;
    color: #333;
}

.years {
    background: #f5f8f4;
    height: 30px;
    padding: 6px;
    text-align: center;
}

.year {
    color: #3b7e06;
    font-size: 18px;
    padding-right: 10px;
    text-align: right;
    font-weight: 800;
    line-height: 18px;
    text-transform: uppercase;
}

.nextyear {
    color: #b8bab7;
    font-size: 14px;
    padding-left: 10px;
    text-align: left;
    font-weight: 800;
    line-height: 18px;
    text-transform: uppercase;
}


.daterangepicker:before, .daterangepicker:after {
    position: absolute;
    display: inline-block;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.daterangepicker:before {
    top: -7px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #ccc;
}

.daterangepicker:after {
    top: -15px;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #e0ede2;
    border-left: 15px solid transparent;
}

.daterangepicker.opensleft:before {
    right: 9px;
}

.daterangepicker.opensleft:after {
    right: 10px;
}

.daterangepicker.openscenter:before {
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto;
}

.daterangepicker.openscenter:after {
    left: 0;
    right: 0;
    width: 0;
    margin-left: auto;
    margin-right: auto;
}

.daterangepicker.opensright:before {
    left: 9px;
}

.daterangepicker.opensright:after {
    left: 160px;
}

.daterangepicker.dropup {
    margin-top: -5px;
}

    .daterangepicker.dropup:before {
        top: initial;
        bottom: -7px;
        border-bottom: initial;
        border-top: 7px solid #ccc;
    }

    .daterangepicker.dropup:after {
        top: initial;
        bottom: -6px;
        border-bottom: initial;
        border-top: 6px solid #fff;
    }

.daterangepicker.dropdown-menu {
    max-width: none;
    z-index: 3001;
}

.daterangepicker.single .ranges, .daterangepicker.single .calendar {
    float: none;
}

.daterangepicker.show-calendar .calendar {
    display: block;
}

.daterangepicker .calendar {
    display: none;
    padding: 0px 30px 30px 30px;
    width: 49%;
}

}

.daterangepicker .calendar.single .calendar-table {
    border: none;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
    white-space: nowrap;
    text-align: center;
    min-width: 40px;
    height: 40px;
}





.daterangepicker .calendar-table {
    border: 0px solid #fff;
    padding: 4px;
    border-radius: 0px;
    background-color: #e0ede2;
}

.daterangepicker table {
    width: 100%;
    margin: 0;
}

.daterangepicker td, .daterangepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 0px;
    border: 0px solid transparent;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: bottom !important;
}

    /*.daterangepicker td.available:hover, .daterangepicker th.available:hover {
            background-color: #3b7e06;
            border-color: transparent;
            color: #fff;
        }*/

    .daterangepicker td.week, .daterangepicker th.week {
        font-size: 80%;
        color: #ccc;
    }

    .daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
        background-color: #e0ede2;
        border-color: transparent;
        color: #999;
    }

.daterangepicker td.off.available {
        text-indent: -9999px;
	    z-index: -20;
    }

    .daterangepicker td.in-range {
        background-color: #bed5c2;
        border-color: transparent;
        color: #000;
        border-radius: 0;
    }

    .daterangepicker td.start-date {
        border-radius: 0 0px 0px 0;
        background-color: #3b7e06;
        color: #fff;
    }


    .daterangepicker td.end-date {
        border-radius: 0 0px 0px 0;
        background-color: #3b7e06;
        color: #fff;
    }


        .daterangepicker td.end-date::after {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background-color: #3b7e06;
            border-color: #e0ede2 #3b7e06 #e0ede2 #e0ede2;
            border-image: none;
            border-style: solid;
            border-width: 20px 10px 20px 0;
            content: " ";
            height: 0;
            left: 0;
            pointer-events: none;
            position: absolute;
            width: 0;
        }


    .daterangepicker td.start-date-hover {
        border-radius: 0 0px 0px 0;
        background-color: #3b7e06;
        color: #fff;
    }


        .daterangepicker td.start-date-hover::after {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background-color: #3b7e06;
            border-color: #e0ede2 #e0ede2 #e0ede2 #3b7e06;
            border-image: none;
            border-style: solid;
            border-width: 20px 10px;
            content: " ";
            height: 0;
            pointer-events: none;
            position: absolute;
            left: 75%;
            width: 0;
        }



    .daterangepicker td.start-date.end-date {
        border-radius: 0px;
    }


        .daterangepicker td.start-date.end-date::after {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background-color: #3b7e06;
            border-color: #e0ede2 #e0ede2 #e0ede2 #3b7e06;
            border-image: none;
            border-style: solid;
            border-width: 20px 10px;
            content: " ";
            height: 0;
            pointer-events: none;
            position: absolute;
            left: 75%;
            width: 0;
        }


    .daterangepicker td.active.start-date, .daterangepicker td.active.start-date:hover {
        background-color: #3b7e06;
        border-color: transparent;
        color: #fff;
    }

        .daterangepicker td.active.start-date::after, .daterangepicker td.active.start-date:hover::after {
            position: absolute;
            left: 75%;
            border-color: transparent transparent transparent #3b7e06;
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            background-color: #3b7e06;
            border-color: #3b7e06;
            border-image: none;
            border-style: solid;
            border-width: 20px 10px;
            content: "\00a0";
            height: 0;
            pointer-events: none;
            width: 0;
            border-top: 20px solid #e0ede2;
            border-bottom: 20px solid #e0ede2;
            border-right: 10px solid #e0ede2;
        }




    .daterangepicker th.month {
        width: auto;
    }

    .daterangepicker td.disabled, .daterangepicker option.disabled {
        color: #000003;
        cursor: pointer;
        text-decoration: none;
    }

/* 
	.daterangepicker td.off.disabled {
    color: #fff;
    } 
*/

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
    font-size: 12px;
    padding: 1px;
    height: auto;
    margin: 0;
    cursor: default;
    color: #3b7e06;
}

.month {
    color: #3b7e06;
    font-size: 16px;
}

.daterangepicker select.monthselect {
    margin-right: 2%;
    width: 56%;
    text-transform: uppercase;
}

.daterangepicker select.yearselect {
    width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
    width: 50px;
    margin-bottom: 0;
}

.daterangepicker .input-mini {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    height: 30px;
    line-height: 30px;
    display: block;
    vertical-align: middle;
    margin: 0 0 5px 0;
    padding: 0 6px 0 28px;
    width: 100%;
}

    .daterangepicker .input-mini.active {
        border: 1px solid #08c;
        border-radius: 0px;
    }

.daterangepicker .daterangepicker_input {
    position: relative;
}

    .daterangepicker .daterangepicker_input i {
        position: absolute;
        left: 8px;
        top: 8px;
    }

.daterangepicker.rtl .input-mini {
    padding-right: 28px;
    padding-left: 6px;
}

.daterangepicker.rtl .daterangepicker_input i {
    left: auto;
    right: 8px;
}

.daterangepicker .calendar-time {
    text-align: center;
    margin: 5px auto;
    line-height: 30px;
    position: relative;
    padding-left: 28px;
}

    .daterangepicker .calendar-time select.disabled {
        color: #ccc;
        cursor: not-allowed;
    }

.ranges {
    font-size: 11px;
    float: none;
    margin: 4px;
    text-align: left;
}

    .ranges ul {
        list-style: none;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .ranges li {
        font-size: 13px;
        background-color: #f5f5f5;
        border: 1px solid #f5f5f5;
        border-radius: 4px;
        color: #08c;
        padding: 3px 12px;
        margin-bottom: 8px;
        cursor: pointer;
    }

        .ranges li:hover {
            background-color: #08c;
            border: 1px solid #08c;
            color: #fff;
        }

        .ranges li.active {
            background-color: #08c;
            border: 1px solid #08c;
            color: #fff;
        }

.daterangepicker .available {
    background-color: #fff;
    color: #000003;
    position: relative;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 20px;
    margin: 2px !important;
}

/*.daterangepicker .available:hover::after {
        position: absolute;
        border-color: transparent transparent transparent #3b7e06;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        left: 75%;
        background-color: #3b7e06;
        border-color: #3b7e06;
        border-image: none;
        border-style: solid;
        border-width: 20px 10px;
        content: "\00a0";
        height: 0;
        pointer-events: none;
        width: 0;
        border-top: 20px solid #e0ede2;
        border-bottom: 20px solid #e0ede2;
        border-right: 10px solid #e0ede2;
    }*/



/*  Larger Screen Styling */
@media (min-width: 564px) {
    .daterangepicker {
        width: auto;
    }

        .daterangepicker .ranges ul {
            width: 160px;
        }

        .daterangepicker.single .ranges ul {
            width: 100%;
        }

        .daterangepicker.single .calendar.left {
            clear: none;
        }

        .daterangepicker.single.ltr .ranges, .daterangepicker.single.ltr .calendar {
            float: left;
        }

        .daterangepicker.single.rtl .ranges, .daterangepicker.single.rtl .calendar {
            float: right;
        }

        .daterangepicker.ltr {
            direction: ltr;
            text-align: left;
        }

            .daterangepicker.ltr .calendar.left {
                clear: left;
                margin-right: 0;
            }

                .daterangepicker.ltr .calendar.left .calendar-table {
                    border-right: none;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

            .daterangepicker.ltr .calendar.right {
                margin-left: 0;
            }

                .daterangepicker.ltr .calendar.right .calendar-table {
                    border-left: none;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

            .daterangepicker.ltr .left .daterangepicker_input {
                padding-right: 12px;
            }

            .daterangepicker.ltr .calendar.left .calendar-table {
                padding-right: 12px;
            }

            .daterangepicker.ltr .ranges, .daterangepicker.ltr .calendar {
                float: left;
            }

        .daterangepicker.rtl {
            direction: rtl;
            text-align: right;
        }

            .daterangepicker.rtl .calendar.left {
                clear: right;
                margin-left: 0;
            }

                .daterangepicker.rtl .calendar.left .calendar-table {
                    border-left: none;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

            .daterangepicker.rtl .calendar.right {
                margin-right: 0;
            }

                .daterangepicker.rtl .calendar.right .calendar-table {
                    border-right: none;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

            .daterangepicker.rtl .left .daterangepicker_input {
                padding-left: 12px;
            }

            .daterangepicker.rtl .calendar.left .calendar-table {
                padding-left: 12px;
            }

            .daterangepicker.rtl .ranges, .daterangepicker.rtl .calendar {
                text-align: right;
                float: right;
            }
}


@media (min-width: 640px) {
    .daterangepicker .ranges {
        width: auto;
    }

    .daterangepicker.ltr .ranges {
        float: left;
    }

    .daterangepicker.rtl .ranges {
        float: right;
    }

    .daterangepicker .calendar.left {
        clear: none !important;
    }
}

@media (max-width: 1023px) {
    .daterangepicker {
        position: absolute;
        top: 215px !important;
        left: 7% !important;
    }
}

@media (max-width: 640px) {
    .daterangepicker {
        width: 100%;
        position: absolute;
       top: 0px !important;
        left: 0% !important;
    }

        .daterangepicker .calendar {
            padding: 0 8% 30px 8%;
            width: 100%;
        }
}



.daterangepicker::after {
    display: none;
}

.daterangepicker::before {
    display: none;
}
