
@font-face {
  font-family: 'h-font';
  src:  url('/etc/designs/alitalia/clientlibs/fonts/icomoon.eot?52ot4p');
  src:  url('/etc/designs/alitalia/clientlibs/fonts/icomoon.eot?52ot4p#iefix') format('embedded-opentype'),
    url('/etc/designs/alitalia/clientlibs/fonts/icomoon.ttf?52ot4p') format('truetype'),
    url('/etc/designs/alitalia/clientlibs/fonts/icomoon.woff?52ot4p') format('woff'),
    url('/etc/designs/alitalia/clientlibs/fonts/icomoon.svg?52ot4p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="h-font-"], [class*=" h-font-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'h-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h-font-calendar:before {
  content: "\e900";
}

.h-font-green_arrow:before {
  content: "\e901";
}

.h-font-calendar {
  font-size: 22px;
  color: #3b7e06;
}

.h-font-green_arrow {
  font-size: 14px;
  color: #3b7e06;
}

.next, .prev {
  text-align: right !important;
  vertical-align: middle !important;
}

.h-font-plus:before {
  content: "\e902";
}

.h-font-plus {
  font-size: 15px;
  color: #3b7e06;
}

.h-font-plus-other:before {
  content: "\e902";
}

.h-font-plus-other {
  font-size: 15px;
  color: #3b7e06;
}

.h-font-minus:before {
  content: "\e903";
}

.h-font-minus {
  font-size: 1px;
  color: #3b7e06;
}
.h-font-minus-other:before {
  content: "\e903";
}

.h-font-cross:before {
  content: "\e904";
}

.h-font-cross {
  font-size: 22px;
  color: #333;
}



