
#depOverlay, #arrOverlay, depRanOverlay, #passengersOverlay, #classOverlay {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.popup_visible #depOverlay, .popup_visible #arrOverlay, .popup_visible #depRanOverlay, .popup_visible #passengersOverlay, .popup_visible #classOverlay {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.Rettangolo_14_active {
    float: left !important;
    height: 50px !important;
    width: 100% !important;
    background-color: #e0ede2 !important;
    border: 1px solid rgb(114, 162, 56) !important;
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 32 !important;
    clear: both !important;
    border-radius: 0px !important;
    box-shadow: inset 0 0px #fff !important;
    outline: none;
}

.Rettangolo_21 {
    float: left;
    height: 60px;
    width: 90% !important;
    background-color: rgb(255, 255, 255) !important;
    position: relative;
    top: 25px;
    left: 16px;
}

a.depOverlay_close, a.arrOverlay_close, a.depRanOverlay_close, a.passengersOverlay_close, a.classOverlay_close {
    float: right;
    cursor: pointer;
    color: black;
    font-size: 40px;
    display: inline-block;
    line-height: 0px;
    padding: 12px 9px;
}



.departureOverlay, .arrivalOverlay, .depRangeOverlay, .classOverlay {
    background-color: transparent;
    /*border: 2px solid #e0ede2;*/
    float: left;
    clear: both;
    height: 60px !important;
    left: 0 !important;
    position: relative;
    top: 0 !important;
    width: 100%;
    display: none;
}

#departureInputOverlay, #arrivalInputOverlay, #classInputOverlay {
    font-size: 20px;
    padding-left: 10px;
}

#classInputOverlayEconomy {
    font-size: 20px;
    padding-left: 10px;
    text-align: left;
}

#classInputOverlayBusiness {
    font-size: 20px;
    padding-left: 10px;
    margin-top: 10px;
    text-align: left;
}

    /*#classInputOverlayBusiness:hover, #classInputOverlayEconomy:hover {
        background: #f5f8f4 url("/etc/designs/alitalianew/clientlibs/images/Check_overlay.png") no-repeat scroll 90% 50%;
        font-weight: 600;
        background-size: 25px 25px;
    }*/

    #classInputOverlayBusiness:focus, #classInputOverlayEconomy:focus {
        background: #f5f8f4 url("/etc/designs/alitalia/clientlibs/images/Check_overlay.png") no-repeat scroll 90% 50%;
        font-weight: 600;
        background-size: 25px 25px;
    }

#depRangeCalendarOverlay {
    top: 100px;
    position: absolute;
}

.select {
    color: darkslategray;
    font-size: 20px;
    display: inline-block;
    line-height: 0px;
    padding-top: 24px;
    padding-left: 10px;
}

.depart {
    color: black;
    font-size: 20px;
    display: inline-block;
    line-height: 0px;
    font-weight: bold;
    padding-top: 24px;
    padding-right: 10px;
}

.well {
    background-color: transparent !important;
    float: left !important;
    clear: both !important;
    height: 100% !important;
    width: 100% !important;
    left: 0 !important;
    position: relative !important;
    top: 0 !important;
    display: none;
}

#Shape_1_copy_3_Overlay {
    background-color: transparent;
    /* border: 2px solid #e0ede2; */
    float: none;
    height: 60px;
    left: 0;
    margin-top: 159px;
    margin-left: 0px;
    position: absolute;
    top: -107px;
    width: 100%;
    z-index: 37;
}



.mod-cannonball .guest-details-container-overlay {
    background: transparent;
    padding: 10px;
    position: absolute;
    -webkit-box-shadow: 0 0 5px 1px #5f5f5f;
    box-shadow: 0 0 5px 1px #5f5f5f;
    z-index: 20000;
    display: block;
}

.xs .mod-cannonball .guest-details-container-overlay {
    position: relative;
}

.lt-ie9 .mod-cannonball .guest-details-container-overlay {
    border: 1px solid #5f5f5f;
}


#content .mod-cannonball .guest-details-container-overlay .guest-rooms {
    margin-bottom: 0;
}

#content .mod-cannonball .guest-details-container-overlay .room-wrapper, #content .mod-cannonball .guest-details-container-overlay .traveller-wrapper {
    display: block;
}

.sm #content .mod-cannonball .guest-details-container-overlay .room-wrapper, .sm #content .mod-cannonball .guest-details-container-overlay .traveller-wrapper {
    width: 228px;
}

.md #content .mod-cannonball .guest-details-container-overlay .room-wrapper, .md #content .mod-cannonball .guest-details-container-overlay .traveller-wrapper {
    width: 226px;
}

.lg #content .mod-cannonball .guest-details-container-overlay .room-wrapper, .lg #content .mod-cannonball .guest-details-container-overlay .traveller-wrapper {
    width: 277px;
}

.sm #content .mod-cannonball .guest-details-container-overlay .room-wrapper:nth-child(4) {
    clear: both;
}

.sm #content .mod-cannonball .guest-details-container-overlay .room-wrapper + .room-wrapper + .room-wrapper + .room-wrapper {
    clear: both;
}

.mod-cannonball .guest-details-container-overlay .alert-info {
    margin: 10px 10px 0 10px;
}

    .mod-cannonball .guest-details-container-overlay .alert-info.select-age {
        margin: 10px 0;
        padding: 7.5px;
    }

.mod-cannonball .guest-details-container-overlay .description {
    display: inline-block;
    font-weight: normal;
    padding: auto;
    color: #333;
    min-width: 148px;
    vertical-align: middle;
    padding-top: 13px;
}

body[data-site-lang=de] .mod-cannonball .guest-details-container-overlay .description {
    min-width: 90px;
}

.mod-cannonball .guest-details-container-overlay .child-ages .description {
    display: block;
}

.lt-ie8 .mod-cannonball .guest-details-container-overlay .description {
    width: 100px;
    display: inline;
}

.mod-cannonball .guest-details-container-overlay .travellers {
    display: inline-block;
    position: absolute;
    right: 19px;
    margin-top: -9px;
}

.mod-cannonball .guest-details-container-overlay .small {
    font-size: 13px;
    font-size: 1.3rem;
    color: #5f5f5f;
    display: block;
}

.mod-cannonball .guest-details-container-overlay h6, .mod-cannonball .guests-numbers {
    color: #1a1a1a;
}

.mod-cannonball .guests-overlay {
    clear: both;
    display: inline-flex;
    background: #fff;
    margin-bottom: 5px;
    padding: 12px;
    width: 100%;
}

.mod-cannonball .btn-passenger {
    position: relative;
    text-decoration: none;
    background: #fff;
    padding: 5px 28px 10px 10px;
    cursor: pointer;
    float: left;
    width: 100%;
    height: 56px;
    font-size: 20px;
    line-height: 50px;
    color: #000003;
    border: 0;
    -webkit-box-shadow: inset 0 0 0 0px #1a1a1a;
    box-shadow: inset 0 0 0 0px #1a1a1a;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: box-shadow ease-in-out .15s;
    transition: box-shadow ease-in-out .15s;
    display: none;
}

    .mod-cannonball .btn-passenger.icon-arrow_up {
        -webkit-box-shadow: inset 0 0 0 0px #0063be;
        box-shadow: inset 0 0 0 0px #0063be;
    }

    .mod-cannonball .btn-passenger .type-adults, .type-passengers, .mod-cannonball .btn-passenger .type-people, .mod-cannonball .btn-passenger .type-rooms {
        float: left;
    }

    .mod-cannonball .btn-passenger .type-rooms {
        padding-left: 2px;
    }

.lt-ie8 .mod-cannonball .btn-passenger {
    margin-top: 20px;
    height: 30px;
    line-height: 40px;
}


#btn_AddPassenger {
    float: none;
    height: 60px;
    left: 0;
    margin-top: 20px;
    margin-left: 0;
    position: absolute;
    top: 320px;
    width: 100%;
    z-index: 37;
}



@media (max-width: 640px) {
    .departureOverlay, .arrivalOverlay, .depRangeOverlay, .classOverlay {
        display: block !important;
        opacity: 0 !important;
    }

    .firstButton, .editorialArea .firstButton {
        border: none !important;
    }


    .btn-passenger {
        display: block !important;
    }

    .btn-details {
        display: none !important;
    }

    .ui-widget {
        width: 90% !important;
    }

    .well {
        display: block;
    }
}
