
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#banner {
    background-image: url("/etc/designs/alitalia/clientlibs/images/banner_messico.jpg");
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    display: table;
    height: 475px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 0;
}

#fly_box {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: auto;
    min-height: 0;
    margin: 0 auto;
}

#arrow_down {
    float: right;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 13;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 12px;
    clear: none;
}

#Economy {
    float: left;
    font-size: 1.25em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(51, 51, 51);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin-top: 23px;
    margin-left: 10px;
    clear: none;
}

#SEARCH {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(254, 254, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    margin-top: 24px;
    margin-left: 16%;
    clear: none;
}

#Award_Ticket_ {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 44;
    margin-top: 67px;
    margin-left: 1.3125%;
    clear: none;
}

#textspan2 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#textspan3 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#btn_search {
    float: left;
    width: 100px;
    height: 60px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 0px;
    margin-left: 0;
    clear: none;
}

#arrow_down1 {
    float: right;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 18;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 12px;
    clear: none;
}

#Multiple_stop_overs_ {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 45;
    margin-top: 67px;
    margin-left: 12.5625%;
    clear: none;
}

#textspan {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#textspan1 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#Book_Flight {
    float: left;
    font-size: 1.875em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 900;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 61;
    margin-top: 54px;
     margin-right: 15px;
    clear: none;
}

#_1_adult {
    float: left;
    font-size: 1.25em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(51, 51, 51);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin-top: 23px;
    margin-left: 10px;
    clear: none;
}

#One_way {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 58;
    margin-top: 67px;
    /* margin-left: 0.625%; */
    margin-left: 10px;
    clear: none;
}

#Shape_1_copy_3 {
    float: left;
    height: 60px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border-right: solid 2px rgb(244, 244, 244);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 16;
    margin-top: 0px;
    margin-left: 0;
    clear: none;
}

#Shape_1_copy_7 {
    float: left;
    height: 60px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border-right: solid 0px rgb(244, 244, 244);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 16;
    margin-top: 0px;
    margin-left: 0;
    clear: none;
}

#DayReturn {
    display: block;
    font-size: 24px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 800;
    line-height: 1em;
    color: #333;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    padding-top: 10px;
    margin-left: 0;
    clear: none;
}

#Return {
    display: block;
    font-size: 0.9119311875em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(51, 51, 51);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    padding-top: 2px;
    margin-left: 0;
    clear: both;
}

#To_Destination_ {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 38;
    margin-top: 23px;
    margin-left: 10px;
    clear: none;
}

#textspan8 {
    float: none;
    font-size: 1.25em;
    line-height: 1em;
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#textspan9 {
    float: none;
    font-size: 0.8125em;
    line-height: 1em;
    color: rgb(189, 189, 189);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#textspan10 {
    float: none;
    font-size: 0.875em;
    line-height: 1em;
    color: rgb(189, 189, 189);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#textspan11 {
    float: none;
    font-size: 0.875em;
    line-height: 1em;
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#Round_Trip {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 52;
    margin-top: 67px;
    margin-left: 0.6875%;
    clear: none;
}

#calendar1 {
    display: block;
    float: center;
    width: auto;
    height: auto;
    color: #3b7e06;
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    margin: auto;
    padding-bottom: 4px;
    padding-top: 8px;
    clear: none;
}

.trip-disabled {
    color: #dddcdc !important;
}

#DayDeparted {
    display: block;
    font-size: 24px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 800;
    line-height: 1em;
    color: #333;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    padding-top: 10px;
    margin-left: 0;
    clear: none;
}

#Depart {
    display: block;
    font-size: 0.9119311875em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(51, 51, 51);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    padding-top: 2px;
    margin-left: 0;
    clear: both;
}

#Shape_1_copy {
    float: left;
    height: 60px;
    min-width: 200px;
    background-color: rgb(255, 255, 255);
    border-right: solid 2px rgb(244, 244, 244);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 33;
    margin-top: 0px;
    margin-left: 0;
    clear: none;
}

#From_Departure_ {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 38;
    margin-top: 23px;
    margin-left: 0;
    clear: none;
}

#textspan4 {
    float: none;
    font-size: 1.294236625em;
    line-height: 1em;
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#textspan5 {
    float: none;
    font-size: 0.8236051249999999em;
    line-height: 1em;
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#textspan6 {
    float: none;
    font-size: 0.8236051249999999em;
    line-height: 1em;
    color: rgb(189, 189, 189);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#textspan7 {
    float: none;
    font-size: 1.294236625em;
    line-height: 1em;
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#Ellipse {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 56;
    margin-top: 63px;
    margin-left: 1.5625%;
    clear: none;
}

#Shape_1_copy_2 {
    float: left;
    height: 60px;
    min-width: 100px;
    background-color: rgb(255, 255, 255);
    border-right: solid 2px rgb(244, 244, 244);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 27;
    margin-top: 0px;
    margin-left: 0;
    clear: none;
}

#calendar {
    display: block;
    float: center;
    width: auto;
    height: auto;
    color: #3b7e06;
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    margin: auto;
    padding-bottom: 4px;
    padding-top: 8px;
    clear: none;
}

#_ {
    float: left;
    font-size: 1.294236625em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(51, 51, 51);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 39;
    margin-top: 22px;
    margin-left: 0;
    clear: none;
}

#selected_green {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    margin-top: 63px;
    margin-left: 2.8125%;
    clear: none;
}

#Shape_1_copy_6 {
    float: left;
    height: 60px;
    min-width: 100px;
    background-color: rgb(255, 255, 255);
    border-right: solid 2px rgb(244, 244, 244);
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 22;
    margin-top: 0px;
    margin-left: 0;
    clear: none;
}

#Shape_1 {
    float: left;
    height: 60px;
    min-width: 200px;
    background-color: rgb(255, 255, 255);
    border-right: solid 2px rgb(244, 244, 244);
    border-radius: 10px 0 0 10px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 37;
    margin-top: 0px;
    clear: none;
}

    #Shape_1 .itinerary-horiz .customInput-horiz--flightFinder input {
        border-radius: 10px 0 0 10px;
    }

#search_bar {
    float: left;
    height: 60px;
    width: 100%;
    background-color: rgb(255, 254, 254);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.34902) 5px 9px 13px;
    box-shadow: rgba(0, 0, 0, 0.34902) 5px 9px 13px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin-top: 10px;
    margin-left: auto;
    clear: both;
}







label {
        cursor: pointer;
}

.radioButtont-horiz {
    display: inline;
    vertical-align: top;
}

    .radioButtont-horiz [type="radio"] {
        border: 0 none;
        height: 22px;
        margin: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 22px;
    }

.ie8 .radioButtont-horiz [type="radio"] {
}

.radioButtont-horiz [type="radio"]:focus + label::before {
    border-radius: 50%;
    box-shadow: 0 0 10px #5569ae;
}

.radioButtont-horiz [type="radio"] + label {
    -moz-user-select: none;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    padding-left: 30px;
    position: relative;
    vertical-align: top;
}

@media (min-width: 1024px) and (max-height: 700px) {
    .bookingPage .radioButtont-horiz [type="radio"] + label {
        font-size: 13.6px;
        line-height: 17px;
    }
}

.radioButtont-horiz [type="radio"] + label::before {
    background: rgba(0, 0, 0, 0) url("/etc/designs/alitalia/clientlibs/images/radioButtonHoriz.png") no-repeat scroll 50% 0;
    content: "";
    display: inline-block;
    height: 20px;
    left: 0;
            margin-top: -2px;
    margin-right: 10px;
    overflow: hidden;
    position: absolute;
    vertical-align: top;
    width: 20px;
}

@media (min-width: 1024px) and (max-height: 700px) {
    .bookingPage .radioButtont-horiz [type="radio"] + label::before {
        background-size: cover;
        height: 17px;
        width: 17px;
    }
}

.isError .radioButtont-horiz [type="radio"] + label::before {
    background-position: 100% 0;
}

.millemiglia__cardItem .radioButtont-horiz [type="radio"] + label::before {
    margin-top: -10px;
    top: 50%;
}

.radioButtont-horiz [type="radio"]:checked + label::before {
    background-position: 0 0;
}

.radioButtont-horiz .slvzr-checked[type="radio"] + label::before {
    background-position: 0 0;
}

.isError .radioButtont-horiz .slvzr-checked[type="radio"] + label::before {
    background-position: 100% 0;
}

.radioButtont-horizCard {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
}

    .radioButtont-horizCard [type="radio"] {
        border: 0 none;
        bottom: 10px;
        height: 22px;
        left: 50%;
        margin: 0 0 0 -10px;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 22px;
    }

        .radioButtont-horizCard [type="radio"]:focus + label::before {
            border-radius: 50%;
            box-shadow: 0 0 10px #5569ae;
        }

        .radioButtont-horizCard [type="radio"]:checked + label::after {
            background-position: 0 0;
        }

.isError .radioButtont-horizCard [type="radio"]:checked + label::after {
    background-position: 100% 0;
}

.radioButtont-horizCard [type="radio"] + label {
    -moz-user-select: none;
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 30px;
    position: relative;
    vertical-align: top;
}

@media (min-width: 1024px) and (max-height: 700px) {
    .bookingPage .radioButtont-horizCard [type="radio"] + label {
        padding-bottom: 25.5px;
    }
}

.radioButtont-horizCard [type="radio"] + label::after {
    background: rgba(0, 0, 0, 0) url("/etc/designs/alitalia/clientlibs/images/radioButtonHoriz.png") no-repeat scroll 50% 0;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    overflow: hidden;
    position: absolute;
    vertical-align: top;
    width: 20px;
}

@media (min-width: 1024px) and (max-height: 700px) {
    .bookingPage .radioButtont-horizCard [type="radio"] + label::after {
        background-size: cover;
        height: 17px;
        width: 17px;
    }
}

.isError .radioButtont-horizCard [type="radio"] + label::after {
    background-position: 100% 0;
}

@media (min-width: 1024px) and (max-height: 700px) {
    .bookingPage .radioButtont-horizCard .image {
        max-width: 66px;
    }
}

.form__inputCover .radioButtont-horiz:first-child {
    margin-right: 15px;
}

.form__inputCoverFull .radioButtont-horiz {
    width: 100%;
}

.checkbox + .form__errorIcon + .form__errorField::before, .radioButtont-horiz + .form__errorIcon + .form__errorField::before {
    left: 10px;
    right: inherit;
}

.checkbox + .form__errorIcon + .form__errorField {
    right: inherit;
}

.radioButtont-horiz + .form__errorIcon + .form__errorField {
    bottom: 175%;
    left: -10px;
    right: inherit;
}


.typeOfFlight-horiz .left {
        float: left;
        margin-left: 25px;
        width: 40%;
}

.typeOfFlight-horiz .right {
    float: right;
    margin-top: 0;
    width: 46.6%;
}



.typeOfFlight-horiz li {
        display: inline;
        float: left;
        padding-left: 0;
        width: 35%;
}

    .typeOfFlight-horiz li a {
        display: inline;
        white-space: nowrap;
    }

    .typeOfFlight-horiz li a {
       /*color: #3b7e06;*/
        color: rgb(255, 255, 255);
        font-weight: bold;
    }





















.firstButton-horiz, .editorialArea .firstButton-horiz {
    background-color: #3b7e06;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    min-width: 100px;
    min-height: 60px;
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}

@media (min-width: 1024px) and (max-height: 700px) {
    .bookingPage .firstButton-horiz, .bookingPage .editorialArea .firstButton-horiz {
        font-size: 13.6px;
        line-height: 34px;
    }
}

.firstButton-horiz[type="submit"], .editorialArea .firstButton-horiz[type="submit"] {
    -moz-appearance: none;
    border: 0 none;
    font-family: "lato",sans-serif;
    font-weight: normal;
    padding: 0;
    vertical-align: top;
}

.firstButton-horiz > span, .editorialArea .firstButton-horiz > span {
    font-size: 16px;
    padding: 0 15px;
    position: relative;
    z-index: 2;
}

@media (min-width: 1024px) and (max-height: 700px) {
    .bookingPage .firstButton-horiz > span, .bookingPage .editorialArea .firstButton-horiz > span {
        font-size: 14px;
    }
}

.firstButton-horiz::before, .editorialArea .firstButton-horiz::before {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    content: "";
    display: inline-block;
    height: 143%;
    left: 135%;
    position: absolute;
    transform: skew(-44deg, 0deg);
    transition: all 0.2s ease-out 0s;
    width: 130%;
    z-index: 1;
}

.firstButton-horiz:hover > span, .editorialArea .firstButton-horiz:hover > span {
    color: #ffffff;
}

.firstButton-horiz:hover::before, .editorialArea .firstButton-horiz:hover::before {
    left: -15%;
    width: 150%;
}

.firstButton-horiz.isDisabled, .editorialArea .firstButton-horiz.isDisabled {
    background-color: #e2e2e2;
    color: #b2b2b2;
    cursor: default;
}

    .firstButton-horiz.isDisabled:hover > span, .editorialArea .firstButton-horiz.isDisabled:hover > span {
        color: #b2b2b2;
    }

    .firstButton-horiz.isDisabled::before, .editorialArea .firstButton-horiz.isDisabled::before {
        display: none;
    }

.firstButton-horiz--small, .editorialArea .firstButton-horiz--small {
    background-color: #c30e1a;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 25px;
    min-width: 100px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

@media (min-width: 1024px) and (max-height: 700px) {
    .bookingPage .firstButton-horiz--small, .bookingPage .editorialArea .firstButton-horiz--small {
        font-size: 13.6px;
        line-height: 34px;
    }
}

.firstButton-horiz--small[type="submit"], .editorialArea .firstButton-horiz--small[type="submit"] {
    -moz-appearance: none;
    border: 0 none;
    border-radius: 0;
    font-family: "lato",sans-serif;
    font-weight: normal;
    padding: 0;
    vertical-align: top;
}

.firstButton-horiz--small > span, .editorialArea .firstButton-horiz--small > span {
    font-size: 16px;
    padding: 0 15px;
    position: relative;
    z-index: 2;
}

@media (min-width: 1024px) and (max-height: 700px) {
    .bookingPage .firstButton-horiz--small > span, .bookingPage .editorialArea .firstButton-horiz--small > span {
        font-size: 14px;
    }
}

.firstButton-horiz--small::before, .editorialArea .firstButton-horiz--small::before {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    content: "";
    display: inline-block;
    height: 100%;
    left: 120%;
    position: absolute;
    transform: skew(-44deg, 0deg);
    transition: all 0.3s ease-out 0s;
    width: 130%;
    z-index: 1;
}

.firstButton-horiz--small:hover > span, .editorialArea .firstButton-horiz--small:hover > span {
    color: #ffffff;
}

.firstButton-horiz--small:hover::before, .editorialArea .firstButton-horiz--small:hover::before {
    left: -15%;
    width: 150%;
}

@media (min-width: 1024px) and (max-height: 700px) {
    .bookingPage .firstButton-horiz--big {
        font-size: 13.6px;
        line-height: 34px;
    }
}

.firstButton-horiz--big[type="submit"] {
    -moz-appearance: none;
    border: 0 none;
    border-radius: 0;
    font-family: "lato",sans-serif;
    font-weight: normal;
    padding: 0;
    vertical-align: top;
}

.firstButton-horiz--big > span {
    font-size: 16px;
    padding: 0 15px;
    position: relative;
    z-index: 2;
}

@media (min-width: 1024px) and (max-height: 700px) {
    .bookingPage .firstButton-horiz--big > span {
        font-size: 14px;
    }
}

.firstButton-horiz--big::before {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    content: "";
    display: inline-block;
    height: 100%;
    left: 120%;
    position: absolute;
    transform: skew(-44deg, 0deg);
    transition: all 0.3s ease-out 0s;
    width: 130%;
    z-index: 1;
}

.firstButton-horiz--big:hover > span {
    color: #ffffff;
}

.firstButton-horiz--big:hover::before {
    left: -15%;
    width: 150%;
}















.itinerary-horiz {
}

    .itinerary-horiz::before, .itinerary-horiz::after {
        content: " ";
        display: table;
    }

    .itinerary-horiz::after {
        clear: both;
    }

    .itinerary-horiz legend {
        font-size: 18px;
        font-weight: lighter;
        margin-left: 0;
        padding: 10px 0 0;
        position: relative;
    }

@media only screen and (min-width: 641px) {
    .itinerary-horiz legend {
        font-size: 24px;
        padding: 0 0 20px;
    }
}

.itinerary-horiz input.departure-horiz, .itinerary-horiz input.arrival {
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    outline: medium none;
    width: 100%;
}

@media only screen and (min-width: 641px) {
    .itinerary-horiz input.departure-horiz, .itinerary-horiz input.arrival {
        height: 60px;
        line-height: 50px;
    }
}

.itinerary-horiz .customInputd--flightFinder {
    background: #fff none repeat scroll 0 0;
    border: 0px solid #b2b2b2;
    color: #7c7c7c;
    display: inline-block;
    height: 40px;
    padding-left: 0px;
    position: relative;
    vertical-align: -18px;
    width: 100%;
}

@media only screen and (min-width: 641px) {
    .itinerary-horiz .customInput-horiz--flightFinder {
        height: 60px;
    }
}

.itinerary-horiz .customInput-horiz--flightFinder > .city-horiz {
    border: medium none;
    color: #000000;
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    max-width: calc(100% - 60px);
    overflow: hidden;
    padding-left: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.itinerary-horiz .customInput-horiz--flightFinder > .class-horiz {
   border: medium none;
   display: inline-block;
   float: left;
   font-size: 20px;
   font-weight: normal;
   line-height: 60px;
   overflow: hidden;
   padding-left: 12px;
   text-overflow: ellipsis;
   white-space: nowrap;
   min-width: 100px !important;
}

.itinerary-horiz .customInput-horiz--flightFinder > .apt-horiz {
    border: medium none;
    color: #000000;
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    max-width: 198px; 
    overflow: hidden;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}

@media only screen and (min-width: 641px) {
    .itinerary-horiz .customInput-horiz--flightFinder > .city-horiz {
        font-size: 20px;
        height: 50px;
        line-height: 50px;
    }

    .itinerary-horiz .customInput-horiz--flightFinder > .apt-horiz {
        font-size: 20px;
        height: 50px;
        line-height: 50px;
    }
}

.itinerary-horiz .customInput-horiz--flightFinder > .city_sugg {
    border: medium none;
    color: #3b7e06;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    padding-left: 10px;
}

.win .itinerary-horiz .customInput-horiz--flightFinder > .city_sugg {
    font-weight: bold;
}

@media only screen and (min-width: 641px) {
    .itinerary-horiz .customInput-horiz--flightFinder > .city_sugg {
        font-size: 20px;
        line-height: 50px;
    }
}

.itinerary-horiz .customInput-horiz--flightFinder > .city_sugg:empty + input + input {
    opacity: 1;
}

.itinerary-horiz .customInput-horiz--flightFinder input {
    border: medium none;
    font-size: 16px;
    left: 0;
    opacity: 0;
    padding-left: 50px;
    position: absolute;
    top: 0;
    width: 100%;
}

@media only screen and (min-width: 641px) {
    .itinerary-horiz .customInput-horiz--flightFinder input {
        font-size: 20px;
        padding-left: 12px;
    }

    #Shape_1_copy_6 .itinerary-horiz .customInput-horiz--flightFinder input {
        font-size: 14px;
        padding-left: 10px;
    }

    #Shape_1_copy_2 .itinerary-horiz .customInput-horiz--flightFinder input {
        font-size: 14px;
        padding-left: 10px;
    }
}

#Shape_1_copy_6 .itinerary-horiz .customInput-horiz--flightFinder input:focus {
    opacity: 1;
    background-color: #e0ede2;
    z-index: -1;
    text-indent: -999px;
}

#Shape_1_copy_2 .itinerary-horiz .customInput-horiz--flightFinder input:focus {
    opacity: 1;
    background-color: #e0ede2;
    z-index: -1;
    text-indent: -999px;
}

#Shape_1_copy_7 .itinerary-horiz .customInput-horiz--flightFinder input:focus {
    opacity: 0;
    background-color: #e0ede2;
    z-index: 1;
    text-indent: -999px;
}

.itinerary-horiz .customInput-horiz--flightFinder input:focus {
    opacity: 1;
    background-color: #e0ede2;
}

.mod-cannonball .btn-details.icon-arrow_down {
   background: #e0ede2 none repeat scroll 0 0;
   box-shadow: 0 0 0 0 #0063be inset;
}

.itinerary-horiz--flightFinder, .itinerary-horiz--innerFlightFinder {
    padding: 0px;
}

@media only screen and (min-width: 641px) {
    .itinerary-horiz--flightFinder, .itinerary-horiz--innerFlightFinder {
        padding: 0 0 20px;
    }
}

.innerFlightFinder.ff-stage1 .itinerary-horiz--flightFinder, .innerFlightFinder.ff-stage1 .itinerary-horiz--innerFlightFinder {
    padding-bottom: 20px;
}

.innerFlightFinder.ff-stage4 .itinerary-horiz--flightFinder, .innerFlightFinder.ff-stage4 .itinerary-horiz--innerFlightFinder {
    padding-bottom: 0;
}

.itinerary-horiz--flightFinder label.departure-horiz, .itinerary-horiz--flightFinder label.arrival, .itinerary-horiz--innerFlightFinder label.departure-horiz, .itinerary-horiz--innerFlightFinder label.arrival {
    background-color: #d9d9d9;
    color: transparent;
    display: inline-block;
    height: 38px;
    left: 1px;
    overflow: hidden;
    position: absolute;
    top: 1px;
    width: 38px;
    z-index: 2;
}

@media only screen and (min-width: 641px) {
    .itinerary-horiz--flightFinder label.departure-horiz, .itinerary-horiz--flightFinder label.arrival, .itinerary-horiz--innerFlightFinder label.departure-horiz, .itinerary-horiz--innerFlightFinder label.arrival {
        display: inline-block;
        height: 48px;
        vertical-align: baseline;
        width: 48px;
    }
}

.itinerary-horiz--flightFinder label.departure-horiz::before, .itinerary-horiz--flightFinder label.arrival::before, .itinerary-horiz--innerFlightFinder label.departure-horiz::before, .itinerary-horiz--innerFlightFinder label.arrival::before {
    -moz-osx-font-smoothing: grayscale;
    color: #4c4c4c;
    content: "";
    font-family: "iconFont";
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    left: 10px;
    line-height: 1;
    position: relative;
    text-indent: 9999px;
    text-transform: none;
    top: 10px;
}

@media only screen and (min-width: 641px) {
    .itinerary-horiz--flightFinder label.departure-horiz::before, .itinerary-horiz--flightFinder label.arrival::before, .itinerary-horiz--innerFlightFinder label.departure-horiz::before, .itinerary-horiz--innerFlightFinder label.arrival::before {
        font-size: 30px;
    }
}

.itinerary-horiz--flightFinder label.arrival::before, .itinerary-horiz--innerFlightFinder label.arrival::before {
    content: "";
}

.itinerary-horiz__inputCover {
    position: relative;
    max-width:198px !important;
}

@media only screen and (min-width: 641px) {
    .itinerary-horiz__inputCover {
        float: left;
        width: 100%;
    }
}

@media only screen and (min-width: 801px) {
    .innerFlightFinder .itinerary-horiz__inputCover {
        float: none;
        width: 100%;
    }

        .innerFlightFinder .itinerary-horiz__inputCover:first-child {
            margin-bottom: 20px;
        }
}

.itinerary__inputCoverIcon {
    display: none;
    position: relative;
    text-align: center;
}

.innerFlightFinder .itinerary__inputCoverIcon {
    display: none;
}

.itinerary__inputCoverIcon .i-doubleArrow {
    color: #4c4c4c;
    cursor: pointer;
    display: block;
    font-size: 24px;
    line-height: 50px;
}

@media only screen and (min-width: 641px) {
    .itinerary__inputCoverIcon {
        display: inline-block;
        float: left;
        width: 6%;
    }




    .itinerary-horiz--flightFinder, .itinerary-horiz--innerFlightFinder {
        padding: 10px;
    }

    @media only screen and (min-width: 641px) {
        .itinerary-horiz--flightFinder, .itinerary-horiz--innerFlightFinder {
            padding: 0 0 0px;
        }
    }
}

.innerFlightFinder.ff-stage1 .itinerary-horiz--flightFinder, .innerFlightFinder.ff-stage1 .itinerary-horiz--innerFlightFinder {
    padding-bottom: 20px;
}

.innerFlightFinder.ff-stage4 .itinerary-horiz--flightFinder, .innerFlightFinder.ff-stage4 .itinerary-horiz--innerFlightFinder {
    padding-bottom: 0;
}

.itinerary-horiz--flightFinder label.departure-horiz, .itinerary-horiz--flightFinder label.arrival, .itinerary-horiz--innerFlightFinder label.departure-horiz, .itinerary-horiz--innerFlightFinder label.arrival {
    background-color: #d9d9d9;
    color: transparent;
    display: inline-block;
    height: 38px;
    left: 1px;
    overflow: hidden;
    position: absolute;
    top: 1px;
    width: 38px;
    z-index: 2;
}

}

.itinerary-horiz--flightFinder label.departure-horiz::before, .itinerary-horiz--flightFinder label.arrival::before, .itinerary-horiz--innerFlightFinder label.departure-horiz::before, .itinerary-horiz--innerFlightFinder label.arrival::before {
    -moz-osx-font-smoothing: grayscale;
    color: #4c4c4c;
    content: "";
    font-family: "iconFont";
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    left: 10px;
    line-height: 1;
    position: relative;
    text-indent: 9999px;
    text-transform: none;
    top: 10px;
}

@media only screen and (min-width: 641px) {
    .itinerary-horiz--flightFinder label.departure-horiz::before, .itinerary-horiz--flightFinder label.arrival::before, .itinerary-horiz--innerFlightFinder label.departure-horiz::before, .itinerary-horiz--innerFlightFinder label.arrival::before {
        font-size: 30px;
    }
}

}

.itinerary-horiz--flightFinder label.arrival::before, .itinerary-horiz--innerFlightFinder label.arrival::before {
    content: "";
}



.itinerary-horiz__inputCover {
    position: relative;
}

.itinerary-horiz .customInput-horiz--flightFinder > .city-horiz {
    border: medium none;
    display: inline-block;
    float: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 60px;
    overflow: hidden;
    padding-left: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.itinerary-horiz .customInput-horiz--flightFinder > .apt-horiz {
    border: medium none;
    display: inline-block;
    float: left;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 60px;
    overflow: hidden;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media only screen and (min-width: 641px) {
    .itinerary-horiz .customInput-horiz--flightFinder > .apt-horiz {
        font-size: 20px;
        height: 60px;
        line-height: 60px;
    }

    .itinerary-horiz .customInput-horiz--flightFinder > .city-horiz {
        font-size: 20px;
        height: 60px;
        line-height: 60px;
    }
}



#Shape_1_copy_3 .itinerary-horiz .customInput-horiz--flightFinder > .city_sugg {
    border: medium none;
    color: rgb(189, 189, 189);
    float: right;
    font-size: 16px;
    font-weight: normal;
    line-height: 60px;
    padding-right: 10px;
}

#Shape_1_copy_7 .itinerary-horiz .customInput-horiz--flightFinder > .city_sugg {
    border: medium none;
    color: rgb(189, 189, 189);
    float: right;
    font-size: 16px;
    font-weight: normal;
    line-height: 60px;
    padding-right: 10px;
}

.itinerary-horiz .customInput-horiz--flightFinder > .city_sugg {
    border: medium none;
    color: rgb(189, 189, 189);
    float: left;
    font-size: 0.823605em;
    font-weight: normal;
    line-height: 60px;
    padding-left: 3px;
}

.win .itinerary-horiz .customInput-horiz--flightFinder > .city_sugg {
    font-weight: bold;
}

@media only screen and (min-width: 641px) {
    .itinerary-horiz .customInput-horiz--flightFinder > .city_sugg {
        font-size: 0.823605em;
        line-height: 63px;
    }
}

@media (min-width: 1024px) and (max-height: 700px) {
    .bookingPage .itinerary-horiz .customInput-horiz--flightFinder > .city_sugg {
        font-size: 17px;
        line-height: 42.5px;
    }
}

.itinerary-horiz .customInput-horiz--flightFinder > .city_sugg:empty + input + input {
    opacity: 1;
}


#apt-horiz {
    float: none;
    font-size: 1.294236625em;
    line-height: 1em;
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}


@media (max-width: 1023px) {

    #search_bar {
        background: none;
        border-radius: 0px;
        margin: 0 auto;
        width: 100%;
    }

    #Shape_1 {
        background-color: rgb(255, 255, 255);
        border-radius: 0px 0 0 0px;
        border-right: 0px solid rgb(244, 244, 244);
        float: left;
        height: 60px;
        left: 0;
        margin-top: 0;
        position: relative;
        top: 0;
        width: 49.7395835%;
        z-index: 37;
    }

    #Shape_1_copy_6 {
        background-color: rgb(255, 255, 255);
        border-right: 0px solid rgb(244, 244, 244);
        float: left;
        clear: left;
        height: 60px;
        left: 0;
        margin-top: 4px;
        position: relative;
        top: 0;
        width: 16%;
        z-index: 37;
    }

    #Shape_1_copy {
        background-color: rgb(255, 255, 255);
        border-right: 0px solid rgb(244, 244, 244);
        float: left;
        clear: right;
        height: 60px;
        left: 0;
        margin-top: 0;
        margin-left: 0.520833%;
        position: relative;
        top: 0;
        width: 49.7395835%;
        z-index: 37;
    }

    #Shape_1_copy_2 {
        background-color: rgb(255, 255, 255);
        border-right: 0px solid rgb(244, 244, 244);
        float: left;
        height: 60px;
        left: 0;
        margin-top: 4px;
        margin-left: 0.520833%;
        position: relative;
        top: 0;
        width: 16%;
        z-index: 37;
    }

    #Shape_1_copy_3 {
        background-color: rgb(255, 255, 255);
        border-right: 0px solid rgb(244, 244, 244);
        float: left;
        height: 60px;
        left: 0;
        margin-top: 4px;
        margin-left: 0.520833%;
        position: relative;
        top: 0;
        width: 24%;
        z-index: 37;
    }

    #Shape_1_copy_7 {
        background-color: rgb(255, 255, 255);
        border-right: 0px solid rgb(244, 244, 244);
        float: left;
        height: 60px;
        left: 0;
        margin-top: 4px;
        margin-left: 0.520833%;
        position: relative;
        top: 0;
        width: 24%;
        z-index: 37;
    }

    #btn_search {
        float: left;
        height: 60px;
        left: 0;
        margin-top: 4px;
        margin-left: 0.520833%;
        position: relative;
        top: 0;
        width: 17.916668%;
        z-index: 37;
    }

    .firstButton-horiz, .editorialArea .firstButton-horiz {
        border-radius: 0px;
        width: 100%;
    }

    #Book_Flight {
        margin-left: 0;
    }

    .typeOfFlight-horiz .left {
        margin-left: 1.5%;
        width: 40%;
    }

    .typeOfFlight-horiz .right {
        float: right;
        margin-right: 4%;
        margin-top: 0;
        width: 56%;
    }

    #fly_box {
        width: 86%;
    }
}

@media (max-width: 840px) {
    #Award_Ticket_, #Multiple_stop_overs_ {
        font-size: 12px;
        text-align: center;
    }

    .typeOfFlight-horiz .left {
        margin-left: 1.5%;
        width: 38%;
    }

    .typeOfFlight-horiz .right {
        float: right;
        margin-right: 0%;
        margin-top: 0;
        width: 40%;
    }
}

@media (max-width: 826px) {
    #Award_Ticket_, #Multiple_stop_overs_ {
        display: none;
        text-align: center;
    }

    .typeOfFlight-horiz .left {
        margin-left: 1.5%;
        width: 70%;
    }
}


@media (max-width: 640px) {

    .radioButtont-horiz [type="radio"] + label::before {
        background: rgba(0, 0, 0, 0) url("/etc/designs/alitalia/clientlibs/images/radioButton_mobile.png") no-repeat scroll 50% 0;
    }

    #Shape_1 {
        background-color: transparent;
        border: 2px solid #e0ede2;
        float: left;
        clear: both;
        height: 60px;
        left: 0;
        margin-top: 10px;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 37;
    }

    #Shape_1_copy {
        background-color: transparent;
        border: 2px solid #e0ede2;
        float: left;
        clear: both;
        height: 60px;
        left: 0;
        margin-left: 0;
        margin-top: 10px;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 37;
    }

    #Shape_1_copy_6 {
        background-color: transparent;
        border: 2px solid #e0ede2;
        float: none;
        clear: none;
        height: 60px;
        left: 0;
        margin-top: 10px;
        position: absolute;
        top: 190px;
        width: 49%;
        z-index: 37;
    }

    #Shape_1_copy_2 {
        background-color: transparent;
        border: 2px solid #e0ede2;
        float: none;
        height: 60px;
        left: 51%;
        margin-top: 10px;
        margin-left: 0;
        position: absolute;
        top: 190px;
        width: 49%;
        z-index: 37;
    }

    #Shape_1_copy_3 {
        background-color: transparent;
        border: 2px solid #e0ede2;
        float: none;
        height: 60px;
        left: 0;
        margin-top: 10px;
        margin-left: 0px;
        position: absolute;
        top: 260px;
        width: 49%;
        z-index: 37;
    }

    #Shape_1_copy_7 {
        background-color: transparent;
        border: 2px solid #e0ede2;
        float: left;
        height: 60px;
        left: 51%;
        margin-top: 10px;
        margin-left: 0;
        position: absolute;
        top: 260px;
        width: 49%;
        z-index: 37;
    }

    #btn_search {
        float: none;
        height: 60px;
        left: 0;
        margin-top: 20px;
        margin-left: 0;
        position: absolute;
        top: 320px;
        width: 100%;
        z-index: 37;
    }

    .mod-cannonball .btn-details {
        background: transparent !important;
    }

    #Book_Flight {
        background: #535353 none repeat scroll 0 0;
        margin-top: 20px;
        float: none;
        font-size: 16px;
        line-height: 48px;
        padding: 0 20px;
        text-align: left;
        text-transform: uppercase;
        font-weight: 400;
    }

    .typeOfFlight-horiz .left {
        float: none;
        margin-left: 1.5%;
        width: 100%;
        position: absolute;
        top: 230px;
        text-align: center;
    }

    .typeOfFlight-horiz .right {
        float: none;
        margin-right: 4%;
        margin-top: 0;
        width: 100%;
        position: absolute;
        top: 500px;
        right: 0;
        text-align: center;
    }

    #search_bar {
        box-shadow: none;
    }

    #banner {
        background: none;
    }

    #Award_Ticket_ {
        display: none;
        text-align: center;
    }

    #Multiple_stop_overs_ {
        width: 100%;
        text-align: center;
    }

    #Round_Trip {
        float: left;
        margin-top: 10px;
        color: #535353;
    }

    #One_way {
        margin-top: 10px;
        float: none;
        margin-left: 2px;
        color: #535353;
    }

    #Multiple_stop_overs_ {
        margin-top: 20px;
        float: none;
        margin-left: 20px;
    }

    #Award_Ticket_ {
        margin-top: 10px;
        float: none;
        margin-left: 20px;
    }

    #Shape_1 .itinerary-horiz .customInput-horiz--flightFinder input {
        border-radius: 0;
    }

    .itinerary-horiz .customInput-horiz--flightFinder input:focus {
        opacity: 1;
        background-color: #fff;
    }

    #textspan {
        color: #333333;
    }


    @media (min-width: 1024px) {
        .cal_2012_cont {
            margin-left: -168px;
        }
    }
