.offerte-speciali__slider .custom-card__section {
    height: 240px;
}
.offerte-speciali__slider .bg-image {
    background-position: center;
    background-size: cover;
}
.offerte-speciali__slider p {
    font: 16px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
    color: #676767;
    text-transform: uppercase;
}
.offerte-speciali__slider h5 {
    padding-top: 10px;
}
.offerte-speciali__slider h5 a {
    color: inherit;
}
@media (min-width: 768px) {
    .offerte-speciali__slider h5 {
        padding-top: 20px;
    }
    .offerte-speciali__slider .custom-card__section {
        height: 280px;
    }
    .offerte-speciali__slider .swiper-slide {
        width: 50%;
    }
    .offerte-speciali__slider .swiper-container--carousel {
        padding-bottom: 10px;
    }
    .offerte-speciali__slider .swiper-pagination {
        display: none;
    }
}
@media (min-width: 1024px) {
    .offerte-speciali__slider h5 {
        padding-top: 10px;
    }
}
@media (min-width: 1280px) {
    .offerte-speciali__slider h5 {
        padding-top: 20px;
    }
}
