.notification-cta a {
  position: relative;
  z-index: 10!important;
}
.white-block {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
}
.white-block h5 {
  margin-bottom: 5px;
}
.payment-methods:before,
.payment-methods:after {
  display: table;
  content: ' ';
}


.payment-methods:after {
  clear: both;
}
.payment-wrap {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
  text-align: left;
  overflow: hidden;
}
.payment-wrap h5 {
  margin-bottom: 5px;
}
.payment-wrap .inner-row {
  padding: 0 .3125rem;
}
.payment-wrap .inner-row .column {
  padding-right: .3125rem;
  padding-left: .3125rem;
}
.payment-wrap .inner-row .row {
  padding: 0;
}
.payment-wrap .payment-wrap-content {
  padding: 20px 10px;
  background: white;
  position: relative;
}
.payment-wrap .payment-wrap-content label {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 35px;
}
.payment-wrap label {
  position: relative;
  font: 12px 'Source Sans Pro', Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.payment-wrap label input,
.payment-wrap label select {
  margin: 5px 0 0;
}
.payment-wrap label input::-webkit-input-placeholder,
.payment-wrap label select::-webkit-input-placeholder {
  color: #c1c1c1;
}
.payment-wrap label input:-moz-placeholder,
.payment-wrap label select:-moz-placeholder {
  color: #c1c1c1;
  opacity: 1;
}
.payment-wrap label input::-moz-placeholder,
.payment-wrap label select::-moz-placeholder {
  color: #c1c1c1;
  opacity: 1;
}
.payment-wrap label input:-ms-input-placeholder,
.payment-wrap label select:-ms-input-placeholder {
  color: #c1c1c1;
}
.payment-wrap label input::-ms-input-placeholder,
.payment-wrap label select::-ms-input-placeholder {
  color: #c1c1c1;
}
.payment-wrap label input::placeholder,
.payment-wrap label select::placeholder {
  color: #c1c1c1;
}
.payment-wrap label select {
  display: block;
}
.payment-wrap label .feedback-error {
  position: absolute;
  text-transform: none;
  color: #e30512;
  bottom: 15px;
}
.payment-wrap select {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-select-dark.svg');
}
.payment-wrap .collapse .column {
  padding: 0;
}
.payment-wrap .collapse select {
  border-radius: 0;
  border-left: none;
}
.payment-wrap .collapse .column:first-child select {
  border-radius: 5px 0 0 5px;
  border-left: 1px solid #c1c1c1;
}
.payment-wrap .collapse .column:last-child select {
  border-radius: 0 5px 5px 0;
}
.payment-wrap-add {
  padding: 25px 10px;
}
.icon--info-grey {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-info-gray-empty.svg');
  width: 12px;
  height: 12px;
  border: 0;
  margin: 0 0 0 4px;
}
.icon--info-grey:hover {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-info-gray-full.svg');
}
.payment-total {
  color: #333333;
  font-size: 26px;
  margin: 0 0 40px;
}
.select-card select {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-select-dark.svg');
}
.creditcard {
  font-size: 0;
}
.creditcard li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 20%;
  margin-bottom: 10px;
}
.creditcard li .radio-wrap {
  float: left;
  margin: 5px 10px 0 0;
}
.creditcard li .radio-wrap label {
  margin: 0;
}
.creditcard li:first-child .creditcard-inner {
  margin: 0;
}
.creditcard li .creditcard-inner {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 10px;
  margin-left: 10px;
}
.creditcard li .radio-wrap .placeholder {
  width: 20px;
  height: 20px;
}
.creditcard li .radio-wrap.checked .placeholder::after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
}
.creditcard li .payment-type {
  display: block;
  margin-left: 30px;
  width: 48px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}
.creditcard li .visa {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_visa_new.png');
  background-position: center;
}
.creditcard li .visa_electron {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_visa-electron.svg');
}
.creditcard li .mastercard {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_mastercard.svg');
}
.creditcard li .american_express {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_american-express_new.png');
  background-position: center;
}
.creditcard li .diners_club {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_diners-club.svg');
}

.reveal__inner .reveal__content{
    margin: 0 auto;
    padding-top: 0px;
}
@media (min-width: 768px) {
  .payment-wrap .inner-row .row {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
  .payment-wrap .inner-row .column {
    padding-right: .625rem;
    padding-left: .625rem;
  }
  .payment-wrap .medium-uncollapse .column {
    padding-right: .625rem;
    padding-left: .625rem;
  }
  .payment-wrap .medium-uncollapse select,
  .payment-wrap .medium-uncollapse .column select,
  .payment-wrap .medium-uncollapse .column:first-child select,
  .payment-wrap .medium-uncollapse .column:last-child select {
    border-radius: 5px;
    border: 1px solid #c1c1c1;
  }
}
@media (min-width: 1024px) {
  .creditcard li .radio-wrap {
    margin: 2px 0;
  }
  .creditcard li .payment-type {
    width: 56px;
    height: 35px;
    margin-left: 40px;
  }
  .creditcard li .radio-wrap .placeholder {
    width: 30px;
    height: 30px;
  }
  .creditcard li .radio-wrap.checked .placeholder::after {
    top: 5px;
    left: 5px;
    width: 18px;
    height: 18px;
  }
  .creditcard li .creditcard-inner {
    padding: 20px;
  }
  .reveal {
    padding: 450px 0 0;
  }
  .reveal .close-button {
      top: 400px;
  }
}
@media (min-width: 1366px) {
  .creditcard li {
    width: auto;
  }
  .creditcard li .radio-wrap {
    margin: 13px 10px 10px 0;
  }
  .creditcard li .payment-type {
    width: 96px;
    height: 60px;
  }
}
@media (max-width: 1023px){
    .checkin-button-wrap--fixed .button-full-width-mobile {
        width:100%!important;
    }
}


label.payment-type.visa {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_visa_new.png');
  background-position: center;
    /* margin-left: 30px; */
  width: 96px !important;
  height: 60px !important;
  background-repeat: no-repeat;
  background-size: contain;
}
label.payment-type.visa_electron {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_visa-electron.svg');
  background-position: center;
    /* margin-left: 30px; */
  width: 96px !important;
  height: 60px !important;
  background-repeat: no-repeat;
  background-size: contain;
}
label.payment-type.mastercard {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_mastercard.svg');
  background-position: center;
    /* margin-left: 30px; */
  width: 96px !important;
  height: 60px !important;
  background-repeat: no-repeat;
  background-size: contain;
}
label.payment-type.american_express {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_american-express_new.png');
  background-position: center;
    /* margin-left: 30px; */
  width: 96px !important;
  height: 60px !important;
  background-repeat: no-repeat;
  background-size: contain;
}
label.payment-type.diners_club {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_diners-club.svg');
  background-position: center;
    /* margin-left: 30px; */
  width: 96px !important;
  height: 60px !important;
  background-repeat: no-repeat;
  background-size: contain;
}


.text-label {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    font-weight: 600;
}

.text-value {
    color: #333;
    font-weight: 900;
    position: relative;
}


.logo.visa {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_visa_new.png');
  background-position: center;
  display: block;
    /* margin-left: 30px; */
  width: 56px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}
.logo.visa_electron {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_visa-electron.svg');
  background-position: center;
  display: block;
    /* margin-left: 30px; */
  width: 56px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}
.logo.mastercard {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_mastercard.svg');
  background-position: center;
  display: block;
    /* margin-left: 30px; */
  width: 56px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}
.logo.american_express {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_american-express_new.png');
  background-position: center;
  display: block;
    /* margin-left: 30px; */
  width: 56px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}
.logo.diners_club {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_diners-club.svg');
  background-position: center;
  display: block;
    /* margin-left: 30px; */
  width: 56px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}

.reveal--manage .reveal__header {
  display: block;
  width: 100%;
  position: fixed;
  padding: 25px 0;
  background: #fff;
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
}
