.resetpassword {
    text-align: center;
    padding-top: 50px;
}

.reset {
    font: 700 25px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
    color: #006643;
    margin: 0;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0;
}

.reveal--success .success {
min-height: 400px;
}
.reveal--success .success h4:before {
content: "";
display: block;
width: 36px;
height: 36px;
background: url("/etc/designs/alitalia/clientlibs/images/ico-select-green.svg") 0 0 no-repeat;
background-size: 100% auto;
margin: 0 auto 20px;
}
.reveal--success .success h4 {
    margin-top: 150px;
}
#ma-reset-password-form{
    font-family: "Josefin Sans", "Source Sans Pro", Arial, sans-serif!important;
}
#ma-reset-password-form .button-wrap.button-wrap-padding{
    padding: 20px 90px 0!important;
    margin-bottom: 20px!important;
}
#ma-reset-password-form .button-wrap.button-wrap-padding button{
    margin-top: 10px!important;
}
#ma-reset-password .button-wrap.button-wrap-padding{
    margin-bottom: 20px!important;
}