.checkin__text-sub {
  display: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-top: 15px;
  font-size: 16px;
  color: #676767;
}
.tooltip {
  font: 16px 'Source Sans Pro', Arial, sans-serif;
  text-align: center;
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0;
  display: none;
}
.tooltip .place {
  font-size: 25px;
}
.tooltip .id {
  display: inline-block;
  *display: inline;
  zoom: 1;
  min-width: 18px;
  height: 18px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #006643;
  font: 600 16px/18px 'Source Sans Pro', Arial, sans-serif;
  color: white;
  text-align: center;
  margin-top: 4px;
}
.tooltip .price {
  font: 700 20px 'Source Sans Pro', Arial, sans-serif;
  margin: 10px 0 20px;
}
.tooltip .button-wrap .button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: auto;
  margin-bottom: 0;
  min-width: 180px;
}
.tooltip .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.tooltip .icon--close--black {
  background: url(/etc/designs/alitalia/clientlibs-1/images/ico-close-black.svg) no-repeat left center;
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
}
.seat-configurator .tooltip {
  position: relative;
  max-width: none;
  width: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 20px;
}
.chooseSeat__passengerSeats {
  display: none;
}
.chooseSeat__passengerSeats.is-active {
  display: block;
}
.chooseSeat__seats {
  max-width: 445px;
  margin: 0 auto 70px;
  /*border-spacing: 5px; border-collapse: separate;*/
  border-collapse: collapse;
}
.chooseSeat__seats th,
.chooseSeat__seats td {
  width: 17px;
  height: 17px;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
}
.chooseSeat__seats td {
  /*border: 1px solid #d9d9d9;*/
  position: relative;
  font-size: 14px;
  line-height: 17px;
}
.chooseSeat__seats .tooltip {
  position: absolute;
  bottom: 36px;
  top: auto;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin-bottom: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  min-width: 220px;
  overflow: visible;
}
.chooseSeat__seats .tooltip:after {
  content: '';
  display: block;
  width: 22px;
  height: 12px;
  position: absolute;
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  background: url('/etc/designs/alitalia/clientlibs-checkin-seatmap-1-embed/images/tooltip-tip.svg') center top no-repeat;
  background-size: 15px 8px;
}
.chooseSeat__seats td a {
  display: block;
  width: 18px;
  height: 18px;
  color: #ffffff;
}
.chooseSeat__seats span,
.chooseSeat__seats a {
  position: relative;
  /*z-index: 1;*/
}
.chooseSeat__seats .number {
  border: none;
  width: 35px;
}
.chooseSeat__seats .occupied {
  color: #e2e2e2;
  font-size: 22px;
}
.chooseSeat__seats .emergency {
  border: none;
}
.chooseSeat__seats .emergency span {
  color: #c30e1a;
  font-size: 16px;
  vertical-align: top;
  display: inline-block;
}
.chooseSeat__seats .available,
.chooseSeat__seats .extraComfort,
.chooseSeat__seats .seatAssigned,
.chooseSeat__seats .occupied {
  position: relative;
}
.chooseSeat__seats .available:before,
.chooseSeat__seats .extraComfort:before,
.chooseSeat__seats .seatAssigned:before,
.chooseSeat__seats .occupied:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 17px;
  height: 17px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.chooseSeat__seats .available:before {
  background-color: #c1c1c1;
}
.chooseSeat__seats .extraComfort:before {
  background-color: #75b829;
}
.chooseSeat__seats .extraComfort.seatAssigned:before {
  background-color: #75b829;
}
.chooseSeat__seats .seatAssigned {
  color: #ffffff;
}
.chooseSeat__seats .seatAssigned:before {
  background-color: #006643;
}
.chooseSeat__seats .seatAssigned a {
  font-size: 16px;
}
.chooseSeat__seats .occupied:before {
  width: 19px;
  height: 19px;
  border: 1px solid #e2e2e2;
  background-color: white;
}
.emergencyRow td {
  background: #e6e6e6;
}
.emergencyRow td:first-child,
.emergencyRow td:last-child {
  background: transparent;
}
.emergencyRow td:nth-child(2) {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.emergencyRow td:nth-last-child(2) {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.i-emergencyL,
.i-emergencyR {
  height: 18px;
  overflow: hidden;
  vertical-align: top;
}
.i-emergencyL img,
.i-emergencyR img {
  vertical-align: top;
  width: 6px;
  max-width: none;
  margin-top: 3px;
}
.i-emergencyL {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.seatmap-section-nav {
  margin: 20px 0;
  text-align: center;
  height: 33px;
}
.seatmap-section-nav.is-active a,
.seatmap-section-nav a:hover {
  color: #006643;
  border-color: #006643;
}
.seatmap-section-nav-up,
.seatmap-section-nav-down {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 5px 0;
  width: 240px;
  font: 600 16px 'Source Sans Pro', Arial, sans-serif;
  color: #676767;
}
.seatmap-section-nav-up:before,
.seatmap-section-nav-down:before,
.seatmap-section-nav-up:after,
.seatmap-section-nav-down:after {
  position: absolute;
  top: 11px;
  content: '';
  display: block;
  background: url('/etc/designs/alitalia/clientlibs-1/images/arrow-dx-green.svg');
  background-size: 14px 10px;
  width: 14px;
  height: 10px;
}
.seatmap-section-nav-up:before,
.seatmap-section-nav-down:before {
  left: 10px;
}
.seatmap-section-nav-up:after,
.seatmap-section-nav-down:after {
  right: 10px;
}
.seatmap-section-nav-up {
  border-bottom: 2px solid #676767;
}
.seatmap-section-nav-up:before,
.seatmap-section-nav-up:after {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}
.seatmap-section-nav-down {
  border-top: 2px solid #676767;
}
.seatmap-section-nav-down:before,
.seatmap-section-nav-down:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
@media (min-width: 768px) {
  .chooseSeat__seats {
    margin: 0 auto 15px;
  }
}
@media (min-width: 1024px) {
  .chooseSeat__seats th,
  .chooseSeat__seats td {
    width: 18px;
    height: 18px;
    padding: 5px;
  }
  .chooseSeat__seats td {
    line-height: 18px;
  }
  .chooseSeat__seats .available,
  .chooseSeat__seats .extraComfort,
  .chooseSeat__seats .seatAssigned,
  .chooseSeat__seats .occupied {
    position: relative;
  }
  .chooseSeat__seats .available:before,
  .chooseSeat__seats .extraComfort:before,
  .chooseSeat__seats .seatAssigned:before,
  .chooseSeat__seats .occupied:before {
    top: 5px;
    left: 5px;
    width: 18px;
    height: 18px;
  }
  .i-emergencyL,
  .i-emergencyR {
    height: 18px;
    overflow: hidden;
    vertical-align: top;
  }
  .i-emergencyL img,
  .i-emergencyR img {
    vertical-align: top;
    width: 18px;
    max-width: none;
    margin-top: 0;
  }
  .emergencyRow td,
  .emergencyRow td:first-child,
  .emergencyRow td:last-child {
    background: #e6e6e6;
  }
  .emergencyRow td:first-child {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .emergencyRow td:last-child {
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
