.mb-10 {
  margin-bottom: 10px;
}

section {
  margin-top: 20px;
  padding: 0px;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.error {
  margin: 0 0 5px;
  font: 600 16px 'Source Sans Pro', Arial, sans-serif;
  font-weight: 400;
  color: #e30512;
  padding: 5px 0 5px 49px;
  background: url("/etc/designs/alitalia/clientlibs-checkin-navbar-1-embed/images/ico-alert.svg") center left no-repeat;
  background-size: 28px 24px;
  text-align: left !important;
}

.reveal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1005;
    display: none;
    background-color: rgba(51,51,51,0.45);
    overflow-y: hidden !important;
}

/*============
   MODALI    */
.reveal--manage .reveal__header {
  display: block;
  width: 100%;
  position: fixed;
  padding: 25px 0;
  background: #fff;
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.reveal--manage .reveal__header .icon.icon--close {
  background-image: url("/etc/designs/alitalia/clientlibs-checkin-gestione-carte-1-embed/images/ico-close-black.svg");
}
.reveal__label {
  color: #333333;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 18px;
}
.reveal--manage .reveal__content {
  margin-top: 60px;
  padding-top: 50px;
}
.reveal--manage .manage__form {
  margin-top: 25px;
}
.reveal--manage-send-address .passenger__name {
  color: #333333;
  font-weight: 600;
  font-size: 22px;
}
.reveal--manage-delete-cdc p {
  color: #333333;
  font-size: 18px;
}
.reveal--manage-delete-cdc .button {
  width: 100%;
  margin-bottom: 20px;
}
.reveal--manage-delete-cdc .success {
  min-height: 400px;
}
.reveal--manage-delete-cdc .success h4 {
  margin-top: 150px;
}
.reveal--manage-delete-cdc .success h4:before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background: url("/etc/designs/alitalia/clientlibs-checkin-gestione-carte-1-embed/images/ico-select-green.svg") 0 0 no-repeat;
  background-size: 100% auto;
  margin: 0 auto 20px;
}
.reveal.reveal--manage-delete-cdc .reveal__content .flight-info__sep {
  margin: 0 0 40px;
  -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: left;
}
.reveal.reveal--manage-delete-cdc .reveal__content .flight-info__sep ul li {
  padding: 0;
}
.reveal.reveal--manage-delete-cdc .reveal__content .flight-info__sep .flight-mob__detail {
  margin-right: 15px;
}
.reveal.reveal--manage-delete-cdc .reveal__content .flight-info__sep .flight-mob__detail:last-child {
  margin: 0;
}
.reveal.reveal--manage-delete-cdc .reveal__content .flight-info__sep .flight-info__date li {
  padding: 0 0 0 35px;
  margin-right: 15px;
}
/* MODALI
============ */

.notification-cta a {
  position: relative;
  z-index: 10!important;
}
.white-block {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
}
.white-block h5 {
  margin-bottom: 5px;
}
.payment-methods:before,
.payment-methods:after {
  display: table;
  content: ' ';
}


.payment-methods:after {
  clear: both;
}
.payment-wrap {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
  text-align: left;
  overflow: hidden;
}
.payment-wrap h5 {
  margin-bottom: 5px;
}
.payment-wrap .inner-row {
  padding: 0 .3125rem;
}
.payment-wrap .inner-row .column {
  padding-right: .3125rem;
  padding-left: .3125rem;
}
.payment-wrap .inner-row .row {
  padding: 0;
}
.payment-wrap .payment-wrap-content {
  padding: 20px 10px;
  background: white;
  position: relative;
}
.payment-wrap .payment-wrap-content label {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 35px;
}
.payment-wrap label {
  position: relative;
  font: 12px 'Source Sans Pro', Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.payment-wrap label input,
.payment-wrap label select {
  margin: 5px 0 0;
}
.payment-wrap label input::-webkit-input-placeholder,
.payment-wrap label select::-webkit-input-placeholder {
  color: #c1c1c1;
}
.payment-wrap label input:-moz-placeholder,
.payment-wrap label select:-moz-placeholder {
  color: #c1c1c1;
  opacity: 1;
}
.payment-wrap label input::-moz-placeholder,
.payment-wrap label select::-moz-placeholder {
  color: #c1c1c1;
  opacity: 1;
}
.payment-wrap label input:-ms-input-placeholder,
.payment-wrap label select:-ms-input-placeholder {
  color: #c1c1c1;
}
.payment-wrap label input::-ms-input-placeholder,
.payment-wrap label select::-ms-input-placeholder {
  color: #c1c1c1;
}
.payment-wrap label input::placeholder,
.payment-wrap label select::placeholder {
  color: #c1c1c1;
}
.payment-wrap label select {
  display: block;
}
.payment-wrap label .feedback-error {
  position: absolute;
  text-transform: none;
  color: #e30512;
  bottom: 5px !important;
  padding: 0px !important;
}
.payment-wrap select {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-select-dark.svg');
}
.payment-wrap .collapse .column {
  padding: 0;
}
.payment-wrap .collapse select {
  border-radius: 0;
  border-left: none;
}
.payment-wrap .collapse .column:first-child select {
  border-radius: 5px 0 0 5px;
  border-left: 1px solid #c1c1c1;
}
.payment-wrap .collapse .column:last-child select {
  border-radius: 0 5px 5px 0;
}
.payment-wrap-add {
  padding: 25px 10px;
}
.icon--info-grey {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-info-gray-empty.svg');
  width: 12px;
  height: 12px;
  border: 0;
  margin: 0 0 0 4px;
}
.icon--info-grey:hover {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-info-gray-full.svg');
}
.payment-total {
  color: #333333;
  font-size: 26px;
  margin: 0 0 40px;
}
.select-card select {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-select-dark.svg');
}
.creditcard {
  font-size: 0;
}
.creditcard li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 20%;
  margin-bottom: 10px;
}
.creditcard li .radio-wrap {
  float: left;
  margin: 5px 10px 0 0;
}
.creditcard li .radio-wrap label {
  margin: 0;
}
.creditcard li:first-child .creditcard-inner {
  margin: 0;
}
.creditcard li .creditcard-inner {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 10px;
  margin-left: 10px;
}
.creditcard li .radio-wrap .placeholder {
  width: 20px;
  height: 20px;
}
.creditcard li .radio-wrap.checked .placeholder::after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
}
.creditcard li .payment-type {
  display: block;
  margin-left: 30px;
  width: 48px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}
.creditcard li .visa {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_visa_new.png');
  background-position: center;
}
.creditcard li .visa_electron {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_visa-electron.svg');
}
.creditcard li .mastercard {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_mastercard.svg');
}
.creditcard li .american_express {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_american-express_new.png');
  background-position: center;
}
.creditcard li .diners_club {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_diners-club.svg');
}

.visa {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_visa_new.png');
  background-position: center;
  display: block;
    /* margin-left: 30px; */
  width: 56px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}
.visa_electron {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_visa-electron.svg');
  background-position: center;
  display: block;
    /* margin-left: 30px; */
  width: 56px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}
.mastercard {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_mastercard.svg');
  background-position: center;
  display: block;
    /* margin-left: 30px; */
  width: 56px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}
.american_express {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_american-express_new.png');
  background-position: center;
  display: block;
    /* margin-left: 30px; */
  width: 56px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}
.diners_club {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_diners-club.svg');
  background-position: center;
  display: block;
    /* margin-left: 30px; */
  width: 56px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}


@media (min-width: 768px) {
  .payment-wrap .inner-row .row {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
  .payment-wrap .inner-row .column {
    padding-right: .625rem;
    padding-left: .625rem;
  }
  .payment-wrap .medium-uncollapse .column {
    padding-right: .625rem;
    padding-left: .625rem;
  }
  .payment-wrap .medium-uncollapse select,
  .payment-wrap .medium-uncollapse .column select,
  .payment-wrap .medium-uncollapse .column:first-child select,
  .payment-wrap .medium-uncollapse .column:last-child select {
    border-radius: 5px;
    border: 1px solid #c1c1c1;
  }
    /* modali */
  .reveal--manage-delete-cdc .button-row .button {
    width: 50%;
    margin: 0 auto 20px;
  }
}
@media (min-width: 1024px) {
  .creditcard li .radio-wrap {
    margin: 2px 0;
  }
  .creditcard li .payment-type {
    width: 56px;
    height: 35px;
    margin-left: 40px;
  }
  .creditcard li .radio-wrap .placeholder {
    width: 30px;
    height: 30px;
  }
  .creditcard li .radio-wrap.checked .placeholder::after {
    top: 5px;
    left: 5px;
    width: 18px;
    height: 18px;
  }
  .creditcard li .creditcard-inner {
    padding: 20px;
  }
  /* modali */
  .reveal--manage .reveal__content {
    margin: 50px 0;
    padding-top: 0px;
  }
  .reveal--manage-delete-cdc .button-row .button {
    width: 70%;
  }
  .reveal--manage-delete-cdc .button-col:nth-child(1) {
    float: right;
  }
  .reveal--manage-delete-cdc .button-col:nth-child(1) .button {
    float: left;
  }
  .reveal--manage-delete-cdc .button-col:nth-child(2) .button {
    float: right;
  }
}
@media (min-width: 1366px) {
  .creditcard li {
    width: auto;
  }
  .creditcard li .radio-wrap {
    margin: 13px 10px 10px 0;
  }
  .creditcard li .payment-type {
    width: 96px;
    height: 60px;
  }
}
@media (max-width: 1023px){
    .checkin-button-wrap--fixed .button-full-width-mobile {
        width:100%!important;
    }
}

.text-label {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    font-weight: 600;
}

.text-value {
    color: #333;
    font-weight: 900;
    position: relative;
    top: 3px;
}
