.wrap-title--novita h3 {
  float: left;
}
.wrap-title--novita .cta-wrap {
  float: right;
  margin: 30px 0 0 0;
  display: none;
}
.novita__slider {
  clear: both;
}
.novita__slider .swiper-container--carousel {
  margin: 0 -20px;
}
.novita__slider .swiper-container--carousel .swiper-slide {
  padding: 0;
}
.novita__slider .custom-card {
  overflow: visible;
}
.novita__slider .custom-card__section.bg-image {
  height: 280px;
  padding: 20px;
}
.novita__slider .custom-card__section.section-bordered {
  border-width: 0px 0px 0px 0;
}
.novita__slider .custom-card__section.custom-card__section--text {
  padding-bottom: 70px;
}
.novita__slider .bg-image {
  background-position: center;
  background-size: cover;
}
.novita__slider p {
  font: 18px/22px 'Source Sans Pro', Arial, sans-serif;
  color: #676767;
}
.novita__slider h5 a {
  color: inherit;
  line-height: 24px;
}
@media (min-width: 768px) {
  .wrap-title .cta-wrap {
    display: block;
  }
  .novita__slider .custom-card__section.bg-image {
    height: 200px;
  }
  .novita__slider .custom-card__section.section-bordered {
    border-width: 0px 1px 1px 1px;
    border-color: #d7d7d7;
  }
  .novita__slider .swiper-slide {
    width: 50%;
  }
  .novita__slider .swiper-container--carousel {
    padding-bottom: 60px;
    margin: 0 -10px;
  }
  .novita__slider .swiper-container--carousel .swiper-slide {
    padding: 0 10px;
  }
  .novita__slider .bg-image {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
@media (min-width: 1024px) {
  .novita__slider .custom-card__section {
    padding-top: 30px;
  }
  .novita__slider .swiper-slide {
    width: 33.33%;
  }
}