.sidebar-bg-section {
  background: #e6e6e6;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.sidebar-bg-section .row {
  position: relative;
  height: 100%;
}
.sidebar-nav li {
  color: #676767;
  font: 700 18px 'Source Sans Pro', Arial, sans-serif;
  margin-top: 30px;
  padding: 1px 1px 1px 50px;
  background-position: left 2px;
  background-repeat: no-repeat;
}
.sidebar-nav li:first-child {
  margin-top: 0px;
}
.sidebar-nav .dashboard {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-dashboard.svg');
  background-size: 25px 20px;
}
.sidebar-nav .flights {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-flights.svg');
  background-size: 22px 23px;
}
.sidebar-nav .millemiglia {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-millemiglia.svg');
  background-size: 27.6px 12px;
}
.sidebar-nav .data {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-data.svg');
  background-size: 28px 20px;
}
.sidebar-nav .preferences {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-preferences.svg');
  background-size: 18.5px 23px;
}
.sidebar-nav .customer-care {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-customer-care.svg');
  background-size: 23px 23px;
}
.sidebar-nav .settings {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-settings.svg');
  background-size: 22px 22px;
}
.sidebar-nav .booking {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-booking.svg');
  background-size: 30px 18px;
}
.sidebar-nav .faq {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-faq.svg');
  background-size: 30px 23px;
}
.sidebar-nav .selected {
  color: #006643;
}
.sidebar-nav .selected.dashboard {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-dashboard-active.svg');
}
.sidebar-nav .selected.flights {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-flights-active.svg');
}
.sidebar-nav .selected.millemiglia {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-millemiglia-active.svg');
}
.sidebar-nav .selected.data {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-data-active.svg');
}
.sidebar-nav .selected.preferences {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-preferences-active.svg');
}
.sidebar-nav .selected.customer-care {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-customer-care-active.svg');
}
.sidebar-nav .selected.settings {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-settings-active.svg');
}
.sidebar-nav .selected.booking {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-booking-active.svg');
}
.sidebar-nav .selected.faq {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-faq-active.svg');
}
.sidebar-nav .submenu li {
  position: relative;
  color: inherit;
  font: 400 16px 'Source Sans Pro', Arial, sans-serif;
  margin-top: 10px;
  padding-left: 0px;
  background: none;
}
.sidebar-nav .submenu li a {
  padding: 0;
}
.sidebar-nav .submenu li .notification-count, .sidebar-nav .submenu li .notification-count-mm-messaggi {
  position: absolute;
  top: 3px;
  left: -25px;
  display: block;
  width: 17px;
  height: 17px;
  text-align: center;
  font: 12px/15px 'Source Sans Pro', Arial, sans-serif;
  color: white;
  background: #006643;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.sidebar-nav a {
  color: inherit;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.custom-card.widget {
  margin-top: 40px;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.custom-card.widget .custom-card__title {
  background: #006643;
  padding: 15px 20px;
  font: 400 18px 'Source Sans Pro', Arial, sans-serif;
  color: white;
}
.custom-card.widget .custom-card__section--text p {
  margin: 0;
  line-height: 1.4em;
}
.custom-card.widget .bottom-bar {
  margin-top: 30px;
}
.custom-card.widget .bottom-bar .cta-wrap {
  right: 20px;
}
.custom-card.widget .bottom-bar .cta-wrap .cta--icon.cta--primary {
  background-position: right center;
}
/*** Sidebar Nav mobile ***/
.sidebar-nav-mob {
  position: relative;
  background: #006643;
  margin: 0 -15px;
  padding: 0 20px;
}
.sidebar-nav-mob .menu {
  display: none;
  position: absolute;
  top: 79px;
  right: 0;
  left: 0;
  background: #fff;
  width: 100%;
  padding: 20px 0;
}
.sidebar-nav-mob .menu li {
  padding: 15px 20px;
  position: relative;
}
.sidebar-nav-mob .menu li a {
  color: #676767;
  font-weight: 600;
  font-size: 18px;
  display: block;
}
.sidebar-nav-mob .menu li a:after {
  content: "";
  transform: rotate(-90deg);
  position: absolute;
  right: 20px;
  top: 21px;
  width: 14px;
  height: 8px;
  background-image: url(/etc/designs/alitalia/clientlibs-header/images/icon_dropdown.svg);
}
.sidebar-nav-mob .menu li a.open:after {
  transform: rotate(-180deg);
}
.sidebar-nav-mob .menu li .selected {
  color: #006643;
}
.sidebar-nav-mob .menu li .selected:after {
  background-image: url(/etc/designs/alitalia/clientlibs/images/icon_dropdow-green.svg);
  width: 16px;
  height: 9px;
}
.sidebar-nav-mob .sidebar-link {
  display: block;
  padding: 30px 0;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}
.sidebar-nav-mob .sidebar-link:after {
  transition: all 500ms ease;
  content: "";
  transform: rotate(0deg);
  position: absolute;
  right: 20px;
  top: 35px;
  width: 14px;
  height: 8px;
  background-image: url(/etc/designs/alitalia/clientlibs-header/images/arrow-dropdown-white.svg);
  background-size: contain;
}
.sidebar-nav-mob .sidebar-link.open:after {
  transform: rotate(-180deg);
}
/*** Menu logged ***/
.info-user {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
  font-size: 20px;
  padding: 20px 20px 0 20px !important;
}
.info-user .info-user__photo {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 100%;
}
.info-user .info-user__name-wrapper {
  padding-left: 20px;
  display: block;
}
.info-user .info-user__name {
  font-size: 24px;
  position: relative;
  line-height: 1;
  font-weight: 700;
  display: block;
}
.info-user .info-user__number {
  color: #006643 !important;
  font-size: 24px;
}
.info-user .info-user__type {
  line-height: 28px;
  padding: 20px !important;
}
.info-user .info-user__type span {
  display: block;
}
.info-user .info-user__general {
  line-height: 28px;
  padding: 20px;
}
.info-user .info-user__general a {
  color: #006643 !important;
}
.info-user .info-user__personal-area-toggle {
  margin: 10px -20px 0;
  background: #333333 !important;
  padding: 15px 20px !important;
  color: white !important;
  font: 18px/1.2em 'Source Sans Pro', Arial, sans-serif;
  position: relative;
}
.info-user .info-user__personal-area-toggle:after {
  content: "";
  position: absolute;
  right: 20px;
  top: 21px;
  width: 14px;
  height: 8px;
  background-image: url(/etc/designs/alitalia/clientlibs/images/arrow-dropdown-white.svg);
  background-size: 14px 8px;
}
.info-user .info-user__personal-area-toggle.open:after {
  transform: rotate(-180deg);
}
.info-user .info__user-border {
  border-bottom: 1px solid #c1c1c1;
}
.info-user__personal-area-content {
  display: none;
  margin: 0 -20px;
}
.submenu_logged {
  padding: 20px;
}
#header .submenu_logged > li {
  padding: 1px 1px 1px 50px !important;
}
#header .info-user li.js-drilldown-back {
  margin: 0;
}
#header .is-drilldown .sidebar-nav a {
  color: #676767;
}
#header .sidebar-nav .js-drilldown-back {
  position: relative;
}
#header .sidebar-nav .js-drilldown-back:before {
  background-image: url(/etc/designs/alitalia/clientlibs-header/images/arrow-dropdown-white.svg);
  background-repeat: no-repeat;
  background-position: left center;
  transform: rotate(90deg);
  background-size: 14px 18px;
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -4px;
  display: block;
  width: 14px;
  height: 8px;
}
#header .sidebar-nav .js-drilldown-back a {
  color: white;
  padding: 1px 1px 1px 70px;
  background-position: 30px 2px;
  background-repeat: no-repeat;
  text-transform: none;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 700;
}
#header .sidebar-nav .js-drilldown-back a:before {
  display: none;
}
#header .sidebar-nav .dashboard .js-drilldown-back a {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-dashboard-white.svg');
  background-size: 25px 20px;
}
#header .sidebar-nav .flights .js-drilldown-back a {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-flights-white.svg');
  background-size: 22px 23px;
}
#header .sidebar-nav .millemiglia .js-drilldown-back a {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-millemiglia-white.svg');
  background-size: 27.6px 12px;
}
#header .sidebar-nav .data .js-drilldown-back a {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-data-white.svg');
  background-size: 28px 20px;
}
#header .sidebar-nav .preferences .js-drilldown-back a {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-preferences-white.svg');
  background-size: 18.5px 23px;
}
#header .sidebar-nav .customer-care .js-drilldown-back a {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-customer-care-white.svg');
  background-size: 23px 23px;
}
#header .sidebar-nav .settings .js-drilldown-back a {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-settings-white.svg');
  background-size: 22px 22px;
}
#header .sidebar-nav .booking .js-drilldown-back a {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-booking-white.svg');
  background-size: 30px 18px;
}
#header .sidebar-nav .faq .js-drilldown-back a {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-1/images/ico-faq-white.svg');
  background-size: 30px 23px;
}
@media (min-width: 768px) {
  .sidebar-nav-mob {
    margin: 0 -35px;
    padding: 0 45px;
  }
  .sidebar-nav-mob .sidebar-link:after {
    right: 45px;
  }
  .sidebar-nav-mob .menu li {
    padding: 15px 45px;
  }
  .sidebar-nav-mob .menu li a:after {
    right: 45px;
  }
  .myalitalia-site-wrap .user-intro {
    padding-left: 20px;
  }
}
@media (min-width: 1024px) {
  .sidebar-bg-section .row .before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20.833333333%;
    background: white;
    content: "";
    display: block;
  }
  .sidebar-bg-section .row .after {
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 1000%;
    background: white;
    content: "";
    display: block;
  }
  .myalitalia-site-wrap .user-intro {
    padding-left: 0px;
  }
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .myalitalia-site-wrap .avatar {
    max-width: 90%;
  }
  .custom-card.widget .custom-card__title {
    font: 400 18px 'Source Sans Pro', Arial, sans-serif;
    color: white;
  }
  .custom-card.widget .custom-card__section--text p {
    font-size: 14px;
  }
  .custom-card.widget .bottom-bar .cta-wrap .cta--icon.cta--primary {
    background: transparent;
    padding-right: 0;
    font-size: 12px;
  }
}
