.progressbar {
  width: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-top: 40px;
  margin-bottom: 25px;
}
.progressbar .step {
  float: left;
  width: 33.333%;
  position: relative;
  height: 10px;
  background: white;
}
.progressbar .step .ico_step {
  display: none;
  float: right;
  position: absolute;
  width: 40px;
  height: 40px;
  right: -20px;
  margin-top: -18px;
  opacity: 0.8;
  z-index: 2;
}
.progressbar .step .ico_step.ico_step_1 {
  background: url('/etc/designs/alitalia/clientlibs-myalitalia/images/ico-step-1.png') center center no-repeat;
  background-size: 100% 100%;
}
.progressbar .step .ico_step.ico_step_2 {
  background: url('/etc/designs/alitalia/clientlibs-myalitalia/images/ico-step-2.png') center center no-repeat;
  background-size: 100% 100%;
}
.progressbar .step .ico_step.ico_step_3 {
  background: url('/etc/designs/alitalia/clientlibs-myalitalia/images/ico-step-3.png') center center no-repeat;
  background-size: 100% 100%;
}
.progressbar .step .ico_step.ico_step_4 {
  background: url('/etc/designs/alitalia/clientlibs-myalitalia/images/ico-step-4.png') center center no-repeat;
  background-size: 100% 100%;
}
.progressbar .step.current .ico_step {
  display: block;
}
.progressbar .step:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  background: white;
  left: 50%;
}
.progressbar .step:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  background: white;
  right: 0%;
}
.progressbar .step.step_1 {
  width: 0;
}
.progressbar .step.step_1.active {
  background: #0f7c27;
  background: -moz-linear-gradient(left, #0f7c27 0%, #0f7d29 35%, #727272 73%, #727272 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #0f7c27), color-stop(35%, #0f7d29), color-stop(73%, #727272), color-stop(100%, #727272));
  background: -webkit-linear-gradient(left, #0f7c27 0%, #0f7d29 35%, #727272 73%, #727272 100%);
  background: -o-linear-gradient(left, #0f7c27 0%, #0f7d29 35%, #727272 73%, #727272 100%);
  background: -ms-linear-gradient(left, #0f7c27 0%, #0f7d29 35%, #727272 73%, #727272 100%);
  background: linear-gradient(to right, #0f7c27 0%, #0f7d29 35%, #727272 73%, #727272 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f7c27', endColorstr='#727272', GradientType=1);
}
.progressbar .step.step_1.active .ico_step {
  opacity: 1;
}
.progressbar .step.step_1:after {
  display: none;
}
.progressbar .step.step_2.active {
  background: #0f7c27;
  background: -moz-linear-gradient(left, #0f7c27 0%, #0f7d29 35%, #727272 73%, #727272 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #0f7c27), color-stop(35%, #0f7d29), color-stop(73%, #727272), color-stop(100%, #727272));
  background: -webkit-linear-gradient(left, #0f7c27 0%, #0f7d29 35%, #727272 73%, #727272 100%);
  background: -o-linear-gradient(left, #0f7c27 0%, #0f7d29 35%, #727272 73%, #727272 100%);
  background: -ms-linear-gradient(left, #0f7c27 0%, #0f7d29 35%, #727272 73%, #727272 100%);
  background: linear-gradient(to right, #0f7c27 0%, #0f7d29 35%, #727272 73%, #727272 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f7c27', endColorstr='#727272', GradientType=1);
}
.progressbar .step.step_2.active .ico_step {
  opacity: 1;
}
.progressbar .step.step_3.active {
  background: #7a7c7b;
  background: -moz-linear-gradient(left, #7a7c7b 0%, #b9bcc3 23%, #d69226 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #7a7c7b), color-stop(23%, #b9bcc3), color-stop(100%, #d69226));
  background: -webkit-linear-gradient(left, #7a7c7b 0%, #b9bcc3 23%, #d69226 100%);
  background: -o-linear-gradient(left, #7a7c7b 0%, #b9bcc3 23%, #d69226 100%);
  background: -ms-linear-gradient(left, #7a7c7b 0%, #b9bcc3 23%, #d69226 100%);
  background: linear-gradient(to right, #7a7c7b 0%, #b9bcc3 23%, #d69226 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a7c7b', endColorstr='#d69226', GradientType=1);
}
.progressbar .step.step_3.active .ico_step {
  opacity: 1;
}
.progressbar .step.step_4.active {
  background: #c79237;
  background: -moz-linear-gradient(left, #c79237 0%, #141414 42%, #141414 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #c79237), color-stop(42%, #141414), color-stop(100%, #141414));
  background: -webkit-linear-gradient(left, #c79237 0%, #141414 42%, #141414 100%);
  background: -o-linear-gradient(left, #c79237 0%, #141414 42%, #141414 100%);
  background: -ms-linear-gradient(left, #c79237 0%, #141414 42%, #141414 100%);
  background: linear-gradient(to right, #c79237 0%, #141414 42%, #141414 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c79237', endColorstr='#141414', GradientType=1);
}
.progressbar .step.step_4.active .ico_step {
  opacity: 1;
}
@media (min-width: 768px) {
  .progressbar {
    padding: 0 20px;
  }
  .progressbar .step .ico_step {
    display: block;
  }
  .progressbar .step:after {
    display: none;
  }
}
