.table-wrap.info-club {
  padding: 0;
}
.table-wrap.info-club h5 {
  font-size: 22px;
  color: #006643;
  padding: 0 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.table-wrap.info-club h6 {
  padding: 0 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.table-wrap.info-club p {
  font-size: 16px;
}
.table-wrap.info-club p span {
  font-size: 14px;
}
.table-wrap.info-club .box-text {
  padding: 0 20px 20px;
}
.table-wrap.info-club .box-text.primary-color {
  color: #006643;
}
.table-wrap.info-club .inner-row {
  padding: 20px 0px 0px;
}
.table-wrap.info-club .custom-row {
  float: left;
  width: 100%;
  position: relative;
  padding: 20px 0;
}
.table-wrap.info-club .custom-row.alternate-color:nth-child(even) {
  background: #F2F2F2;
}
.table-wrap.info-club .custom-row .dati-club {
  display: none;
}
.table-wrap.info-club .custom-row .dati-club h6 {
  padding: 0;
  margin: 0;
}
.table-wrap.info-club .custom-row .column {
  padding: 0 20px;
}
.table-wrap.info-club .custom-row.row-wrap {
  padding: 0;
}
.table-wrap.info-club .custom-row.row-wrap .column {
  padding: 0 0 0 20px;
}
.table-wrap.info-club .custom-row.row-wrap .column.large-12 {
  padding: 0 20px;
}
.table-wrap.info-club .custom-row.row-wrap .button-wrap {
  padding-right: 20px;
  margin-top: 24px;
}
.table-wrap.info-club .custom-row.row-wrap .button-wrap .button--transparent-arrow {
  background: url('/etc/designs/alitalia/clientlibs/images/ico-select-primary.svg') center center no-repeat;
  background-size: 9px 16px;
}
.table-wrap.info-club .note-info {
  font-size: 14px;
  padding-left: 20px;
}
.table-wrap.info-club .note-info:before {
  content: '**';
  position: absolute;
  left: 20px;
}
.small-info {
  font-size: 12px;
  margin: 20px 0 40px;
}
@media (min-width: 768px) {
  .table-wrap.info-club .custom-row.alternate-color:after {
    content: '';
    position: absolute;
    left: 41.66667%;
    top: 0;
    width: 1px;
    height: 100%;
    background: #c1c1c1;
  }
}
@media (min-width: 1024px) {
  .table-wrap.info-club .custom-row.alternate-color:after {
    left: 33.3%;
  }
}
