.edit-feedback,
.new-feedback,
.form-feedback {
  display: none;
}
.step {
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #fff;
}
.step .step__title {
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  font-size: 22px;
  color: #333333;
  padding: 30px 20px;
}
.step .step__title p {
  margin: 0;
  line-height: 1.2;
}
.step--disabled {
  background: #f3f3f3;
}
.step--disabled .step__title {
  color: #676767;
}
.step--completed .step__title {
  background: #d7ece0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: none;
}
.step--completed .button-wrap .button {
  display: none;
}
.step .step__content {
  padding: 30px 20px;
}
.section--select-feedback .radio-wrap {
  float: left;
  margin-right: 40px;
}
.myexperience__form textarea {
  margin: 0;
}
.myexperience__form.general-form .checkbox-label {
  text-transform: none;
  padding: 0 0 10px;
}
.myexperience__form.general-form .checkbox-label span {
  padding: 0 0 0 10px;
  font-size: 14px;
  font-weight: 600;
}
.myexperience__form .inner-row .column {
  padding-right: .625rem;
  padding-left: .625rem;
}
.myexperience__form .inner-row--nogap .column {
  padding: 0;
}
.myexperience__form .small {
  font-size: 14px;
}
.myexperience__form .collapse .column {
  padding: 0;
}
.myexperience__form .collapse select {
  border-radius: 0;
  border-left: none;
}
.myexperience__form .collapse .column:first-child select {
  border-radius: 5px 0 0 5px;
  border-left: 1px solid #c1c1c1;
}
.myexperience__form .collapse .column:last-child select {
  border-radius: 0 5px 5px 0;
}
.myexperience__form .radio-group .radio-wrap {
  float: left;
  margin-right: 40px;
}
.myexperience__form .radio-group .radio-wrap label {
  width: auto;
  text-transform: none;
  font-size: 18px;
  padding: 0;
}
.myexperience__form .button--transparent-arrow {
  margin: 20px 0 0;
  background: url('../../../../../..//etc/designs/alitalia/clientlibs/images/ico-select-primary.svg') no-repeat center center;
  background-size: 9px 16px;
}
.myexperience__form .specific-flight {
  display: none;
}
.myexperience__form .sep {
  border: 1px solid #e0e0e0;
  margin: 0 10px 35px 10px;
}
@media (min-width: 1024px) {
  .myexperience__form .large-uncollapse .column:nth-child(1) {
    padding-right: .625rem;
  }
  .myexperience__form .large-uncollapse .column:nth-child(2) {
    padding-right: .625rem;
    padding-left: .625rem;
  }
  .myexperience__form .large-uncollapse .column:nth-child(3) {
    padding-left: .625rem;
  }
  .myexperience__form .collapse .column select,
  .myexperience__form .collapse .column:first-child select,
  .myexperience__form .collapse .column:last-child select {
    border-radius: 5px;
    border: 1px solid #c1c1c1;
  }
}
@media (min-width: 768px) {
  .myexperience__form .inner-row--nogap .column:first-child {
    padding-right: .625rem;
  }
  .myexperience__form .inner-row--nogap .column:last-child {
    padding-left: .625rem;
  }
}
