.reveal--sa-login .input-wrap {
    padding: 0 60px;
    padding-top: 5px;
}
.reveal--sa-login .reveal__content {
    position: static;
    top: auto;
    bottom: auto;
    width: 75%;
    margin: 0 auto;
    padding: 0 0 50px;
    overflow: auto;
    height: auto;
	}
	.reveal--sa-login .reveal__content .button-wrap {
    padding: 20px 135px 0;
}
.button#login-submit-sa {
    margin-left: 0px !important;
}
.reveal--sa-login .cta-custom-wrap {
    padding-right: 33px;
    float: right;
}
@media (min-width: 768px) {
	.reveal--sa-login .checkbox-wrap {
		padding-left: 60px;
		float: left;
		clear: none;
		margin-bottom: 0px;
	}
}