.customTable .thTitle0:before,
.customTable .thTitle1:before,
.customTable .thTitle2:before,
.customTable .thTitle3:before,
.customTable .thTitle4:before,
.customTable .thTitle5:before,
.customTable .thTitle6:before,
.customTable .thTitle7:before,
.customTable .thTitle8:before {
  font-family: "iconFont";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.customTable th,
.customTable td {
  border: 1px solid #d9d9d9;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  font-weight: lighter;
  vertical-align: middle;
}

.customTable td p {
    overflow-wrap: break-word;
}

.customTable th:before,
.customTable td:before {
  font-weight: normal;
}
.customTable th strong, .customTable th bold, .customTable th b,
.customTable td strong,
.customTable td bold,
.customTable td b {
  font-weight: normal;
}
.customTable th {
  font-weight: normal;
}
.customTable tr:nth-child(even) {
  background-color: #f8f8f8;
}
.customTable img {
  margin: auto;
  display: block;
}
.customTable a {
  word-break: break-all;
}

.customTable {
  width: 100%;
  table-layout: fixed;
}

/* FONT SIZE */

.rteSize9 {
	font-size: 9px;
}

.rteSize10 {
	font-size: 10px;
}

.rteSize12 {
	font-size: 12px;
}

.rteSize14 {
	font-size: 14px;
}

.rteSize16 {
	font-size: 16px;
}

.rteSize18 {
	font-size: 18px;
}

.rteSize24 {
	font-size: 24px;
}

.rteSize36 {
	font-size: 36px;
}

.rteSize48 {
	font-size: 48px;
}