/*sembra ok ok*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.main_b {
    background-color: #e0ede2;
	min-width: 734px;
	max-width: 768px;
}

.main_b_dx {
    background: #e0ede2;
}

#tab1_azienda:checked ~ #content1,
#tab2_contatti:checked ~ #content2,
#tab3_amministrazione:checked ~ #content3,
#tab4_comunicazione:checked ~ #content4,
#tab5_typ:checked ~ #content5 {
display: block;
}

.container_wrap_business {
    width: 70%;
    margin: 10px auto;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 70px;
}

.sn_business {
    float: left;
    width: 35%;
    background-color: white;
    min-width: 300px;
    margin-bottom: 50px;
   /* margin-top: 94px;*/
}

.dx_business {
    float: right;
    width: 63%;
   /* background-color: #f5f8f4;*/
    margin-bottom: 50px;
   /* margin-top: 110px;*/
	max-width: 768px;
}

.title_form_business {
    text-transform: uppercase;
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 0px;
    background-color: #2f6506;
    padding: 5px;
}

.label_business {
    font-weight: inherit;
    vertical-align: -webkit-baseline-middle;
    line-height: 16px;
}

.table_form {
    width: 85%;
    margin: 0 auto;
}

.box {
    background-color: #f5f8f4;
    padding-top: 20px;
    min-height: 480px;
    position: relative;
}

.box_first{
background-color: #f5f8f4;
    padding-top: 20px;
    min-height: 480px;
    position: relative;
}

.input_var{
    display: inline-block;
    padding: 5px;
    width: 90%;
    height: 35px;
}

.span_form_business{
    font-size: 13px;
}

.bottom_distance{
    padding-top: 10px;
}

.lbllarge_custom{
    width:40%;
	float: left;
}

.inplarge_custom{
	width: 28%;
    height: 40px;
    float: left;
    position:relative;
}

.lbllarge{
	width:30%;
	float: left;
    padding-right: 20px;
}

.lbllarge_check{
	position: absolute;
    width: 23px;
    height: 24px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

.inplarge{
	width:70%;
	height: 40px;
}

/* AMS Bugfix #4950 form Business Connect */
#form-subscriptionsme select {
    padding-top: 0;
    padding-bottom: 0;
}
/* Fine bugfix #4950 */

.inplarge_custom_amministration{
	width: 19%;
    height: 40px;
    float: left;
	margin-right:9px
}

.inplarge_custom_amministration_end{
	width: 19%;
    height: 40px;
    float: left;
}

.inplarge_custom_amministration_v2{
	width: 24%;
    height: 40px;
    float: left;
	margin-right:9px
}

.inplarge_custom_amministration_end_v2{
	width: 19%;
    height: 40px;
    float: left;
}

.pos_relative_business{
    position:relative;
}

.inplarge_custom2 {
     width: 28%;
    height: 40px;
    float: left;
    position: relative;
    /* margin-left: -34px; */
    /* position: absolute; */
    /* right: -66px; */
    margin-left: -172px;
    left: 114px;
}
.zipCodeCustom{
    width: 69%;
    margin-left:-56px;
}

.end_form_business{
    background-color: #e0ede2;
    text-align: center;
    height: 565px;
    width: 768px;
    position: absolute;
    top: -86px;
    left: 0px;
    padding-top: 25%;
}

.waitingClass{
    width: 768px;
    height: 568px;
    background-color: #aaa;
    position: absolute;
    margin-top: -480px;
    opacity: 0.7;
    /*visibility: hidden;*/
    text-align: center;
    padding-top: 12%;
}

.bottom_distance_select {
    padding-top: 10px;
}

.section_box {
    display: none;
}

.input_menu_business {
    display: none;
}

.stiletesto{
    text-align:right;
    float:right
}

.stiletesto2{
    text-align:right;
    float:right;
    margin-top:10px;
}

.Errore{
    color: red;
    font-size: 12px;
}

.Errore_custom{
    color: red;
    font-size: 12px;
    position: absolute;
    top: -27px;
}

.cap{
    margin-left: 49px;
}

.errore_mail {
    color: red;
    font-size: 12px;
    position: absolute;
    top: -14px;
    left: 198px;
}

.menu_business {
    display: inline-block;
    margin: 1px;
    padding: 2% 3%;
    color: #949494;
    /*cursor: pointer;  */
    font-size:large;
    text-transform: uppercase;
    pointer-events: none;   /* Se abilitato non rende cliccabili i 4 tab menu */
}

.btn_prosegui {
    background-color: #c30e1a; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 14px;
    float: right;
	min-width: 150px;
    position: absolute;
    right: 55px;
    bottom: -37px;
    margin-bottom: 63px;
}

.btn_prosegui0 {
    background-color: #c30e1a; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 14px;
    float: right;
	min-width: 150px;
    position: absolute;
    right: 55px;
    bottom: -37px;
    margin-bottom: 63px;
}

.btn_prosegui2 {
    background-color: #c30e1a; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 14px;
    float: right;
	min-width: 150px;
    position: absolute;
    right: 55px;
    bottom: -37px;
    margin-bottom: 63px;
}
.btn_indietro {
     background-color: #f5f8f4;
     border: none;
     color: #949494;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin-top: 14px;
     float: right;
     min-width: 150px;
     position: absolute;
     left: 55px;
     bottom: -37px;
     margin-bottom: 63px;
     cursor: pointer;
}

.ErroreAreaPrefix{
    color:red;
    font-size:12px;
    position:absolute;
    right: 329px;
    bottom: 281px;
}

.ErrorePhoneNumber{
    color:red;
    font-size:12px;
    position:absolute;
    right: 95px;
    bottom: 280px;
}

.ErroreAccPrefix{
    color: red;
    font-size: 12px;
    position: absolute;
    right: 161px;
    bottom: 0px;
}

.ErroreNumber{
    color: red;
    font-size: 12px;
    position: absolute;
    right: 12px;
    bottom: 0px;
}

.btn_prosegui:hover {
    background-color: #721515;
}
.btn_prosegui0:hover {
    background-color: #721515;
}
.btn_prosegui2:hover {
    background-color: #721515;
}
.bottom_label_btn {
    margin: 200px;
}

.form__inputCover {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
    height: 40px;
    line-height: 40px;
}


input:checked + label {
    color: #2f6506;
    border-bottom: 3px solid #3b7e06;
    background-color: #e0ede2;
}

.business_five_element {
    list-style: disc;
    margin-left: 20px;
}

.position_input_captcha{
    margin-left: 250px;
    margin-top: -73px;
}

.input_business {
    display: inline-block;
    padding: 5px;
    width: 97%;
    height: 35px;
    margin-bottom: 5px;
}

.input_business_select {
    display: inline-block;
    width: 97%;
    height: 40px;
    font-size: 14px;
    margin-bottom:-2px;
}

.input_option {
    display: inline-block;
    width: 97%;
    height: 40px;
    font-size: 14px;
    border: 1px solid #aaaaaa;
    margin-bottom: 5px;
}

.img_fine {
    z-index: 99;
}

.line_custom{
    line-height: 20px;
}

.icon_form_business {
	background-image: url('/etc/designs/alitalia/clientlibs-specialpages-subscribesme/images/iconcheck.png');
    visibility: hidden;
    position: absolute;
    width: 16px;
    height: 14px;
    margin-left: 5px;
}

.nationalp{
    float: left;
    margin-right:5px;
    width: 22%;
    height:40px;
}

.areap{
    float: left;
    margin-left:8px;
    width: 22%;
}

.bottom_distance_final {
    margin-left: 253px;
    float: right;
}

.bottom_distance_select {
    padding-top: 10px;
    width: 20%;
}

.adjustment{
	font-size:14px;
	margin-left:30px;
	background: none !important;
    border-bottom: none !important;
    color: black !important;
}

.phonen{
    width: 22%;
    margin-left: 12px;
}

.accountName{
    width:60%;
}

.lbllarge_custom_1{
    margin-top: 40px;
}

.AccMail{
    width:70%;
}

.positionCheck{
    margin-top: 20px;
    line-height: 23px;
}

.captcha__title_bc{
    display: block;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.captcha_style{
    border: solid;
    border-width: 1px;
}

.stiletesto3 {
    text-align: right;
    float: right;
    margin-top: 10px;
}
/*============================*/
select {
   -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #b2b2b2;
    padding-left: 10px;
    border-radius: 0;
    font-size:0.8em;
    background-color:white;
background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to left, transparent, transparent);
  background-position:
    calc(100% - 15px) calc(100% - 50%),
    calc(100% - 10px) calc(100% - 50%),
    calc(100% - 0em) 0em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}


@media screen and (max-width: 1200px) {
    .main_b {
        background-color: #e0ede2;
        min-width: 670px;
        max-width: 670px;
    }
}



@media screen and (max-width: 1250px) {
    .menu_business {
        display: inline-block;
        margin: 1px;
        padding: 2% 3%;
        color: #949494;
        /* cursor: pointer; */
        font-size: 16px;
        text-transform: uppercase;
    }
}


@media screen and (max-width: 1200px) {
    .table_form {
        width: 96%;
        margin: 0 auto;
    }
}



@media only screen and (max-width: 1100px) {
    .sn_business{
        float:none;
        width:100%;
    }

    .dx_business{
        width:100%;
        float:none;
    }

}

@media only screen and (max-width: 700px) {
    .end_form_business{
        background-color: #e0ede2;
        text-align: center;
        height: 559px;
        width: 663px;
        position: absolute;
        top: -208px;
        left: 0px;
        padding-top: 25%;
    }
}

@media only screen and (max-width: 700px) {
 .menu_business {
        display: inline-block;
        margin: 1px;
        padding: 2% 3%;
        color: #949494;
        cursor: pointer;
        font-size: large;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 700px) {
    .menu_business {
        display: inline-block;
        margin: 1px;
        padding: 2% 3%;
        color: #949494;
        /* cursor: pointer; */
        font-size: medium;
        text-transform: uppercase;
        text-align: left;
    }
}

 @media only screen and (max-width: 700px){
    .stiletesto3 {
        text-align: center;
        width: 100%;
        margin-top: 12px;
    }
}

@media only screen and (max-width: 700px) {
    .main_b {
        background-color: #e0ede2;
        min-width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 700px) {
      .lbllarge {
        width: 100%;
        /* float: left; */
    }
}

@media only screen and (max-width: 700px) {
    .inplarge {
        width: 100%;
        height: 40px;
    }
}

 @media only screen and (max-width: 700px) {
    .ErrorePhoneNumber{
        color:red;
        font-size:12px;
        position:absolute;
        bottom: 144px;
        left: 8px;
    }
}

@media only screen and (max-width: 700px) {
    .line_custom{
    line-height: 20px;
    padding-bottom: 12px;
    }
}


@media only screen and (max-width: 700px) {
    .ErroreAreaPrefix{
       color:red;
       font-size:12px;
       position:absolute;
       left: 10px;
       bottom: 202px;
    }
}

@media only screen and (max-width: 700px) {
    .ErroreAccPrefix{
        color: red;
        font-size: 12px;
        position: absolute;
        left: 1px;
        bottom: -56px;
    }
}


@media only screen and (max-width: 700px) {
    .ErroreNumber{
        color: red;
        font-size: 12px;
        position: absolute;
        left: 1px;
        top: 102px;
    }
}




@media only screen and (max-width: 700px) {
    .accountName{
    width:100%;
    }
}

@media only screen and (max-width: 700px) {
    .inplarge_custom_amministration {
        width: 32%;
        height: 40px;
        float: left;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 700px) {
    .inplarge_custom_amministration_end {
        width: 32%;
        height: 40px;
    }
}

@media only screen and (max-width: 700px) {
    .lbllarge_custom_1{
    margin-top: 0px;
    }
}

@media only screen and (max-width: 700px) {
    .AccMail{
        width:100%;
    }
}

@media only screen and (max-width: 700px) {
    .inplarge_custom_amministration_v2 {
           width: 100%;
        /* height: 40px; */
        /* float: left; */
        margin-bottom: 18px;
    }
}

@media only screen and (max-width: 700px) {
    .inplarge_custom_amministration_end_v2 {
        width: 100%;
        /* height: 40px; */
        /* float: left; */
    }
}

@media only screen and (max-width: 700px) {
    .box {
        background-color: #f5f8f4;
        padding-top: 20px;
        min-height: 640px;
        position: relative;
        margin-bottom:80px;
    }
}


@media only screen and (max-width: 700px) {
    .box_first{
        background-color: #ffffff;
        padding-top: 20px;
        min-height: 540px;
        position: relative;
    }
}

@media only screen and (max-width: 700px) {
    .captcha__title_bc {
        display: block;
        margin-bottom: 14px;
        text-transform: uppercase;
        margin-top: 65px;
        text-align: center;
    }
}

@media only screen and (max-width: 700px) {
    .errore_mail{
        color: red;
        font-size: 12px;
        position: absolute;
        top: 28px;
        left: 0px;
    }
}

@media only screen and (max-width: 700px) {
    .captcha_style{
        border: solid;
        border-width: 1px;
        width: 70%;
        margin-left: 16%;
    }
}

@media only screen and (max-width: 700px) {
    .position_input_captcha {
        margin-left: 0px;
        margin-top: 0px;
    }
}

@media only screen and (max-width: 700px) {
    .box {
        background-color: #ffffff;
        padding-top: 20px;
        min-height: 700px;
        position: relative;
    }
}

@media only screen and (max-width: 700px) {
    .cap{
        margin-left: 0px;
    }
}

@media only screen and (max-width: 700px) {
     .phonen{
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .nationalp{
        width: 100%;
        margin-bottom: 18px;
    }
}


@media only screen and (max-width: 700px) {
    .areap{
        width: 100%;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 700px) {
    .stiletesto2 {
        text-align: center;
        width: 100%;
        margin-top: 35px;
    }
}


@media only screen and (max-width: 700px) {
    .btn_prosegui {
        background-color: #c30e1a;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
           display: inline-block;
        font-size: 16px;
        margin-top: 14px;
        right: 0px;
        width: 100%;
        bottom: -95px;
    }
}

@media only screen and (max-width: 700px) {
    .btn_prosegui2 {
        background-color: #c30e1a;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 14px;
        position: absolute;
        right: 0px;
        width: 100%;
        bottom: -90px;
    }
}

@media only screen and (max-width: 700px){
    .btn_indietro {
        background-color: transparent;
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 14px;
        float: left;
        position: absolute;
        bottom: -170px;
        cursor: pointer;
        width: 100%;
        left: 0px;
    }
}


@media only screen and (max-width: 700px){
    .btn_prosegui0 {
        background-color: #c30e1a;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 14px;
        /* float: right; */
        /* min-width: 230px; */
        position: absolute;
        right: 0px;
        left: 0px;
        width: 100%;
        bottom: -68px;
        /* margin-bottom: 63px; */
    }
}
@media only screen and (max-width: 700px) {
    body{
        margin: 0 auto;!important;
    }
}

@media only screen and (max-width: 700px) {
    .lbllarge_custom {
        width: 100%;
        float: none;
    }
}

@media only screen and (max-width: 700px) {
    .inplarge_custom {
        width: 100%;
        /* height: 40px; */
        /* float: left; */
        position: relative;
    }
}

@media only screen and (max-width: 700px) {
    .inplarge_custom2 {
        width: 100%;
        height: 40px;
        float: left;
        position: relative;
        margin-left: -57px;
        /* position: absolute; */
        right: -91px;
    }
}


@media only screen and (max-width: 700px) {
    .zipCodeCustom{
        width: 100%;
       /* margin-left: -56px; */
    }
}


@media only screen and (max-width: 351px){
    .nationalp {
        float: left;
        margin-right: 5px;
        width: 46%;
        height: 40px;
    }
}

@media screen and (max-width: 700px) {
    .stiletesto{
        text-align: center;
        float: none;
        padding-top: 25px;
    }
}


@media screen and (max-width: 700px) {
    .title_form_business {
        text-transform: uppercase;
        font-size: 18px;
        color: white;
        text-align: center;
        margin-top: 0px;
        background-color: #2f6506;
        padding: 5px;
    }
}

@media screen and (max-width: 700px) {
    input:checked + label {
        color: #2f6506;
        border-bottom: 3px solid #e0ede2;
        background-color: #e0ede2;
        font-weight: 900;
    }
}

@media screen and (max-width: 700px){
    .stiletesto{
        text-align: left;
        float: none;
        padding-top: 25px;
    }
}

@media only screen and (max-width: 700px){
    .stiletesto2 {
        text-align: left;
        width: 100%;
        margin-top: 29px;
    }
}

@media only screen and (max-width: 700px){
    .stiletesto3 {
        text-align: left;
        width: 100%;
        margin-top: 24px;
    }
}

@media only screen and (max-width: 700px){
    .captcha__title_bc {
        display: block;
        margin-bottom: 14px;
        text-transform: uppercase;
        margin-top: 89px;
        text-align: center;
    }
}

@media only screen and (max-width: 700px) {
    .checkbox [type="checkbox"] + label, .checkbox [type="checkbox"] + .placeCheck {
        white-space: normal;
    }
}
