.reveal--signin-myalitalia .reveal__content .custom-row {
  padding: 0;
}
.reveal--signin-myalitalia .reveal__content .custom-row .vantaggi_row .millemiglia_vantaggio {
  font: 700 16px/1.3em 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  *display: inline;
  zoom: 1;
  color: #006643;
  padding: 15px 0;
}
.reveal--signin-myalitalia .reveal__content .custom-row.switch-signin .row {
  padding: 0;
}
.reveal--signin-myalitalia .reveal__content .custom-row.switch-signin .switch-signin__col {
  position: relative;
  padding: 0 20px;
  padding-bottom: 50px;
}
.reveal--signin-myalitalia .reveal__content .custom-row.switch-signin .switch-signin__col:first-child {
  border-bottom: 1px solid #c1c1c1;
}
.reveal--signin-myalitalia .reveal__content .custom-row.switch-signin label {
  text-align: left;
  font-size: 12px;
  text-transform: uppercase;
}
.reveal--signin-myalitalia .reveal__content .custom-row.switch-signin .button-wrap {
  position: relative;
  margin-top: 10px;
}
.reveal--signin-myalitalia .reveal__content .custom-row.switch-signin .button-wrap .button {
  width: 100%;
}
.reveal--signin-myalitalia .reveal__content .custom-row.switch-signin .centered-content {
  font-size: 18px;
  line-height: 1.3em;
  color: #333333;
}
.reveal--offerte.reveal .reveal__header {
  padding: 40px 0 0px;
}
.reveal--offerte.reveal .reveal__content label {
  text-align: left;
  font-size: 15px;
}
.reveal--offerte.reveal .reveal__content .button {
  width: 100%;
}
.reveal--offerte.reveal .reveal__content p {
  margin: 0 0 15px;
}
.reveal--offerte.reveal .reveal__content .button-wrap {
  margin: 0 auto;
}
.reveal--offerte.reveal .reveal__content .row_content {
  text-align: left;
  border-top: 1px solid #e8e8e8;
  margin: 0px 35px;
  padding: 25px 0;
}
.reveal--offerte.reveal .reveal__content .row_content .radio-wrap .placeholder {
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
}
.reveal--offerte.reveal .reveal__content .row_content .radio-wrap.checked .placeholder::after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
}
.reveal--offerte.reveal .reveal__content .row_content .field-wrap {
  position: relative;
}
.reveal--offerte.reveal .reveal__content .row_content .field-wrap.checked .field-checkbox .checkbox-wrap .placeholder {
  background-position: 0 -19px;
}
.reveal--offerte.reveal .reveal__content .row_content .field-wrap label,
.reveal--offerte.reveal .reveal__content .row_content .field-wrap .label {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-bottom: 0;
}
.reveal--offerte.reveal .reveal__content .row_content .field-wrap label.empty,
.reveal--offerte.reveal .reveal__content .row_content .field-wrap .label.empty {
  min-height: 1px;
}
.reveal--offerte.reveal .reveal__content .row_content .field-wrap .field-checkbox {
  margin: 5px 0;
}
.reveal--offerte.reveal .reveal__content .row_content .field-wrap .field-checkbox .checkbox-wrap {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-right: 5px;
}
.reveal--offerte.reveal .reveal__content .row_content .field-wrap .field-checkbox .checkbox-wrap:hover {
  cursor: pointer;
}
.reveal--offerte.reveal .reveal__content .row_content .field-wrap .field-checkbox .checkbox-wrap input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.reveal--offerte.reveal .reveal__content .row_content .field-wrap .field-checkbox .checkbox-wrap .placeholder {
  border: none;
  display: block;
  height: 20px;
  width: 20px;
  background: url("../../../../../../etc/designs/alitalia/clientlibs-checkin/images/checkbox.svg") no-repeat;
  background-size: 20px;
  vertical-align: middle;
}
.reveal--offerte.reveal .reveal__content .row_content.no_border {
  border-top: 0;
  padding-top: 10px;
}
.reveal--offerte.reveal .reveal__content .row_content:first-child {
  border-top: 0;
}
.reveal--tutorial.reveal .reveal__content {
  text-align: left;
}
.reveal--tutorial.reveal .reveal__content .tutorial_col {
  background-position: center;
  background-repeat: no-repeat;
}
.reveal--tutorial.reveal .reveal__content .tutorial_col.tutorial_image {
  height: 335px;
  width: 100%;
  margin-bottom: 30px;
}
.reveal--tutorial.reveal .reveal__content .tutorial_col p {
  line-height: 24px;
}
.reveal--tutorial.reveal .reveal__content .tutorial_col .img_center {
  text-align: center;
  width: 100%;
}
.reveal--tutorial.reveal .reveal__content .tutorial_col .img_center img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .reveal--signin-myalitalia .reveal__content .custom-row {
    padding: 0 200px;
  }
  .reveal--signin-myalitalia .reveal__content .custom-row .vantaggi_row .millemiglia_vantaggio {
    padding: 10px 0;
  }
  .reveal--signin-myalitalia .reveal__content .custom-row.switch-signin {
    padding: 20px 0 0 0;
  }
  .reveal--signin-myalitalia .reveal__content .custom-row.switch-signin .switch-signin__col {
    position: relative;
    padding: 0 200px;
    padding-bottom: 50px;
  }
  .reveal--signin-myalitalia .reveal__content .custom-row.switch-signin .switch-signin__col:first-child {
    border-bottom: 1px solid #c1c1c1;
  }
  .reveal--tutorial.reveal .reveal__content .tutorial_col {
    background-position: center;
    background-repeat: no-repeat;
  }
  .reveal--tutorial.reveal .reveal__content .tutorial_col.tutorial_image {
    height: 460px;
  }
}
@media (min-width: 1024px) {
  .reveal--signin-myalitalia .reveal__header {
    padding-bottom: 20px;
  }
  .reveal--signin-myalitalia .reveal__content {
    padding-top: 0;
  }
  .reveal--signin-myalitalia .reveal__content .custom-row {
    margin: 0 110px;
    padding: 0 20px;
  }
  .reveal--signin-myalitalia .reveal__content .custom-row .vantaggi_row {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .reveal--signin-myalitalia .reveal__content .custom-row .vantaggi_row .millemiglia_vantaggio {
    padding: 10px 20px 40px 20px;
  }
  .reveal--signin-myalitalia .reveal__content .custom-row.switch-signin {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #c1c1c1;
    padding: 0px;
    margin: 10px 110px 30px 110px;
  }
  .reveal--signin-myalitalia .reveal__content .custom-row.switch-signin .switch-signin__col {
    position: relative;
    padding: 20px 20px 90px;
  }
  .reveal--signin-myalitalia .reveal__content .custom-row.switch-signin .switch-signin__col:first-child {
    border-right: 1px solid #c1c1c1;
    border-bottom: 0;
  }
  .reveal--signin-myalitalia .reveal__content .custom-row.switch-signin .button-wrap {
    width: 70%;
    left: 15%;
    margin-top: 30px;
    margin-bottom: 5px;
    position: absolute;
    bottom: 20px;
  }
  .reveal--signin-myalitalia .reveal__content .custom-row.switch-signin .centered-content {
    position: absolute;
    top: 30%;
    padding: 0 20px;
  }
  .reveal--offerte.reveal .reveal__content {
      padding-top: 0;
    }
    .reveal--offerte.reveal .reveal__content .button {
      width: 100%;
    }
    .reveal--offerte.reveal .reveal__content .row_content .radio-wrap {
      display: inline-block;
      *display: inline;
      zoom: 1;
      width: auto;
      margin: 0 20px 0 0;
    }
    .reveal--offerte.reveal .reveal__content .row_content .field-wrap {
      display: inline-block;
      *display: inline;
      zoom: 1;
      width: auto;
      margin: 0 20px 0 0;
    }
    .reveal--offerte.reveal .reveal__content .row_content .select-wrap {
      display: inline-block;
      *display: inline;
      zoom: 1;
      width: 33%;
    }

      .reveal--myalitalia-login-section.reveal .reveal__content {
          padding-top: 0;
        }
        .reveal--myalitalia-login-section .reveal__content .button {
          width: 100%;
        }
        .reveal--myalitalia-login-section.reveal .reveal__content .row_content .radio-wrap {
          display: inline-block;
          *display: inline;
          zoom: 1;
          width: auto;
          margin: 0 20px 0 0;
        }
        .reveal--myalitalia-login-section.reveal .reveal__content .row_content .field-wrap {
          display: inline-block;
          *display: inline;
          zoom: 1;
          width: auto;
          margin: 0 20px 0 0;
        }
        .reveal--myalitalia-login-section.reveal .reveal__content .row_content .select-wrap {
          display: inline-block;
          *display: inline;
          zoom: 1;
          width: 33%;
        }

    .reveal--tutorial.reveal .reveal__content {
      padding: 40px 0px;
      /** > 1024 **/
    }
    .reveal--tutorial.reveal .reveal__content .tutorial_col {
      height: 460px;
      overflow: auto;
    }
    .reveal--tutorial.reveal .reveal__content .tutorial_col.tutorial_image {
      height: 460px;
      width: 354px;
      margin-bottom: 0;
    }
    .reveal--tutorial.reveal .reveal__content .tutorial_col img {
      margin: 0;
    }
}



.custom-registration-pending {
    color: #006643;
    font: 20px 'Source Sans Pro', Arial, sans-serif;
    padding: 0px;
}

.custom-registration-pending__title {
    color: #006643;
    font-weight: 700;
    font: 24px 'Source Sans Pro', Arial, sans-serif;
    padding: 0px;
    margin-bottom: 10px;
}
