section.menu.mainMenu.posFixed{
    z-index:10;
}
.reveal-overlay.mm-recupera-credenziali {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1005;
    display: none;
    /*background-color: rgba(51,51,51,0.45);*/
    overflow-y: scroll;
}

.mm-recupera-credenziali .reveal{
    top: 0 !important;
    /*height: 300px;*/
    overflow: visible;
    text-align: center;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    background: transparent;
    pointer-events: none;
    outline: none;
    font-family: 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
    right: auto;
    left: auto;
    margin: 0 auto;
    /*max-height: 90%;*/

}
.mm-recupera-credenziali .reveal--action.reveal--medium {
    width: 600px;
    padding: 80px 0 0;
    padding-top: 80px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

}
.mm-recupera-credenziali .reveal .close-button {
/*    position: absolute;   */
/*    top: 30px;            */
/*    right: 10%;           */


/*    position: absolute; */
/*    top: 30px; */
/*    right: 0; */
    pointer-events: auto;
    display:block;
}
.mm-recupera-credenziali .icon.icon--close {
    //background-image: url(/etc/designs/alitalia/clientlibs/images/ico-close-white.svg);
    zoom: 1;
    width: 20px !important;
    height: 20px !important;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
    display:block;
    background-color: #4c4c4c;
}
.mm-recupera-credenziali .reveal .reveal__inner{
    height: 100%;
    overflow: hidden;
    background-color: white;
    pointer-events: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.mm-recupera-credenziali .reveal__header{
    padding: 40px 0 30px;
}
.mm-recupera-credenziali .reveal h4{
    color: #006643;
    margin: 0;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0.05rem;
    font: 25px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
    font-size:26px;
}
.mm-recupera-credenziali .reveal__content{
    padding: 0 60px 30px 60px;
    height: calc(100% - 75px);
}
.mm-recupera-credenziali .reveal__content .codiceSicurezza{
    float: left;
    /* padding-left: 0%; */
    /* margin: 0 auto; */
    width: 66%;
    /* text-align: center; */
}
.mm-recupera-credenziali .reveal__content .codiceSicurezza label{
    display: block;
    float: left;
    text-align:left;
}
.mm-recupera-credenziali .reveal__content .codiceSicurezza input{
    clear: left;
    display: block;
    width: 100%;
}
.mm-recupera-credenziali .reveal__content a.button.insertCodeSMS_OTP{
zoom: 1;
    width: 33%;
    padding-left: 40px;
    padding-right: 40px;
    /*margin-top: 15px;*/
    text-transform: uppercase;
    font: 18px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
    background-color: #006643;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    /*margin-top: 15px;*/
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    height: 45px;
    white-space: nowrap;
    min-width: 150px;
    text-align: center;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    float: right;
    padding-top: 14px;
}

.mm-recupera-credenziali .reveal__content a.button.choiceOTP_Mode{
zoom: 1;
    width: 45%;
    padding-left: 40px;
    padding-right: 40px;
    /*margin-top: 15px;*/
    text-transform: uppercase;
    font: 18px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
    background-color: #006643;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    /*margin-top: 15px;*/
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    height: 45px;
    white-space: nowrap;
    text-transform: uppercase;
    min-width: 150px;
    text-align: center;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    /*float: right;*/
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, +10px);
    padding-top: 14px;
}

.reveal-overlay.mm-recupera-credenziali  .icon-alert-close:before, .icon.icon--close:before {
    margin-right: 0px;
    content: "\e906";
    color: #fff;
    float: right;
    font-weight: 900;
    font-size: 20px;
}
.mm-recupera-credenziali .reveal__content a.button.choiceOTP_Mode {
    padding-left: 0px;
    padding-right: 0px;
}

.mm-recupera-credenziali #modal_otp_sms .reveal__content a.button.insertCodeSMS_OTP{
	padding-left: 0;
    padding-right: 0;
	height: 40px;
}

.mm-recupera-credenziali #modal_otp_sms.reveal .custom-row {
    text-align: left;
}
label#DomandaSegretaText {
    width: 66%;
}
.millemiglia__formRow .millemiglia__formFeedback.j-formFeedback.isActive {
    max-height: 100%;
}
@media only screen and (max-width: 1023px) {
	.mm-recupera-credenziali .reveal__header {
		display: block;
	}
	.mm-recupera-credenziali .reveal .close-button {
/* 		position: absolute; */
/* 		top: 30px; */
/* 		right: 10%; */
/* 		position: absolute; */
/* 		top: 30px; */
/* 		right: 20px; */
/* 		pointer-events: auto; */
/* 		display: block; */
	}
	.mm-recupera-credenziali .reveal .reveal__inner {
		width: auto;
/* 		margin-right: 10px; */
/* 		margin-left: 10px; */
	}
	.mm-recupera-credenziali .reveal__content {
		padding:0px;
	}
	.mm-recupera-credenziali #modal_otp_sms .reveal__content a.button.insertCodeSMS_OTP {
		padding-left: 0;
		padding-right: 0;
		height: 40px;
		float: left;
		margin-top: 20px;
	}
}
@media (min-width: 1024px) {
    .mm-recupera-credenziali .reveal.reveal--large {
        width: 100%;
        max-width: 620px;
    }
}
@media only screen and (max-width: 1023px) {

	.mm-recupera-credenziali .reveal {
	    min-height: 300px;
	}
	.mm-recupera-credenziali .reveal__content .codiceSicurezza{
		margin-right: 20px;
		width: 60%;
	}
	
	.mm-recupera-credenziali #modal_otp_sms .reveal__content a.button.insertCodeSMS_OTP{
		margin-top: 0px;
	}
	.mm-recupera-credenziali #modal_otp_sms.reveal--action.reveal--medium {
		height: 100%;
	}
	.mm-recupera-credenziali .reveal .reveal__inner {
		-webkit-border-radius: unset;
		-moz-border-radius: unset;
		border-radius: unset;
	}
	.mm-recupera-credenziali .reveal--action.reveal--medium {
		padding-top:0px;
	}
	
	.mm-recupera-credenziali .reveal .close-button {
		display:none;
	}
	.reveal .reveal__header-mobile .close-button {
		display:block;
	}
	
}
@media only screen and (max-width: 768px) {	
	
	.mm-recupera-credenziali .reveal {
	    min-height: 300px;
		height: 100%;
	}
	
	.mm-recupera-credenziali .reveal#modal_otp_sms {
	    min-height: 300px;
	}
	.mm-recupera-credenziali .reveal__content .codiceSicurezza {
		width: 100%;
	}
	
	.mm-recupera-credenziali #modal_otp_sms .reveal__content a.button.insertCodeSMS_OTP {
		float: left;
		margin-top: 20px;
	}
	#form-millemiglia-recupera-credenziali .form__buttonCover {
    	text-align:left;
    	padding:0px;
    }
}
