.notification-cta a {
    position: relative;
    z-index: 10!important;
}
.checkin-seleziona-posto .tabs {
  background: transparent;
  border: none;
}
.checkin-seleziona-posto .tabs .tabs-title a {
  background: #f3f3f3;
  font: 700 16px 'Source Sans Pro', Arial, sans-serif;
  color: #006643;
  padding: 20px 30px;
  -webkit-box-shadow: inset 0 -2px 2px -2px rgba(187, 187, 187, 0.5);
  -moz-box-shadow: inset 0 -2px 2px -2px rgba(187, 187, 187, 0.5);
  box-shadow: inset 0 -2px 2px -2px rgba(187, 187, 187, 0.5);
}
.checkin-seleziona-posto .tabs .tabs-title:first-child a {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.checkin-seleziona-posto .tabs .tabs-title:last-child a {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.checkin-seleziona-posto .tabs .tabs-title.is-active a {
  background: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.checkin-seleziona-posto .tabs-content {
  position: relative;
  border: none;
  /*padding: 25px 0;*/
}
.checkin-seleziona-posto .tabs-content .info {
  position: absolute;
  bottom: 0;
  left: 0;
  left: 1rem;
}
.checkin-seleziona-posto .seats-list li {
  border-bottom: 1px solid #c1c1c1;
}
.checkin-seleziona-posto .seats-list li:last-child {
  border-bottom: none;
}
.checkin-seleziona-posto .seats-list a {
  display: block;
  overflow: auto;
  padding: 15px;
  color: #333333;
}
.checkin-seleziona-posto .seats-list a span {
  display: block;
}
.checkin-seleziona-posto .seats-list .id {
  float: left;
  min-width: 18px;
  height: 18px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #006643;
  font: 600 16px/18px 'Source Sans Pro', Arial, sans-serif;
  color: white;
  text-align: center;
  margin-top: 4px;
}
.checkin-seleziona-posto .seats-list .user {
  margin-left: 30px;
}
.checkin-seleziona-posto .seats-list .user .name {
  font: 600 20px 'Source Sans Pro', Arial, sans-serif;
}
.checkin-seleziona-posto .seats-list .user .seat {
  padding-left: 28px;
  height: 18px;
  line-height: 18px;
  font-weight: 700;
  margin-top: 10px;
  background: url('/etc/designs/alitalia/clientlibs-checkin-seatmap-1-embed/images/ico-posto.svg') left center no-repeat;
  background-size: 19px 18px;
}
.checkin-seleziona-posto .seats-list .user .seat:before {
  display: inline-block;
  *display: inline;
  zoom: 1;
  float: right;
  content: '';
  margin-top: 4px;
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-select-green.svg') center center no-repeat;
  width: 18px;
  height: 9px;
  background-size: 16px 9px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}
.checkin-seleziona-posto .seat-configurator .reveal__header-mobile {
  display: none;
  padding: 40px 40px 35px;
  width: 100%;
  box-shadow: 0px 0px 20px #cccccc;
}
.checkin-seleziona-posto .seat-configurator .reveal__header-mobile span {
  font-size: 20px;
  color: #333333;
  float: left;
}
.checkin-seleziona-posto .seat-configurator .reveal__header-mobile .close-button {
  float: right;
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  right: 0;
}
.checkin-seleziona-posto .seat-configurator .reveal__header-mobile .close-button:hover {
  cursor: pointer;
}
.checkin-seleziona-posto .seat-configurator .reveal__header-mobile .close-button .icon--close--black {
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-close-black.svg') no-repeat left center;
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
}
.checkin-seleziona-posto .seat-configurator.reveal-mode {
  display: block !important;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1005;
  overflow-y: scroll;
  background: white;
}
.checkin-seleziona-posto .seat-configurator.reveal-mode .reveal__header-mobile {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.checkin-seleziona-posto .seat-configurator.reveal-mode .row {
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;
}
.checkin-seleziona-posto .seat-configurator.reveal-mode .title {
  margin-bottom: 30px;
}
.checkin-seleziona-posto .seat-configurator.reveal-mode .legenda {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
.checkin-seleziona-posto .seat-configurator.reveal-mode .legenda {
  margin-bottom: 0px;
}
}
.checkin-seleziona-posto .seat-configurator .checkin-button-wrap .button {
  width: 100%;
}
.checkin-seleziona-posto .info {
  width: 100%;
  max-width: 200px;
  font: 12px 'Source Sans Pro', Arial, sans-serif;
  margin-top: 15px;
}
.checkin-seleziona-posto .info .ico {
  display: block;
  margin-bottom: 5px;
}
.checkin-seleziona-posto .accordion {
  background: transparent;
}
.checkin-seleziona-posto .accordion .accordion-item {
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.checkin-seleziona-posto .accordion .accordion-title {
  font: 700 16px 'Source Sans Pro', Arial, sans-serif;
  background: white;
  color: #006643;
  padding: 20px 30px;
  border: none;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.checkin-seleziona-posto .accordion .accordion-title:before {
  content: '';
  margin-top: -5px;
  width: 18px;
  height: 9px;
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-select-green.svg') center center no-repeat;
  background-size: 16px 9px;
}
.checkin-seleziona-posto .accordion .is-active .accordion-title {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #006643;
  color: white;
}
.checkin-seleziona-posto .accordion .is-active .accordion-title:before {
  background: url('/etc/designs/alitalia/clientlibs-1/images/arrow-dropdown-white.svg') center center no-repeat;
  background-size: 16px 9px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.checkin-seleziona-posto .accordion .accordion-content {
  padding: 0;
  border: none;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.checkin-seleziona-posto .section-selector .imageRows {
  text-align: center;
  position: relative;
}
.checkin-seleziona-posto .section-selector .imageRows .imageRows__text {
  position: absolute;
  width: 100%;
  top: 30px;
}
.checkin-seleziona-posto .section-selector .imageRows .imageRows__row {
  margin: 17px 25px;
  color: #676767;
  border: 1px solid #c1c1c1;
  background: white;
  padding: 7px 10px;
  font: 600 16px 'Source Sans Pro', Arial, sans-serif;
  cursor: pointer;
}
.checkin-seleziona-posto .section-selector .imageRows .imageRows__row.active {
  color: #006643;
  border-bottom: 2px solid #006643;
  padding-bottom: 6px;
}
.checkin-seleziona-posto .title {
  font: 600 22px 'Source Sans Pro', Arial, sans-serif;
}
.checkin-seleziona-posto .title p {
  margin: 0;
}
.checkin-seleziona-posto .title .sub {
  font: 16px 'Source Sans Pro', Arial, sans-serif;
}
.checkin-seleziona-posto .legenda {
  font-size: 12px;
}
.checkin-seleziona-posto .legenda .row {
  padding: 0;
}
.checkin-seleziona-posto .legenda li {
  margin: 15px 0 0;
}
.checkin-seleziona-posto .legenda .ico-color {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-right: 15px;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.checkin-seleziona-posto .legenda .ico-color-green-1 {
  background: #006643;
}
.checkin-seleziona-posto .legenda .ico-color-green-2 {
  background: #75b829;
}
.checkin-seleziona-posto .legenda .ico-color-grey {
  background: #c1c1c1;
}
.checkin-seleziona-posto .legenda .ico {
  margin-right: 15px;
  vertical-align: middle;
}
@media (min-width: 1024px) {
  .checkin-seleziona-posto .seats-list {
    padding-bottom: 100px;
  }
  .checkin-seleziona-posto .seats-list li {
    margin-bottom: 10px;
    border-bottom: none;
  }
  .checkin-seleziona-posto .seats-list .selected a {
    padding-left: 11px;
    border-left: 4px solid #006643;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .checkin-seleziona-posto .seats-list .selected a,
  .checkin-seleziona-posto .seats-list a:hover {
    -webkit-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  }
  .checkin-seleziona-posto .seats-list .user .seat:before {
    display: none;
  }
  .checkin-seleziona-posto .title {
    min-height: 60px;
  }
}


@media (max-width: 1023px){
    .checkin-button-wrap--fixed .button-full-width-mobile {
        width:100%!important;
    }
}