#main-content {
  padding-top: 70px;
  background-color: #e6e6e6;
}
.cart-content-wrap {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.cart-content-wrap::-webkit-scrollbar {
  display: none;
}
.full-bg-section {
  position: relative;
}
.checkin-topbar-title {
  display: none;
  padding: 20px;
  background-color: #e6e6e6;
}
.checkin-topbar-title p {
  margin: 0;
}
.checkin-topbar-container {
  position: absolute;
  width: 100%;
  padding: 0;
  margin-top: 20px;
  z-index: 105;
}
.checkin-topbar-container .flight-info__multirow {
  margin: 0;
  border-top: 1px solid #c1c1c1;
}
.checkin-topbar-container .link__toggle {
  float: right;
}
.checkin-topbar-container .number-flight {
  font-size: 20px;
}
.checkin-topbar-container .sticky {
  z-index: 9;
}
.checkin-topbar-container .custom-row {
  overflow: hidden;
  background-color: #fff;
}
.checkin-topbar-container .custom-row .custom-col {
  position: relative;
  float: left;
  width: 50%;
}
.checkin-topbar-container .custom-row .custom-col--bottom {
  width: 100%;
}
.checkin-topbar-container .inner-fixed.is-stuck[data-cart-expanded="open"] {
  height: 100vh;
}
.checkin-topbar-container .inner-fixed.is-stuck[data-cart-expanded="open"] .checkin-topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.checkin-topbar-container .inner-fixed.is-stuck[data-cart-expanded="open"] .cart-content-wrap {
  padding-top: 80px;
  max-height: 100vh;
  pointer-events: auto;
  height: 100vh;
}
.checkin-topbar-container .inner-fixed.is-stuck[data-cart-expanded="open"] .cart-content-wrap::before {
  top: 70px;
}
.checkin-topbar-container .inner-fixed.is-stuck[data-cart-expanded="open"] .cart-content-wrap::after {
  top: 80px;
}
.checkin-topbar-container .inner-fixed.is-stuck {
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.checkin-topbar-container .inner-fixed[data-cart-expanded="open"] {
  position: fixed;
  top: 0;
  width: 100%;
}
.checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .cart-content-wrap {
  display: block;
  height: calc(100vh - 70px);
  overflow: hidden;
  pointer-events: auto;
}
.checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .cart-content-wrap::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  right: 0;
  top: 0;
  background-color: #fff;
}
.checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .cart-content-wrap::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  top: 10px;
}
.checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .cart-toggle button {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.checkin-topbar-container .inner-fixed[data-cart-expanded="close"] .cart-content-wrap {
  display: none;
}
.checkin-topbar-container .checkin-topbar {
  position: relative;
  background-color: #fff;
  pointer-events: none;
  z-index: 10;
}
.checkin-topbar-container .checkin-topbar .flight-info__sep {
  margin: 0;
  pointer-events: auto;
  padding: 15px 10px;
}
.checkin-topbar-container .checkin-topbar .flight-info__sep .flight-mob .flight-mob__info {
  margin-bottom: 0;
  font-size: 16px;
}
.checkin-topbar-container .checkin-topbar .flight-info__sep .flight-mob .flight-mob__detail {
  margin: 0;
}
.checkin-topbar-container .checkin-topbar .flight-info__sep .flight-mob .flight-mob__detail [class*="flight-mob"] {
  display: none;
}
.checkin-topbar-container .checkin-topbar .flight-info__sep .flight-mob .flight-mob__detail .flight-mob--topbar {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0;
}
.checkin-topbar-container .checkin-topbar .cart-review {
  overflow: hidden;
  position: relative;
  padding: 16px 10px;
  pointer-events: auto;
}
.checkin-topbar-container .checkin-topbar .cart-review::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background-color: #c1c1c1;
}
.checkin-topbar-container .checkin-topbar .cart-review span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.checkin-topbar-container .checkin-topbar .cart-review span.price {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}
.checkin-topbar-container .checkin-topbar .cart-review .cart-toggle {
  position: absolute;
  right: 0;
  top: 0;
}
.checkin-topbar-container .checkin-topbar .cart-review .cart-toggle button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0;
  width: 60px;
  height: 70px;
  background-color: #96ae3b;
  background-image: url('/etc/designs/alitalia/clientlibs/images/arrow-dropdown-white.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 9px;
}
.checkin-topbar-container .checkin-topbar .multirow__topbar {
  padding: 9px 0;
}
.checkin-topbar-container .cart-content-wrap {
  position: relative;
  pointer-events: none;
}
.checkin-topbar-container .cart-content-wrap .cart-content-inner {
  position: relative;
  overflow: auto;
  height: 100%;
}
.checkin-topbar-container .cart-content-wrap .custom-col {
  padding: 0 20px;
}
.checkin-topbar-container .cart-content-wrap .cart-content {
  pointer-events: auto;
}
.checkin-topbar-container .cart-content-wrap .cart-content hr {
  border: none;
  border-bottom: 1px solid #c1c1c1;
}
.checkin-topbar-container .cart-content-wrap .cart-content hr.strong {
  border-bottom-width: 3px;
}
.checkin-topbar-container .cart-content-wrap .cart-content hr.from-tablet {
  display: none;
}
.checkin-topbar-container .cart-content-wrap .cart-content p.big,
.checkin-topbar-container .cart-content-wrap .cart-content span.big,
.checkin-topbar-container .cart-content-wrap .cart-content .passenger-name {
  font-size: 21px;
  line-height: 1.2em;
}
.checkin-topbar-container .cart-content-wrap .cart-content p,
.checkin-topbar-container .cart-content-wrap .cart-content span {
  font-size: 18px;
  line-height: 1.33em;
  color: #333333;
}
.checkin-topbar-container .cart-content-wrap .cart-content p strong,
.checkin-topbar-container .cart-content-wrap .cart-content span strong,
.checkin-topbar-container .cart-content-wrap .cart-content p.seat-title,
.checkin-topbar-container .cart-content-wrap .cart-content span.seat-title,
.checkin-topbar-container .cart-content-wrap .cart-content p.baggage-title,
.checkin-topbar-container .cart-content-wrap .cart-content span.baggage-title,
.checkin-topbar-container .cart-content-wrap .cart-content p.ace,
.checkin-topbar-container .cart-content-wrap .cart-content span.ace {
  color: #676767;
  font-weight: 700;
}
.checkin-topbar-container .cart-content-wrap .cart-content .seat-number,
.checkin-topbar-container .cart-content-wrap .cart-content .baggage-number {
  font-weight: 700;
}
.checkin-topbar-container .cart-content-wrap .cart-content .passenger {
  margin-bottom: 30px;
}
.checkin-topbar-container .cart-content-wrap .cart-content .block .action__icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0;
}
.checkin-topbar-container .cart-content-wrap .cart-content .block .action__icon.action__icon--delete {
  margin-left: 10px;
  height: 20px;
  width: 15px;
}
.checkin-topbar-container .cart-content-wrap .cart-content .block.block-name {
  padding: 10px 0;
}
.checkin-topbar-container .cart-content-wrap .cart-content .block.block-insurance {
  text-align: right;
  margin-bottom: 20px;
}
.checkin-topbar-container .cart-content-wrap .cart-content .block.block-insurance span,
.checkin-topbar-container .cart-content-wrap .cart-content .block.block-insurance .action__icon--delete {
  vertical-align: middle;
}
.checkin-topbar-container .cart-content-wrap .cart-content .block.block-insurance .insurance-paragraph {
  text-align: left;
}
.checkin-topbar-container .cart-content-wrap .cart-content .block.block-insurance .ace {
  display: block;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.checkin-topbar-container .cart-content-wrap .cart-content .block.block-seat-title,
.checkin-topbar-container .cart-content-wrap .cart-content .block.block-baggage-title {
  float: left;
  width: 45%;
}
.checkin-topbar-container .cart-content-wrap .cart-content .block.block-seat,
.checkin-topbar-container .cart-content-wrap .cart-content .block.block-baggage {
  float: left;
  width: 55%;
  text-align: right;
  margin-bottom: 5px;
}
.checkin-topbar-container .cart-content-wrap .cart-content .block.block-seat .seat-number {
  margin-left: 10px;
}
.checkin-topbar-container .cart-content-wrap .cart-content .block.block-price {
  text-align: right;
}
.checkin-topbar-container .cart-content-wrap .cart-content .block.block-price span,
.checkin-topbar-container .cart-content-wrap .cart-content .block.block-price a {
  vertical-align: middle;
}
.checkin-topbar-container .cart-content-wrap .cart-content .flight-info {
  padding-bottom: 5px;
}
.checkin-topbar-container .cart-content-wrap .cart-content .flight-info .title-wrap {
  margin: 0 -20px;
  background-color: #d7ece0;
  padding: 20px;
  position: relative;
}
.checkin-topbar-container .cart-content-wrap .cart-content .flight-info .title-wrap::after {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 56px;
  content: '';
  background-image: url('/etc/designs/alitalia/clientlibs/images/icon_dropdown.svg');
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-size: 16px 10px;
}
.checkin-topbar-container .cart-content-wrap .cart-content .flight-info .title-wrap.open::after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.checkin-topbar-container .cart-content-wrap .cart-content .flight-info .title-wrap span {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  line-height: 1em;
}
.checkin-topbar-container .cart-content-wrap .cart-content .info-container {
  display: none;
}
.checkin-topbar-container .cart-content-wrap .cart-content .info-container.expanded {
  display: block;
}
.checkin-topbar-container .cart-overlay {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.checkin-topbar-container .cart-overlay[data-status="open"] {
  display: block;
}
.checkin-topbar-container .cart-overlay[data-status="close"] {
  display: none;
}
@media (min-width: 768px) {
  #main-content {
    padding-top: 148px;
  }
  .checkin-topbar-title {
    padding: 20px 45px;
  }
  .checkin-topbar-container .custom-row .custom-col--left {
    width: 60%;
  }
  .checkin-topbar-container .custom-row .custom-col--right {
    width: 40%;
  }
  .checkin-topbar-container .inner-fixed.is-stuck[data-cart-expanded="open"] .cart-content-wrap {
    padding-top: 59px;
  }
  .checkin-topbar-container .inner-fixed.is-stuck[data-cart-expanded="open"] .cart-content-wrap::before {
    top: 49px;
  }
  .checkin-topbar-container .inner-fixed.is-stuck[data-cart-expanded="open"] .cart-content-wrap::after {
    top: 59px;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .multirow__topbar,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .multirow__topbar {
    padding: 0;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .flight-info__sep,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .flight-info__sep {
    padding: 15px;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .flight-info__sep .flight-mob .flight-mob__detail,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .flight-info__sep .flight-mob .flight-mob__detail {
    display: none;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .cart-review,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .cart-review {
    padding: 15px;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .cart-review .tot,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .cart-review .tot {
    display: none;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .cart-review .price,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .cart-review .price {
    padding-left: 65px;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .cart-review .cart-toggle,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .cart-review .cart-toggle {
    right: 0;
    top: 0;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .cart-review .cart-toggle button,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .cart-review .cart-toggle button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 50px;
    height: 50px;
  }
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .cart-content-wrap {
    height: calc(100vh - 49px);
  }
  .checkin-topbar-container .checkin-topbar .flight-info__sep {
    padding: 18px;
  }
  .checkin-topbar-container .checkin-topbar .flight-info__sep .flight-mob .flight-mob__detail {
    margin: 0;
    width: 50%;
    float: left;
  }
  .checkin-topbar-container .checkin-topbar .flight-info__sep .flight-mob .flight-mob__detail [class*="flight-mob"] {
    display: block;
  }
  .checkin-topbar-container .checkin-topbar .flight-info__sep .flight-mob .flight-mob__detail .flight-mob--topbar {
    display: none;
  }
  .checkin-topbar-container .checkin-topbar .multirow__topbar {
    padding: 35px 30px;
  }
  .checkin-topbar-container .checkin-topbar .cart-review {
    position: relative;
    padding: 45px;
    background-image: url('/etc/designs/alitalia/clientlibs/images/icon-cart.svg');
    background-position: left 25px center;
    background-repeat: no-repeat;
    background-size: 31px 32px;
  }
  .checkin-topbar-container .checkin-topbar .cart-review .tot,
  .checkin-topbar-container .checkin-topbar .cart-review .price {
    padding-left: 35px;
  }
  .checkin-topbar-container .checkin-topbar .cart-review .cart-toggle {
    right: 45px;
    top: 40px;
  }
  .checkin-topbar-container .checkin-topbar .cart-review .cart-toggle button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 50px;
    height: 50px;
  }
  .checkin-topbar-container .cart-content-wrap::before {
    width: calc(40% - 1px);
  }
  .checkin-topbar-container .cart-content-wrap .cart-content hr.from-tablet {
    display: block;
  }
  .checkin-topbar-container .cart-content-wrap .cart-content .insurance-paragraph {
    float: left;
    width: 60%;
  }
  .checkin-topbar-container .cart-content-wrap .cart-content .passenger:last-child {
    margin-bottom: 0;
  }
  .checkin-topbar-container .cart-content-wrap .cart-content .block-container {
    overflow: hidden;
    padding: 0;
  }
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-seat-title,
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-seat,
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-price,
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-baggage-title,
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-baggage {
    float: left;
    position: relative;
    width: 33.33%;
    margin: 0;
  }
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-seat,
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-baggage {
    text-align: left;
  }
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-insurance {
    padding: 15px 0;
    margin-bottom: 0;
    text-align: left;
    overflow: hidden;
    position: relative;
  }
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-insurance p,
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-insurance span,
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-insurance a,
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-insurance .ace,
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-insurance .action__icon--delete {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    margin: 0;
    float: left;
    position: relative;
  }
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-insurance .ace {
    width: 15%;
  }
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-insurance .total-price {
    width: 25%;
    text-align: right;
    padding-right: 30px;
  }
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-insurance .action__icon--delete {
    float: none;
    position: absolute;
    right: 0;
    top: 17px;
  }
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-price .action__icon--delete {
    margin-top: 2px;
  }
  .checkin-topbar-container .cart-overlay {
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .checkin-topbar-container .cart-overlay[data-status="open"] {
    display: block;
  }
  .checkin-topbar-container .cart-overlay[data-status="close"] {
    display: none;
  }
}
@media (min-width: 1024px) {
  #main-content {
    padding-top: 112px;
  }
  .checkin-topbar-title {
    display: block;
    padding: 0;
  }
  .checkin-topbar-title .paragraph-wrap {
    padding: 0 35px;
    width: 100%;
    margin: 0 auto;
    max-width: 90rem;
  }
  .checkin-topbar-title p {
    padding: 20px 10px;
    margin-left: 8.33%;
    width: 91.66%;
  }
  .checkin-topbar-container {
    margin-top: 0;
  }
  .checkin-topbar-container .custom-row {
    padding: 20px 0;
    background-color: transparent;
  }
  .checkin-topbar-container .custom-row .custom-col {
    padding: 0 10px;
  }
  .checkin-topbar-container .custom-row .custom-col--left {
    margin-left: 8.33%;
    width: 58.33%;
  }
  .checkin-topbar-container .custom-row .custom-col--right {
    width: 25%;
  }
  .checkin-topbar-container .custom-row .custom-col--bottom {
    margin-left: 8.33%;
    width: 83.33%;
  }
  .checkin-topbar-container .custom-row {
    max-width: 90rem;
    margin: 0 auto;
    width: 100%;
    padding: 0 35px;
  }
  .checkin-topbar-container .airport__ar {
    float: right;
  }
  .checkin-topbar-container .inner-fixed {
    background-color: #e6e6e6;
  }
  .checkin-topbar-container .inner-fixed.is-stuck[data-cart-expanded="open"] {
    height: 100vh;
    background-color: transparent;
  }
  .checkin-topbar-container .inner-fixed.is-stuck[data-cart-expanded="open"] .checkin-topbar {
    background-color: transparent;
  }
  .checkin-topbar-container .inner-fixed.is-stuck[data-cart-expanded="open"] .cart-content-wrap {
    padding: 73px 0 0;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar {
    padding: 0 0 20px;
    transition: padding 0.50s ease;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .flight-info__sep,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .flight-info__sep {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .flight-info__sep .flight-info__date,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .flight-info__sep .flight-info__date {
    display: none;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .flight-info__sep .airport__nflight,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .flight-info__sep .airport__nflight {
    display: none;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .flight-info__sep .airport__ar,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .flight-info__sep .airport__ar {
    position: absolute;
    right: 30px;
    top: 21px;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .flight-info__sep .flight-info__airport p,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .flight-info__sep .flight-info__airport p {
    line-height: 28px;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .cart-review,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .cart-review {
    padding: 20px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .cart-review .price,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .cart-review .price {
    padding-left: 50px;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .cart-review .cart-toggle,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .cart-review .cart-toggle {
    height: 100%;
  }
  .checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .cart-review .cart-toggle button,
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .cart-review .cart-toggle button {
    width: 60px;
    height: 100%;
  }
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] {
    background-color: transparent;
  }
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .custom-row {
    overflow: visible;
  }
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .cart-review {
    overflow: visible;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .checkin-topbar .cart-review::after {
    display: block;
  }
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .cart-content-wrap {
    background: transparent;
    padding: 73px 0 0;
    height: 100vh;
    top: 0;
    position: absolute;
    width: 100%;
  }
  .checkin-topbar-container .inner-fixed[data-cart-expanded="open"] .cart-content {
    background-color: #fff;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    overflow: hidden;
    margin-bottom: 90px;
    padding: 20px;
  }
  .checkin-topbar-container .checkin-topbar {
    background-color: transparent;
  }
  .checkin-topbar-container .checkin-topbar .flight-info__sep {
    padding: 10px 0;
  }
  .checkin-topbar-container .checkin-topbar .flight-info__sep .flight-info__block {
    padding: 0 19px;
  }
  .checkin-topbar-container .checkin-topbar .flight-info__sep .flight-info__date {
    margin-bottom: 10px;
  }
  .checkin-topbar-container .checkin-topbar .flight-info__sep .airport__nflight {
    margin-top: 0;
  }
  .checkin-topbar-container .checkin-topbar .flight-info__sep .flight-info__date-arrival,
  .checkin-topbar-container .checkin-topbar .flight-info__sep .flight-info__date-departure {
    margin-right: 15px;
  }
  .checkin-topbar-container .checkin-topbar .flight-info__sep .flight-info__date-clock {
    margin-right: 0;
  }
  .checkin-topbar-container .checkin-topbar .cart-review {
    padding: 25px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
    background-position: left 20px center;
  }
  .checkin-topbar-container .checkin-topbar .cart-review::after {
    display: none;
    content: '';
    width: 100%;
    height: 10px;
    left: 0;
    right: auto;
    top: auto;
    bottom: -10px;
    background-color: #fff;
  }
  .checkin-topbar-container .checkin-topbar .cart-review span {
    padding-left: 45px;
  }
  .checkin-topbar-container .checkin-topbar .cart-review span.price {
    /*font-size: 22px;*/
    margin-top: 4px;
  }
  .checkin-topbar-container .checkin-topbar .cart-review .cart-toggle {
    right: 21px;
    top: 21px;
  }
  .checkin-topbar-container .cart-content-wrap::before {
    display: none;
  }
  .checkin-topbar-container .cart-content-wrap::after {
    display: none;
  }
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-seat-title,
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-baggage-title {
    width: 25%;
  }
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-seat,
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-baggage {
    width: 55%;
  }
  .checkin-topbar-container .cart-content-wrap .cart-content .block.block-price {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .checkin-topbar-container .checkin-topbar .cart-review span.price {
    font-size: 22px;
  }
}

.checkin-topbar-container .inner-fixed.is-stuck .checkin-topbar .flight-info__sep:not(:first-of-type) {
    display:none;
}