.adaptLabel {
    position: absolute !important;
}

@media (min-width: 750px) {
    .adaptLabel {
        padding-left: 10px;
    }
}
@media (max-width: 600px) {
    .del:after{
        display: block;
        border-top: 1px solid #c1c1c1;
        margin: 0 -20px;
        padding-top: 5px;
    }
}