#backtohomebutton {
	display: none;
}
.isErrore {
	border: 1px solid #c30e1a !important;
}
.ucard-success {
	padding: 40px;
}
.millemiglia__formRow {
	margin-top: 25px;
}
.form__buttonCover {
	margin-top: 30px;
	margin-bottom: 80px;
}
.columns:last-child:not(:first-child){
	float: left;
}
.validation__error {
	color: #c30e1a;
}

body {
    background-color: #e6e6e6;
    overflow-x: hidden;
}
.formPage {
	margin-top: 0px !important;
}
#specialpageform_ucard {
    margin-top: 63px;
    margin-bottom: 53px;
    background: white;
    padding: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
}

.millemiglia__formBlock {
	border: none;
}
.form__inputCover {
	width: 90%;
}
.millemiglia__formLegend-subtitle {
	margin-top: 5px;
}
.millemiglia__formLegend {
	margin-bottom: 15px;
	margin-top: 0px;
}

.button-wrap .button {
	padding: 18px 20px 15px;
}

.float-right {
	float: right;
	margin-bottom: 30px;
}

input[type="text"], input[type="number"] {
	height: 50px;
	border-radius: 5px;
	font-size: 16px;
    width: 100%;
    display: block;
}

.form__label {
	padding-left: 5px;
}

.customSelect:after {
	color: #006643;
	top: 15px !important;
	right: 20px !important;
}

.form__inputCover .customSelect {
	height: 50px;
	border-radius: 5px;
}

.white-background {
    position: absolute;
    top: -40px;
    left: -50%;
    width: 200vw;
    z-index: -1;
    background-color: white;
}

@media only screen and (min-width: 769px){
	.checkbox [type="checkbox"] + label > span {
		margin-right: -45px;
	}

	.float-right {
		text-align: right;
	}
}
@media only screen and (max-width: 768px) {

	.float-left-small {
		float: left;
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 640px) {

	#specialpageform_ucard {
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 40px;
	}

	.columns:last-child:not(:first-child) {
		margin-top: 25px;
	}

	.checkbox [type="checkbox"] + label > span {
		width: 100%;
	}

	.form__inputCover {
		width: 100%;
	}
	.formPage {
		padding-top: 0px !important;
	}
	.ucard-success {
	    text-align: center;
	}
	.ucard-success img {
	    margin: auto;
	    margin-bottom: 10px !important;
	}
    .ucard-success b {
         margin-left: 0 !Important;
         margin-bottom: 10px !important;
    }
    .ucard-success p {
         margin-left: 0 !Important;
    }

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}