.checkin__stepbar {
  overflow: auto;
  font: 16px 'Source Sans Pro', Arial, sans-serif;
  background: #006643;
  text-align: center;
}
.checkin__stepbar,
.checkin__stepbar a {
  color: white;
}
.checkin__stepbar a {
  color: white;
  /* IE 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Webkit */
  -webkit-opacity: 0.5;
  /* Good browsers */
  opacity: 0.5;
  cursor: default;
}
.checkin__stepbar ul {
  display: block;
}
.checkin__stepbar li {
  display: block;
  float: left;
  width: 20%;
}
.checkin__stepbar li a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 20px 15px;
}
.checkin__stepbar .step-current {
  font-weight: 700;
}
.checkin__stepbar .step-current a {
  position: relative;
  /* IE 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  /* IE 5-7 */
  filter: alpha(opacity=100);
  /* Netscape */
  -moz-opacity: 1;
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Webkit */
  -webkit-opacity: 1;
  /* Good browsers */
  opacity: 1;
  cursor: pointer;
}
.checkin__stepbar .step-current a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: white;
}
.checkin__stepbar .step-old a {
  /* IE 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  /* IE 5-7 */
  filter: alpha(opacity=100);
  /* Netscape */
  -moz-opacity: 1;
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Webkit */
  -webkit-opacity: 1;
  /* Good browsers */
  opacity: 1;
  cursor: pointer;
}
@media (min-width: 768px) {
  .checkin__stepbar li a {
    padding: 15px 25px;
  }
}
@media (min-width: 1024px) {
  .checkin__stepbar li a {
    padding: 25px 0;
  }
  .checkin__stepbar .step-old a {
    padding-left: 35px;
    background: url(/etc/designs/alitalia/clientlibs-checkin-navbar-1-embed/images/ico-check.svg) left center no-repeat;
    background-size: 18px;
  }
}
