.aem-AuthorLayer-Edit .defaultEmptyDiv {
	display: block;
}

.aem-AuthorLayer-Edit .fillerDiv{
	height: 100px;
}
.aem-AuthorLayer-Preview .defaultEmptyDiv {
	display: none;
}

.aem-AuthorLayer-Edit .defaultEmptyDivPreview {
	display: block;
}

.aem-AuthorLayer-Preview .defaultEmptyDivPreview {
	display: block;
}

div.new {
	margin: 0 0 0 0;
	display: none;
}

.aem-AuthorLayer-Edit div.new {
  	margin: inherit;
  	display: block; 
}

.aem-AuthorLayer-Design div.new {
  	margin: inherit;
  	display: block; 
}

.defaultEmptyDiv {
	display: none;
}

.defaultEmptyDivPreview {
	display: none;
}

.aem-AuthorLayer-Preview .supportMenu__group h3.withPhoneIcon.defaultEmptyDiv {
	display: none;
}

.editor h1 {
	font-size: xx-large;
    padding: .5em
}

.editor h4 {
	font-size:larger;
    padding: 1.2em
}

.editor .img {
	padding: 1.2em
}

.editor .bold {
	font-weight: bold;
}

.destinationMenu {
	background-color: #ffffff;
}

.destinationMenu .userMenu__text {
	border-bottom: 3px solid transparent;
}
.destinationMenu .active .userMenu__text {
	border-bottom: 3px solid rgb(47, 82, 255);
}
 
.aem-AuthorLayer-Edit .editorialArea .cq-placeholder,
.aem-AuthorLayer-Design .editorialArea .cq-placeholder{
   height: 2.875rem;
}

.aem-AuthorLayer-Edit .headerAlert, .aem-AuthorLayer-Preview .headerAlert{
    position: static;
}