.overlayLoading {
	z-index: 2000;
	position: absolute;
	top: 0;
	left: 0;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity=50);
	background-color: #CCC;
	width: 100%;
	height: 100%;
	zoom: 1;
	cursor: wait;
}

.carnetOverlayLoading {
	z-index: 99999;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity=50);
	background-color: #CCC;
	zoom: 1;
	cursor: wait;
}

.destinationItem__rightBox{
	width: 49.46939% !important;
}

.icon-logo-alitalia, .icon-logo-skyTeam, .mainMenu__logo--eithad, .icon-logo-etihad {
	background-image: none;
}

.hidden {
	display: none;
}

.inline {
	display: inline-block;
}

.flightSelOneWay__fulldate {
	display: none;
}

.flightSel__roundTrip input[name='andata'],
.flightSel__roundTrip input[name='ritorno'],
.flightSel__oneWay input[name='soloAndata'] {
	display: none;
}

.editorialArea .cq-placeholder{
	height: auto;
}

.mainBooking .header, .mainBooking footer, .mainBooking .booking__header {
	display:none;
}

.rteSize9 {
	font-size: 9px;
}

.rteSize10 {
	font-size: 10px;
}

.rteSize12 {
	font-size: 12px;
}

.rteSize14 {
	font-size: 14px;
}

.rteSize16 {
	font-size: 16px;
}

.rteSize18 {
	font-size: 18px;
}

.rteSize24 {
	font-size: 24px;
}

.rteSize36 {
	font-size: 36px;
}

.rteSize48 {
	font-size: 48px;
}

.editor h1 {
	font-size: xx-large;
    padding: .5em
}

.editor h4 {
	font-size:larger;
    padding: 1.2em
}

.editor .logo{
	padding: 1.2em
}

.editor .supportMenu.j-groupContainer {
    height: inherit;
    max-height: none;
    margin-left:.8em;
}

.editor .loginMenu.j-groupContainer {
    height: inherit;
    max-height: none;
    margin-left:.8em;
}

.editor .languageMenu.j-groupContainer {
    height: inherit;
    max-height: none;
    margin-left:.8em;
}

.editor .notificationMenu.j-groupContainer {
    display: block;
    opacity:1;
    position:relative;
    margin-left:.8em;
    max-height: none;
    top: 0px;
}

.editor .recentMenu.j-groupContainer {
    display: block;
    opacity:1;
    position:relative;
    margin-left:.8em;
    max-height: none;
    top: 0px;
}

.dateHistogram__item.notactive {
	cursor:default;
}
.dateHistogram__item.notactive:active, .dateHistogram__item.notactive:visited,
.dateHistogram__item.notactive:hover, .dateHistogram__item.notactive:focus,
.dateHistogram__item.isActive.notactive {
	background-color: #cce19f!important;
	background:#cce19f!important;
	color: #0d4722!important;
}

.custom__booking__mandatory a{
	color: #3b7e06;
}

@media only screen and (min-width: 641px){
.custom__booking__mandatory{
	max-width: 40%;
}
}

@media only screen and (max-width: 1067px){
    .bookingTable__rowBody 
    .bookingTable__rightInner 
    .bookingTable__col {
        min-height: 600px;
    }
}

@media only screen and (min-width: 1068px){
    .bookingTable__rowBody 
    .bookingTable__rightInner 
    .bookingTable__col {
        min-height: 400px;
    }
}

.loginMenu__block.captcha {
	margin-top: 0px;
}

/* Regole per fumetto errore per captcha ltr + rtl */
.captcha__container {
	width: auto;
}
.captcha__container.form__inputCover.isError .form__errorIcon {
	display: none;
}

a:focus{
	outline: 1px solid #5569ae;
}

input[type='text']:focus,input[type='password']:focus{
	outline: 1px solid #5569ae;
}

.millemiglia__formRichesta .millemiglia__formFeedback.j-formFeedback{
	text-align: left;
}

.p_cust {
	font-size: 1em;
	line-height: 1.4;
	color: #676767;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	line-height: 1.2em;
}

h4,
.h4 {
	font: 700 25px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
	letter-spacing: 0.075em;
	text-transform: uppercase;
}

/** reveal mobile **/
.reveal-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	z-index:200;
}
.reveal {
	overflow: visible;
	padding: 0;
	text-align: center;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topleft: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	background: transparent;
	pointer-events: none;
	outline: none;
}
.reveal h4,
.reveal .h4 {
	color: #006643;
	margin: 0;
	text-transform: none;
	font-weight: 400;
	letter-spacing: 0;
}
.reveal .reveal__inner {
	overflow: hidden;
	background-color: white;
	pointer-events: auto;
}
.reveal .reveal__header {
	padding: 40px 0;
}
.reveal .reveal__content {
	overflow: hidden;
	padding: 20px 0;
}
.reveal .reveal__content .custom-column {
	float: left;
	width: 33.33%;
	padding: 0 10px;
}
.reveal .reveal__content img {
	margin: 10px 0;
}
.reveal .reveal__content h6 {
	margin: 20px 0;
}
.reveal .reveal__content ul li {
	padding: 10px 0;
}
.reveal .reveal__bottom-bar {
	padding: 30px 0;
}
.reveal .reveal__bottom-bar p {
	margin: 0;
	color: white;
	font-weight: 400;
}
.reveal .reveal__bottom-bar a {
	color: white;
	font-weight: 700;
	margin: 0 5px;
}
.reveal .reveal__bottom-bar .icon--info {
	vertical-align: middle;
	border: none;
	margin-left: 5px;
	margin-top: -2px;
	text-indent: -9999px;
}
/** Customizzazione reveal generico mobile **/
.reveal {
	display: block;
	height: 100%;
	width: auto;
	top: 0 !important;
}
.reveal .reveal__header,
.reveal .close-button
{
	display: none;
}
.reveal .custom-row {
	overflow: hidden;
	padding: 0 20px;
}
.reveal .custom-row.custom-row--alt {
	margin: 0 -10px;
}
.reveal .reveal__inner {
	height: 100%;
}
.reveal .reveal__header-mobile {
	padding: 28px 40px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 100%;
	box-shadow: 0px 0px 20px #cccccc;
}
.reveal .reveal__header-mobile span {
	font-size: 20px;
	color: #333333;
	float: left;
}
.reveal .reveal__header-mobile .close-button {
	float: right;
	display: inline-block;
	*display: inline;
	zoom: 1;
	position: relative;
	right: 0;
}
.reveal .reveal__header-mobile .close-button:hover {
	cursor: pointer;
}
.reveal .reveal__header-mobile .close-button .icon--close--black {
	/*background: url(/etc/designs/alitalia/clientlibs-1/images/ico-close-black.svg) no-repeat left center;*/
	width: 15px;
	height: 15px;
	background-size: 15px 15px;
}
.reveal .reveal__content {
	padding-top: 30px;
	overflow: auto;
	height: calc(100% - 75px);
}
/** tooltip base **/
.tooltip {
	background-color: #f2f2f2;
	box-shadow: 0px 0px 15px #CCCCCC;
	-webkit-box-shadow: 0 0 15px #CCCCCC;
	-moz-box-shadow: 0 0 15px #CCCCCC;
	overflow: hidden;
	max-width: 250px;
	padding: 15px;
}
.tooltip strong {
	display: block;
	font-size: 16px;
}
.tooltip p {
	color: #333333;
	margin: 0;
	font-size: 14px;
	margin-bottom: 10px;
}
/** icons **/
.icon {
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 20px;
	height: 20px;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	background-size: contain;
}
.icon.icon--info {
	width: 15px;
	height: 15px;
	/*background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-info-empty.svg');*/
}
.icon.icon--info:hover {
	/*background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-info-full.svg');*/
}
.icon.icon--close {
	/*background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-close-white.svg');*/
}
.icon.icon--close.icon-alert-close {
	background-image: none;
}
.icon.icon--reverse {
	/*background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon-reverse-white.svg');*/
}
.reveal .reveal__header-mobile .close-button .icon--close--black{
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 27px;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.reveal .reveal__header-mobile .close-button .icon--close--black:before{
	margin-right: 0px;
	content: "\e906";
	color: #000;
	float: right;
	font-weight: 900;
	font-size: 15px;
}

.icon.icon--it,.icon.icon--us,.icon.icon--es,.icon.icon--fr,.icon.icon--uk {
	margin-top: -18px;
	/*background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon-it.svg');*/
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (min-width: 768px) {

	h4,
	.h4 {
		font-size: 26px;
	}
}
@media (min-width: 1024px) {
	.reveal {
		max-height: 90%;
		padding: 80px 0 0;
	}
	.reveal.reveal--medium {
		width: 100%;
		max-width: 620px;
	}
	.reveal.reveal--large {
		width: 100%;
		max-width: 850px;
	}
	.reveal.reveal--xlarge {
		width: 100%;
		max-width: 935px;
	}
	.reveal .custom-row {
		padding: 0;
	}
	.reveal .reveal__inner {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
	}
	.reveal .reveal__content {
		overflow: hidden;
	}
	.reveal .close-button {
		position: absolute;
		top: 30px;
		right: 0;
		pointer-events: auto;
	}
	.reveal .close-button .icon--close {
		display: block;
	}
	.reveal .close-button:hover {
		cursor: pointer;
	}
	.reveal {
		height: auto;
	}
	.reveal .reveal__header {
		display: block;
	}
	.reveal .reveal__header-mobile {
		display: none;
	}
	.reveal .close-button {
		display: block;
	}
}


@media (min-width: 1150px) {
	.reveal.reveal--xlarge {
		width: 100%;
		max-width: 1060px;
	}
}



/** Customizzazione reveal login mobile **/
.reveal--login {
	overflow: hidden;
	/* 	.reveal__header-mobile { .db; } */
}
.reveal--login .reveal__inner {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.reveal--login .reveal__content {
	position: absolute;
	top: 95px;
	bottom: 0;
	width: 100%;
	height: auto;
	overflow-y: scroll;
	padding-top: 0;
	padding-bottom: 70px;
}
.reveal--login .button-wrap {
	padding: 0 10px;
	margin-bottom: 20px;
}
.reveal--login .reveal__content .custom-row p {
	margin: 0 0 25px 0;
}
.reveal--login .reveal__content .custom-row p a,.reveal--sa-login .reveal__content .custom-row p a {
	font-weight: 700;
	cursor:pointer;
}
.reveal--login .reveal__content .custom-row p.small-txt {
	font-size: 14px;
	margin-bottom: 0;
}
.reveal--login .reveal__content .custom-row .custom-button-wrap {
	width: 33.33%;
	float: left;
	margin-bottom: 30px;
}
.reveal--login .reveal__content .custom-row .custom-button-wrap .button {
	padding-left: 40px;
	text-align: center;
	background-position: 15px center;
	background-repeat: no-repeat;
	padding: 15px 20px 12px 40px;
}
.reveal--login .reveal__content .custom-row.custom-row-button {
	padding: 0 10px;
}
.reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button {
	background-position: center center;
	height: 45px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-topleft: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	width: 100%;
}
.reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button span {
	display: none;
}
.reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--gp {
	background-size: 23px 15px;
}
.reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--fb {
	background-size: 9px 20px;
}
.reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--tw {
	background-size: 20px 16px;
}
.reveal--login .reveal__content .custom-row.custom-row-utils {
	margin: 10px 0 25px;
}
.reveal--login .checkbox-wrap {
	padding-left: 0px;
	float: left;
	clear: both;
	margin-bottom: 25px;
}
.reveal--login .checkbox-wrap label {
	font-size: 16px;
	color: #676767;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-weight: 300;
	line-height: 1;
}
.reveal--login .checkbox-wrap input {
	margin-bottom: 0;
}
.reveal--login .cta-custom-wrap {
	padding-right: 0px;
	float: left;
	clear: both;
}
.reveal--login .input-wrap {
	margin-bottom: 20px;
}
.reveal--login .custom-button-wrap {
	width: 33.33%;
	float: left;
	margin-bottom: 30px;
}
.reveal--login .custom-button-wrap .button {
	padding-left: 40px;
	text-align: center;
	background-position: 15px center;
	background-repeat: no-repeat;
	padding: 15px 20px 12px 40px;
}
.reveal--login .button-wrap-padding {
	padding: 0;
}
.reveal--login .button-wrap-padding .button {
	width: 100%;
}

@media (min-width: 768px) {
	.reveal--login .reveal__header {
		display: none;
	}
	.reveal--login .reveal__header-mobile {
		display: inline-block;
		*display: inline;
		zoom: 1;
	}
	.reveal--login .reveal__content {
		padding-top: 44px;
	}
	.reveal--login .reveal__content .custom-row {
		padding: 0 140px;
	}
	.reveal--login .reveal__content .custom-row .custom-button-wrap .button {
		padding-left: 40px;
		text-align: center;
		background-position: 15px center;
		background-repeat: no-repeat;
		padding: 15px 20px 12px 40px;
	}
	.reveal--login .reveal__content .custom-row.custom-row-button {
		padding: 0 200px;
	}
	.reveal--login .reveal__content .custom-row.custom-row-utils {
		margin: 20px 0 60px;
	}
	.reveal--login .checkbox-wrap {
		padding-left: 80px;
		float: left;
		clear: none;
		margin-bottom: 0px;
	}
	.reveal--login .cta-custom-wrap {
		padding-right: 80px;
		float: right;
		clear: none;
	}
	.reveal--login .button-wrap-padding {
		padding: 20px 160px 0;
	}
}


@media (min-width: 1024px) {
	.reveal--login {
		overflow: visible;
	}
	.reveal--login .reveal__header {
		padding-bottom: 30px;
		display: block;
	}
	.reveal--login .close-button {
		display: block;
	}
	.reveal--login .reveal__header-mobile {
		display: none;
	}
	.reveal--login .reveal__inner {
		overflow: hidden;
		position: static;
		top: auto;
		left: auto;
		bottom: auto;
		right: auto;
		height: auto;
		border-radius: 5px;
	}
	.reveal--login .reveal__content {
		position: static;
		top: auto;
		bottom: auto;
		width: 75%;
		margin: 0 auto;
		padding: 0 0 50px;
		overflow: auto;
		height: auto;
	}
	.reveal--login .reveal__content .custom-row {
		padding: 0;
	}
	.reveal--login .reveal__content .custom-row.custom-row-button {
		padding: 0;
	}
	.reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button {
		background-position: 15px center;
		height: auto;
		-webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 5px;
		-moz-border-radius-bottomleft: 5px;
		-moz-border-radius-topleft: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
	}
	.reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button span {
		display: block;
	}
	.reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--gp {
		background-size: 18px 12px;
	}
	.reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--fb {
		background-size: 6px 12px;
	}
	.reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--tw {
		background-size: 18px 12px;
	}
	.reveal--login .reveal__content .custom-row.custom-row-utils {
		margin: 0px;
	}
	.reveal--login .input-wrap {
		padding: 0 80px;
		padding-top: 5px;
	}
	.reveal--login .h4 {
		padding: 0 10px;
		display: inline-block;
		*display: inline;
		zoom: 1;
	}
	.reveal--login .button-wrap-padding {
		padding: 20px 135px 0;
	}
}

.reveal--login {
	padding: 0!important;
	padding-top: 5% !important;
	background-color:  transparent !important;
	border-color: transparent !important;
}

.cta-wrap .cta--form {
	font-size: 16px;
	color: #676767;
	line-height: 1;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-weight: 300;
	background-position: right center;
	text-transform: none;
}





a {
	color: #006643;
}
.hide-txt {
	font-size: 0 !important;
}

.bg-primary {
	background: #006643;
}
.bg-secondary {
	background: #a42615;
}
.bg-main {
	background: #e6e6e6;
}
.widget-slider-wrap {
	position: relative;
}
.row {
	padding: 0 15px;
}
/** cta wrap **/
.cta-wrap {
	font-size: 0;
	line-height: 0;
}
.cta-wrap .cta {
	font: 700 16px/1.3em 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
	text-transform: uppercase;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.cta-wrap .cta span {
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.cta-wrap .cta--primary {
	color: #006643;
}
.cta-wrap .cta--secondary {
	color: #a42615;
}
.cta-wrap .cta--light {
	color: white;
}
.cta-wrap .cta--icon {
	padding-right: 36px;
	background-position: right 2px;
	background-repeat: no-repeat;
	background-size: 18px 14px;
}
.cta-wrap .cta--icon.cta--primary,
.cta-wrap .cta--only-icon.cta--primary {
	/*background-image: url('../images/arrow-dx-green.svg');*/
}
.cta-wrap .cta--icon.cta--secondary,
.cta-wrap .cta--only-icon.cta--secondary {
	/*background-image: url('../images/arrow-dx-red.svg');*/
}
.cta-wrap .cta--icon.cta--light,
.cta-wrap .cta--only-icon.cta--light {
	/*background-image: url('../images/arrow-dx-white.svg');*/
}
.cta-wrap .cta--icon.cta--dark {
	background-image: url('../images/arrow-dx-dark.svg');
}
.cta-wrap .cta--only-icon {
	padding: 25px 32px 0 0;
	background-size: 27px 21px;
	background-repeat: no-repeat;
	background-position: center center;
}
.cta-wrap .cta--only-icon span {
	display: none;
}
.cta-wrap .cta--form {
	font-size: 16px;
	color: #676767;
	line-height: 1;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-weight: 300;
	background-position: right center;
	text-transform: none;
}
.button-wrap .button {
	margin: 0;
	text-transform: uppercase;
	font: 700 18px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
	padding: 18px 20px 15px;
	width: 100%;
}
.button-wrap .button-white {
	padding: 0;
	height: 50px;
	border: 3px solid #006643;
}
.button-wrap .button-white,
.button-wrap .button-white:hover,
.button-wrap .button-white:focus {
	background-color: white;
	color: #006643;
}
.button-wrap .button-white:hover,
.button-wrap .button-white:focus {
	border-color: #006643;
}
.button-wrap .button--light {
	background-color: #fff;
	color: #006643;
}

.button--gp {
	background-color: #d94234 !important;
	background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-social-gp.svg') !important;
	background-size: 25px 25px !important;
}

.button--gp:hover {
	background-color: #d94234 !important;
	background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-social-gp.svg') !important;
	background-size:  25px 25px !important;

}
.button--fb {
	background-color: #3d5b96 !important;
	background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-social-fb.svg') !important;
	background-size:  25px 18px !important;
}

.button--fb:hover {
	background-color: #3d5b96 !important;
	background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-social-fb.svg') !important;
	background-size: 25px 18px  !important;
}

.button--tw {
	background-color: #5aadeb !important;
	background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-social-tw.svg') !important;
	background-size: 25px 25px !important;
}

.button--tw:hover {
	background-color: #5aadeb !important;
	background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-social-tw.svg') !important;
	background-size: 25px 25px !important;
}
.button--in {
	background-color: #007bb5;
	background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-social-in.svg');
	background-size: 18px 18px;
}

.placeholder-reveal-login {
	display: block !important;
	box-sizing: border-box !important;
	width: 100% !important;
	height: 3.125rem !important;
	margin: 0 0 1rem !important;
	padding: .84375rem !important;
	border: 1px solid #c1c1c1 !important;
	border-radius: 5px !important;
	background-color: #fff !important;
	box-shadow: none !important;
	font-family: inherit !important;
	font-size: 1rem !important;
	font-weight: normal !important;
	line-height: 1.5 !important;
	color: #333 !important;
	-webkit-appearance: none !important;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

@keyframes fade-circle {
	0%,
	100% {
		box-shadow: 0em -2em 0em 0em #006643, 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0), 2em 0em 0em 0em rgba(0, 102, 67, 0), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), 0em 2em 0em 0em rgba(0, 102, 67, 0.2), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.4), -2em 0em 0em 0em rgba(0, 102, 67, 0.6), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.8);
	}
	12.5% {
		box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0.8), 1.4em -1.4em 0em 0em #006643, 2em 0em 0em 0em rgba(0, 102, 67, 0), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), 0em 2em 0em 0em rgba(0, 102, 67, 0), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.2), -2em 0em 0em 0em rgba(0, 102, 67, 0.4), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.6);
	}
	25% {
		box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0.6), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.8), 2em 0em 0em 0em #006643, 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), 0em 2em 0em 0em rgba(0, 102, 67, 0), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), -2em 0em 0em 0em rgba(0, 102, 67, 0.2), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.4);
	}
	37.5% {
		box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0.4), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.6), 2em 0em 0em 0em rgba(0, 102, 67, 0.8), 1.4em 1.4em 0em 0em #006643, 0em 2em 0em 0em rgba(0, 102, 67, 0), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), -2em 0em 0em 0em rgba(0, 102, 67, 0), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.2);
	}
	50% {
		box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0.2), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.4), 2em 0em 0em 0em rgba(0, 102, 67, 0.6), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.8), 0em 2em 0em 0em #006643, -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), -2em 0em 0em 0em rgba(0, 102, 67, 0), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0);
	}
	62.5% {
		box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.2), 2em 0em 0em 0em rgba(0, 102, 67, 0.4), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.6), 0em 2em 0em 0em rgba(0, 102, 67, 0.8), -1.4em 1.4em 0em 0em #006643, -2em 0em 0em 0em rgba(0, 102, 67, 0), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0);
	}
	75% {
		box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0), 2em 0em 0em 0em rgba(0, 102, 67, 0.2), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.4), 0em 2em 0em 0em rgba(0, 102, 67, 0.6), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.8), -2em 0em 0em 0em #006643, -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0);
	}
	87.5% {
		box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0), 2em 0em 0em 0em rgba(0, 102, 67, 0), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.2), 0em 2em 0em 0em rgba(0, 102, 67, 0.4), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.6), -2em 0em 0em 0em rgba(0, 102, 67, 0.8), -1.4em -1.4em 0em 0em #006643;
	}
}
@keyframes fade-circle {
	0%,
	100% {
		box-shadow: 0em -2em 0em 0em #006643, 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0), 2em 0em 0em 0em rgba(0, 102, 67, 0), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), 0em 2em 0em 0em rgba(0, 102, 67, 0.2), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.4), -2em 0em 0em 0em rgba(0, 102, 67, 0.6), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.8);
	}
	12.5% {
		box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0.8), 1.4em -1.4em 0em 0em #006643, 2em 0em 0em 0em rgba(0, 102, 67, 0), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), 0em 2em 0em 0em rgba(0, 102, 67, 0), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.2), -2em 0em 0em 0em rgba(0, 102, 67, 0.4), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.6);
	}
	25% {
		box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0.6), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.8), 2em 0em 0em 0em #006643, 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), 0em 2em 0em 0em rgba(0, 102, 67, 0), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), -2em 0em 0em 0em rgba(0, 102, 67, 0.2), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.4);
	}
	37.5% {
		box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0.4), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.6), 2em 0em 0em 0em rgba(0, 102, 67, 0.8), 1.4em 1.4em 0em 0em #006643, 0em 2em 0em 0em rgba(0, 102, 67, 0), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), -2em 0em 0em 0em rgba(0, 102, 67, 0), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.2);
	}
	50% {
		box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0.2), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.4), 2em 0em 0em 0em rgba(0, 102, 67, 0.6), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.8), 0em 2em 0em 0em #006643, -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0), -2em 0em 0em 0em rgba(0, 102, 67, 0), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0);
	}
	62.5% {
		box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0.2), 2em 0em 0em 0em rgba(0, 102, 67, 0.4), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.6), 0em 2em 0em 0em rgba(0, 102, 67, 0.8), -1.4em 1.4em 0em 0em #006643, -2em 0em 0em 0em rgba(0, 102, 67, 0), -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0);
	}
	75% {
		box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0), 2em 0em 0em 0em rgba(0, 102, 67, 0.2), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.4), 0em 2em 0em 0em rgba(0, 102, 67, 0.6), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.8), -2em 0em 0em 0em #006643, -1.4em -1.4em 0em 0em rgba(0, 102, 67, 0);
	}
	87.5% {
		box-shadow: 0em -2em 0em 0em rgba(0, 102, 67, 0), 1.4em -1.4em 0em 0em rgba(0, 102, 67, 0), 2em 0em 0em 0em rgba(0, 102, 67, 0), 1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.2), 0em 2em 0em 0em rgba(0, 102, 67, 0.4), -1.4em 1.4em 0em 0em rgba(0, 102, 67, 0.6), -2em 0em 0em 0em rgba(0, 102, 67, 0.8), -1.4em -1.4em 0em 0em #006643;
	}
}
.shadow {
	-webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
}

#b_container {
    margin-top: 40px;
    text-align: center;
}