@media print {
  body {
    -webkit-print-color-adjust: exact;
  }

  .box--modOne {
    width: 32.66667%;
    float: left;
  }
  .box--modOne .shareButton {
    display: none;
  }

  .brick + .brick {
    margin-left: 1%;
  }

  .brick:after {
    display: none;
  }

  .box__textContainer > * {
    text-shadow: none;
  }

  .box__textContainer .box__title {
    color: white !important;
    -webkit-print-color-adjust: exact;
  }

  .feedback_trigger,
  .feedback_content {
    display: none !important;
  }

  .printOnlyCard .header,
  .printOnlyCard .footer,
  .printOnlyCard .millemiglia__cardholder,
  .printOnlyCard .millemiglia__brief-wrap,
  .printOnlyCard .millemiglia__cart-bar-wrap,
  .printOnlyCard .millemiglia__accordion,
  .printOnlyCard .millemiglia__offers,
  .printOnlyCard .millemiglia__accordion__header:after,
  .printOnlyCard .millemiglia__main-menuMobile {
    display: none !important;
  }
  .printOnlyCard .millemiglia__accordion.active.opening {
    display: block !important;
  }
  .printOnlyCard .millemiglia__accordion__header,
  .printOnlyCard .millemiglia__accordion__body {
    background-color: white;
  }
  .printOnlyCard .millemiglia__accordion {
    border: none;
  }
  .printOnlyCard .millemiglia__accordion .firstButton {
    display: none !important;
  }

  .printMessages .header,
  .printMessages .footer,
  .printMessages .millemiglia__cardholder,
  .printMessages .millemiglia__brief-wrap,
  .printMessages .millemiglia__cart-bar-wrap,
  .printMessages .millemiglia__offers,
  .printMessages .millemiglia__accordion__header:after,
  .printMessages .millemiglia__main-menuMobile,
  .printMessages .millemiglia__content__header {
    display: none !important;
  }
  .printMessages .millemiglia__accordion,
  .printMessages .millemiglia__accordion__body {
    height: auto !important;
    display: block !important;
  }
  .printMessages .millemiglia__accordion__header,
  .printMessages .millemiglia__accordion__body {
    background-color: white;
  }

  .printEstrattoConto .header,
  .printEstrattoConto .footer,
  .printEstrattoConto .millemiglia__cardholder,
  .printEstrattoConto .millemiglia__brief-wrap,
  .printEstrattoConto .millemiglia__cart-bar-wrap,
  .printEstrattoConto .millemiglia__offers,
  .printEstrattoConto .millemiglia__accordion__header:after,
  .printEstrattoConto .millemiglia__main-menuMobile,
  .printEstrattoConto .millemiglia__content__header,
  .printEstrattoConto .millemiglia__estrattoNotice {
    display: none !important;
  }
  .printEstrattoConto .millemiglia__estrattoTable {
    display: block !important;
    border: 0;
  }
  .printEstrattoConto .millemiglia__members-wrap {
    background-color: white;
  }

  .printReceipt .header,
  .printReceipt .footer,
  .printReceipt .thankyoupage__actionBar,
  .printReceipt .thankyoupage__accordionGroup,
  .printReceipt .mBpassengerSpecialAssistance__info,
  .printReceipt .advBlock {
    display: none !important;
  }
  .printReceipt .mBpassengerSpecialAssistance__info + .thankyoupage__titleGroup {
    display: none !important;
  }
  .printReceipt .booking__basketAccordionContainer,
  .printReceipt .accordion .accordion__body {
    display: block !important;
  }
  .printReceipt .booking__basketAccordionContainer .close,
  .printReceipt .accordion .accordion__body .close {
    display: none !important;
  }

  .mmbPrint .header,
  .mmbPrint .footer,
  .mmbPrint .manageBooking.innerPageHead,
  .mmbPrint .mBpassengerData__accordion,
  .mmbPrint .manageBooking__wrapBtn {
    display: none !important;
  }
  .mmbPrint .mBpassengerFlyght__accordion .accordion__body,
  .mmbPrint .mBpassengerFlyght__accordion .accordion {
    display: block !important;
    height: auto !important;
  }
}

/*# sourceMappingURL=print.css.map */