@import url('ltr-blessed2.css');@import url('ltr-blessed1.css');
@media only screen and (min-width: 801px) {
  .mBpassengerFlyght__item .terminal {
    font-size: 16px;
    line-height: 1.2;
  }
}
.mBpassengerFlyght__item .operatorBus {
  line-height: 1;
  font-size: 12px;
  font-weight: bold;
}
@media only screen and (min-width: 641px) {
  .mBpassengerFlyght__item .operatorBus {
    font-size: 14px;
    line-height: 1.1;
  }
}

.mBpassengerFlyght__detail {
  padding: 15px 0 15px;
}
.mBpassengerFlyght__detail a {
  color: #3b7e06;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
@media only screen and (min-width: 1024px) {
  .mBpassengerFlyght__detail a {
    font-size: 16px;
  }
}

.mBpassengerFlyght__detailWrapper {
  font-size: 0;
}

.mBpassengerFlyght__detailInfo {
  width: 66%;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
@media only screen and (max-width: 640px) {
  .mBpassengerFlyght__detailInfo {
    width: 100%;
    margin-bottom: 15px;
  }
}
.mBpassengerFlyght__detailInfo dt {
  font-size: 14px;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (min-width: 641px) {
  .mBpassengerFlyght__detailInfo dt {
    font-size: 16px;
  }
}
.mBpassengerFlyght__detailInfo dd {
  font-size: 16px;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}
.mBpassengerFlyght__detailInfo dd span {
  display: inline-block;
  min-width: 100px;
  text-align: right;
}
@media only screen and (max-width: 640px) {
  .mBpassengerFlyght__detailInfo dd span {
    min-width: auto;
    text-align: left;
  }
}

.mBpassengerFlyght__detailTotal {
  font-size: 16px;
  width: 33%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  line-height: 1.2;
}
@media only screen and (max-width: 640px) {
  .mBpassengerFlyght__detailTotal {
    width: 100%;
    text-align: left;
  }
}
.mBpassengerFlyght__detailTotal .label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
@media only screen and (min-width: 641px) {
  .mBpassengerFlyght__detailTotal .label {
    font-size: 16px;
  }
}
.mBpassengerFlyght__detailTotal .price {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #3b7e06;
}
@media only screen and (min-width: 641px) {
  .mBpassengerFlyght__detailTotal .price {
    font-size: 30px;
  }
}
.mBpassengerFlyght__detailTotal .price .valuta {
  font-weight: lighter;
}
.mBpassengerFlyght__detailTotal .price .valuta sup {
  font-size: 16px;
}

.mBpassengerFlyght__regularTariff {
  margin: 15px 0;
}

.mBpassengerBox__email {
  margin-top: 25px;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px dotted #e2e2e2;
  font-size: 16px;
  text-transform: uppercase;
  *zoom: 1;
}
.mBpassengerBox__email:before, .mBpassengerBox__email:after {
  content: " ";
  display: table;
}
.mBpassengerBox__email:after {
  clear: both;
}
.mBpassengerBox__email a {
  color: #3b7e06;
  display: block;
  font-weight: bold;
  text-transform: lowercase;
}
.mBpassengerBox__email .form__label {
  margin-bottom: 10px;
}

.mBpassengerBox__phone {
  font-size: 16px;
  text-transform: uppercase;
}
.mBpassengerBox__phone a {
  display: block;
  color: #3b7e06;
  font-weight: bold;
}
.mBpassengerBox__phone .form__label {
  margin-bottom: 10px;
}

.mBpassengerContact__feedback {
  display: none;
}

.mBpassengerContact__btn {
  text-align: right;
  padding: 20px 0;
}
@media only screen and (max-width: 640px) {
  .mBpassengerContact__btn a {
    display: block;
  }
}

.fightCustomize {
  padding: 20px 0 0;
}

.mBpassengerSpecialAssistance__accordion {
  *zoom: 1;
  margin-bottom: 30px;
}
.mBpassengerSpecialAssistance__accordion:before, .mBpassengerSpecialAssistance__accordion:after {
  content: " ";
  display: table;
}
.mBpassengerSpecialAssistance__accordion:after {
  clear: both;
}

.mBpassengerSpecialAssistance__head {
  *zoom: 1;
}
.mBpassengerSpecialAssistance__head:before, .mBpassengerSpecialAssistance__head:after {
  content: " ";
  display: table;
}
.mBpassengerSpecialAssistance__head:after {
  clear: both;
}
.mBpassengerSpecialAssistance__head .form__element {
  margin-top: 0;
}
.mBpassengerSpecialAssistance__head label {
  font-weight: bold;
  display: block;
}
@media only screen and (min-width: 641px) {
  .mBpassengerSpecialAssistance__head label {
    display: inline-block;
    font-size: 18px;
  }
}

.mBpassengerSpecialAssistance__body {
  clear: both;
  padding: 20px 0;
  display: none;
}
@media only screen and (min-width: 641px) {
  .mBpassengerSpecialAssistance__body {
    padding: 40px 30px;
  }
}
.mBpassengerSpecialAssistance__body .form__legend {
  margin-top: 0;
}
.mBpassengerSpecialAssistance__body .oneAfterOther.form__element {
  clear: both;
  margin-left: 0;
  width: 100%;
}
.mBpassengerSpecialAssistance__body .oneAfterOther.form__element span {
  width: 100%;
}
.mBpassengerSpecialAssistance__body .oneAfterOther.form__element + .form__element:nth-child(2n+1) {
  clear: both;
}
.mBpassengerSpecialAssistance__body .formBlock {
  border-bottom: 0;
  padding-bottom: 30px;
}
.mBpassengerSpecialAssistance__body .formBlock.extraFormCover {
  display: none;
}
.mBpassengerSpecialAssistance__body .booking__buttonCover {
  padding-bottom: 20px;
  border-bottom: 1px dashed #7f7f7f;
}
.mBpassengerSpecialAssistance__body .editorialArea p {
  font-size: 14px;
}
@media only screen and (max-width: 640px) {
  .mBpassengerSpecialAssistance__body .fifthButton {
    width: 100%;
  }
}

.mBpassengerSpecialAssistance__feedback {
  background-color: #e6ede4;
  padding: 20px 0;
}

.mBpassengerSpecialAssistance__info {
  padding: 20px;
  background-color: #e0ede2;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
}
.mBpassengerSpecialAssistance__info .i-infoCircle {
  color: #7f7f7f;
  padding-right: 5px;
}
.mBpassengerSpecialAssistance__info span {
  display: table-cell;
}

.manageBookingPaymentMetod__buttonCover {
  text-align: left;
  margin-top: 20px;
}

.overlay__container.customOverlay.sendEmailTooltip {
  max-width: 400px;
}
@media only screen and (min-width: 641px) {
  .overlay__container.customOverlay.sendEmailTooltip {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    height: auto;
  }
}
.overlay__container.customOverlay.sendEmailTooltip .customOverlay__main {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}
.overlay__container.customOverlay.sendEmailTooltip .form__label {
  width: 100%;
  margin-bottom: 5px;
}
.overlay__container.customOverlay.sendEmailTooltip .form__inputCover {
  width: 100%;
}
.overlay__container.customOverlay.sendEmailTooltip .fifthButton {
  width: 100%;
  margin-top: 15px;
}

.iMieiVoli {
  padding: 40px 0 40px;
}
.iMieiVoli.innerPageHead {
  background: url(../../clientlibs/images/patterns/innerPageTexture2.jpg);
}

.iMieiVoli__body {
  position: relative;
}
.iMieiVoli__body.innerPage {
  padding: 0;
}

.iMieiVoli__bodyWrapper {
  margin-top: -40px;
  padding: 20px;
  background: #fff;
}
@media only screen and (min-width: 801px) {
  .iMieiVoli__bodyWrapper {
    padding: 40px;
  }
}

.iMieiVoliHeader {
  padding: 0 0 40px;
}

.iMieiVoli__title {
  color: #000000;
  font-size: 35px;
  line-height: 1.2;
  text-transform: uppercase;
}
@media only screen and (min-width: 801px) {
  .iMieiVoli__title {
    font-size: 35px;
  }
}
@media only screen and (min-width: 1024px) {
  .iMieiVoli__title {
    font-size: 35px;
  }
}

.iMieiVoli__item {
  font-size: 0;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 40px;
}

.iMieiVoli__showBtn {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  padding: 0 0 20px;
}
@media only screen and (min-width: 801px) {
  .iMieiVoli__showBtn {
    width: 15%;
    text-align: center;
    padding: 0;
  }
}
@media only screen and (max-width: 640px) {
  .iMieiVoli__showBtn a {
    display: block;
  }
}
.iMieiVoli__showBtn .notAvaliable {
  font-size: 16px;
  color: #b2b2b2;
  line-height: 1.2;
}

.iMieiVoliWrapper {
  background: #ffffff;
  padding: 20px;
}

.infoVoli__body {
  clear: both;
}
@media only screen and (min-width: 801px) {
  .infoVoli__body + .innerPage__aside.specialOffers__boxesAside {
    clear: none;
  }
  .infoVoli__body + .innerPage__aside.specialOffers__boxesAside .box--modOne {
    margin-top: 0;
  }
}

.infoVoli__header {
  margin-bottom: 30px;
}
@media only screen and (min-width: 801px) {
  .infoVoli__header {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 66.33333%;
  }
}

.infoVoli__title {
  color: #000000;
  font-size: 35px;
  line-height: 1.2;
  text-transform: uppercase;
}
@media only screen and (min-width: 801px) {
  .infoVoli__title {
    font-size: 35px;
  }
}
@media only screen and (min-width: 1024px) {
  .infoVoli__title {
    font-size: 35px;
  }
}

.infoVoli__paragraph {
  margin-top: 10px;
  line-height: 1.2;
}

.infoVoli__main {
  background: #e0ede2;
  padding: 20px;
}

.timeTablePage {
  padding-bottom: 40px;
}
.timeTablePage .editorialArea > * + * {
  margin-top: 10px;
}
.timeTablePage .editorialArea p {
  font-size: 14px;
}

.timeTablePage__title {
  font-weight: lighter;
  font-size: 20px;
  padding: 25px 0;
  text-transform: uppercase;
}
@media only screen and (min-width: 641px) {
  .timeTablePage__title {
    font-size: 30px;
  }
}

.timeTableSearchResult__label {
  font-size: 16px;
  display: block;
  margin-bottom: 15px;
}

.timeTableSearchResult {
  margin-bottom: 25px;
  *zoom: 1;
}
.timeTableSearchResult:before, .timeTableSearchResult:after {
  content: " ";
  display: table;
}
.timeTableSearchResult:after {
  clear: both;
}
@media only screen and (max-width: 640px) {
  .timeTableSearchResult {
    margin-bottom: 15px;
  }
}

input[type="text"].timeTableSearchResult__changeData {
  display: block;
  border: none;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  height: 20px;
}

.timeTableSearchResult__item {
  position: relative;
  float: left;
  padding-right: 20px;
  width: 25%;
}
.timeTableSearchResult__item .date-picker-control {
  opacity: 0;
  visibility: hidden;
}
@media only screen and (max-width: 640px) {
  .timeTableSearchResult__item {
    width: 50%;
    margin-bottom: 15px;
    padding: 0;
  }
}
@media only screen and (max-width: 640px) {
  .timeTableSearchResult__item.timeTableSearchResult__itemDate, .timeTableSearchResult__item.timeTableSearchResult__btn {
    width: 100%;
  }
}
.timeTableSearchResult__item:first-child {
  padding-right: 70px;
  position: relative;
}
.timeTableSearchResult__item:first-child:after {
  content: "❯";
  display: inline-block;
  color: #000000;
  position: absolute;
  right: 50px;
  top: 50%;
  margin-top: -8px;
}
.timeTableSearchResult__item.timeTableSearchResult__itemDate {
  padding-left: 15px;
}
.timeTableSearchResult__item.timeTableSearchResult__btn {
  text-align: right;
}
@media only screen and (max-width: 640px) {
  .timeTableSearchResult__item.timeTableSearchResult__btn {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 640px) {
  .timeTableSearchResult__item.timeTableSearchResult__btn a {
    display: block;
  }
}
.timeTableSearchResult__item .airoport, .timeTableSearchResult__item .country {
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  line-height: 1.2;
}
@media only screen and (max-width: 640px) {
  .timeTableSearchResult__item .airoport {
    font-size: 12px;
  }
}
@media only screen and (max-width: 640px) {
  .timeTableSearchResult__item .country {
    display: none;
  }
}
.timeTableSearchResult__item .iata {
  display: none;
  color: #3b7e06;
  font-size: 25px;
}
@media only screen and (max-width: 640px) {
  .timeTableSearchResult__item .iata {
    display: block;
  }
}
.timeTableSearchResult__item .date {
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  line-height: 1.2;
}
.timeTableSearchResult__item .changeDate {
  font-weight: bold;
  line-height: 1.2;
  color: #3b7e06;
  cursor: pointer;
}

.timeTable .first, .timeTable .second, .timeTable .third, .timeTable .fourth {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  padding: 0 15px;
  font-size: 16px;
}

@media only screen and (max-width: 640px) {
  .row__inner .fourth {
    width: 100%;
    padding: 15px;
  }
}

.timeTable__header {
  background: #e0ede2;
  line-height: 80px;
  min-height: 80px;
  font-size: 0;
}
@media only screen and (max-width: 640px) {
  .timeTable__header {
    background: #ffffff;
    line-height: 30px;
    min-height: 30px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 640px) {
  .timeTable__header .first, .timeTable__header .second, .timeTable__header .third {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .timeTable__header .fourth {
    width: 100%;
    text-align: right;
    padding-right: 10px;
  }
}

.timeTable__title {
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  line-height: 1.2;
  font-weight: bold;
}

.timeTable__onlyDirect .checkbox [type="checkbox"] + label {
  line-height: 80px;
}
@media only screen and (max-width: 640px) {
  .timeTable__onlyDirect .checkbox [type="checkbox"] + label {
    line-height: 30px;
  }
}

.timeTable__body {
  font-size: 0;
}
@media only screen and (max-width: 640px) {
  .timeTable__body {
    margin: 0 -10px;
  }
}
@media only screen and (max-width: 640px) {
  .timeTable__body .first {
    width: 100%;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 640px) {
  .timeTable__body .second, .timeTable__body .third {
    width: 49%;
  }
}
.timeTable__body .second {
  position: relative;
}
@media only screen and (max-width: 640px) {
  .timeTable__body .second:after {
    content: "❯";
    display: inline-block;
    color: #000000;
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -8px;
  }
}
.timeTable__body .row {
  *zoom: 1;
  box-shadow: inset 0px 0px #3b7e06, inset 0px 0px #3b7e06;
  transition: all 0.2s ease;
}
.timeTable__body .row:before, .timeTable__body .row:after {
  content: " ";
  display: table;
}
.timeTable__body .row:after {
  clear: both;
}
.timeTable__body .row:nth-child(odd) {
  background-color: #f8f8f8;
}
.timeTable__body .row.opened {
  box-shadow: inset 3px 3px #3b7e06, inset -3px -3px #3b7e06;
  background: #ffffff;
}
.timeTable__body .row__inner {
  padding: 20px 0;
  font-size: 0;
}

.timeTable__numberFlight {
  font-size: 24px;
  text-transform: uppercase;
  display: block;
}

.timeTable__infoFlight {
  color: #287e57;
  font-size: 16px;
  line-height: 1.2;
}
.timeTable__infoFlight .i-infoCircle {
  vertical-align: middle;
  margin-right: 5px;
}
.timeTable__infoFlight a {
  font-weight: bold;
  color: #287e57;
}

.timeTable__detailFlight {
  color: #287e57;
}
.timeTable__detailFlight .ico {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.timeTable__time {
  font-size: 24px;
  text-transform: uppercase;
  display: block;
}

.timeTable__airport {
  font-size: 16px;
  text-transform: uppercase;
  color: #3b7e06;
}
@media only screen and (max-width: 640px) {
  .timeTable__airport {
    display: none;
  }
}

.timeTable__iata {
  font-size: 16px;
  text-transform: uppercase;
  color: #3b7e06;
}
@media only screen and (max-width: 640px) {
  .timeTable__iata {
    display: block;
  }
}

.timeTableFlightDetail {
  padding: 10px 0 0;
  display: none;
}
@media only screen and (min-width: 641px) {
  .timeTableFlightDetail {
    padding: 15px 0;
  }
}

.timeTableFlightDetail__header {
  position: relative;
  padding: 10px 0;
  margin: 0 15px;
  border-top: 1px solid transparent;
  transition: border 0.2s ease;
}
.opened .timeTableFlightDetail__header {
  border-color: #d9d9d9;
}

.timeTableFlightDetail__title {
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  display: block;
}
@media only screen and (min-width: 641px) {
  .timeTableFlightDetail__title {
    display: inline-block;
  }
}

.timeTableFlightDetail .responsiveTable--threeCol tr:nth-child(even) {
  background: none;
}
.timeTableFlightDetail .responsiveTable--threeCol th, .timeTableFlightDetail .responsiveTable--threeCol td {
  border: none;
  text-align: left;
}
.timeTableFlightDetail .responsiveTable--threeCol th {
  color: #3b7e06;
  font-size: 13px;
  font-weight: bold;
  padding: 15px 0px;
}
.timeTableFlightDetail .responsiveTable--threeCol td {
  font-weight: bold;
  padding-left: 15px;
}
.timeTableFlightDetail .responsiveTable--threeCol td.firstCol {
  font-weight: normal;
  width: 100%;
}
@media only screen and (min-width: 641px) {
  .timeTableFlightDetail .responsiveTable--threeCol td.firstCol {
    width: 25%;
  }
}

.timeTableExtraInfo {
  margin: 10px 0 0;
  padding: 15px 0 0;
  font-size: 0;
  position: relative;
}
.timeTableExtraInfo:before {
  content: "";
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
}
@media only screen and (max-width: 640px) {
  .timeTableExtraInfo .first, .timeTableExtraInfo .second, .timeTableExtraInfo .third {
    width: 100%;
  }
}

.timeTableExtraInfo__label {
  font-size: 16px;
  display: block;
  line-height: 1.2;
}

.timeTableExtraInfo__item {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}

.timeTableExtraInfo__dayList {
  *zoom: 1;
}
.timeTableExtraInfo__dayList:before, .timeTableExtraInfo__dayList:after {
  content: " ";
  display: table;
}
.timeTableExtraInfo__dayList:after {
  clear: both;
}

.timeTableExtraInfo__day {
  float: left;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0 2px;
  color: #b2b2b2;
}
.timeTableExtraInfo__day.active {
  color: #000000;
}

.timeTable__btn {
  padding: 40px 0;
  text-align: right;
}

.flyoutAirportDetail.customOverlay {
  max-width: 800px;
}
@media only screen and (min-width: 641px) {
  .flyoutAirportDetail.customOverlay {
    max-height: 400px;
  }
}

.flyoutAirportDetailContent {
  font-size: 0;
  padding: 20px 0;
}
.flyoutAirportDetailContent .first {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  display: none;
}
@media only screen and (min-width: 641px) {
  .flyoutAirportDetailContent .first {
    display: inline-block;
    width: 30%;
    padding-right: 20px;
    margin-bottom: 0;
  }
}
.flyoutAirportDetailContent .second {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}
@media only screen and (min-width: 641px) {
  .flyoutAirportDetailContent .second {
    width: 70%;
  }
}

.flyoutAirportDetail__subtitle {
  font-size: 16px;
  margin-bottom: 5px;
}

.flyoutAirportDetail__title {
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.flyoutAirportDetail__info {
  width: 100%;
  font-size: 0;
}
.flyoutAirportDetail__info .first {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-size: 16px;
  margin-bottom: 3px;
}
@media only screen and (min-width: 641px) {
  .flyoutAirportDetail__info .first {
    width: 50%;
  }
}
.flyoutAirportDetail__info .second {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-size: 16px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 641px) {
  .flyoutAirportDetail__info .second {
    margin-bottom: 3px;
    width: 50%;
  }
}

.flyoutAirportDetail__infoLabel {
  font-size: 16px;
  color: #000000;
  line-height: 1.2;
}

.flyoutAirportDetail__infoItem {
  font-weight: bold;
  color: #000000;
  line-height: 1.2;
  display: block;
}

.flyoutAirportDetail__infoLink {
  font-weight: bold;
  color: #3b7e06;
  line-height: 1.2;
}

.flyoutDiscountCode {
  padding: 10px 0;
}
.flyoutDiscountCode .bookingBox__btnCover {
  font-size: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  .flyoutDiscountCode .bookingBox__btnCover {
    position: relative;
  }
}
.flyoutDiscountCode .bookingBox__btn {
  display: inline-block;
  width: 48%;
}
@media only screen and (max-width: 640px) {
  .flyoutDiscountCode .bookingBox__btn {
    width: 100%;
  }
}
.flyoutDiscountCode .bookingBox__btn + .bookingBox__btn {
  margin-left: 4%;
}
@media only screen and (max-width: 640px) {
  .flyoutDiscountCode .bookingBox__btn + .bookingBox__btn {
    margin-top: 15px;
    margin-left: 0;
  }
}

.flyoutDiscountCode__titleError {
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #c30e1a;
}

.flyoutDiscountCode__feedback {
  margin-bottom: 15px;
}
.flyoutDiscountCode__feedback > * + *,
.flyoutDiscountCode__feedback > ul li + li {
  margin-top: 5px;
}

.multiJourney {
  padding-bottom: 60px;
}
.multiJourney .editorialArea {
  padding-bottom: 15px;
}

.multiJourney__typeOfFlight {
  padding: 0 35px 0;
  margin-bottom: 20px;
}
.multiJourney__typeOfFlight ol {
  font-size: 0;
}
.multiJourney__typeOfFlight ol li {
  font-size: 16px;
  display: inline-block;
  margin-left: 30px;
}
@media only screen and (min-width: 1024px) {
  .multiJourney__typeOfFlight ol li {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 640px) {
  .multiJourney__typeOfFlight ol li {
    margin-left: 0;
    display: block;
    margin-bottom: 10px;
  }
}
.multiJourney__typeOfFlight ol li:first-child {
  margin-left: 0;
}

.multiJourney__tilte {
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.multiJourney__item, .internalFlightFinder {
  margin-bottom: 15px;
  background: #f8f8f8;
  padding: 20px;
  position: relative;
}
@media only screen and (max-width: 640px) {
  .multiJourney__item, .internalFlightFinder {
    padding: 0 0 10px 0;
  }
}

@media only screen and (max-width: 640px) {
  .multiJourney__item {
    padding: 10px;
  }
}

.multiJourney__itemHeader {
  min-height: 40px;
}
@media only screen and (max-width: 640px) {
  .multiJourney__itemHeader {
    margin-bottom: 10px;
  }
}

.multiJourney__itemHeaderTitle {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #3b7e06;
  line-height: 40px;
}
.multiJourney__itemHeaderTitle .icon {
  font-size: 22px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.multiJourney__teaser {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}
@media only screen and (max-width: 640px) {
  .multiJourney__teaser {
    position: relative;
    right: inherit;
    top: 0;
  }
  .multiJourney__teaser a {
    display: block;
  }
}

.multiJourney__choose {
  display: none;
}
.multiJourney__choose .itinerary--flightFinder {
  padding-top: 20px;
}
@media only screen and (max-width: 640px) {
  .multiJourney__choose .itinerary--flightFinder {
    padding: 0;
    margin-bottom: 20px;
  }
}
.multiJourney__choose .dateOfFlight--flightFinder li {
  vertical-align: middle;
}
@media only screen and (max-width: 640px) {
  .multiJourney__choose .dateOfFlight--flightFinder li {
    width: 100%;
    margin-left: 0;
  }
}

.multiJourney__choose .dateOfFlight.hasError .form__errorField, .multiJourney__choose .dateOfFlight.hasError .form__errorIcon {
  display: block;
}

.multiJourney__modify {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  display: none;
}
.multiJourney__modify .departure {
  display: inline-block;
}
.multiJourney__modify .departure:after {
  content: "❯";
  display: inline-block;
  margin: 0 15px;
}
@media only screen and (max-width: 640px) {
  .multiJourney__modify .departure:after {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .multiJourney__modify .departure {
    margin-bottom: 5px;
  }
}
.multiJourney__modify .return {
  display: inline-block;
}
.multiJourney__modify .date {
  display: inline-block;
  margin-left: 15px;
}
@media only screen and (max-width: 640px) {
  .multiJourney__modify .date {
    margin-left: 0;
  }
}
@media only screen and (max-width: 640px) {
  .multiJourney__modify .return,
  .multiJourney__modify .date {
    padding-left: 27px;
    display: block;
    margin-bottom: 5px;
  }
}

.multiJourneyInfoFlight .icon {
  font-size: 18px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  color: #b2b2b2;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media only screen and (max-width: 640px) {
  .multiJourneyInfoFlight {
    margin-bottom: 15px;
  }
}

.multiJourney__modifyBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}
@media only screen and (max-width: 640px) {
  .multiJourney__modifyBtn {
    position: relative;
    right: inherit;
    top: 0;
  }
  .multiJourney__modifyBtn a {
    display: block;
  }
}

.multiJourney__confirmBtn {
  text-align: right;
  width: 100%;
  line-height: 50px;
  height: 50px;
  position: relative;
  display: none;
}
.modify .multiJourney__confirmBtn {
  display: block;
}
.multiJourney__confirmBtn a {
  position: absolute;
  right: 0;
  bottom: 0;
  vertical-align: bottom;
}

.multiJourney .passengers--flightFinder {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (min-width: 1024px) {
  .multiJourney .passengers--flightFinder li {
    width: 33%;
  }
}
@media only screen and (min-width: 1024px) {
  .multiJourney .passengers--flightFinder.has4items li {
    width: 25%;
  }
}
@media only screen and (min-width: 1024px) {
  .multiJourney .passengers--flightFinder.has4items li .numberSelector {
    max-width: 150px;
  }
}
@media only screen and (min-width: 801px) {
  .multiJourney .passengers--flightFinder label {
    font-size: 13px;
  }
}
.multiJourney .cabinClass--flightFinder {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (min-width: 641px) {
  .multiJourney .cabinClass--flightFinder {
    width: 75%;
  }
}
.multiJourney .itinerary__inputCover + .itinerary__inputCover {
  margin-left: 5.6%;
}
@media only screen and (max-width: 640px) {
  .multiJourney .itinerary__inputCover + .itinerary__inputCover {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .flightSel.multiJourney .passengers--flightFinder.has4items li {
    width: 15%;
  }
}
.multiJourney__searchBtn {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  margin-top: 20px;
}
@media only screen and (min-width: 641px) {
  .multiJourney__searchBtn {
    padding-right: 20px;
    width: 25%;
  }
}
@media only screen and (max-width: 640px) {
  .multiJourney__searchBtn {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 640px) {
  .multiJourney__searchBtn a {
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .innerPage__aside.specialOffers__boxesAside.noClear img.box__image {
    width: 100%;
    display: block;
  }
}
@media only screen and (min-width: 801px) {
  .innerPage__aside.specialOffers__boxesAside.noClear {
    clear: none;
  }
  .innerPage__aside.specialOffers__boxesAside.noClear .box--modOne {
    margin-top: 0;
  }
}

.searchFlight.innerPage__body {
  overflow: visible;
}
.searchFlight .multiJourney__typeOfFlight {
  padding-left: 0;
  margin-bottom: 0;
}

.territorialy.innerPage {
  padding-top: 0;
}
.territorialy .booking__header {
  opacity: 0.3;
}
.territorialy .innerPage__body {
  padding: 40px 0 0;
}

.bookingAward {
  padding: 20px 0;
}
@media only screen and (min-width: 641px) {
  .bookingAward {
    padding: 40px 0;
  }
}
@media only screen and (min-width: 641px) {
  .bookingAward {
    padding: 60px 0;
  }
}
.bookingAward .booking__buttonCover {
  padding-bottom: 20px;
}

.bookingAward__calendar {
  padding: 40px 0 0;
}
.bookingAward__calendar .date-picker {
  z-index: 9;
}
.bookingAward__calendar .date-picker td {
  height: 59px;
}
.bookingAward__calendar .date-picker td.day-disabled {
  text-decoration: none;
}
.bookingAward__calendar .date-picker-table td:hover {
  outline: 3px #000000 solid;
}

.bookingAward__date {
  text-align: center;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
  display: block;
  color: #000000;
}

.bookingAward__dateWrapper {
  position: relative;
  padding: 16px 0;
  z-index: 1;
  position: relative;
}
.date-picker .bookingAward__dateWrapper {
  border: 0;
}

.bookingAward__dot {
  text-align: right;
  font-size: 0;
  padding-top: 8px;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media only screen and (max-width: 640px) {
  .bookingAward__dot {
    right: 10px;
  }
}

.bookingAward__dotEconomy,
.bookingAward__dotBusiness {
  display: inline-block;
  font-size: 14px;
}

.bookingAward__dotEconomy {
  margin-right: 3px;
  color: #3b7e06;
  width: 10px;
  height: 10px;
  background-color: #3b7e06;
}

.bookingAward__dotBusiness {
  color: #c30e1a;
}

.bookingAward__calendar {
  font-size: 0;
}
.bookingAward__calendar .first {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  padding-right: 20px;
}
@media only screen and (max-width: 640px) {
  .bookingAward__calendar .first {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 0 10px;
  }
}
.bookingAward__calendar .second {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
@media only screen and (max-width: 640px) {
  .bookingAward__calendar .second {
    margin-bottom: 20px;
    width: 100%;
    display: block;
    padding: 0 10px;
  }
}

.bookingAward__calendarTitle {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.bookingAward__calendarLegend {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 10px;
}
.bookingAward__calendarLegend span {
  display: inline-block;
}
.bookingAward__calendarLegend span.i-dot {
  margin: 0;
}

.bookingAward__search {
  padding-top: 20px;
}
@media only screen and (max-width: 640px) {
  .bookingAward__search .itinerary--flightFinder {
    padding: 0 0 20px;
  }
}

.bookingAward__searchTitle {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
}

.bookingAward__searchSubTitle {
  font-size: 16px;
}

.bookingAward__searchWrapper {
  height: auto;
  padding: 0;
  width: 100%;
  background: #f8f8f8;
}
@media only screen and (min-width: 641px) {
  .bookingAward__searchWrapper {
    padding: 20px;
  }
}
@media only screen and (min-width: 801px) {
  .bookingAward__searchWrapper {
    padding: 20px;
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 66.33333%;
  }
}
.bookingAward__searchWrapper .itinerary--flightFinder {
  padding: 10px;
}
@media only screen and (min-width: 641px) {
  .bookingAward__searchWrapper .itinerary--flightFinder {
    padding: 0 0 20px;
  }
}
@media only screen and (min-width: 801px) {
  .bookingAward__searchWrapper + .innerPage__aside.specialOffers__boxesAside {
    clear: none;
  }
  .bookingAward__searchWrapper + .innerPage__aside.specialOffers__boxesAside .box--modOne {
    margin-top: 0;
  }
}
.bookingAward__searchWrapper .itinerary__inputCoverIcon {
  text-align: center;
}

.bookingAwardSearch__textWrapper {
  margin: 30px 0;
  font-size: 0;
}
.bookingAwardSearch__textWrapper .first {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-bottom: 30px;
  padding-right: 30px;
}
@media only screen and (min-width: 801px) {
  .bookingAwardSearch__textWrapper .first {
    width: 70%;
    margin-top: 0;
  }
}
.bookingAwardSearch__textWrapper .second {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  background: #e2e2e2;
  padding: 20px;
  width: 100%;
  position: relative;
}
@media only screen and (min-width: 801px) {
  .bookingAwardSearch__textWrapper .second {
    position: absolute;
    width: 30%;
  }
}

.wrapBackCaledar {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 15px 0 0;
}
.wrapBackCaledar a {
  position: relative;
}
@media only screen and (min-width: 801px) {
  .wrapBackCaledar a {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 0;
  }
}

.advBlock {
  display: none;
  *zoom: 1;
}
.advBlock:before, .advBlock:after {
  content: " ";
  display: table;
}
.advBlock:after {
  clear: both;
}
.advBlock * {
  box-sizing: content-box;
}
.advBlock.rentCar * {
  box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
  .advBlock {
    display: block;
    text-align: center;
    margin-top: 40px;
  }
}

.advBlock--border {
  border: 1px solid #b2b2b2;
  min-height: 216px;
}

.advBlock--mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .advBlock--mobile {
    padding: 20px;
    text-align: center;
    border: 1px solid #b2b2b2;
    margin: 0 10px 10px;
    display: block;
  }
}

.advBlock__icon {
  font-size: 26px;
  margin-bottom: 5px;
  display: inline-block;
  color: #3b7e06;
}

.advBlock__title {
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
  font-weight: bold;
  margin-bottom: 3px;
}
.rentCar .advBlock__title {
  text-align: left;
  margin-bottom: 15px;
}

.advBlock__more {
  color: #3b7e06;
  font-size: 14px;
  text-transform: uppercase;
}

.rentCar {
  margin: 40px auto 0;
  width: 724px;
  background-color: #f4f4f4;
  padding: 21px 14px;
}

.rentCar__list {
  *zoom: 1;
}
.rentCar__list:before, .rentCar__list:after {
  content: " ";
  display: table;
}
.rentCar__list:after {
  clear: both;
}

.rentCar__item {
  float: left;
  width: 32%;
  background-color: #ffffff;
  padding: 5px;
}
.rentCar__item + .rentCar__item {
  margin-left: 2%;
}

.rentCar__image {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.rentCar__type {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
}

.rentCar__footer {
  *zoom: 1;
}
.rentCar__footer:before, .rentCar__footer:after {
  content: " ";
  display: table;
}
.rentCar__footer:after {
  clear: both;
}
.rentCar__footer .fifthButton--small {
  float: right;
}

.rentCar__priceCover {
  float: left;
}
.rentCar__priceCover .line1,
.rentCar__priceCover .line2 {
  display: block;
  text-align: left;
}
.rentCar__priceCover .line1 {
  font-weight: bold;
  font-size: 14px;
}
.rentCar__priceCover .line1 sub {
  vertical-align: baseline;
  font-size: 12px;
}
.rentCar__priceCover .line2 {
  font-size: 12px;
}

.checkin.innerPage {
  padding-top: 0;
}
.checkin .i-faq {
  color: #3b7e06;
}
.checkin .bookInfoBoxItinerary__departure:after {
  display: none;
}
.checkin .booking__mandatory {
  margin-top: 20px;
  float: none;
}
.checkin .bookingPaymentBlock .booking__mandatory {
  margin-bottom: 10px;
}
@media only screen and (min-width: 641px) {
  .checkin .bookingPaymentBlock .booking__mandatory {
    margin-bottom: 0;
    float: left;
  }
}

.checkin__PageHead {
  padding: 30px 0 30px;
}
@media only screen and (min-width: 641px) {
  .checkin__PageHead {
    padding: 40px 0 70px;
  }
}
.checkin__PageHead.innerPageHead {
  background: url(../../clientlibs/images/patterns/innerPageTexture2.jpg);
}
.checkin__PageHead .editorialArea a {
  color: #344a1a;
  font-weight: bold;
}
.checkin__PageHead .editorialArea a:hover {
  color: #ffffff;
}

.checkin__PageBody {
  padding-top: 0;
  margin-top: -10px;
}
@media only screen and (min-width: 641px) {
  .checkin__PageBody {
    margin-top: -30px;
  }
}

.checkin__body {
  clear: both;
}
.checkin__body .form__element.alignBottom .form__inputCoverFull {
  margin-top: 10px;
}
.checkin__body .form__element.alignBottom .form__inputCoverFull .checkbox label {
  font-weight: bold;
}
.checkin__body .form__element.alignBottom .form__inputCoverFull .checkbox label span {
  word-break: break-all;
}
.checkin__body .form__element.alignBottom .form__inputCoverFull .checkbox label span + span {
  display: block;
  margin-left: 30px;
  font-weight: normal;
}
@media only screen and (min-width: 641px) and (max-width: 800px) {
  .checkin__body .form__element.alignBottom .form__inputCoverFull {
    width: 100%;
    margin-top: 15px;
  }
}
@media only screen and (min-width: 801px) {
  .checkin__body .form__element.alignBottom .form__inputCoverFull {
    margin-top: 10px;
  }
  .checkin__body .form__element.alignBottom .form__inputCoverFull span {
    padding-right: 25px;
  }
}
@media only screen and (max-width: 640px) {
  .checkin__body .bookingForm.withLines {
    margin-top: 10px;
  }
}
.checkin__body .bookingForm.withLines .form__row {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}
@media only screen and (max-width: 640px) {
  .checkin__body .bookingForm.withLines .form__row + .form__row {
    margin-top: 0;
  }
}
@media only screen and (max-width: 640px) {
  .checkin__body .bookingForm.withLines .form__row .checkbox label {
    width: 100%;
  }
}
@media only screen and (min-width: 641px) {
  .checkin__body .booking__buttonCover.withMaxWidth .form__inputCoverFull {
    max-width: 49%;
  }
}
@media only screen and (min-width: 801px) {
  .checkin__body .booking__buttonCover.withMaxWidth .form__inputCoverFull {
    max-width: 33.66667%;
  }
}
.checkin__body .booking__buttonCover.withMaxWidth .goBackButton {
  float: left;
}
@media only screen and (max-width: 640px) {
  .checkin__body .booking__buttonCover.withMaxWidth .goBackButton {
    margin-bottom: 15px;
    display: block;
    width: 100%;
  }
}

.checkin__header {
  margin-bottom: 30px;
}
.checkin__header.topElement {
  margin-top: 30px;
}
.checkin__header.topElement .editorialArea p {
  line-height: 1.5;
}
@media only screen and (min-width: 801px) {
  .checkin__header {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 66.33333%;
  }
}
.checkin__header .editorialArea > * + * {
  margin-top: 10px;
}

.checkin__route {
  display: none;
  margin-bottom: 10px;
}
@media only screen and (min-width: 641px) {
  .checkin__route {
    display: block;
  }
}
@media only screen and (max-width: 640px) {
  .checkin__route .flightSel__typeOfFlightArrow {
    display: none;
  }
}

.checkin__route--scalo .flightSel__origin,
.checkin__route--scalo .flightSel__destination,
.checkin__route--scalo .flightSel__typeOfFlightArrow,
.checkin__route--scalo .flightSel__typeOfFlightArrow.scalo {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin: 0;
}
.checkin__route--scalo .flightSel__origin,
.checkin__route--scalo .flightSel__destination {
  width: 25.25%;
}
.checkin__route--scalo .flightSel__typeOfFlightArrow,
.checkin__route--scalo .flightSel__typeOfFlightArrow.scalo {
  width: 11.625%;
}
@media only screen and (max-width: 640px) {
  .checkin__route--scalo .flightSel__typeOfFlightArrow,
  .checkin__route--scalo .flightSel__typeOfFlightArrow.scalo {
    display: none;
    font-size: 16px;
  }
  .checkin__route--scalo .flightSel__typeOfFlightArrow:before,
  .checkin__route--scalo .flightSel__typeOfFlightArrow.scalo:before {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .checkin__route--scalo .flightSel__typeOfFlightArrow .i-plane,
  .checkin__route--scalo .flightSel__typeOfFlightArrow.scalo .i-plane {
    font-size: 24px;
  }
}
.checkin__route--scalo .flightSel__typeOfFlightArrow .i-dot,
.checkin__route--scalo .flightSel__typeOfFlightArrow.scalo .i-dot {
  display: none;
}
@media only screen and (min-width: 641px) {
  .checkin__route--scalo .flightSel__typeOfFlightArrow .i-dot,
  .checkin__route--scalo .flightSel__typeOfFlightArrow.scalo .i-dot {
    display: inline-block;
  }
}
@media only screen and (max-width: 640px) {
  .checkin__route--scalo .location {
    display: none;
  }
}
@media only screen and (min-width: 641px) {
  .checkin__route--scalo .location {
    display: block;
  }
}
@media only screen and (max-width: 640px) {
  .checkin__route--scalo.fourChange .flightSel__origin,
  .checkin__route--scalo.fourChange .flightSel__destination {
    font-size: 16px;
    width: 16.25%;
  }
}
@media only screen and (min-width: 641px) {
  .checkin__route--scalo.fourChange .flightSel__origin,
  .checkin__route--scalo.fourChange .flightSel__destination {
    width: 15.83333%;
  }
}
@media only screen and (min-width: 641px) {
  .checkin__route--scalo.fourChange .flightSel__typeOfFlightArrow,
  .checkin__route--scalo.fourChange .flightSel__typeOfFlightArrow.scalo {
    display: inline-block;
    width: 11.625%;
  }
}
.checkin__route--scalo.fourChange .location {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkin__iMieiVoli {
  *zoom: 1;
}
.checkin__iMieiVoli:before, .checkin__iMieiVoli:after {
  content: " ";
  display: table;
}
.checkin__iMieiVoli:after {
  clear: both;
}
@media only screen and (max-width: 640px) {
  .checkin__iMieiVoli {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 801px) {
  .checkin__iMieiVoli.loggedVersion .mBpassengerFlyght__list {
    width: 80%;
  }
  .checkin__iMieiVoli.loggedVersion .iMieiVoli__showBtn {
    width: 20%;
  }
}
@media only screen and (min-width: 641px) and (max-width: 800px) {
  .checkin__iMieiVoli .iMieiVoli__showBtn {
    padding: 10px 10px 5px 0px;
  }
}
@media only screen and (max-width: 640px) {
  .checkin__iMieiVoli .iMieiVoli__showBtn {
    padding-top: 15px;
    text-align: center;
  }
}
.checkin__iMieiVoli .flight {
  text-transform: uppercase;
  color: #000000;
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 10px;
}
@media only screen and (max-width: 640px) {
  .checkin__iMieiVoli .flight {
    padding-top: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 641px) {
  .checkin__iMieiVoli .flight {
    font-size: 20px;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 801px) {
  .checkin__iMieiVoli .flight {
    padding-left: 30px;
  }
}
.checkin__iMieiVoli .flight .i-departure {
  display: inline-block;
  vertical-align: middle;
  font-size: 33px;
}
@media only screen and (min-width: 641px) {
  .checkin__iMieiVoli .flight .i-departure {
    font-size: 22px;
  }
}
.checkin__iMieiVoli .flight .i-departure.mirror {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}
.checkin__iMieiVoli .iMieiVoli__item {
  background-color: #f5f8f4;
  border-bottom: 3px solid #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 640px) {
  .checkin__iMieiVoli .iMieiVoli__item {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 641px) {
  .checkin__iMieiVoli .iMieiVoli__item {
    border-bottom: 0;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 801px) {
  .checkin__iMieiVoli .iMieiVoli__item {
    padding: 10px 20px;
  }
}
.checkin__iMieiVoli .mBpassengerFlyght__item {
  margin-bottom: 0;
}
@media only screen and (max-width: 640px) {
  .checkin__iMieiVoli .mBpassengerFlyght__item {
    border-bottom: 0;
  }
}
@media only screen and (min-width: 641px) and (max-width: 800px) {
  .checkin__iMieiVoli .mBpassengerFlyght__item {
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
}
.checkin__iMieiVoli .mBpassengerFlyght__item + .mBpassengerFlyght__item {
  margin-top: 10px;
  padding-top: 15px;
  border-top: 1px solid #e2e2e2;
}
.checkin__iMieiVoli .mBpassengerFlyght__item .row {
  margin-bottom: 0;
}
.checkin__iMieiVoli .mBpassengerFlyght__item .row .first,
.checkin__iMieiVoli .mBpassengerFlyght__item .row .second,
.checkin__iMieiVoli .mBpassengerFlyght__item .row .third,
.checkin__iMieiVoli .mBpassengerFlyght__item .row .fourth {
  margin-bottom: 0;
}
@media only screen and (max-width: 640px) {
  .checkin__iMieiVoli .mBpassengerFlyght__item .row .third,
  .checkin__iMieiVoli .mBpassengerFlyght__item .row .fourth {
    margin-top: 15px;
  }
}

.checkin__editorial {
  margin: 20px 0;
}
.checkin__editorial p {
  line-height: 1.4;
  font-size: 13px;
}
@media only screen and (min-width: 641px) {
  .checkin__editorial p {
    font-size: 16px;
  }
}

.checkin__title,
h3.checkin__title {
  color: #000000;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
}
@media only screen and (min-width: 641px) {
  .checkin__title,
  h3.checkin__title {
    font-size: 35px;
  }
}
@media only screen and (max-width: 640px) {
  .checkin__title + p,
  h3.checkin__title + p {
    font-size: 13px;
  }
}

.checkin__paragraph {
  margin-top: 10px;
  line-height: 1.2;
}

.checkin__faqAside {
  margin-top: 15px;
}
.checkin__faqAside .accordion__body {
  background-color: #e0ede2;
}
@media only screen and (min-width: 801px) {
  .checkin__faqAside {
    margin-top: 0;
  }
}

.checkin__main,
.checkin__faqAside {
  background-color: #e0ede2;
  padding: 10px;
}
.checkin__main > div[role="tablist"],
.checkin__faqAside > div[role="tablist"] {
  margin: -10px 0;
  min-height: 39px;
}

.checkin__faqAsideTitle,
.tabsInfo__loggedTitle {
  line-height: 1.3;
  font-size: 16px;
}
@media only screen and (min-width: 801px) {
  .checkin__faqAsideTitle,
  .tabsInfo__loggedTitle {
    font-size: 18px;
  }
}

@media only screen and (max-width: 640px) {
  .checkin__fakeAccordion {
    height: auto;
  }
}

@media only screen and (min-width: 641px) {
  .checkin__fakeAccordion__body {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 640px) {
  .checkin__fakeAccordionTitle {
    position: relative;
    padding-right: 20px;
  }
  .checkin__fakeAccordionTitle:after {
    font-family: "iconFont";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    color: #b2b2b2;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
    display: inline-block;
  }
}
@media only screen and (max-width: 640px) {
  .checkin__fakeAccordionTitle.isActive:after {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@media only screen and (max-width: 640px) {
  .checkin__fakeAccordionContainer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
  .checkin__fakeAccordionContainer .tabsInfo__accordionPanel {
    margin-top: 10px;
  }
}
.checkin__fakeAccordionContainer.isActive {
  max-height: 99em;
}
@media only screen and (min-width: 641px) {
  .checkin__fakeAccordionContainer {
    display: block;
  }
}

.checkin__faqAsideItem {
  border-top: 1px solid #b2b2b2;
}

.checkin__faqAsideLink {
  font-weight: normal;
  line-height: 1;
  font-size: 14px;
  position: relative;
  color: #000000;
  display: block;
  padding-left: 5px;
  padding-right: 20px;
}
@media only screen and (min-width: 641px) {
  .checkin__faqAsideLink {
    line-height: 1.2;
  }
}
@media only screen and (min-width: 801px) {
  .checkin__faqAsideLink {
    font-size: 16px;
    font-weight: bold;
  }
}
.checkin__faqAsideLink:before {
  padding-bottom: 40px;
}
@media only screen and (min-width: 801px) {
  .checkin__faqAsideLink:before {
    padding-bottom: 50px;
  }
}
.checkin__faqAsideLink:after {
  font-family: "iconFont";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  position: absolute;
  right: 0;
  font-size: 14px;
  top: 50%;
  margin-top: -7px;
}

.checkin__accordion {
  background-color: transparent;
  border: none;
}

.checkin__accordion__header.accordion__header a {
  color: #000000;
  padding: 10px 0;
}

.checkin__accordion__body {
  padding: 0;
  background-color: #e0ede2;
}

.checkin__breadCrumb {
  padding: 15px 0 5px;
}
@media only screen and (max-width: 640px) {
  .checkin__breadCrumb {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .checkin__breadCrumb {
    padding: 0 10px;
    margin-right: -10px;
    margin-left: -10px;
  }
}

.checkin__breadCrumbList {
  *zoom: 1;
}
.checkin__breadCrumbList:before, .checkin__breadCrumbList:after {
  content: " ";
  display: table;
}
.checkin__breadCrumbList:after {
  clear: both;
}

.checkin__breadCrumbItem {
  float: left;
  position: relative;
  white-space: nowrap;
}
.checkin__breadCrumbItem + .checkin__breadCrumbItem {
  margin-left: 2%;
}
.checkin__breadCrumbItem .circle {
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
  background-color: #d9d9d9;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  width: 22px;
  height: 22px;
  line-height: 22px;
}
@media only screen and (min-width: 641px) {
  .checkin__breadCrumbItem .circle {
    width: 26px;
    height: 26px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 801px) {
  .checkin__breadCrumbItem .circle {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
}
.checkin__breadCrumbItem .circle .number {
  display: none;
}
@media only screen and (max-width: 1023px) {
  .checkin__breadCrumbItem .circle .number {
    display: inline-block;
    width: 100%;
  }
}
.checkin__breadCrumbItem .circle .arrow {
  display: inline-block;
  line-height: 16px;
  vertical-align: top;
}
@media only screen and (max-width: 1023px) {
  .checkin__breadCrumbItem .circle .arrow {
    display: none;
  }
}
.checkin__breadCrumbItem .circle .arrow:before {
  font-family: "iconFont";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  font-size: 12px;
  line-height: 22px;
  width: 22px;
  text-align: center;
  display: inline-block;
}
@media only screen and (min-width: 641px) {
  .checkin__breadCrumbItem .circle .arrow:before {
    line-height: 32px;
    width: 32px;
  }
}
.checkin__breadCrumbItem .text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 14px;
}
@media only screen and (max-width: 1023px) {
  .checkin__breadCrumbItem .text {
    display: none;
    font-weight: bold;
  }
}
@media only screen and (min-width: 1024px) {
  .checkin__breadCrumbItem .text {
    font-size: 15px;
  }
}
.checkin__breadCrumbItem.isActive .circle {
  background-color: #3b7e06;
  color: #ffffff;
}
.checkin__breadCrumbItem.isActive .text {
  color: #3b7e06;
}
@media only screen and (max-width: 1023px) {
  .checkin__breadCrumbItem.current .text {
    display: inline-block;
  }
}

/*
.checkin__listOfPassengers {
  display: none;
}
*/
@media only screen and (max-width: 640px) {
  .checkin__listOfPassengers + .oneAfterOther {
    margin-top: 25px;
  }
}

.checkin__customize {
  padding: 20px 0;
}
.checkin__customize .bookingUpsell__list a {
  color: #3b7e06;
}
.checkin__customize .bookingExtra__infoLineGroup {
  margin: 0;
}
@media only screen and (min-width: 641px) {
  .checkin__customize .bookingExtra__infoLineGroup {
    margin: 20px 0;
  }
}

.checkin__seatPro {
  padding: 30px 0 10px;
}
@media only screen and (min-width: 641px) {
  .checkin__seatPro {
    padding: 20px 0 10px;
  }
}
.checkin__seatPro .title {
  font-size: 16px;
  text-transform: uppercase;
  color: #3b7e06;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 15px;
}
@media only screen and (min-width: 641px) {
  .checkin__seatPro .title {
    font-size: 24px;
    text-transform: none;
  }
}

.checkin__seatProBoxCover {
  background: #f8f8f8;
  padding: 20px 15px 35px;
  margin: 20px -15px -35px;
  *zoom: 1;
}
.checkin__seatProBoxCover:before, .checkin__seatProBoxCover:after {
  content: " ";
  display: table;
}
.checkin__seatProBoxCover:after {
  clear: both;
}
.checkin__seatProBoxCover.oneUpdateOnly .checkin__seatProBox {
  width: 100%;
}
@media only screen and (min-width: 801px) {
  .checkin__seatProBoxCover.oneUpdateOnly .checkin__seatProBox .checkin__seatProBox__left {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 49.5%;
  }
}
@media only screen and (min-width: 801px) {
  .checkin__seatProBoxCover.oneUpdateOnly .checkin__seatProBox .checkin__seatProBox__right {
    display: block;
    float: left;
    margin-left: 50.5%;
    margin-right: -100%;
    width: 49.5%;
  }
}

@media only screen and (max-width: 640px) {
  .checkin__seatProBox + .checkin__seatProBox {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 641px) {
  .checkin__seatProBox {
    width: 49%;
    float: left;
  }
  .checkin__seatProBox + .checkin__seatProBox {
    margin-left: 2%;
  }
}

.checkin__seatProBoxText {
  *zoom: 1;
  margin-top: 15px;
}
.checkin__seatProBoxText:before, .checkin__seatProBoxText:after {
  content: " ";
  display: table;
}
.checkin__seatProBoxText:after {
  clear: both;
}
@media only screen and (min-width: 641px) and (max-width: 800px) {
  .checkin__seatProBoxText {
    min-height: 85px;
  }
}
.checkin__seatProBoxText.withForm {
  display: none;
}
.checkin__seatProBoxText.withForm .form__element.oneAfterOther {
  width: 100%;
  margin: 0;
}
.checkin__seatProBoxText.withForm .form__element.oneAfterOther + .form__element.oneAfterOther {
  margin-top: 20px;
}
@media only screen and (max-width: 640px) {
  .checkin__seatProBoxText.withForm .form__element.oneAfterOther + .form__element.oneAfterOther {
    margin-top: 10px !important;
  }
}
.checkin__seatProBoxText .left {
  float: left;
  width: 70%;
}
.checkin__seatProBoxText .right {
  float: right;
  width: 30%;
  text-align: right;
}
.checkin__seatProBoxText .boxTitle {
  color: #3b7e06;
  line-height: 1.2;
  font-weight: bold;
  font-size: 16px;
}
@media only screen and (min-width: 641px) {
  .checkin__seatProBoxText .boxTitle {
    font-size: 18px;
  }
}
@media only screen and (min-width: 801px) {
  .checkin__seatProBoxText .boxTitle {
    font-size: 22px;
  }
}
.checkin__seatProBoxText .boxSubtitle {
  line-height: 1.3;
  font-size: 13px;
}
@media only screen and (min-width: 641px) {
  .checkin__seatProBoxText .boxSubtitle {
    font-size: 16px;
    line-height: 1.2;
  }
}
@media only screen and (min-width: 801px) {
  .checkin__seatProBoxText .boxSubtitle {
    font-size: 20px;
  }
}
.checkin__seatProBoxText .boxPrice {
  line-height: 1.2;
  font-weight: bold;
  display: block;
  font-size: 20px;
  color: #0d4722;
}
@media only screen and (min-width: 801px) {
  .checkin__seatProBoxText .boxPrice {
    font-size: 26px;
  }
}
.checkin__seatProBoxText .boxPricePerson {
  font-size: 12px;
  line-height: 1.2;
  display: block;
}
.checkin__seatProBoxText .boxIcon {
  position: relative;
  padding-left: 20px;
  color: #3b7e06;
  font-weight: bold;
  font-size: 12px;
}
@media only screen and (min-width: 641px) {
  .checkin__seatProBoxText .boxIcon {
    font-size: 18px;
  }
}
.checkin__seatProBoxText .boxIcon:before {
  font-family: "iconFont";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  color: #4c4c4c;
  font-size: 16px;
}
@media only screen and (min-width: 641px) {
  .checkin__seatProBoxText .boxIcon:before {
    font-size: 18px;
  }
}
.checkin__seatProBoxText .boxSubIcon {
  padding-left: 20px;
  color: #3b7e06;
  font-size: 12px;
}
@media only screen and (min-width: 641px) {
  .checkin__seatProBoxText .boxSubIcon {
    font-size: 16px;
  }
}
.checkin__seatProBoxText + .checkin__seatProBoxText {
  border-top: 1px dashed #d9d9d9;
  padding-top: 15px;
}
@media only screen and (max-width: 1023px) {
  .checkin__seatProBoxText + .checkin__seatProBoxText .left,
  .checkin__seatProBoxText + .checkin__seatProBoxText .right,
  .checkin__seatProBoxText + .checkin__seatProBoxText .fifthButton {
    width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  .checkin__seatProBoxText + .checkin__seatProBoxText .fifthButton {
    margin-top: 10px;
  }
}

.checkin__seatProBoxTextDisclaimer {
  font-size: 14px;
  margin-bottom: 20px;
}

.checkin__seatProBoxButton {
  margin-top: 35px;
  float: right;
}
@media only screen and (min-width: 641px) {
  .checkin__seatProBoxButton {
    margin-top: 25px;
  }
}

.checkin__seatProBoxButtonCancel {
  margin-top: 15px;
  clear: both;
  float: right;
  color: #3b7e06;
  font-size: 16px;
  min-width: 150px;
  text-align: center;
}

.checkin__addMorePassenger {
  *zoom: 1;
}
.checkin__addMorePassenger:before, .checkin__addMorePassenger:after {
  content: " ";
  display: table;
}
.checkin__addMorePassenger:after {
  clear: both;
}
.checkin__addMorePassenger .text {
  margin-top: 5px;
  line-height: 1.2;
  font-size: 14px;
}

.checkin__buttonAddRemove {
  line-height: 25px;
}
.checkin__buttonAddRemove span {
  padding: 0 10px;
  font-size: 12px;
}
.checkin__buttonAddRemove .add {
  display: block;
}
.checkin__buttonAddRemove .remove {
  display: none;
}
.checkin__buttonAddRemove.caseRemove .add {
  display: none;
}
.checkin__buttonAddRemove.caseRemove .remove {
  display: block;
}

.checkin__link {
  font-size: 14px;
  display: inline-block;
  color: #3b7e06;
  margin-bottom: 10px;
}
@media only screen and (min-width: 801px) {
  .checkin__link {
    float: left;
  }
}
.checkin__link:hover {
  color: #344a1a;
}

.addMorePassengerForm {
  display: none;
  *zoom: 1;
}
.addMorePassengerForm:before, .addMorePassengerForm:after {
  content: " ";
  display: table;
}
.addMorePassengerForm:after {
  clear: both;
}
.addMorePassengerForm .booking__buttonCover {
  clear: both;
  padding-top: 20px;
}

.checking__formBg {
  background-color: #f5f8f4;
  margin: 20px 0;
  padding: 30px 15px 10px 10px;
}
@media only screen and (min-width: 641px) {
  .checking__formBg {
    padding: 30px 15px 10px 15px;
  }
}
@media only screen and (min-width: 801px) {
  .checking__formBg {
    margin: 30px 0;
    padding: 30px 15px 30px 30px;
  }
}
.checking__formBg .mBpassengerSpecialAssistance__body {
  *zoom: 1;
  padding-top: 10px;
  padding-bottom: 0px;
}
.checking__formBg .mBpassengerSpecialAssistance__body:before, .checking__formBg .mBpassengerSpecialAssistance__body:after {
  content: " ";
  display: table;
}
.checking__formBg .mBpassengerSpecialAssistance__body:after {
  clear: both;
}
@media only screen and (min-width: 641px) {
  .checking__formBg .mBpassengerSpecialAssistance__body {
    padding-top: 0px;
  }
}
.checking__formBg .mBpassengerSpecialAssistance__accordion {
  margin-bottom: 20px;
}
.checking__formBg .mBpassengerSpecialAssistance__accordion + .mBpassengerSpecialAssistance__accordion {
  border-top: 1px solid #b2b2b2;
  padding-top: 20px;
}

.checkin__titleWithIcon {
  font-size: 16px;
  margin-right: 5px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
  margin-left: 0;
}
@media only screen and (min-width: 641px) {
  .checkin__titleWithIcon {
    font-size: 18px;
  }
}
@media only screen and (min-width: 801px) {
  .checkin__titleWithIcon {
    padding-left: 25px;
  }
}
.checkin__titleWithIcon:before {
  font-family: "iconFont";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.checkin__titleWithIcon .noIcon:before {
  display: none;
}

.checkin__titleWithSub {
  font-size: 13px;
  line-height: 1.3;
}
@media only screen and (min-width: 801px) {
  .checkin__titleWithSub {
    font-size: 18px;
    line-height: 1.2;
  }
}
.checkin__titleWithIcon + .checkin__titleWithSub {
  margin-bottom: 20px;
}
@media only screen and (min-width: 641px) {
  .checkin__titleWithIcon + .checkin__titleWithSub {
    margin-bottom: 25px;
  }
}
.checkin__titleWithIcon + .checkin__titleWithSub.lessSpace {
  margin-bottom: 0;
}

.checkin__bookInfoBoxBasket .bookInfoBoxBasketPriceWrapper {
  margin-left: 0;
}
@media only screen and (min-width: 641px) {
  .checkin__bookInfoBoxBasket .bookInfoBoxBasketPriceWrapper {
    margin-left: 5px;
  }
}
.checkin__bookInfoBoxBasket .bookInfoBoxBasketToggle.onlyText {
  padding-right: 5px;
}
.checkin__bookInfoBoxBasket .bookInfoBoxBasketToggle.onlyText:before {
  display: none;
}

.checkin__boxBasketText {
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  width: 204px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
}
@media only screen and (min-width: 641px) and (max-width: 800px) {
  .checkin__boxBasketText {
    font-size: 16px;
    width: 440px;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1023px) {
  .checkin__boxBasketText {
    width: 175px;
  }
}

.checkin__notPossibleTitle {
  color: #c30e1a;
  font-size: 20px;
}

.checkin__notPossibleText {
  margin-top: 10px;
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.2;
}

.checkin__notPossibleListCover {
  *zoom: 1;
  margin-top: 15px;
}
.checkin__notPossibleListCover:before, .checkin__notPossibleListCover:after {
  content: " ";
  display: table;
}
.checkin__notPossibleListCover:after {
  clear: both;
}

.checkin__notPossibleList {
  float: left;
}

.checkin__notPossibleItem + .checkin__notPossibleItem {
  margin-top: 10px;
}

.checkin__notPossibleButton {
  float: right;
}

.checkin__route--welcome {
  margin-bottom: 10px;
}
@media only screen and (min-width: 641px) {
  .checkin__route--welcome {
    margin-bottom: 30px;
  }
}
.checkin__route--welcome .flightSel__typeOfFlightArrow {
  width: auto;
}

.checkin__routeWelcome {
  display: inline-block;
  padding: 10px 30px 20px;
}
@media only screen and (max-width: 640px) {
  .checkin__routeWelcome {
    white-space: nowrap;
  }
}
.checkin__routeWelcome .i-plane {
  display: inline-block;
  vertical-align: middle;
  color: #3b7e06;
  font-size: 30px;
}

.checkin__routeWelcomeText {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
  font-weight: bold;
}
@media only screen and (max-width: 640px) {
  .checkin__routeWelcomeText {
    white-space: normal;
    width: 95%;
    padding-left: 5px;
  }
}

.checkin__backbutton {
  *zoom: 1;
  margin: 15px 0 35px;
}
.checkin__backbutton:before, .checkin__backbutton:after {
  content: " ";
  display: table;
}
.checkin__backbutton:after {
  clear: both;
}
.checkin__backbutton .nextButton {
  float: right;
}

.checkin__thankyouTitle {
  color: #3b7e06;
  font-size: 22px;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}
@media only screen and (min-width: 641px) {
  .checkin__thankyouTitle {
    margin: 40px 0;
    font-size: 36px;
  }
}

.checking__summaryTitle {
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: -15px;
}
@media only screen and (min-width: 641px) {
  .checking__summaryTitle {
    margin-bottom: 0;
    padding-left: 5px;
  }
}

.checking__recapName {
  font-size: 16px;
  line-height: 1.2;
  min-width: 33.333%;
  display: inline-block;
  vertical-align: top;
  padding: 15px 0 15px 0;
  font-weight: bold;
  text-transform: uppercase;
}

.checking__recapTitle {
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
}
.checking__recapTitle span {
  font-weight: normal;
}

.checking__summaryItem {
  font-size: 0;
  margin-top: 15px;
  padding-top: 15px;
}
.checking__summaryItem + .checking__summaryItem {
  border-top: 1px dashed #b2b2b2;
}
.recap .checking__summaryItem {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 640px) {
  .recap .checking__summaryItem {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #e2e2e2;
  }
}
.checking__summaryItem .name,
.checking__summaryItem .mail,
.checking__summaryItem .cell {
  font-size: 16px;
  line-height: 1.2;
  min-width: 33.333%;
  display: inline-block;
  vertical-align: top;
  border-left: 2px solid #b2b2b2;
  padding: 5px 0 5px 10px;
  font-weight: bold;
}
@media only screen and (max-width: 640px) {
  .checking__summaryItem .name,
  .checking__summaryItem .mail,
  .checking__summaryItem .cell {
    border-left: 0;
    padding-left: 0;
  }
}
.checking__summaryItem .name {
  border-left: 0;
}
.checking__summaryItem .mail .i-mail {
  position: relative;
  bottom: -2px;
  margin-right: 3px;
}
.checking__summaryItem .cell .i-phone {
  margin-right: 3px;
  display: inline-block;
}

.checking__recapRow {
  *zoom: 1;
}
.checking__recapRow:before, .checking__recapRow:after {
  content: " ";
  display: table;
}
.checking__recapRow:after {
  clear: both;
}
@media only screen and (min-width: 641px) {
  .checking__recapRow {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #e2e2e2;
  }
}

.checking__recapCol {
  font-size: 16px;
  display: block;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 10px;
}
@media only screen and (min-width: 641px) {
  .checking__recapCol {
    margin-bottom: 0;
    display: inline-block;
    width: 25%;
    border-left: 1px solid #e2e2e2;
    padding-left: 10px;
  }
  .checking__recapCol:first-child {
    border-left: none;
    padding-left: 0;
  }
}
@media only screen and (min-width: 641px) {
  .checking__recapCol span {
    display: block;
  }
}

.checking__recapLabel {
  margin-right: 5px;
  line-height: 1.2;
}
@media only screen and (min-width: 641px) {
  .checking__recapLabel {
    margin-right: 0;
  }
}

.checking__recapInfo {
  font-weight: bold;
}

.checkin__button {
  margin-bottom: 30px;
  text-align: right;
}

.faqPopup {
  max-width: 800px;
}
@media only screen and (min-width: 641px) {
  .faqPopup.overlay__container {
    max-height: 400px;
  }
}

.checkinUnsubscribeAlert {
  margin-top: 20px;
  padding: 20px 0;
}
@media only screen and (min-width: 641px) {
  .checkinUnsubscribeAlert {
    margin-top: 40px;
    padding: 40px;
  }
}

.checkinUnsubscribeAlert__title {
  line-height: 1.2;
  margin-bottom: 20px;
  font-size: 20px;
}
@media only screen and (min-width: 641px) {
  .checkinUnsubscribeAlert__title {
    font-size: 36px;
  }
}

.checkinUnsubscribeAlert__text {
  font-size: 14px;
  line-height: 1.2;
}
@media only screen and (min-width: 641px) {
  .checkinUnsubscribeAlert__text {
    font-size: 18px;
  }
}

.checkinUnsubscribeAlert__buttonCover {
  margin-top: 20px;
}
@media only screen and (min-width: 641px) {
  .checkinUnsubscribeAlert__buttonCover {
    margin-top: 40px;
  }
}

.carnet.innerPage {
  padding-top: 0;
}

.carnet__PageHead {
  padding: 30px 0 10px;
}
@media only screen and (min-width: 641px) {
  .carnet__PageHead {
    padding: 40px 0 70px;
  }
}
.carnet__PageHead.innerPageHead {
  background: #ffffff;
}
@media only screen and (min-width: 641px) {
  .carnet__PageHead.innerPageHead {
    background: url(../../clientlibs/images/patterns/innerPageTexture.jpg);
  }
}
.carnet__PageHead .editorialArea a {
  color: #344a1a;
  font-weight: bold;
}
.carnet__PageHead .editorialArea a:hover {
  color: #ffffff;
}

.carnet__PageBody {
  background-color: #ffffff;
  padding-top: 20px;
  margin-top: -10px;
}
@media only screen and (min-width: 641px) {
  .carnet__PageBody {
    margin-top: -30px;
  }
}

.carnet__body {
  *zoom: 1;
}
.carnet__body:before, .carnet__body:after {
  content: " ";
  display: table;
}
.carnet__body:after {
  clear: both;
}
@media only screen and (max-width: 1023px) {
  .carnet__body {
    width: 100%;
    margin-top: 15px;
  }
}

.carnet__body--full {
  clear: both;
  width: 100%;
}

.carnet__modBox {
  overflow: hidden;
  margin-top: 0;
}
.carnet__modBox .box__image img.respond-image__large,
.carnet__modBox .box__image img.respond-image__medium {
  width: 100%;
}
@media only screen and (min-width: 801px) {
  .carnet__modBox {
    width: 100%;
    margin-top: 0;
  }
  .carnet__modBox:before {
    padding-top: 40%;
  }
}
@media only screen and (min-width: 1024px) {
  .carnet__modBox:before {
    padding-top: 323px;
  }
}
.carnet__modBox .shareButton {
  display: none !important;
}
.carnet__modBox .box__textContainer .box__title .line1 {
  font-size: 24px;
}
.carnet__modBox .box__textContainer .box__title .line2 {
  font-size: 42px;
}

.carnet__login {
  position: relative;
  border: 1px solid #e6ede4;
  background: #ffffff;
  background: linear-gradient(to bottom, white 0%, #edeee9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edeee9',GradientType=0 );
}
@media only screen and (min-width: 1024px) {
  .carnet__login {
    height: 323px;
  }
}
@media only screen and (max-width: 1023px) {
  .carnet__login {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}
.carnet__login:before {
  content: "";
}
@media only screen and (min-width: 1024px) {
  .carnet__login:before {
    display: inline-block;
    padding-top: 100%;
  }
}

.carnet__loginCover {
  top: 0;
  left: 0;
  padding: 15px;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .carnet__loginCover {
    position: absolute;
  }
}

@media only screen and (max-width: 1023px) {
  .carnet__loginCont {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .carnet__loginCont {
    display: block !important;
  }
}

.carnet__loginTitle {
  font-size: 18px;
  color: #000000;
  display: block;
  transition: all 0.4s ease;
}
@media only screen and (min-width: 641px) {
  .carnet__loginTitle {
    font-size: 16px;
  }
}
.carnet__loginTitle:after {
  font-family: "iconFont";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  position: absolute;
  right: 10px;
  font-size: 16px;
  top: 15px;
  display: inline-block;
}
@media only screen and (min-width: 1024px) {
  .carnet__loginTitle:after {
    display: none;
  }
}
.carnet__loginTitle.isActive {
  padding-bottom: 15px;
}
.carnet__loginTitle.isActive:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media only screen and (min-width: 1024px) {
  .carnet__loginTitle {
    padding-bottom: 15px;
    cursor: default;
    font-size: 20px;
    border-bottom: 1px solid #e2e2e2;
  }
}

.carnet__loginForm .form__element {
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
}
.carnet__loginForm .form__label {
  margin-right: 0;
  padding: 0 0 5px;
  width: 100%;
  font-size: 13px;
}
.carnet__loginForm .form__inputCover {
  width: 100%;
}

.carnet__loginButton {
  margin-top: 15px;
  width: 100%;
}

.carnet__loginLink {
  color: #3b7e06;
  margin-top: 10px;
  display: block;
  font-size: 13px;
  font-weight: bold;
}
.carnet__loginLink:hover {
  color: #344a1a;
}

.carnet__editorial {
  margin: 20px 0;
}
.carnet__editorial p {
  line-height: 1.4;
}

h3.carnet__title {
  color: #000000;
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;
}
@media only screen and (max-width: 640px) {
  h3.carnet__title ~ p {
    font-size: 14px;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 641px) {
  h3.carnet__title {
    font-size: 35px;
  }
}

.carnet__paragraph {
  margin-top: 10px;
  line-height: 1.2;
}

.carnet__tripleBox {
  *zoom: 1;
  padding-top: 20px;
  overflow: hidden;
}
.carnet__tripleBox:before, .carnet__tripleBox:after {
  content: " ";
  display: table;
}
.carnet__tripleBox:after {
  clear: both;
}

.carnet__tripleBoxItem {
  float: left;
  width: 100%;
  background-color: #f5f8f4;
  border: 1px solid #e6ede4;
}
@media only screen and (min-width: 641px) {
  .carnet__tripleBoxItem {
    width: +32%;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
}
@media only screen and (min-width: 801px) {
  .carnet__tripleBoxItem {
    width: +32.66667%;
  }
}
.carnet__tripleBoxItem + .carnet__tripleBoxItem {
  margin-top: 15px;
}
@media only screen and (min-width: 641px) {
  .carnet__tripleBoxItem + .carnet__tripleBoxItem {
    margin-top: 0;
    margin-left: +2%;
  }
}
@media only screen and (min-width: 801px) {
  .carnet__tripleBoxItem + .carnet__tripleBoxItem {
    margin-left: +1%;
  }
}

.carnet__tripleBoxTextCover {
  padding: 20px;
}
@media only screen and (max-width: 640px) {
  .carnet__tripleBoxTextCover {
    padding: 15px;
  }
}

.carnet__tripleBoxTitle {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 15px;
}
@media only screen and (max-width: 640px) {
  .carnet__tripleBoxTitle {
    font-size: 22px;
  }
}

.carnet__tripleBoxText {
  font-size: 16px;
  line-height: 1.2;
}
@media only screen and (max-width: 640px) {
  .carnet__tripleBoxText {
    font-size: 14px;
  }
}

.carnet__infoCall {
  display: inline-block;
  margin-top: 20px;
}
.carnet__infoCall .text {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3b7e06;
}
.carnet__infoCall .i-infoCircle {
  color: #287e57;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.carnet__bookForm form {
  margin-top: 0;
}
@media only screen and (max-width: 1023px) {
  .carnet__bookForm {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    float: none;
    clear: both;
  }
}
@media only screen and (min-width: 1024px) {
  .carnet__bookForm {
    clear: both;
  }
}
.carnet__bookForm .innerFlightFinder {
  width: 100%;
  margin-left: 0;
  float: none;
  padding-bottom: 20px;
}
.carnet__bookForm .bambini,
.carnet__bookForm .neonati,
.carnet__bookForm .cabinClass {
  display: none !important;
}

@media only screen and (min-width: 641px) {
  .carnet__searchFlight .multiJourney__searchBtn {
    margin-top: -60px;
    float: right;
  }
}
@media only screen and (max-width: 640px) {
  .carnet__searchFlight .multiJourney__searchBtn .firstButton {
    width: 100%;
  }
}

.carnet__breadCrumb {
  padding: 15px 0 5px;
}

.carnet__breadCrumbList {
  *zoom: 1;
}
.carnet__breadCrumbList:before, .carnet__breadCrumbList:after {
  content: " ";
  display: table;
}
.carnet__breadCrumbList:after {
  clear: both;
}

.carnet__breadCrumbItem {
  float: left;
  position: relative;
  white-space: nowrap;
}
.carnet__breadCrumbItem + .carnet__breadCrumbItem {
  margin-left: 2%;
}
.carnet__breadCrumbItem .circle {
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
  background-color: #d9d9d9;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  width: 22px;
  height: 22px;
  line-height: 22px;
}
@media only screen and (min-width: 641px) {
  .carnet__breadCrumbItem .circle {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
}
.carnet__breadCrumbItem .circle .number {
  display: none;
}
@media only screen and (max-width: 800px) {
  .carnet__breadCrumbItem .circle .number {
    display: inline-block;
    width: 100%;
  }
}
.carnet__breadCrumbItem .circle .arrow {
  display: inline-block;
  line-height: 16px;
  vertical-align: top;
}
@media only screen and (max-width: 800px) {
  .carnet__breadCrumbItem .circle .arrow {
    display: none;
  }
}
.carnet__breadCrumbItem .circle .arrow:before {
  font-family: "iconFont";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  font-size: 12px;
  line-height: 22px;
  width: 22px;
  text-align: center;
  display: inline-block;
}
@media only screen and (min-width: 641px) {
  .carnet__breadCrumbItem .circle .arrow:before {
    line-height: 32px;
    width: 32px;
  }
}
.carnet__breadCrumbItem .text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
@media only screen and (max-width: 800px) {
  .carnet__breadCrumbItem .text {
    display: none;
    font-weight: bold;
    font-size: 14px;
  }
}
@media only screen and (min-width: 641px) {
  .carnet__breadCrumbItem .text {
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 801px) {
  .carnet__breadCrumbItem .text {
    font-size: 16px;
  }
}
.carnet__breadCrumbItem.isActive .circle {
  background-color: #3b7e06;
  color: #ffffff;
}
.carnet__breadCrumbItem.isActive .text {
  color: #3b7e06;
}
@media only screen and (max-width: 800px) {
  .carnet__breadCrumbItem.current .text {
    display: inline-block;
  }
}

.carnet__formBg {
  background-color: #f5f8f4;
  padding: 30px 15px 10px 10px;
}
@media only screen and (min-width: 641px) {
  .carnet__formBg {
    padding: 30px 15px 10px 15px;
  }
}
@media only screen and (min-width: 801px) {
  .carnet__formBg {
    padding: 30px 15px 30px 30px;
  }
}
.carnet__formBg .checkbox [type="checkbox"] + label {
  font-size: 12px;
}

.carnet__formTitle {
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
@media only screen and (max-width: 640px) {
  .carnet__formTitle {
    font-size: 14px;
  }
}

.form__legend.carnet__legend {
  font-size: 16px;
  font-weight: bold;
}
@media only screen and (max-width: 640px) {
  .form__legend.carnet__legend {
    font-size: 14px;
  }
}

.carnet__accordion .accordion__body {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (min-width: 801px) {
  .carnet__accordion .accordion__body {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.carnet__accordion .accordion .accordion__header a {
  font-size: 22px;
  color: #3b7e06;
  font-weight: bold;
  padding: 5px 20px;
}
@media only screen and (max-width: 640px) {
  .carnet__accordion .accordion .accordion__header a {
    padding: 5px 8px;
    font-size: 20px;
  }
}

.carnetAcquista .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
@media only screen and (max-width: 640px) {
  .carnetAcquista .title {
    font-size: 18px;
  }
}
.carnetAcquista .text {
  padding-bottom: 15px;
  border-bottom: 1px dashed #d9d9d9;
}
.carnetAcquista .text p {
  line-height: 1.5em;
}

.carnetAcquista__footer {
  font-size: 0;
}

.carnetAcquista__footerCol {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  width: 100%;
}
@media only screen and (min-width: 641px) {
  .carnetAcquista__footerCol {
    width: 50%;
  }
}
.carnetAcquista__footerCol .form__buttonCover {
  margin-top: 20px;
  padding: 0;
}
@media only screen and (min-width: 641px) {
  .carnetAcquista__footerCol .form__buttonCover {
    min-width: 250px;
    float: right;
    text-align: center;
  }
}

.carnetAcquista__check {
  display: block;
  margin-top: 15px;
  position: relative;
}
.carnetAcquista__check.checkbox [type="checkbox"] + label > span {
  width: 100%;
}
.carnetAcquista__check.isError label {
  padding-right: 37px;
}

.carnetAcquista__price {
  text-align: center;
  min-width: 250px;
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}
@media only screen and (min-width: 641px) {
  .carnetAcquista__price {
    width: auto;
  }
}
.carnetAcquista__price .price {
  font-weight: bold;
  color: #0b4721;
  font-size: 18px;
  display: block;
}
@media only screen and (max-width: 640px) {
  .carnetAcquista__price .price {
    font-size: 22px;
  }
}
@media only screen and (min-width: 801px) {
  .carnetAcquista__price .price {
    font-size: 30px;
  }
}
.carnetAcquista__price .info {
  font-size: 13px;
}

.carnetBuy__titleCover {
  padding: 25px 0 15px 0;
  text-align: center;
  line-height: 1.5;
}
@media only screen and (min-width: 641px) {
  .carnetBuy__titleCover {
    padding: 35px 0;
  }
}
.carnetBuy__titleCover .line1 {
  font-size: 30px;
}
@media only screen and (max-width: 640px) {
  .carnetBuy__titleCover .line1 {
    font-size: 25px;
    line-height: 25px;
  }
}
.carnetBuy__titleCover .line1 span {
  color: #3b7e06;
}
.carnetBuy__titleCover .line2 {
  font-size: 20px;
}
.carnetBuy__titleCover .line2 .highlight {
  color: #0d4722;
  font-weight: bold;
}

.carnet .bookingPaymentForm__total {
  font-size: 25px;
}
@media only screen and (max-width: 640px) {
  .carnet .bookingPaymentForm__total {
    padding: 25px 0;
    font-size: 18px;
  }
}
.carnet .bookingPaymentForm__total span {
  font-weight: bold;
}

.carneRiepilogo {
  background: #f8f8f8;
  border: 2px solid #e6ede4;
  font-size: 0;
}

.carneRiepilogo__basketTotal {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 15px 15px 10px;
  color: #000000;
  font-size: 16px;
}
@media only screen and (min-width: 1024px) {
  .carneRiepilogo__basketTotal {
    width: 40%;
    max-width: 400px;
  }
}
@media only screen and (max-width: 640px) {
  .carneRiepilogo__basketTotal {
    margin-top: 0px;
    width: 100%;
    border-top: 1px solid #b2b2b2;
    padding-top: 20px;
    color: #4c4c4c;
    background-color: #f5f8f4;
  }
}

.carneRiepilogo__basketTitle {
  text-transform: uppercase;
}

.carneRiepilogo__basketTotalList {
  font-size: 0;
}
.carneRiepilogo__basketTotalList dt,
.carneRiepilogo__basketTotalList dd {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  margin-top: 5px;
  line-height: 1.2;
}
@media only screen and (max-width: 640px) {
  .carneRiepilogo__basketTotalList dt,
  .carneRiepilogo__basketTotalList dd {
    font-size: 14px;
  }
}
.carneRiepilogo__basketTotalList dt.total,
.carneRiepilogo__basketTotalList dd.total {
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
}
.carneRiepilogo__basketTotalList dd {
  text-align: right;
}
.carneRiepilogo__basketTotalList dd span {
  float: left;
}
.carneRiepilogo__basketTotalList .creditCard .spriteCard {
  float: right;
  width: 35px;
  background-size: cover;
  height: 24px;
  color: transparent;
}
.carneRiepilogo__basketTotalList .creditCard .spriteCard.visa {
  background-position: 0 0;
}
.carneRiepilogo__basketTotalList .creditCard .spriteCard.americanExpress {
  background-position: 0 -24px;
}
.carneRiepilogo__basketTotalList .creditCard .spriteCard.visaElectron {
  background-position: 0 -47px;
}
.carneRiepilogo__basketTotalList .creditCard .spriteCard.uatp {
  background-position: 0 -70px;
}
.carneRiepilogo__basketTotalList .creditCard .spriteCard.diners {
  background-position: 0 -92px;
}
.carneRiepilogo__basketTotalList .creditCard .spriteCard.masterCard {
  background-position: 0 -117px;
}
.carneRiepilogo__basketTotalList .creditCard .spriteCard.maestro {
  background-position: 0 -163px;
}
.carneRiepilogo__PassengerInfo {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 15px 15px 10px;
  font-size: 16px;
}
@media only screen and (min-width: 1024px) {
  .carneRiepilogo__PassengerInfo {
    width: 60%;
    width: calc(100% - 400px);
  }
}
.carneRiepilogo__PassengerInfo .responsiveTable--threeCol {
  margin-bottom: 20px;
}
.carneRiepilogo__PassengerInfo .responsiveTable--threeCol th, .carneRiepilogo__PassengerInfo .responsiveTable--threeCol td {
  border: none;
  font-weight: normal;
}
@media only screen and (min-width: 641px) {
  .carneRiepilogo__PassengerInfo .responsiveTable--threeCol th, .carneRiepilogo__PassengerInfo .responsiveTable--threeCol td {
    text-align: left;
    border: none;
  }
}
.carneRiepilogo__PassengerInfo .responsiveTable--threeCol tr:nth-child(odd) {
  background-color: #d9d9d9;
}
.carneRiepilogo__PassengerInfo .responsiveTable--threeCol tr:nth-child(even) {
  background-color: #d9d9d9;
}
.carneRiepilogo__PassengerInfo .responsiveTable--threeCol thead th {
  background-color: #b2b2b2;
}
@media only screen and (min-width: 641px) {
  .carneRiepilogo__PassengerInfo .responsiveTable--threeCol thead th:nth-child(3) {
    width: 25%;
  }
}
@media only screen and (min-width: 801px) {
  .carneRiepilogo__PassengerInfo .responsiveTable--threeCol thead th:nth-child(3) {
    width: 20%;
  }
}
@media only screen and (max-width: 640px) {
  .carneRiepilogo__PassengerInfo .responsiveTable--threeCol tbody > tr > .title,
  .carneRiepilogo__PassengerInfo .responsiveTable--threeCol tbody > tr > .title:before {
    background-color: #f5f8f4;
  }
  .carneRiepilogo__PassengerInfo .responsiveTable--threeCol tbody > tr.leftFix,
  .carneRiepilogo__PassengerInfo .responsiveTable--threeCol tbody > tr.rightFix {
    border: none;
  }
  .carneRiepilogo__PassengerInfo .responsiveTable--threeCol tbody > tr > td.thTitle0.title:before {
    display: none;
  }
}
.carneRiepilogo__PassengerInfo .responsiveTable--threeCol th:first-child {
  width: 33%;
}
.carneRiepilogo__PassengerInfo .responsiveTable--threeCol td {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* MS */
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.carneRiepilogo__PassengerInfo .responsiveTable--threeCol .ticketNumber {
  font-size: 14px;
  line-height: 1.2;
  text-transform: capitalize;
  margin-top: 5px;
}

@media only screen and (min-width: 641px) {
  .carneRiepilogo__info {
    width: 50%;
  }
}
@media only screen and (min-width: 801px) {
  .carneRiepilogo__info {
    width: 40%;
  }
}

.carneRiepilogo__infoList {
  font-size: 0;
}
.carneRiepilogo__infoList dt, .carneRiepilogo__infoList dd {
  display: inline-block;
  width: 50%;
  margin-bottom: 5px;
  font-size: 20px;
}
.carneRiepilogo__infoList dt {
  font-weight: bold;
}

.carne__buttonDelete {
  padding: 30px 0;
  text-align: right;
}

.carnet__userInfo {
  *zoom: 1;
  background-color: #e6ede5;
  padding: 20px;
}
.carnet__userInfo:before, .carnet__userInfo:after {
  content: " ";
  display: table;
}
.carnet__userInfo:after {
  clear: both;
}
@media only screen and (max-width: 640px) {
  .carnet__userInfo {
    padding: 15px;
  }
}
.carnet__userInfo + .innerFlightFinder {
  margin-top: 0;
}

.carnet__userInfoTitle {
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
}

.carnet__userInfoDefList {
  *zoom: 1;
  margin-top: 15px;
}
.carnet__userInfoDefList:before, .carnet__userInfoDefList:after {
  content: " ";
  display: table;
}
.carnet__userInfoDefList:after {
  clear: both;
}
.carnet__userInfoDefList dt,
.carnet__userInfoDefList dd {
  float: left;
  font-size: 14px;
}
@media only screen and (max-width: 640px) {
  .carnet__userInfoDefList dt,
  .carnet__userInfoDefList dd {
    font-size: 16px;
  }
}
.carnet__userInfoDefList dd {
  font-weight: bold;
  margin-left: 3px;
}
.carnet__userInfoDefList dd + dt {
  clear: both;
}

.carnet__userInfoButtonCover {
  text-align: right;
  margin-top: 10px;
}
@media only screen and (max-width: 640px) {
  .carnet__userInfoButtonCover {
    margin-top: 10px;
  }
  .carnet__userInfoButtonCover .fifthButton {
    min-width: 120px;
  }
}
@media only screen and (min-width: 641px) {
  .carnet__userInfoButtonCover {
    float: right;
  }
}
@media only screen and (min-width: 1024px) {
  .carnet__userInfoButtonCover {
    float: none;
  }
}

@media only screen and (min-width: 641px) {
  .carnet__userInfoTop {
    float: left;
  }
}
@media only screen and (min-width: 1024px) {
  .carnet__userInfoTop {
    float: none;
  }
}

.carnetBasket {
  position: relative;
}
.carnetBasket .bookInfoBoxBasketBtn {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  right: 10px;
}
.carnetBasket .bookInfoBoxBasketPriceWrapper {
  text-align: left;
}

.myexp {
  padding: 10px 0;
}
.myexp .form__element.disabled {
  opacity: 0.5;
}
.myexp .form__label {
  padding-bottom: 5px;
  font-size: 16px;
}
@media only screen and (min-width: 801px) {
  .myexp .form__label {
    padding-bottom: 0;
  }
}
.myexp .checkbox label {
  width: 100%;
}
.myexp .form__fileUpload {
  clear: both;
  float: none;
  width: 100%;
  margin: 25px 0 0 0;
}
.myexp .form__fileUpload input {
  background-color: white;
}
.myexp .form__fileUpload input::-webkit-file-upload-button {
  background-color: #d9d9d9;
}
.myexp .form__element--specific .form__label {
  margin-bottom: 10px;
}
.myexp .form__inputCover textarea {
  border: 1px solid #b2b2b2;
}

.myexp__body {
  min-height: 180px;
}

.myexp__buttonCover {
  *zoom: 1;
  margin-top: 20px;
  text-align: right;
}
.myexp__buttonCover:before, .myexp__buttonCover:after {
  content: " ";
  display: table;
}
.myexp__buttonCover:after {
  clear: both;
}

.myexp__button {
  font-size: 16px;
  font-weight: normal;
  line-height: 40px;
  white-space: nowrap;
  text-transform: uppercase;
  min-width: 150px;
  text-align: center;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  background-color: #3b7e06;
  color: #ffffff;
  position: relative;
}
@media (min-width: 1024px) and (max-height: 700px) {
  .bookingPage .myexp__button {
    font-size: 13.6px;
    line-height: 34px;
  }
}
.myexp__button[type="submit"] {
  border-radius: 0;
  vertical-align: top;
  border: 0;
  font-family: "lato", sans-serif;
  font-weight: normal;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
}
.myexp__button > span {
  position: relative;
  z-index: 2;
  padding: 0 15px;
  font-size: 16px;
}
@media (min-width: 1024px) and (max-height: 700px) {
  .bookingPage .myexp__button > span {
    font-size: 14px;
  }
}
.myexp__button:before {
  content: "";
  position: absolute;
  left: 120%;
  bottom: 0;
  width: 130%;
  height: 100%;
  transition: 0.3s ease-out;
  z-index: 1;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: skew(-44deg, 0deg);
      -ms-transform: skew(-44deg, 0deg);
          transform: skew(-44deg, 0deg);
}
.myexp__button:hover > span {
  color: #ffffff;
}
.myexp__button:hover:before {
  width: 150%;
  left: -15%;
}

.myexp__note {
  clear: both;
  margin-top: 20px;
}

.myexp__intro,
.myexp__new,
.myexp__content--step4,
.myexp__buttonCover--step4,
.myexp__update,
.myexp__feedback {
  display: none;
}
.myexp__intro.active,
.myexp__new.active,
.myexp__content--step4.active,
.myexp__buttonCover--step4.active,
.myexp__update.active,
.myexp__feedback.active {
  display: block;
}

.myexp__intro {
  padding-bottom: 20px;
}
.myexp__intro .form__inputCover {
  width: initial;
}
.myexp__intro .radioButton input[type="radio"] + label {
  font-size: 22px;
}
@media only screen and (max-width: 640px) {
  .myexp__intro .radioButton + .radioButton {
    display: block;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 641px) {
  .myexp__intro .radioButton + .radioButton {
    margin-left: 100px;
  }
}

.myexp__intro .formBlock,
.myexp__step1 .formBlock {
  border-bottom: none;
}

.myexp__step2 .form__element {
  float: none;
}

.myexp__step2,
.myexp__step3,
.myexp__step4 {
  margin-top: 20px;
}

.myexp__step4 .formBlock {
  border-bottom: none;
}
.myexp__step4 .myexp__buttonCover {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dotted #b2b2b2;
}

@media only screen and (min-width: 801px) {
  .myexp__step2 .isFull .form__label,
  .myexp__update .isFull .form__label {
    width: 22%;
    margin-right: 1%;
    padding: 0 1% 0 0;
  }
  .myexp__step2 .isFull .form__inputCover,
  .myexp__update .isFull .form__inputCover {
    width: 74.75%;
  }
}

.myexp__feedback {
  margin-top: 25px;
}
.myexp__feedback h3 {
  font-size: 22px;
  margin-bottom: 0.5em;
}

.myexpAccordion {
  background-color: #f5f8f4;
  border: 1px solid #e6ede4;
  overflow: hidden;
  border: 1px solid #e6ede4;
}
.myexpAccordion:active {
  outline: 0;
}
.myexpAccordion + .myexpAccordion {
  margin-top: 20px;
}
@media only screen and (max-width: 640px) {
  .myexpAccordion {
    outline: 0;
  }
}
.myexpAccordion .myexpAccordion__header {
  position: relative;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  color: #0d4722;
}
.myexpAccordion .myexpAccordion__header:focus, .myexpAccordion .myexpAccordion__header:active {
  outline: 0;
}
.myexpAccordion .myexpAccordion__header span {
  display: block;
  padding: 10px;
  color: #0d4722;
}
.myexpAccordion .myexpAccordion__header > * {
  font-weight: lighter;
  line-height: initial;
  text-transform: uppercase;
}
.myexpAccordion .myexpAccordion__header > *:focus, .myexpAccordion .myexpAccordion__header > *:active {
  outline: 0;
}
@media only screen and (max-width: 640px) {
  .myexpAccordion .myexpAccordion__header > * {
    font-size: 18px;
  }
}
.myexpAccordion .myexpAccordion__header::-webkit-details-marker {
  display: none;
}

.myexp__title--update {
  background-color: #f5f8f4;
  padding: 10px;
}

.myexp__content--update {
  background-color: #e6ede4;
  padding: 20px 10px 10px;
}

.myexp__update {
  border: 1px solid #e6ede4;
}
.myexp__update h3 {
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  color: #0d4722;
  text-transform: uppercase;
}

.myexpAccordion__body,
.myexp__update {
  font-size: 14px;
  line-height: 18px;
}
@media only screen and (min-width: 641px) {
  .myexpAccordion__body,
  .myexp__update {
    font-size: 18px;
    line-height: 20px;
  }
}

.myexpAccordion__body {
  display: none;
  padding: 10px;
  background-color: #e6ede4;
}
.myexpAccordion__body[open] summary:after {
  background-position: left top;
}

.page404__hero {
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .page404__hero {
    min-height: 400px;
  }
}

.page404__image {
  display: block;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  .page404__image {
    display: none !important;
  }
}
@media only screen and (min-width: 1024px) {
  .page404__image {
    width: auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.page404__container {
  padding: 30px 0 50px;
}

.page404__title {
  color: #3b7e06;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
}
@media only screen and (min-width: 641px) {
  .page404__title {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .page404__title {
    font-size: 40px;
  }
}

.page404__subTitle {
  font-size: 16px;
  color: #000000;
  line-height: 1.2;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.page404__linkList {
  font-size: 0;
  max-width: 90%;
  margin: 50px auto 0;
}
@media only screen and (max-width: 1023px) {
  .page404__linkList {
    max-width: 100%;
  }
}

.page404__linkItem {
  width: 46%;
  margin: 0 2%;
  display: inline-block;
  border-bottom: 1px solid #7f7f7f;
}
@media only screen and (max-width: 640px) {
  .page404__linkItem {
    width: 100%;
    margin: 1% 0 0 0;
  }
}
@media only screen and (max-width: 1023px) {
  .page404__linkItem {
    padding: 10px 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .page404__linkItem {
    padding: 10px 20px;
  }
}
@media only screen and (min-width: 641px) {
  .page404__linkItem:nth-child(1), .page404__linkItem:nth-child(2) {
    border-top: 1px solid #7f7f7f;
  }
}
@media only screen and (max-width: 640px) {
  .page404__linkItem:first-child {
    border-top: 1px solid #7f7f7f;
  }
}

.page404__link {
  font-size: 16px;
  color: #000000;
  display: block;
  line-height: 1.2;
  position: relative;
}
.page404__link:after {
  font-family: "iconFont";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  position: absolute;
  right: 0;
  font-size: 12px;
  top: 50%;
  margin-top: -6px;
}