.discover-italy-wrap {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
}
.discover-italy-wrap .discover-italy {
  padding: 40px 0;
  min-height: 100px;
}
.discover-italy-wrap .discover-italy .discover-italy__inner {
  text-align: center;
}
.discover-italy-wrap .discover-italy .h2 {
  margin: 0;
  color: white;
}
.discover-italy-wrap .discover-italy .discover-italy__description {
  color: white;
  padding: 10px 0 20px;
  margin: 0;
  font-size: 20px;
}
@media (min-width: 680px) {
  .discover-italy-wrap .discover-italy {
    height: 450px;
    min-height: 450px;
  }
  .discover-italy-wrap .discover-italy .discover-italy__description {
    font-size: 30px;
  }
  .discover-italy-wrap .discover-italy .button-wrap .button {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
}
