@media (min-width: 1024px) {
  .cta:not(.cta--icon) {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    position: relative;
  }
  .cta:not(.cta--icon)::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    border-bottom: 3px solid #006643;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .cta:not(.cta--icon):hover::after {
    width: 100%;
  }
  .cta:not(.cta--icon):hover {
    color: #005739;
  }
  .cta--secondary:not(.cta--icon) {
    position: relative;
  }
  .cta--secondary:not(.cta--icon)::after {
    border-bottom: 3px solid #a42615;
  }
  .cta--secondary:not(.cta--icon):hover {
    color: #831e11;
  }
  .cta.cta--only-icon::after,
  .cta-light.cta--only-icon::after,
  .cta--primary.cta--only-icon::after,
  .cta--secondary.cta--only-icon::after {
    display: none;
  }
  [class*="card"],
  .news-block,
  .lista-destinazioni__item {
    cursor: pointer;
  }
  #header .submenu .is-dropdown-submenu a {
    color: #333333;
    position: relative;
  }
  #header .submenu .is-dropdown-submenu a:hover::after {
    width: 100%;
  }
  #header .submenu .is-dropdown-submenu a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    border-bottom: 3px solid #006643;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .lista-offerte .custom-card .cta--only-icon,
  .news-block .cta--only-icon {
    transition: padding 200ms ease-out;
    -moz-transition: padding 200ms ease-out;
    -webkit-transition: padding 200ms ease-out;
    -o-transition: padding 200ms ease-out;
    padding-right: 50px;
  }
  .lista-offerte .custom-card:hover .cta--only-icon,
  .news-block:hover .cta--only-icon {
    padding-right: 32px;
  }
  .offerte-speciali__slider .custom-card .cta--icon,
  .novita__slider .custom-card .cta--icon {
    transition: padding 200ms ease-out;
    -moz-transition: padding 200ms ease-out;
    -webkit-transition: padding 200ms ease-out;
    -o-transition: padding 200ms ease-out;
  }
  .offerte-speciali__slider .custom-card:hover .cta--icon,
  .novita__slider .custom-card:hover .cta--icon {
    padding-right: 45px;
  }
  .values__slider .custom-card .cta--icon {
    transition: padding 200ms ease-out;
    -moz-transition: padding 200ms ease-out;
    -webkit-transition: padding 200ms ease-out;
    -o-transition: padding 200ms ease-out;
  }
  .values__slider .custom-card:hover .cta--icon {
    padding-right: 45px;
    padding-left: 13px;
  }
  .special-needs .cta--icon {
    transition: padding 200ms ease-out;
    -moz-transition: padding 200ms ease-out;
    -webkit-transition: padding 200ms ease-out;
    -o-transition: padding 200ms ease-out;
  }
  .special-needs .cta--icon:hover {
    padding-right: 45px;
    padding-left: 13px;
  }
  .cookie-bar .text .cta.cta--icon {
    transition: padding 200ms ease-out;
    -moz-transition: padding 200ms ease-out;
    -webkit-transition: padding 200ms ease-out;
    -o-transition: padding 200ms ease-out;
  }
  .cookie-bar .text .cta.cta--icon:hover {
    padding-right: 35px;
    padding-left: 10px;
  }
  .cookie-bar .text .cta.cta--primary.closeCookie::after {
    display: none;
  }

  .section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__tab:not(.is-active) .cerca-volo__title {
    transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -webkit-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
  }
  .section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__tab:not(.is-active) .cerca-volo__title:hover {
    background-color: rgba(255, 255, 255, 0.95);
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .multitratta .cta.cta--icon {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .multitratta .cta.cta--icon:hover {
    padding-right: 35px;
    margin-right: 10px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .biglietto-premio .cta.cta--icon {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .biglietto-premio .cta.cta--icon:hover {
    padding-right: 35px;
    margin-right: -10px;
  }
  .hero__slider_foreground .cta-wrap .cta:hover {
    color: #fff;
  }
}
