@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pddwo4');
  src:  url('fonts/icomoon.eot?pddwo4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pddwo4') format('truetype'),
    url('fonts/icomoon.woff?pddwo4') format('woff'),
    url('fonts/icomoon.svg?pddwo4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"],.icon.icon--close {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 15px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-close:before,.icon.icon--close:before {
  margin-right:10px;
  content: "\e906";
  color: #fff;
  float: right;
}
.icon-alert-icon:before {
  margin-right:10px;
  content: "\e901";
  color: #75b829;
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-arrow-dropdown-white:before {
  margin-right:10px;
  content: "\e933";
  color: #fff;
}
.icon-arrow-dx-green:before {
  margin-right:10px;
  content: "\e904";
  color: #006643;
}
.icon-arrow-dx-red:before {
  margin-right:10px;
  content: "\e904";
  color: #c4262e;
}
.icon-arrow-dx-white:before {
  margin-right:10px;
  content: "\e904";
  color: #fff;
}
.icon-ico-fb:before {
  margin-right:10px;
  content: "\e935";
  color: #cbcbcb;
}
.icon-ico-in:before {
  margin-right:10px;
  content: "\e907";
  color: #cbcbcb;
}
.icon-ico-info-empty:before {
  margin-right:10px;
  content: "\e936";
  color: #fff;
}
.icon-ico-info-gray-full:before {
  margin-right:10px;
  content: "\e909";
  color: #676767;
}
.icon-ico-insta:before {
  margin-right:10px;
  content: "\e90a";
  color: #cbcbcb;
}
.icon-ico-menu:before {
  margin-right:10px;
  content: "\e90b";
  color: #676767;
}
.icon-ico-notify:before {
  margin-right:10px;
  content: "\e90c";
  color: #676767;
}
.icon-ico-question:before {
  margin-right:10px;
  content: "\e90d";
}
.icon-ico-search-big:before {
  content: "\e90e";
  color: #006643;
}
.icon-ico-search:before {
  margin-right:10px;
  content: "\e90f";
}
.icon-ico-select-dark:before {
  margin-right:10px;
  content: "\e910";
  color: #676767;
}
.icon-ico-select-green:before {
  margin-right:10px;
  content: "\e911";
  color: #008054;
}
.icon-ico-select-white:before {
  margin-right:10px;
  content: "\e937";
  color: #fff;
}
.icon-ico-tw:before {
  margin-right:10px;
  content: "\e913";
  color: #cbcbcb;
}
.icon-ico-user:before {
  content: "\e914";
  color: #006643;
}
.icon-ico-yt:before {
  margin-right:10px;
  content: "\e915";
  color: #cbcbcb;
}
.icon-icon-arrival:before {
  margin-right:10px;
  content: "\e917";
  color: #c1c1c1;
}
.icon-icon-calendar:before {
  margin-right:10px;
  content: "\e918";
  color: #c1c1c1;
}
.icon-icon-departure:before {
  margin-right:10px;
  content: "\e919";
  color: #c1c1c1;
}
.icon-icon-history-grey:before {
  margin-right:10px;
  content: "\e91a";
}
.icon-icon-reverse-green:before {
  margin-right:10px;
  content: "\e91b";
  color: #006643;
}
.icon-support-icon-1 .path1:before {
  content: "\e91c";
  color: rgb(117, 184, 41);
}
.icon-support-icon-1 .path2:before {
  content: "\e91d";
  margin-left: -1.5em;
  color: rgb(196, 38, 46);
}
.icon-support-icon-1 .path3:before {
  content: "\e91e";
  margin-left: -1.5em;
  color: rgb(196, 38, 46);
}
.icon-support-icon-2 .path1:before {
  content: "\e91f";
  color: rgb(117, 184, 41);
}
.icon-support-icon-2 .path2:before {
  content: "\e920";
  margin-left: -1.5em;
  color: rgb(196, 38, 46);
}
.icon-support-icon-3 .path1:before {
  content: "\e921";
  color: rgb(117, 184, 41);
}
.icon-support-icon-3 .path2:before {
  content: "\e922";
  margin-left: -1.5em;
  color: rgb(196, 38, 46);
}
.icon-support-icon-3 .path3:before {
  content: "\e923";
  margin-left: -1.5em;
  color: rgb(196, 38, 46);
}

.icon-ico-info-full:before {
  margin-right:10px;
  content: "\e938";
  color: #fff;
}
.icon-icon-it, .icon-icon-us, .icon-icon-uk, .icon-icon-fr, .icon-icon-es{
  font-size: 20px;
}
    
.icon-icon-it .path1:before {
  content: "\e900";
  color: rgb(241, 241, 242);
}
.icon-icon-it .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 168, 79);
}
.icon-icon-it .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(237, 55, 38);
}
.icon-icon-us .path1:before {
  content: "\e908";
  color: rgb(241, 241, 242);
}
.icon-icon-us .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(237, 55, 38);
}
.icon-icon-us .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(34, 60, 114);
}
.icon-icon-uk .path1:before {
  content: "\e925";
  color: rgb(0, 0, 0);
}
.icon-icon-uk .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(34, 60, 114);
}
.icon-icon-uk .path3:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(239, 235, 231);
}
.icon-icon-uk .path4:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(237, 55, 38);
}
.icon-icon-uk .path5:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(47, 62, 103);
}
.icon-icon-fr .path1:before {
  content: "\e92a";
  color: rgb(241, 241, 242);
}
.icon-icon-fr .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(34, 60, 114);
}
.icon-icon-fr .path3:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(237, 55, 38);
}
.icon-icon-es .path1:before {
  content: "\e92d";
  color: rgb(237, 55, 38);
}
.icon-icon-es .path2:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(237, 55, 38);
}
.icon-icon-es .path3:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 210, 1);
}



/* styling icons */
#main_search span.icon-alert-icon:before{
  font-size:27px;
  float:left;
}
.user-area a.user-login span.icon-ico-user{
    font-size: 24px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .validate-search--desktop span.icon-ico-select-white:before{
  font-size: 18px;
  margin-left: 10px;
}
a.cta-history--form span.icon-icon-history-grey{
  font-size: 18px;
  vertical-align: sub;  
}

a.cta--primary span.icon-arrow-dx-green{
  font-size: 17px;
  margin-left: 10px;
}
.cta-wrap.multitratta .cta.cta--primary.cta--icon.cta--form, .cta-wrap.biglietto-premio .cta.cta--primary.cta--icon.cta--form{
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.cta-wrap.multitratta .cta.cta--primary.cta--icon.cta--form:hover, .cta-wrap.biglietto-premio .cta.cta--primary.cta--icon.cta--form:hover{
  margin-right: 20px;
}

.cerca-volo .icon-alert-close:before {
    margin-right: 0px;
    float: right;
    font-size: 20px;
    font-weight: 600;
}
.current-departure .icon.icon-icon_dropdown{
  font-size: 20px;
}
.custom-card__section span.icon-arrow-dx-red, .novita__slider span.icon-arrow-dx-green, .values__slider span.icon-arrow-dx-white{
  font-size: 18px;
  vertical-align: sub;
}
.reverse-button .icon-icon-reverse-green{
  font-size: 22px;
  vertical-align: -webkit-baseline-middle;
  margin-left: 5px;
}

.footer__contacts span.icon-ico-info-empty{
  vertical-align: middle;
}

.footer__contacts span.icon-ico-info-empty:hover:before{
  content: "\e938";
}

.mobile-menu-toggle .icon-ico-menu{
  font-size: 27px;
}

.mobile-menu-tools .icon-ico-search-big{
  font-size: 30px;
  padding-top: 22px;
  display: block;
}
.user-area .icon-ico-user:before{
    vertical-align: text-top;
    font-size: 38px;  
  }
.reveal--support .icon-support-icon-1,.reveal--support .icon-support-icon-2,.reveal--support .icon-support-icon-3{
  font-size: 43px;
  margin-top: 10px;
  display: block;
  margin-bottom: 25px;
}
.reveal-overlay .icon-alert-close:before, .icon.icon--close:before{
  margin-right: 0px;
  content: "\e906";
  color: #fff;
  float: right;
  font-weight: 900;
  font-size: 20px;
}
.icon.icon--close.icon--close--black:before{
  color: #000;
}

#panel-list_andata--prenota .icon-icon-departure,#panel-all-destination .icon-icon-arrival{
  display: block;
  position: absolute;
  top: 13px;
  left: 16px;
  font-size: 25px;
}

#panel-date-andata--prenota .icon-icon-calendar, #panel-date-ritorno--prenota .icon-icon-calendar, #departure_date--flight-status-mobile .icon-icon-calendar, #panel-data--flight-status .icon-icon-calendar{
  position: absolute;
  top: 35px;
  font-size: 20px;
  left: 39px;
} 
    
@media (min-width: 1024px) {
  .user-area .icon-ico-user:before{
    vertical-align: text-top;
    font-size: 30px;  
  }
  .user-area .icon-ico-user{
    vertical-align: text-bottom;
  }
}
@media (max-width: 1023px) {
  .icon-icon-reverse-green:before{
    color: #fff;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
  }
}




