/* elementi generici - START */
.cta-wrap .cta--icon,
.cta-wrap .cta--only-icon {
  background-position: left 2px!important;
  padding-right: 0!important;
  padding-left: 36px!important;
}
.cta-wrap .cta--icon.cta--primary,
.cta-wrap .cta--only-icon.cta--primary,
.cta-wrap .cta--icon.cta--icon.cta--dark,
.cta-wrap .cta--only-icon.cta--icon.cta--dark {
  /* background-image: url('../images/arrow-sx-green.svg')!important;*/
}
.bg-alert p:before {
  float: right!important;
}
.cta-wrap .cta--icon.cta--secondary,
.cta-wrap .cta--only-icon.cta--secondary {
  /*background-image: url('../images/arrow-sx-red.svg')!important;*/
}
.cta-wrap .cta--icon.cta--light,
.cta-wrap .cta--only-icon.cta--light {
  /* background-image: url('../images/arrow-sx-white.svg')!important;*/
}
/* elementi generici - END */
/* alert - START */
.bg-alert p {
  margin-right: 0!important;
  margin-left: 40px!important;
}
.bg-alert .ico-close {
  left: 20px!important;
  right: auto!important;
}
/*.loggeduser_info{
  float: left!important;
  *//*background: !important;*//*
}*/

@media (min-width: 768px) {
  .bg-alert p {
    margin-left: 140px!important;
  }
  .bg-alert .ico-close {
    left: 50px!important;
  }
}
@media (min-width: 1024px) {
  .bg-alert p {
    background-position: right center!important;
  }
  .bg-alert .ico-close {
    left: 45px!important;
  }
}
/* alert - END */
/* offerte speciali - START */
.offerte-speciali__slider .custom-card .cta-wrap {
  left: auto!important;
  right: 20px!important;
}
@media (min-width: 1024px) {
  .offerte-speciali__slider .custom-card.custom-card--hor .custom-card__section {
    float: right!important;
  }
}
/* offerte speciali - END */
/* novità - START */
.wrap-title--novita h3 {
  float: right!important;
}
.novita__slider .custom-card .custom-card__section--text .cta-wrap {
  left: auto!important;
  right: 20px!important;
}
@media (min-width: 768px) {
  .wrap-title--novita .cta-wrap {
    float: left!important;
  }
}
/* novità - END */
/* news - START */
@media (min-width: 768px) {
  .wrap-title--news .cta-wrap {
    right: auto!important;
    left: 0!important;
  }
  .news-block--wrapper .news-block .cta-wrap {
    right: auto!important;
    left: 20px!important;
  }
}
@media (min-width: 1024px) {
  .news-block--wrapper .news-block {
    padding-right: 20px!important;
    padding-left: 60px!important;
  }
  .news-block--wrapper .news-block .cta-wrap {
    right: auto!important;
    left: 20px!important;
  }
}
/* news - END */
/* values - START */
.values__slider .custom-card .cta-wrap {
  left: auto!important;
  right: 20px!important;
}
@media (min-width: 768px) {
  .values__slider .custom-card .cta-wrap {
    margin: 0 auto!important;
    left: 0!important;
    right: 0!important;
    text-align: center!important;
  }
}
/* values - END */
/* newsletter - START */
.newsletter-wrap .column,
.newsletter-wrap .column.button-col {
  float: right!important;
}
/* newsletter - END */
/* cookie bar - START */
.cookie-bar .text .cta.cta--icon {
  background-position: left 5px center!important;
  padding-left: 25px!important;
  padding-right: 0!important;
}
.cookie-bar .text{
  text-align:center!important;
}
.cookie-bar{
  padding:20px 0!important;
  position:fixed!important;
  bottom:0!important;
  width:100%!important;
  z-index:100!important;
  background-color:rgba(255,255,255,0.95)!important;
  -webkit-box-shadow:0 -0.5px 10px 0 rgba(0,0,0,0.06)!important;
  -moz-box-shadow:0 -0.5px 10px 0 rgba(0,0,0,0.06)!important;
  box-shadow:0 -0.5px 10px 0  rgba(0,0,0,0.06)!important;
}

/* cookie bar - END */
/* PRIVACY POLICY */
label[for="checkbox1"] a.cta.cta--primary.cta--icon{
  margin-right: 10px!important;
}
/* PRIVACY POLICY - END */
/* footer - START */
.footer .footer__contacts p strong {
  float: right!important;
  padding-right: 0!important;
  padding-left: 5px!important;
}
.footer .footer__contacts a {
  padding-right: 0!important;
  padding-left: 15px!important;
}
.footer .footer__nav .accordion-item .accordion-title::before {
  left: 0!important;
  right: auto!important;
}
.footer .footer__links .footer__link a:after {
  left: .0!important;
  right: auto!important;
  -webkit-transform: rotate(90deg)!important;
  -moz-transform: rotate(90deg)!important;
  transform: rotate(90deg)!important;
  -ms-transform: rotate(90deg)!important;
}
@media (min-width: 768px) {
  .footer .footer__contacts .column {
    float: right!important;
  }
  .footer .footer__contacts p .contact--text {
    float: right!important;
    padding-right: 0!important;
    padding-left: 5px!important;
  }
  .footer .footer__contacts .footer__app h5 {
    float: right!important;
  }
  .footer .footer__contacts .footer__app a {
    padding-left: 0!important;
    padding-right: 15px!important;
  }
}
@media (min-width: 1024px) {
  .footer .footer__contacts .footer__app a {
    float: right!important;
    padding-right: 0!important;
    padding-left: 15px!important;
  }
  .footer .footer__contacts p {
    float: right!important;
  }
  .footer .footer__credits p {
    text-align: right!important;
  }
}
.footer__nav .footer__accordion.footer__accordion--16 .accordion-item,section.footer__links .column.small-12.medium-12.large-2 {
  float: right!important;
}

/* footer - END */
/* lista offerte - START */
.lista-offerte .lista-offerte__select .current-departure {
  display: inline-block!important;
  *display: inline!important;
  zoom: 1!important;
}
.lista-offerte .lista-offerte__slider .custom-card .cta-wrap {
  left: 20px!important;
  right: auto!important;
}
.lista-offerte .lista-offerte__slider .custom-card .label {
  float: right!important;
  margin-right: 0!important;
  margin-left: 5px!important;
}
.lista-offerte .lista-offerte__accordion .accordion .accordion-item .accordion-title::before {
  right: auto!important;
  left: 20px!important;
}
.lista-offerte .lista-offerte__accordion .accordion .accordion-item .lista-destinazioni .lista-destinazioni__item .right-col {
  text-align: left!important;
  left: 20px!important;
  right: auto!important;
}
@media (min-width: 768px) {
  .lista-offerte .lista-offerte__accordion .accordion .accordion-item .cta-wrap {
    text-align: right!important;
  }
  .lista-offerte .lista-offerte__accordion .accordion .accordion-item .accordion-title::before {
    left: 0!important;
  }
  .lista-offerte .lista-offerte__accordion .accordion .accordion-item .lista-destinazioni .lista-destinazioni__item .right-col {
    left: 0!important;
  }
}
/* lista offerte - END */
/* reveal - START */
.reveal.reveal--language .reveal__header-mobile .close-button,
.reveal.reveal--login .reveal__header-mobile .close-button {
  float: left!important;
}
.reveal.reveal--language .reveal__header-mobile span,
.reveal.reveal--login .reveal__header-mobile span {
  float: right!important;
}
.reveal.reveal--language select {
  background-position: left -0.9rem center!important;
  padding-right: 0.84375rem!important;
  padding-left: 1.8rem!important;
}
.reveal.reveal--language .checkbox-wrap {
  overflow: hidden!important;
}
.reveal.reveal--language .checkbox-wrap input,
.reveal.reveal--language .checkbox-wrap label {
  float: right!important;
}
.reveal.reveal--language .checkbox-wrap input {
  margin-top: 6px!important;
}
.reveal.reveal--language .shortcut-wrap .shortcut .shortcut__lang {
  padding-left: 0!important;
  padding-right: 10px!important;
}
.reveal.reveal--login .reveal__content .custom-row .custom-button-wrap {
  float: right!important;
}
.reveal.reveal--login .checkbox-wrap {
  float: right!important;
}
.reveal.reveal--login .checkbox-wrap input,
.reveal.reveal--login .checkbox-wrap label {
  float: right!important;
}
.reveal.reveal--login .checkbox-wrap label {
  margin-left: 16px!important;
  margin-right: 8px!important;
}
.reveal.reveal--login .cta-custom-wrap {
  float: right!important;
}
.reveal.reveal--search form .search-bar__icon {
  right: auto!important;
  left: 20px!important;
  background-position: left center!important;
}
.reveal.reveal--search form .suggestion-box .suggestion-box__single-option {
  text-align: right!important;
}
.reveal.reveal--search .reveal__header-mobile {
  left: auto!important;
  right: 0px!important;
}
@media (min-width: 768px) {
  .reveal.reveal--login .checkbox-wrap {
    padding-left: 0!important;
    padding-right: 80px!important;
  }
  .reveal.reveal--login .cta-custom-wrap {
    padding-right: 0!important;
    padding-left: 80px!important;
    float: left!important;
  }
  .reveal.reveal--search form .search-bar__icon {
    left: 40px!important;
  }
  .reveal.reveal--search .reveal__header-mobile {
    right: 40px!important;
  }
}
@media (min-width: 1024px) {
  .reveal.reveal--search form .search-bar__icon {
    left: 70px!important;
    border: none!important;
    border-right: 1px solid #c1c1c1!important;
  }
  .reveal.reveal--search form .search-bar__input {
    padding-right: 65px!important;
    padding-left: 240px!important;
  }
  .reveal.reveal--support .reveal__content .custom-column {
    float: right!important;
  }
  .reveal.reveal--support .reveal__bottom-bar .icon--info {
    margin-left: 0!important;
    margin-right: 5px!important;
  }
  .reveal.reveal--login .reveal__content .custom-row .custom-button-wrap .button {
    padding: 15px 40px 12px 20px!important;
    background-position: right 15px center!important;
  }
  #search .reveal--search .reveal__content{
    padding-top: 0!important;
    padding-bottom: 0!important;
  }
  .reveal .close-button {
    left: 0!important;
    right: auto!important;
  }
}
/* reveal - END */
/* header - START */
#header .column {
  float: right!important;
}
#header .skyteam {
  margin-left: 0!important;
  margin-right: 5px!important;
}
#header .mobile-menu-toggle {
  text-align: left!important;
}
#header .menu-toggle {
  float: left!important;
  margin-left: 0!important;
  margin-right: 25px!important;
}
#header .user-area.user-logged::after {
  left: auto!important;
  right: 0!important;
}
/*#header .user-area.user-logged .loggeduser_info {
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-user-millemiglia.svg') no-repeat right center!important;
}*/
#header .user__logout {
  background-position: 5% center!important;
  background-image: url('/etc/designs/alitalia/clientlibs-1-rtl/images/ico-logout.svg')!important;
}
.binding-mm-name{
  float: right!important;
}
#header .logged-user-bar a {
  padding: 18px 20px 18px 60px!important;
}
#header .logged-user-bar .cta-wrap .cta--dark {
  background-position: 5% center!important;
}
#header .logged-user-bar .user__scheda .user__programma {
  padding-left: 0!important;
  padding-right: 45px!important;
}
#header .logged-user-bar .user__scheda .user__programma.millemiglia {
  background-position: right center!important;
}
#header .logged-user-bar .user__scheda div {
  float: right!important;
}
#header .logged-user-bar .user__saldo div {
  float: right!important;
}
#header .mainmenu .submenu {
  margin-top: 0!;
}
#header .is-dropdown-submenu .is-dropdown-submenu-parent.opens-left > a::after {
  display: none!important;
}
#header .user-area.user-logged .loggeduser_info {
  background-position: right!important;
  text-align: right !important;
}
/*.headerButtonLogout{
  -moz-transform: scaleX(-1)!important;
  -o-transform: scaleX(-1)!important;
  -webkit-transform: scaleX(-1)!important;
  transform: scaleX(-1)!important;
  filter: FlipH!important;
  -ms-filter: "FlipH"!important;

}*/
#panel-history .ricerche-precedenti .card .passengers, #panel-history .ricerche-precedenti .card .class{
  margin-right: 30px!important;
}
@media (min-width: 768px) {
  #header .skyteam {
    margin-right: 10px!important;
  }
  #header .user-area.user-logged .loggeduser_info {
    padding-left: 40px!important;
    padding-right: 40px!important;
    background-position: right!important;
  }
  #header .logged-user-bar .user__scheda .rounded {
    margin-right: 20px!important;
    margin-left: 0!important;
  }
  #header .logged-user-bar .user__saldo {
    text-align: right!important;
  }
}
@media (min-width: 1024px) {
  #header .navigation {
    text-align: left!important;
  }
  #header .menu-secondary > ul > li {
    margin-left: 0!important;
    margin-right: 30px!important;
  }
  #header .menu-secondary .lang-selection a {
    padding-right: 0!important;
    padding-left: 18px!important;
  }
  #header .menu-secondary .lang-selection a::after {
    right: auto!important;
    left: 0!important;
  }
  #header .menu-secondary a img {
    margin-left: 15px!important;
    margin-right: 0!important;
  }
  #header .menu-secondary .notification-count {
    left: auto!important;
    right: -10px!important;
  }
  #header .user-area .user-login {
    padding-left: 0!important;
    padding-right: 30px!important;
    background-position: right center!important;
  }
  #header .mainmenu li {
    margin-right: 0!important;
    margin-left: 30px!important;
  }
  #header .user__logout {
    right: auto!important;
    left: 0!important;
    padding-right: 30px!important;
    padding-left: 0!important;
  }
  #header .logged-user-bar .sfondo {
    top: 0!important;
    right: 0!important;
  }
  #header .logged-user-bar .sfondo .row .before {
    top: 0!important;
    right: 0!important;
  }
  #header .logged-user-bar .sfondo .row .after {
    right: auto!important;
    left: 100%!important;
  }
  #header .logged-user-bar a {
    padding: 5px 0 5px 30px!important;
  }
  #header .logged-user-bar .user__scheda .rounded {
    margin: 30px 0 0!important;
  }
  #header .logged-user-bar .user__scheda .user__name {
    padding: 0 30px!important;
    text-align: right!important;
  }
  #header .logged-user-bar .user__scheda .user__programma {
    padding: 0!important;
  }
  #header .logged-user-bar .user__link a {
    margin-right: -35px!important;
    margin-left: 0!important;
  }
}
/* header - END */
/* notifiche - START */
@media (min-width: 1024px) {
  .notification-cta .notification-wrap {
    left: auto!important;
    right: -20px!important;
  }
  .notification-cta .notification-single-item {
    text-align: right!important;
    padding: 20px 15px 20px 30px!important;
  }
  .notification-cta .notification-single-item .icon--close--black {
    right: auto!important;
    left: 15px!important;
  }
}
/* notifiche - END */
/* hero slider - START */
.hero__slider .cta-wrap .cta--only-icon {
  background-position: left center!important;
}
@media (min-width: 1024px) {
  .hero__slider .swiper-container-fade .swiper-slide {
    text-align: right!important;
  }
  .hero__slider .hero__slider_background_mask ~ .row .hero__slider_foreground {
    max-width: none!important;
    width: 40%!important;
    float: right!important;
    margin-right: 120px!important;
  }
}
/* hero slider - END */
/* cerca volo - START */
.section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__title::before {
  right: auto!important;
  left: 20px!important;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile .box-text,
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile.no-flight .box-text {
  background-position: right center!important;
  padding-right: 40px!important;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile .open_booking_code,
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile.no-flight .open_booking_code {
  float: right!important;
  margin: 15px 48px 0 0!important;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .user-login-box {
  margin-left: 0!important;
  margin-right: 10px!important;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .history .cta {
  padding-left: 0!important;
  padding-right: 35px!important;
  background-position: right center!important;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap::after,
.section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap::after {
  right: 15px!important;
  left: auto!important;
  background-position: right 15px center!important;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap input,
.section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap input,
.section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap span.input-placeholder,
.section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap span.input-placeholder {
  padding-left: 15px!important;
  padding-right: 50px!important;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .cta-wrap.multitratta .cta--form,
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .cta-wrap.biglietto-premio .cta--form {
  padding-left: 25px!important;
  padding-right: 0!important;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .reverse-button {
  right: auto!important;
  left: 15px!important;
  -moz-transform: translate(50%, -50%)!important;
  -webkit-transform: translate(50%, -50%)!important;
  -o-transform: translate(50%, -50%)!important;
  -ms-transform: translate(50%, -50%)!important;
  transform: translate(50%, -50%)!important;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .radio-wrap label {
  margin-left: 0!important;
  margin-right: 10px!important;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in legend,
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--info-voli legend{
  float: right!important;
}
.section--cerca-volo .cerca-volo .autocomplete-wrap .panel__header-mobile .close-button,
.section--cerca-volo .cerca-volo .collapsable-wrap .panel__header-mobile .close-button {
  float: left!important;
  right: auto!important;
  left: 0!important;
}
.section--cerca-volo .cerca-volo .autocomplete-wrap .panel__header-mobile span,
.section--cerca-volo .cerca-volo .collapsable-wrap .panel__header-mobile span {
  float: right!important;
}
.section--cerca-volo .cerca-volo [id*="panel-"] #data-andata--prenota-mobile,
.section--cerca-volo .cerca-volo [id*="panel-"] #data-ritorno--prenota-mobile,
.section--cerca-volo .cerca-volo [id*="panel-"] #departure_date--timetables-mobile,
.section--cerca-volo .cerca-volo [id*="panel-"] #departure_date--flight-status-mobile {
  background-position: right 15px center!important;
  padding-left: 0!important;
  padding-right: 50px!important;
}
.section--cerca-volo .cerca-volo #panel-travel-options .panel__content .input-wrap {
  float: left!important;
}
.section--cerca-volo .cerca-volo #panel-travel-options .panel__content .radio-wrap {
  float: right!important;
}
.section--cerca-volo .cerca-volo #panel-travel-options .panel__content .passenger-wrap label {
  float: right!important;
}
.section--cerca-volo .cerca-volo #panel-travel-options .panel__content .seat-type-wrap .radio-group label {
  margin-right: 0!important;
  margin-left: 0!important;
}
#panel-travel-options .panel__content .seat-type-wrap .radio-group .placeholder{
  margin-left: 25px!important;
}
.section--cerca-volo .cerca-volo #panel-travel-options .panel__content .seat-type-wrap .h6 {
  float: right!important;
}
@media (min-width: 768px) {
  .section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__title::before {
    left: 40px!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .radio-travel-type {
    float: right!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .radio-group .input-wrap:first-child {
    margin-left: 20px!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .radio-group .input-wrap:last-child {
    margin-left: 0!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link {
    text-align: left!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap::after,
  .section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap::after,
  .section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap::after {
    right: 20px!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap,
  .section--cerca-volo .cerca-volo .cerca-volo__content .radio-wrap--mobile,
  .section--cerca-volo .cerca-volo .cerca-volo__content .link-wrap--tablet {
    float: right!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .reverse-button {
    left: 50%!important;
    -moz-transform: translate(-50%, 0)!important;
    -webkit-transform: translate(-50%, 0)!important;
    -o-transform: translate(-50%, 0)!important;
    -ms-transform: translate(-50%, 0)!important;
    transform: translate(-50%, 0)!important;
  }
}
@media (min-width: 1024px) {
  .section--cerca-volo .cerca-volo #cerca-volo__widget .tabs-title,
  .section--cerca-volo .cerca-volo .radio-wrap--desktop,
  .section--cerca-volo .cerca-volo .link-wrap--desktop,
  .section--cerca-volo .cerca-volo .input-wrap-1--mobile,
  .section--cerca-volo .cerca-volo .input-wrap-2--desktop {
    float: right!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .validate-search--desktop {
    right: 100%!important;
    left: auto!important;
    margin-left: 0!important;
    margin-right: 10px!important;
    -webkit-transform: rotate(180deg)!important;
    -moz-transform: rotate(180deg)!important;
    transform: rotate(180deg)!important;
    -ms-transform: rotate(180deg)!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .multitratta {
    float: right;
    -moz-transform: translate(100%, 0)!important;
    -webkit-transform: translate(100%, 0)!important;
    -o-transform: translate(100%, 0)!important;
    -ms-transform: translate(100%, 0)!important;
    transform: translate(100%, 0)!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .multitratta .cta {
    margin-right: 0!important;
    margin-left: 20px!important;
  }
  .multitratta {
  float:none !important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .biglietto-premio {
    float: left!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .custom-row-1,
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .custom-row-2 {
    padding-left: 70px!important;
    padding-right: 0!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .custom-input-group .input-wrap::after,
  .section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .custom-input-group .input-wrap::after,
  .section--cerca-volo .cerca-volo .cerca-volo__content .timetables .custom-input-group .input-wrap::after,
  .section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .custom-input-group .input-wrap::after {
    right: 20!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .custom-input-group .input-wrap:first-child span.input-placeholder,
  .section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .custom-input-group .input-wrap:first-child span.input-placeholder,
  .section--cerca-volo .cerca-volo .cerca-volo__content .timetables .custom-input-group .input-wrap:first-child span.input-placeholder,
  .section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .custom-input-group .input-wrap:first-child span.input-placeholder {
    -webkit-border-top-right-radius: 5px!important;
    -webkit-border-bottom-right-radius: 5px!important;
    -webkit-border-bottom-left-radius: 0!important;
    -webkit-border-top-left-radius: 0!important;
    -moz-border-radius-topright: 5px!important;
    -moz-border-radius-bottomright: 5px!important;
    -moz-border-radius-bottomleft: 0!important;
    -moz-border-radius-topleft: 0!important;
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important;
    -moz-background-clip: padding!important;
    -webkit-background-clip: padding-box!important;
    background-clip: padding-box!important;
    border-right: 1px solid #c1c1c1!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .custom-input-group .input-wrap:last-child span.input-placeholder,
  .section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .custom-input-group .input-wrap:last-child span.input-placeholder,
  .section--cerca-volo .cerca-volo .cerca-volo__content .timetables .custom-input-group .input-wrap:last-child span.input-placeholder,
  .section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .custom-input-group .input-wrap:last-child span.input-placeholder {
    -webkit-border-top-right-radius: 0!important;
    -webkit-border-bottom-right-radius: 0!important;
    -webkit-border-bottom-left-radius: 5px!important;
    -webkit-border-top-left-radius: 5px!important;
    -moz-border-radius-topright: 0!important;
    -moz-border-radius-bottomright: 0!important;
    -moz-border-radius-bottomleft: 5px!important;
    -moz-border-radius-topleft: 5px!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 5px!important;
    border-top-left-radius: 5px!important;
    -moz-background-clip: padding!important;
    -webkit-background-clip: padding-box!important;
    background-clip: padding-box!important;
    border-right: none!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content--check-in .custom-col,
  .section--cerca-volo .cerca-volo .cerca-volo__content--miei-voli .custom-col,
  .section--cerca-volo .cerca-volo .cerca-volo__content--info-voli .custom-col {
    float: right!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content--check-in .custom-input-group .input-wrap:first-child input,
  .section--cerca-volo .cerca-volo .cerca-volo__content--miei-voli .custom-input-group .input-wrap:first-child input {
    -webkit-border-top-right-radius: 5px!important;
    -webkit-border-bottom-right-radius: 5px!important;
    -webkit-border-bottom-left-radius: 0!important;
    -webkit-border-top-left-radius: 0!important;
    -moz-border-radius-topright: 5px!important;
    -moz-border-radius-bottomright: 5px!important;
    -moz-border-radius-bottomleft: 0!important;
    -moz-border-radius-topleft: 0!important;
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important;
    -moz-background-clip: padding!important;
    -webkit-background-clip: padding-box!important;
    background-clip: padding-box!important;
    border-right: 1px solid #c1c1c1!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content--check-in .custom-input-group .input-wrap:last-child input,
  .section--cerca-volo .cerca-volo .cerca-volo__content--miei-voli .custom-input-group .input-wrap:last-child input {
    -webkit-border-top-right-radius: 0!important;
    -webkit-border-bottom-right-radius: 0!important;
    -webkit-border-bottom-left-radius: 5px!important;
    -webkit-border-top-left-radius: 5px!important;
    -moz-border-radius-topright: 0!important;
    -moz-border-radius-bottomright: 0!important;
    -moz-border-radius-bottomleft: 5px!important;
    -moz-border-radius-topleft: 5px!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 5px!important;
    border-top-left-radius: 5px!important;
    -moz-background-clip: padding!important;
    -webkit-background-clip: padding-box!important;
    background-clip: padding-box!important;
    border-right: none!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content--check-in .custom-input-group .input-wrap.not-selected:last-child input,
  .section--cerca-volo .cerca-volo .cerca-volo__content--miei-voli .custom-input-group .input-wrap.not-selected:last-child input {
    border-left: 1px solid #c1c1c1!important;
    border-right: none!important;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content--check-in .custom-input-group .input-wrap.not-selected:first-child input,
  .section--cerca-volo .cerca-volo .cerca-volo__content--miei-voli .custom-input-group .input-wrap.not-selected:first-child input {
    border-right: 1px solid #c1c1c1!important;
  }
  .section--cerca-volo .cerca-volo #panel-history .ricerche-precedenti .cta-wrap {
    right: auto!important;
    left: 0!important;
  }
  .section--cerca-volo .cerca-volo #panel-history .ricerche-precedenti .card .date {
    margin-left: 30px!important;
    margin-right: 0!important;
  }
  .section--cerca-volo .cerca-volo #cerca-volo__close-button {
    right: auto!important;
    left: 45px!important;
  }
  .section--cerca-volo .cerca-volo #panel-travel-options .panel__content .passenger-wrap {
    float: right!important;
    border-right: none!important;
    border-left: 1px solid #c1c1c1!important;
  }
  .section--cerca-volo .cerca-volo #panel-travel-options .panel__content .seat-type-wrap {
    float: right!important;
  }
  .section--cerca-volo .cerca-volo #panel-travel-options .panel__content .button-wrap {
    right: auto!important;
    left: 0!important;
  }
}
/* cerca volo - END */
/* date picker - START */
.ui-datepicker.mobile-datepicker .year-nav a {
  padding: 0 4px 0 6px!important;
}
.ui-datepicker.mobile-datepicker .year-nav a:first-child {
  border-right: none!important;
  border-left: 1px solid white!important;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  -webkit-transform: rotate(-90deg)!important;
  -moz-transform: rotate(-90deg)!important;
  transform: rotate(-90deg)!important;
  -ms-transform: rotate(-90deg)!important;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  -webkit-transform: rotate(90deg)!important;
  -moz-transform: rotate(90deg)!important;
  transform: rotate(90deg)!important;
  -ms-transform: rotate(90deg)!important;
}
.ui-datepicker .ui-datepicker-calendar .ui-checkin a,
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today.ui-checkin a,
.ui-datepicker .ui-datepicker-calendar .ui-state-hover,
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-hover.ui-datepicker-hover-left .ui-state-hover,
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today .ui-state-hover,
.ui-datepicker .ui-datepicker-calendar .ui-datepicker .ui-datepicker-calendar .ui-checkin.ui-datepicker-hover.ui-datepicker-hover-left .ui-state-hover {
  -webkit-border-top-right-radius: 5px!important;
  -webkit-border-bottom-right-radius: 5px!important;
  -webkit-border-bottom-left-radius: 0!important;
  -webkit-border-top-left-radius: 0!important;
  -moz-border-radius-topright: 5px!important;
  -moz-border-radius-bottomright: 5px!important;
  -moz-border-radius-bottomleft: 0!important;
  -moz-border-radius-topleft: 0!important;
  border-top-right-radius: 5px!important;
  border-bottom-right-radius: 5px!important;
  border-bottom-left-radius: 0!important;
  border-top-left-radius: 0!important;
  -moz-background-clip: padding!important;
  -webkit-background-clip: padding-box!important;
  background-clip: padding-box!important;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker .ui-datepicker-calendar .ui-checkout.ui-datepicker-hover.ui-datepicker-hover-right .ui-state-hover,
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-hover.ui-datepicker-hover-right .ui-state-hover,
.ui-datepicker .ui-datepicker-calendar .ui-checkout a {
  -webkit-border-top-right-radius: 0!important;
  -webkit-border-bottom-right-radius: 0!important;
  -webkit-border-bottom-left-radius: 5px!important;
  -webkit-border-top-left-radius: 5px!important;
  -moz-border-radius-topright: 0!important;
  -moz-border-radius-bottomright: 0!important;
  -moz-border-radius-bottomleft: 5px!important;
  -moz-border-radius-topleft: 5px!important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  border-bottom-left-radius: 5px!important;
  border-top-left-radius: 5px!important;
  -moz-background-clip: padding!important;
  -webkit-background-clip: padding-box!important;
  background-clip: padding-box!important;
}
.ui-datepicker-next.ui-corner-all,.ui-datepicker-prev.ui-corner-all{
  margin-top: 5px!important;
}
@media (min-width: 1024px) {
  .ui-datepicker.desktop-datepicker .year-nav a {
    padding: 0 4px 0 6px!important;
  }
  .ui-datepicker.desktop-datepicker .year-nav a:first-child {
    border-right: none!important;
    border-left: 1px solid #c1c1c1!important;
  }
  .ui-datepicker .ui-datepicker-group.ui-datepicker-group-last {
    float: left!important;
  }
}
/* date picker - END */
/* menu mobile - START */
#header .off-canvas.position-left {
  width: 100%!important;
  left: -100%!important;
}
#header .off-canvas.position-left.is-open {
  -moz-transform: translate(100%, 0)!important;
  -webkit-transform: translate(100%, 0)!important;
  -o-transform: translate(100%, 0)!important;
  -ms-transform: translate(100%, 0)!important;
  transform: translate(100%, 0)!important;
}
#header .mobile-menu-tools .lang-selection span {
  float: right!important;
}
#header .mobile-menu-tools .close-button {
  float: right!important;
  border-right: none!important;
  border-left: 1px solid #c1c1c1!important;
}
#header .mobile-menu-tools .search-button {
  float: left!important;
}
#header .drilldown .is-drilldown-submenu-parent > a:after {
  right: auto!important;
  left: 0!important;
  -webkit-transform: rotate(90deg)!important;
  -moz-transform: rotate(90deg)!important;
  transform: rotate(90deg)!important;
  -ms-transform: rotate(90deg)!important;
}
#header .drilldown .js-drilldown-back > a:before {
  -webkit-transform: rotate(-90deg)!important;
  -moz-transform: rotate(-90deg)!important;
  transform: rotate(-90deg)!important;
  -ms-transform: rotate(-90deg)!important;
  margin-right: 0!important;
  margin-left: 15px!important;
}
#header .is-drilldown .mobile-notify,
#header .is-drilldown .mobile-support {
  padding-left: 0!important;
  padding-right: 30px!important;
  background-position: right center!important;
}
#header .is-drilldown .notification-count {
  right: -10px!important;
  left: auto!important;
}
#header .is-drilldown .mobile-notify-wrap .notification-single-item {
  padding: 40px 20px 40px 35px!important;
}
#header .is-drilldown .mobile-notify-wrap .notification-single-item .icon--close--black {
  right: auto!important;
  left: 20px!important;
}

/** Blocco notifiche desktop **/
.notification-cta {
  position: relative!important;
}
.notification-cta.active:before {
  content: ''!important;
  border: 1px solid #e1e1e1!important;
  -webkit-border-top-right-radius: 5px!important;
  -webkit-border-bottom-right-radius: 0px!important;
  -webkit-border-bottom-left-radius: 0px!important;
  -webkit-border-top-left-radius: 5px!important;
  -moz-border-radius-topright: 5px!important;
  -moz-border-radius-bottomright: 0px!important;
  -moz-border-radius-bottomleft: 0px!important;
  -moz-border-radius-topleft: 5px!important;
  border-top-right-radius: 5px!important;
  border-bottom-right-radius: 0px!important;
  border-bottom-left-radius: 0px!important;
  border-top-left-radius: 5px!important;
  -moz-background-clip: padding!important;
  -webkit-background-clip: padding-box!important;
  background-clip: padding-box!important;
  background: white!important;
  padding: 20px 0px!important;
  position: absolute!important;
  border-bottom: 0!important;
  left: -10px!important;
  top: -10px!important;
  z-index: 100!important;
  width: calc(100% + 30px)!important;
  box-shadow: 0px 0px 15px #CCCCCC!important;
}
.notification-cta.active:after {
  content: ''!important;
  width: calc(100% + 28px)!important;
  position: absolute!important;
  height: 16px!important;
  background: white!important;
  bottom: -15px!important;
  left: -9px!important;
  z-index: 103!important;
}
.notification-cta a {
  position: relative!important;
  z-index: 104!important;
}
.notification-wrap {
  display: none;
  position: absolute!important;
  width: 310px!important;
  border: 1px solid #e1e1e1!important;
  -webkit-border-top-right-radius: 5px!important;
  -webkit-border-bottom-right-radius: 5px!important;
  -webkit-border-bottom-left-radius: 5px!important;
  -webkit-border-top-left-radius: 0!important;
  -moz-border-radius-topright: 5px!important;
  -moz-border-radius-bottomright: 5px!important;
  -moz-border-radius-bottomleft: 5px!important;
  -moz-border-radius-topleft: 0!important;
  border-top-right-radius: 5px!important;
  border-bottom-right-radius: 5px!important;
  border-bottom-left-radius: 5px!important;
  border-top-left-radius: 0!important;
  -moz-background-clip: padding!important;
  -webkit-background-clip: padding-box!important;
  background-clip: padding-box!important;
  background: white!important;
  margin-top: 11px!important;
  left: -10px!important;
  box-shadow: 0px 0px 15px #CCCCCC!important;
  z-index: 102!important;
}
.notification-single-item {
  margin: 10px 7px!important;
  white-space: normal!important;
  padding: 20px 30px 20px 15px!important;
  -webkit-border-top-right-radius: 5px!important;
  -webkit-border-bottom-right-radius: 5px!important;
  -webkit-border-bottom-left-radius: 5px!important;
  -webkit-border-top-left-radius: 5px!important;
  -moz-border-radius-topright: 5px!important;
  -moz-border-radius-bottomright: 5px!important;
  -moz-border-radius-bottomleft: 5px!important;
  -moz-border-radius-topleft: 5px!important;
  border-top-right-radius: 5px!important;
  border-bottom-right-radius: 5px!important;
  border-bottom-left-radius: 5px!important;
  border-top-left-radius: 5px!important;
  -moz-background-clip: padding!important;
  -webkit-background-clip: padding-box!important;
  background-clip: padding-box!important;
  position: relative!important;
}

.notification-single-item .date {
  display: inline-block!important;
  *display: inline!important;
  zoom: 1!important;
  font-size: 14px!important;
  font-weight: normal!important;
}
.notification-single-item a.notification-text {
  display: inline-block!important;
  *display: inline!important;
  zoom: 1!important;
}
.notification-single-item .icon--close--black {
  position: absolute!important;
  top: 15px!important;
  right: 15px!important;
  /* background: url(/etc/designs/alitalia/clientlibs-1/images/ico-close-black.svg) no-repeat left center!important; */
  width: 12px!important;
  height: 12px!important;
  font-size: 0 !important;
}
.notification-single-item:hover {
  background-color: #e6e6e6!important;
}
.no-notification,
.is-drilldown li.no-notification {
  display: none!important;
}
.no-notification:hover,
.is-drilldown li.no-notification:hover {
  background: none!important;
}
#header .notification-single-item .date,
#header .notification-single-item a.notification-text {
  color: #999!important;
}
#header .notification-single-item.notification-unread .date,
#header .notification-single-item.notification-unread a.notification-text {
  color: #333!important;
}
#header .is-drilldown .mobile-notify-wrap .notification-single-item {
  margin: 0!important;
  padding: 40px 35px 40px 20px!important;
  -webkit-border-top-right-radius: 0!important;
  -webkit-border-bottom-right-radius: 0!important;
  -webkit-border-bottom-left-radius: 0!important;
  -webkit-border-top-left-radius: 0!important;
  -moz-border-radius-topright: 0!important;
  -moz-border-radius-bottomright: 0!important;
  -moz-border-radius-bottomleft: 0!important;
  -moz-border-radius-topleft: 0!important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  border-bottom-left-radius: 0!important;
  border-top-left-radius: 0!important;
  -moz-background-clip: padding!important;
  -webkit-background-clip: padding-box!important;
  background-clip: padding-box!important;
  border-bottom: 1px solid #676767!important;
}
#header .is-drilldown .mobile-notify-wrap .notification-single-item .date {
  margin-bottom: 10px!important;
}
#header .is-drilldown .mobile-notify-wrap .notification-single-item .icon--close--black {
  top: 20px!important;
  right: 20px!important;
}
#header .is-drilldown .mobile-notify-wrap .no-notification {
  border-bottom: none!important;
  height: 500px!important;
}
.notification-single-item.notification-unread{
  cursor: pointer!important;
}
.read{
  background-color:#d0cfcf!important;
}
li.notification-single-item{
  font: 700 16px/1.3em 'Source Sans Pro', Arial, sans-serif!important;
}
li.notification-single-item.no-notification span.notification-text{
  color: #676767!important;
  font-family: 'Source Sans Pro', Arial, sans-serif!important;
  font-weight: 300!important;
}
li.notification-single-item span{
  text-transform: none!important;
  color: #999!important;
  cursor:pointer!important;
}

li.notification-single-item span.date{
  /*text-transform: none!important;*/
  margin-left:-3px!important;
  font: 400 16px/1.3em 'Source Sans Pro', Arial, sans-serif!important;
  color: #999!important;

}

li.notification-single-item.notification-unread span{
  text-transform: none!important;
  color: #333!important;
}

li.notification-single-item.notification-unread span.date{
  /*text-transform: none!important;*/
  margin-left:-3px!important;
  font: 400 16px/1.3em 'Source Sans Pro', Arial, sans-serif!important;
  color: #333!important;
}

.notification-single-item{
  z-index:8!important;
}

li.notification-single-item a:visited {
  color: green!important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #header .off-canvas.position-left {
    width: 610px!important;
    left: -610px!important;
  }
  #header .off-canvas.position-left.is-open {
    -moz-transform: translate(610px, 0)!important;
    -webkit-transform: translate(610px, 0)!important;
    -o-transform: translate(610px, 0)!important;
    -ms-transform: translate(610px, 0)!important;
    transform: translate(610px, 0)!important;
  }
}
/* menu mobile - END */
/* istogramma - START */
#panel-histogram .histogram_wrap .col {
  float: right!important;
}
#panel-histogram .histogram_wrap .row--padded {
  padding-left: 0!important;
  padding-right: 110px!important;
}
#panel-histogram .histogram_wrap .histogram__priceline {
  left: auto!important;
  right: 0!important;
  text-align: right!important;
}
#panel-histogram .histogram_wrap .histogram__priceline .price {
  text-align: left!important;
}
#panel-histogram .histogram_wrap .histogram__priceline .line {
  left: auto!important;
  right: 100px!important;
}
/* istogramma - END */

/* panel all destinations */
#panel-all-destination .all-destination .initials-wrap,
#panel-all-destination .all-destination .countries-wrap,
#panel-all-destination .all-destination .airports-wrap{
  float: right!important;
}
#panel-all-destination .all-destination .initials-wrap{
  margin-right: 8.33%!important;
}
/* END panel all destinations */

/* iata code */
.section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap span.input-placeholder .iata-code,
.section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap span.input-placeholder .iata-code,
.section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap span.input-placeholder .iata-code,
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap span.input-placeholder .iata-code{
  margin-right: 10px!important;
}
#panel-all-destination .all-destination .airports-wrap .iata-code{
  padding-right: 6px!important;
}
/* END iata code */

.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .flight-status-label {
  right:0!important; }
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap span.flight-status-span,
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap .flight-status-field {
  padding-right: 41px !important;
}
.destination {
  display: flex!important;
  white-space: pre-wrap!important;
}

@media (min-width: 1025px) {
  .isTimoneRTL {
  margin-right: 550px;
  }
}

.lista-offerte__accordion.lista-offerte__accordion--33 .accordion-item,
.lista-offerte__accordion.lista-offerte__accordion--50 .accordion-item{
  float: right !important;
}

.myalitalia-site-wrap .lista-offerte__accordion.lista-offerte__accordion--33 .accordion-item,
.myalitalia-site-wrap .lista-offerte__accordion.lista-offerte__accordion--50 .accordion-item {
  float: right !important;
}