

.lista-offerte__select h3,
.lista-offerte__select .select--departure {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: auto;
}
.lista-offerte__select .current-departure {
  position: relative;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
  color: #006643;
}
.lista-offerte__select .current-departure.on-focus {
  border-bottom: 2px solid #006643;
}
.lista-offerte__select .current-departure .icon {
  background: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/icon_dropdown.svg') no-repeat center center;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 20px;
  height: 20px;
  margin-left: 6px;
}
.lista-offerte__select .current-departure .select--departure {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
}
.lista-offerte__slider .label,
.lista-offerte__accordion .label,
.lista-offerte__slider .travel-type,
.lista-offerte__accordion .travel-type {
  font-size: 18px;
  color: #676767;
}
.lista-offerte__slider .destination,
.lista-offerte__accordion .destination,
.lista-offerte__slider .price,
.lista-offerte__accordion .price {
  overflow: hidden;
  font-weight: 700;
  color: #333333;
}
.lista-offerte__terms p {
  color: #333333;
  font-size: 14px;
  margin: 0;
}
.lista-offerte__slider .destination,
.lista-offerte__accordion .destination {
  font-size: 25px;
  line-height: 1.2em;
}
.lista-offerte__slider .price,
.lista-offerte__accordion .price {
  font-size: 28px;
}
.lista-offerte__slider .pay-off,
.lista-offerte__accordion .pay-off {
  position: relative;
  font-size: 24px;
  color: white;
  z-index: 1;
  line-height: 1.15em;
}
.lista-offerte__slider .custom-card .bg-image {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 300px;
  /* background-image: url('http://www.placehold.it/400x300'); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.lista-offerte__slider .custom-card .bg-image.bg-image--overlay {
  text-align: center;
  padding: 30px;
  background-color: #006643;
}
.lista-offerte__slider .custom-card .bg-image.bg-image--overlay::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.6)));
  background: -moz-linear-gradient(center bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 0.6)', endColorstr='rgba(0, 0, 0, 0)',GradientType=0);
}
.lista-offerte__slider .custom-card .bg-image .pay-off {
  display: block;
  position: relative;
  z-index: 1;
  max-width: 210px;
  margin: 0 auto;
}
.lista-offerte__slider .custom-card .custom-card__section {
  padding: 20px;
  position: relative;
}
.lista-offerte__slider .custom-card .custom-card__section.custom-card__section--text {
  padding-bottom: 90px;
}
.lista-offerte__slider .custom-card .bottom-bar {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 0 20px;
}
.lista-offerte__slider .custom-card .destination,
.lista-offerte__slider .custom-card .travel-type {
  display: block;
}
.lista-offerte__slider .custom-card .destination {
  color: #a42615;
  margin-bottom: 5px;
  text-transform: initial;
  font-size: 28px;
}
.lista-offerte__slider .custom-card .travel-type {
  margin-bottom: 15px;
}
.lista-offerte__slider .custom-card .label {
  margin-right: 5px;
}
.lista-offerte__slider .custom-card .cta-wrap {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: auto;
}
.lista-offerte__accordion {
  margin: 0 -15px;
}
.lista-offerte__accordion .accordion-item *,
.lista-offerte__accordion .accordion-item:first-child > :first-child,
.lista-offerte__accordion :last-child:not(.is-active) > .accordion-title,
.lista-offerte__accordion :last-child > .accordion-content:last-child {
  border-radius: 0;
  border: 0;
}
.lista-offerte__accordion .accordion-content {
  padding: 0;
}
.lista-offerte__accordion .accordion-title:hover,
.lista-offerte__accordion .accordion-title:focus {
  background-color: transparent;
}
.lista-offerte__accordion .accordion .accordion-item .accordion-title,
.lista-offerte__accordion .lista-destinazioni__item {
  border-bottom: 1px solid #c1c1c1;
}
.lista-offerte__accordion .accordion .accordion-item.is-active .accordion-title::before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.lista-offerte__accordion .accordion .accordion-item .accordion-title {
  padding: 25.5px 20px 20px;
}
.lista-offerte__accordion .accordion .accordion-item .lista-destinazioni__item {
  padding: 20px;
}
.lista-offerte__accordion .accordion .accordion-item .accordion-title::before {
  /*background-image: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/icon_dropdown.svg');*/
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  width: 14px;
  height: 100%;
  top: 0;
  right: 20px;
  margin-top: 0;
}
.lista-offerte__accordion .accordion .accordion-item .lista-destinazioni {
  overflow: hidden;
}
.lista-offerte__accordion .accordion .accordion-item .lista-destinazioni .lista-destinazioni__item {
  overflow: hidden;
  display: block;
  position: relative;
}
.lista-offerte__accordion .accordion .accordion-item .lista-destinazioni .lista-destinazioni__item span {
  display: block;
}
.lista-offerte__accordion .accordion .accordion-item .lista-destinazioni .lista-destinazioni__item .left-col {
  width: 50%;
  padding-bottom: 35px;
}
.lista-offerte__accordion .accordion .accordion-item .lista-destinazioni .lista-destinazioni__item .right-col {
  /*width: 50%;*/
  text-align: right;
  position: absolute;
  bottom: 15px;
  right: 20px;
}
.lista-offerte__accordion .accordion .accordion-item .lista-destinazioni .lista-destinazioni__item .travel-type {
  position: absolute;
  bottom: 15px;
}
.lista-offerte__accordion .accordion .accordion-item .lista-destinazioni .lista-destinazioni__item .price {
  margin-top: 20px;
  line-height:30px;
}
.lista-offerte__accordion .accordion .accordion-item .cta-wrap {
  text-align: center;
  padding: 50px 20px;
}
@media (min-width: 768px) {
  .lista-offerte__slider .travel-type,
  .lista-offerte__accordion .travel-type {
    font-size: 16px;
  }
  .lista-offerte__slider .destination,
  .lista-offerte__accordion .destination {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .lista-offerte__slider .price,
  .lista-offerte__accordion .price {
    margin-top: 5px;
  }
  .lista-offerte__slider .label,
  .lista-offerte__accordion .label {
    font-size: 14px;
  }
  .lista-offerte__slider .pay-off,
  .lista-offerte__accordion .pay-off {
    font-size: 22px;
  }
  .lista-offerte__select .current-departure {
    font-size: 30px;
  }
  .lista-offerte__slider .swiper-slide {
    width: 50%;
  }
  .lista-offerte__slider .custom-card .custom-card__section.custom-card__section--text {
    padding-bottom: 80px;
  }
  .lista-offerte__slider .custom-card .destination {
    font-size: 26px;
  }
  .lista-offerte__accordion {
    margin: 0;
  }
  .lista-offerte__accordion .accordion .accordion-item .accordion-title {
    padding: 25.5px 0 20px;
  }
  .lista-offerte__accordion .accordion .accordion-item .lista-destinazioni .lista-destinazioni__item {
    padding: 15px 0;
  }
  .lista-offerte__accordion .accordion .accordion-item .lista-destinazioni .lista-destinazioni__item .price {
    margin-top: 30px;
  }
  .lista-offerte__accordion .accordion .accordion-item .cta-wrap {
    text-align: left;
    padding: 35px 0 20px;
  }
}
@media (min-width: 1024px) {
  .lista-offerte__slider.lista-offerte__slider--33 .swiper-slide {
    width: 33.3333%;
  }
             .br-on-mobile {
    display: none;
}
  .lista-offerte__slider .swiper-slide {
    width: 25%;
  }
  .lista-offerte__slider .custom-card .bg-image {
    height: 270px;
  }
  .lista-offerte__slider .swiper-container--carousel {
    padding-bottom: 10px;
  }
  .lista-offerte__slider .swiper-pagination {
    display: none;
  }
  .lista-offerte__accordion {
    margin: 0 -15px;
  }
  .lista-offerte__accordion.lista-offerte__accordion--33 .accordion-item,
  .lista-offerte__accordion.lista-offerte__accordion--50 .accordion-item {
    float: left;
  }
  .lista-offerte__accordion.lista-offerte__accordion--33 .accordion-item {
    width: 33.33%;
  }
  .lista-offerte__accordion.lista-offerte__accordion--50 .accordion-item {
    width: 50%;
  }
  .lista-offerte__accordion .accordion .accordion-item {
    padding: 0 10px;
  }
  .lista-offerte__accordion .accordion .accordion-item .accordion-title {
    cursor: default;
    padding: 25px 0 5px;
  }
  .lista-offerte__accordion .accordion .accordion-item .accordion-title:focus {
      outline: none;
  }
  .lista-offerte__accordion .accordion .accordion-item .accordion-title::before {
    display: none;
  }
  .lista-offerte__accordion .accordion .accordion-item .cta-wrap {
    padding-bottom: 0;
  }
  .lista-offerte__accordion .accordion .accordion-item .lista-destinazioni .lista-destinazioni__item .price {
    margin-top: 20px;
  }
}

li.lista-destinazioni__item span.price{
  padding-bottom:1px
}
