/* 
* Stile Main Menu 
*/

.submenu{
	width: 100% !important;
    padding-bottom: 15px;
        background: rgba(255, 255, 255, 1) !important;
}

.menu_secondLevelLink{
 text-transform: uppercase !important;
    padding-left: 0px !important;
    font-size: 14px;
    font-weight: bold;
}

.menu_thirdLevelList{
    list-style: none;
	padding-left: 0px;
    padding-top:10px;
}

.menu_thirdLevelLink{
    font-size: 14px;
    font-weight: normal;
    padding-left: 0px  !important; 
}

.menu_thirdLevelItem{
    line-height: 1.4;
    width: 100%;
}

.header-bottom .navbar-left>li:hover>a, .header-bottom .navbar-left>li.active>a {
	color: #004519 !important;
    background-color: #ffffff !important;
    opacity: 1;
}

.header-bottom .navbar-left{
 margin-left: 68px !important;
}
.header-bottom .navbar-left>li:hover>a .raddrizza, .header-bottom .navbar-left>li.active>a .raddrizza{
    transform: skew(44deg); 
    -o-transform: skew(44deg); 
    -moz-transform: skew(44deg); 
    -webkit-transform: skew(44deg); 
}
.orarioVoli {
   margin-left: 68px !important;
}
.header-bottom .navbar-left>li:hover>a, .header-bottom .navbar-left>li.active>a {
 color: #004519 !important;
    background-color: #ffffff !important;
    opacity: 1;
    transform: skew(-44deg); 
    -o-transform: skew(-44deg); 
    -moz-transform: skew(-44deg); 
    -webkit-transform: skew(-44deg); 
}