.defaultEmptyDiv {
	display: none;
}
.aem-AuthorLayer-Edit .defaultEmptyDiv {
	display: block;
}

div.new {
	display: none;
}

.aem-AuthorLayer-Edit div.new, .aem-AuthorLayer-Design div.new {
  	display: block; 
}

div.carousel .defaultEmptyDiv {
	text-align: center;
}

div.carousel {
	margin-top: 0px;
	margin-bottom: 0px;
}

.cq-placeholder {
	display: none;
}

.aem-AuthorLayer-Edit .cq-placeholder, .aem-AuthorLayer-Design .cq-placeholder {
	display: block;
}

.main-registration-bg .registration-content.login .required-text{
	margin-bottom: 0px;
}

.overlayLoading {
    z-index: 2000;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom: 1;
    cursor: wait;
}

.waitingPageLoading {
	cursor: wait;
}


.flights-recap {
	border-top: 0 none!important;
}

.fee-padding .flight-list-info {
	left: 60px;
	bottom: 5px;
	font-size: 12px;
	font-weight: 700;
	text-transform: none;
	white-space: nowrap;
}

.navbar-booking a {
    cursor: default;
}

.btn-custom{
	text-decoration: underline;
}

.box-vertical-inner .title{
	font-size: 34px;
	font-weight: 400;
	margin: 0;
}

.passenger-data-disclaimer{
	margin-top: 20px;
}

.passenger-data-disclaimer a{
	text-decoration: underline;
}

.with-infant-disclaimer .tooltip-inner{
	max-width: 200px;
 	text-align: left;
  	white-space: normal;
}

.full-width-image .with-infant-disclaimer .infant-tooltip{
	display: none;
}