html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*vertical-align: baseline;*/
}

/*
* Accordion
*/
details summary, details .accordion__header {
  position: relative;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  color: #0d4722;
}
details summary::-webkit-details-marker, details .accordion__header::-webkit-details-marker {
  display: none;
}
details summary:after, details .accordion__header:after {
  content: "";
  transition: background-position 0.3s ease-in-out;
  position: absolute;
  background: url(/etc/designs/alitalia/clientlibs/images/form/accordionArrow.png) left bottom;
  right: 10px;
  top: 50%;
  margin-top: -4px;
  width: 14px;
  height: 7px;
  display: block;
}
.accordion {
  background-color: #f5f8f4;
  border: 1px solid #e6ede4;
  overflow: hidden;
  transition: 400ms all ease;
  border: 1px solid #e6ede4;
}
.accordion:active {
  outline: 0;
}
.accordion + .accordion {
  margin-top: 20px;
}
@media only screen and (max-width: 640px) {
  .accordion {
    height: 50px;
  }
}
.accordion.active {
  transition: 400ms height ease;
}
.accordion.active .accordion__header a:after {
  background-position: left top;
}
.accordion.active .accordion__body {
  display: block;
}
.accordion .accordion__header {
  position: relative;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  color: #0d4722;
}
.accordion .accordion__header:focus, .accordion .accordion__header:active {
  outline: 0;
}
.accordion .accordion__header a {
  display: block;
  padding: 5px 10px;
  color: #0d4722;
}
.accordion .accordion__header > * {
  font-weight: lighter;
  line-height: initial;
  text-transform: uppercase;
}
.accordion .accordion__header > *:focus, .accordion .accordion__header > *:active {
  outline: 0;
}
@media only screen and (max-width: 640px) {
  .accordion .accordion__header > * {
    font-size: 18px;
  }
}
.accordion .accordion__header::-webkit-details-marker {
  display: none;
}
.accordion .accordion__header a:after {
  content: "";
  transition: background-position 0.3s ease-in-out;
  position: absolute;
  background: url(/etc/designs/alitalia/clientlibs/images/form/accordionArrow.png) left bottom;
  right: 10px;
  top: 50%;
  margin-top: -4px;
  width: 14px;
  height: 7px;
  display: block;
}

.accordion__body {
  background-color: #e6ede4;
  font-size: 14px;
  line-height: 18px;
  display: none;
  padding: 10px;
}
@media only screen and (min-width: 641px) {
  .accordion__body {
    font-size: 18px;
    line-height: 20px;
  }
}
.accordion__body[open] summary:after {
  background-position: left top;
}
.accordion--table .accordion__body {
  padding: 0;
  background: #fff;
}
.j-accordions{
 margin: 10px 0;
}

/*
* Fonts
*/

@font-face {
  font-family: "lato";
  src: url("/etc/designs/alitaliatrade/clientlibs/fonts/LatoLatin-Regular.eot");
  src: url("/etc/designs/alitaliatrade/clientlibs/fonts/LatoLatin-Regular.eot?#iefix") format("embedded-opentype"), url("/etc/designs/alitaliatrade/clientlibs/fonts/LatoLatin-Regular.woff2") format("woff2"), url("/etc/designs/alitaliatrade/clientlibs/fonts/LatoLatin-Regular.woff") format("woff"), url("/etc/designs/alitaliatrade/clientlibs/fonts/LatoLatin-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lato";
  src: url("/etc/designs/alitaliatrade/clientlibs/fonts/LatoLatin-Bold.eot");
  src: url("/etc/designs/alitaliatrade/clientlibs/fonts/LatoLatin-Bold.eot?#iefix") format("embedded-opentype"), 
        url("/etc/designs/alitaliatrade/clientlibs/fonts/LatoLatin-Bold.woff2") format("woff2"), 
        url("/etc/designs/alitaliatrade/clientlibs/fonts/LatoLatin-Bold.woff") format("woff"), 
        url("/etc/designs/alitaliatrade/clientlibs/fonts/LatoLatin-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "lato";
  src: url("/etc/designs/alitaliatrade/clientlibs/fonts/LatoLatin-Light.eot");
  src: url("/etc/designs/alitaliatrade/clientlibs/fonts/LatoLatin-Light.eot?#iefix") format("embedded-opentype"), 
        url("/etc/designs/alitaliatrade/clientlibs/fonts/LatoLatin-Light.woff") format("woff"), 
        url("/etc/designs/alitaliatrade/clientlibs/fonts/LatoLatin-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "iconFont";
  src: url("/etc/designs/alitaliatrade/clientlibs/fonts/iconFont.eot?tja0r9");
  src: url("/etc/designs/alitaliatrade/clientlibs/fonts/iconFont.eot?tja0r9#iefix") format("embedded-opentype"), 
        url("/etc/designs/alitaliatrade/clientlibs/fonts/iconFont.ttf?tja0r9") format("truetype"), 
        url("/etc/designs/alitaliatrade/clientlibs/fonts/iconFont.woff?tja0r9") format("woff"), 
        url("/etc/designs/alitaliatrade/clientlibs/fonts/iconFont.svg?tja0r9#iconFont") format("svg");
  font-style: normal;
  font-weight: normal;
}
/*
* Text areas
*/



.dynamicContent .editorialArea ol li,
    .staticContents .editorialArea ol li{
    margin-left: 15px;
    margin-top: 15px;
    color: rgb(0, 0, 0);
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 16px !important;
    line-height: 1.2 !important;
}
.dynamicContent .editorialArea ul li,
    .staticContents .editorialArea ul li{
    margin-left: 15px;
    margin-top: 15px;
    color: rgb(0, 0, 0);
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 16px !important;
    line-height: 1.2 !important;
}

.staticContents .editorialArea > * + * {
    margin-top: 20px;
}

.staticContents p {
    font-size: 16px;
    line-height: 1.2;
    color: rgb(0, 0, 0);

}

.staticContents table {
	width: 100%;
    background-color:rgba(255,255,255,0.8);
}
.staticContents table th, .staticContents table tr, .staticContents table td {
border: 1px solid black;
        padding:5px;
}
     .staticContents table td 
{
    text-align:center; 
    vertical-align:middle;
}

.staticContents table p {
padding:3px;
margin:0px;
}
        .staticContents .title {
margin-top:20px !important;
    margin-bottom:20px !important;
}

/*
* Rich text custom
*/
.staticContents .rich-text-custom {
margin-top:20px !important;
    text-align: justify;
}

.staticContents .rich-text-custom ul li {
 margin-left: 15px !important;
    margin-top: 15px !important;
    color: rgb(0, 0, 0) !important;
    display: list-item !important;
    font-size: 16px !important;
    line-height: 1.2 !important;
}

.staticContents .rich-text-custom ol li {
 margin-left: 15px !important;
    margin-top: 15px !important;
    color: rgb(0, 0, 0) !important;
    display: list-item !important;
    font-size: 16px !important;
    line-height: 1.2 !important;
}

.staticContents a[href]{
	color: #3b7e06;
}

.staticContents a[href^="#"]{
	color: inherit;
}

/* Dynamic Contents */
.dynamicContent{
	padding: 40px 10px;
}

.dynamicContent > * + * {
	margin-top:20px !important;
}

.dynamicContent .title h1 {
    line-height: 1.5;
	font-size: 40px;
    font-weight: 400;
}

.dynamicContent .title h4 {
    line-height: 1.5;
	font-size: 26px;
    font-weight: 400;
}

.dynamicContent .rich-text-custom p{
    font-size: 16px;
    line-height: 1.2;
    color: #000000;
}

.dynamicContent .rich-text-custom p a[href]{
	color: #3b7e06;
}

.dynamicContent .rich-text-custom ul li {
 	margin-left: 20px !important;
    margin-top: 15px !important;
    color: rgb(0, 0, 0) !important;
    display: list-item !important;
    font-size: 16px !important;
    line-height: 1.2 !important;
}

.dynamicContent .rich-text-custom ol li {
 margin-left: 15px !important;
    margin-top: 15px !important;
    color: rgb(0, 0, 0) !important;
    display: list-item !important;
    font-size: 16px !important;
    line-height: 1.2 !important;
}

/* Lista link */
.dynamicContentRight .innerPage__asideLink {
    color: #000000;
    display: block;
    height: 100%;

    font-size: 16px;
    background-repeat: no-repeat;
    background-position: center right;
    border-bottom: 1px solid #d9d9d9;
    vertical-align: middle !important;
    padding-top: 10px;
    padding-bottom: 10px;padding-left: 10px;
}
.dynamicContentRight a,
.dynamicContent a {
    text-decoration: none;
}
.dynamicContentRight .lista-link {
    border-top: 1px solid #d9d9d9;
}

.dynamicContentRight .lista-link > * + * {
    margin-top: 20px;
}

.dynamicContent .rich-text-custom li a[href]{
	color: #3b7e06;
}

.dynamicContent .rteSize24{
	font-size: 24px;
}

.dynamicContent .editorialArea p {
    font-size: 16px;
    line-height: 1.2;
    color: #000000;
}

.dynamicContent .editorialArea > * + * {
    margin-top: 20px;
}

.dynamicContent .rteSize10 {
    font-size: 10px;
}

.dynamicContent .editorialArea a {
    display: inline-block;
    color: #3b7e06;
}

.dynamicContentRight h3 {
font-size: 24px;
line-height: 1.5;
padding-left: 10px;
font-weight: normal;
text-transform: uppercase;
}

.dynamicContent .rteSize14 {
font-size: 14px;
}
.dynamicContentRight img {
	display: block;
	width: 100%;
	margin-left: 3%;
	margin-top: 12%;
}

/* breadCrumb*/
.breadCrumb a,
.breadCrumb span {
	font-style: italic;
	font-size: 13px;
	line-height: 30px;
	color: #ffffff;
}
.breadCrumb a + a:before,
.breadCrumb a + span:before,
.breadCrumb span + a:before,
.breadCrumb span + span:before {
  content: ">";
  display: inline-block;
  margin: 0 5px;
}
.breadCrumb span {
  cursor: default;
}

.div-breadcrumb{
	background-color: #386d4b;
    padding-left: 25px;
    top: 20px !important;
}


/*  RomaMilano > Servizi dedicati img all'interno di menu*/
.dynamicContentRight nav > img{
	margin: 0;
	padding: 0;
	border: 0;
	display: inline;
    max-height: 11px;
    max-width: 19px;
}

/*  VOLARE ALITALIA > Autonoleggio, box delle immagini*/
.dynamicContent .cityBox::after {clear: both;}
.dynamicContent .cityBox::before, .dynamicContent .cityBox::after {content: " ";display: table;}

.dynamicContent .cityBoxItem:nth-child(4n+1) {
    margin-left: 0;
}

.dynamicContent .cityBoxItem {
    float: left;
    margin-top: 20px;
    width: 30%;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
    margin-left: 5%;
}

.dynamicContent .respond-image__large {
    display: block !important;
    position: relative;
    width: 100%;
}

/* FONT SIZE rich-text-styles */

.rteSize9 {
  font-size: 9px;
}

.rteSize10 {
  font-size: 10px;
}

.rteSize12 {
  font-size: 12px;
}

.rteSize14 {
  font-size: 14px;
}

.rteSize16 {
  font-size: 16px;
}

.rteSize18 {
  font-size: 18px;
}

.rteSize24 {
  font-size: 24px;
}

.rteSize36 {
  font-size: 36px;
}

.rteSize48 {
  font-size: 48px;
}