
.responsiveTable--twoCol th
{
  border: 1px solid #d9d9d9;
  padding: 5px;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  vertical-align: middle;
  background-color: #dddddd;
}

.responsiveTable--twoCol td
{
  border: 1px solid #d9d9d9;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  vertical-align: middle;
}

.responsiveTable--twoCol th:before,
.responsiveTable--twoCol td:before
{
  font-weight: normal;
}

.responsiveTable--twoCol th strong, .responsiveTable--twoCol th bold, .responsiveTable--twoCol th b,
.responsiveTable--twoCol td strong,
.responsiveTable--twoCol td bold,
.responsiveTable--twoCol td b
{
  font-weight: normal;
}

.responsiveTable--twoCol tr:nth-child(even)
{
  background-color: #dddddd;
}

.responsiveTable--twoCol img 
{
  margin: auto;
  display: block;
}
.responsiveTable--twoCol a,
.responsiveTable--threeCol a,
.responsiveTable--fourCol a,
.responsiveTable--fourCol--repeat a,
.responsiveTable--fiveCol a,
.responsiveTable--sixCol a,
.responsiveTable--sevenCol a {
  word-break: break-all;
}

.responsiveTable--twoCol {
  width: 100%;
  table-layout: fixed;
}