.error-form{
border:2px solid red!important;
}

#booking-search #ricerca_abilitata {
	display:none;
}

#booking-error .bigger-text.desc {
	display:none;
}

#booking-error .bigger-text-trade.desc {
    display:none;
}

#ricerca_abilitata .autocomplete-suggestions {
	background-color: #f9f8f8
}

/*-----------MAPPING LOGHI CARRIER ALITALIA--------------*/
.sprite-carrier {
    background-image: url(../img/spriteAlitaliaLoghiCarrier.png);
    background-repeat: no-repeat;
}
.az_small_logo
{
    background-position: -281px -55px;
    height: 17px;
    width: 22px;
    display: inline-block;
}

.kl_small_logo
{
    background-position: -313px -55px;
    height: 17px;
    width: 27px;
    display: inline-block;
}

.af_small_logo
{
    background-position: -349px -60px;
    height: 12px;
    width: 36px;
    display: inline-block;
}

.a6_small_logo
{
    background-position: -397px -64px;
    height: 8px;
    width: 23px;
    display: inline-block;
}

.ap_small_logo
{
    background-position: -490px -60px;
    height: 14px;
    width: 13px;
    display: inline-block;
}

.at_small_logo
{
    background-position: -516px -59px;
    height: 15px;
    width: 21px;
    display: inline-block;
}

.dl_small_logo
{
    background-position: -582px -59px;
    height: 18px;
    width: 21px;
    display: inline-block;
}

.oa_small_logo
{
    background-position: -553px -51px;
    height: 30px;
    width: 18px;
    display: inline-block;
}

.tp_small_logo
{
    background-position: -613px -103px;
    height: 15px;
    width: 23px;
    display: inline-block;
}

.jl_small_logo
{
    background-position: -613px -83px;
    height: 15px;
    width: 18px;
    display: inline-block;
}
/* --- Tarom -- */
.ro_small_logo{
    background-position: -640px -60px;
height: 18px;
width: 18px;
    display: inline-block;
}
/* --- Korean -- */
.ke_small_logo{
    background-position: -640px -82px;
height: 16px;
width: 18px;
    display: inline-block;
}
/* --- MIDDLE EAST AIRLINES -- */
.me_small_logo{
    background-position: -640px -105px;
height: 13px;
width: 18px;
    display: inline-block;
}

.4_small_logo{
    background-position: -640px -121px;
height: 18px;
width: 18px;
    display: inline-block;
}
/* --- ETIHAD AIRWAYS -- */
.ey_small_logo{
    background-position: -640px -144px;
height: 18px;
width: 18px;
    display: inline-block;
}
/* --- ETIHAD REGIONAL -- */
.f7_small_logo{
    background-position: -640px -144px;
height: 18px;
width: 18px;
    display: inline-block;
}
/* --- BULGARIAN AIR -- */
.fb_small_logo{
    background-position: -640px -166px;
height: 18px;
width: 18px;
    display: inline-block;
}
/* --- AIR BALTIC -- */
.bt_small_logo{
    background-position: -640px -185px;
height: 18px;
width: 18px;
    display: inline-block;
}
/* --- AEROMEXICO -- */
.am_small_logo{
    background-position: -640px -209px;
height: 13px;
width: 18px;
    display: inline-block;
}
/* --- AIR SERBIA -- */
.ju_small_logo{
    background-position: -614px -143px;
height: 20px;
width: 20px;
    display: inline-block;
}
/* --- BELAVIA -- */
.2_small_logo{
    background-position: -614px -143px;
height: 20px;
width: 20px;
    display: inline-block;
}
/* --- EGYPTIAN -- */
.3_small_logo{
    background-position: -614px -143px;
height: 20px;
width: 20px;
    display: inline-block;
}
/* --- GOL -- */
.g3_small_logo{
    background-position: -614px -204px;
height: 20px;
width: 20px;
    display: inline-block;
}
/* --- ICELAND -- */
.5_small_logo{
    background-position: -614px -143px;
height: 20px;
width: 20px;
    display: inline-block;
}
/* --- SAS -- */
.6_small_logo{
    background-position: -614px -143px;
height: 20px;
width: 20px;
    display: inline-block;
}
/* --- SAUDIARABIA -- */
.sv_small_logo{
    background-position: -614px -122px;
height: 20px;
width: 20px;
    display: inline-block;
}
/*---------END MAPPING LOGHI CARRIER ALITALIA----------*/