.wrap-title--news {
  position: relative;
}
.wrap-title--news .cta-wrap {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 0px;
}
.news-block--wrapper {
  padding: 15px 0;
}
.news-block--wrapper .news-block {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: white;
  padding: 25px 20px;
  /*height:310px;*/
  position: relative;
}
.news-block--wrapper .news-block .date {
  display: block;
  font-size: 18px;
  margin-bottom: 25px;
}
.news-block--wrapper .news-block h2 {
  text-transform: none;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}
.news-block--wrapper .news-block h2 a {
  color: #333333;
}
.news-block--wrapper .news-block p {
  margin-bottom: 0;
}
.news-block--wrapper .news-block .cta-wrap {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/*@media (min-width: 500px) {
	.news-block--wrapper{
		.news-block{ height:220px; }
	}
}*/
@media (min-width: 768px) {
  .wrap-title .cta-wrap {
    display: block;
  }
  .news-block--wrapper {
    width: 50%;
  }
  .news-block--wrapper:nth-child(even) {
    float: left;
    padding-right: 10px;
  }
  .news-block--wrapper:nth-child(odd) {
    float: right;
    padding-left: 10px;
  }
  .news-block--wrapper .news-block {
    height: 320px;
    padding-bottom: 50px;
  }
  .news-block--wrapper .news-block .date {
    margin-bottom: 15px;
  }
  .news-block--wrapper .news-block h2 {
    line-height: 22px;
  }
  .news-block--wrapper .news-block p {
    margin-top: 10px;
  }
  .news-block--wrapper .news-block .cta-wrap {
    display: block;
  }
}
@media (min-width: 1024px) {
  .news-block--wrapper .news-block {
    height: 215px;
    padding-bottom: 20px;
    padding-right: 60px;
  }
  .news-block--wrapper .news-block .cta-wrap {
    right: 20px;
    bottom: 90px;
  }
}
@media (min-width: 1300px) {
  .news-block--wrapper .news-block {
    height: 170px;
  }
  .news-block--wrapper .news-block .cta-wrap {
    right: 20px;
    bottom: 70px;
  }
}
