.reveal-overlay.mm-profolo {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1005;
    display: none;
    /*background-color: rgba(51,51,51,0.45);*/
    overflow-y: scroll;
}
.mm-profolo .reveal{
    top: 0 !important;
    height: 300px;
    overflow: visible;
    text-align: center;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    background: transparent;
    pointer-events: none;
    outline: none;
    font-family: 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
    right: auto;
    left: auto;
    margin: 0 auto;
    max-height: 90%;

}
.mm-profolo .reveal--action.reveal--medium {
    width: 80%;
    padding: 80px 0 0;
    padding-top: 80px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

}
.mm-profolo .reveal .close-button {
    position: absolute;
    top: 60px;
    right: 0%;
    pointer-events: auto;
    display:block;
}
.mm-profolo .icon.icon--close {
    background-image: url(/etc/designs/alitalia/clientlibs/images/ico-close-white.svg);
    zoom: 1;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
    display:block;
}
.mm-profolo .reveal .reveal__inner{
    height: 100%;
    overflow: hidden;
    background-color: white;
    pointer-events: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.mm-profolo .reveal__header{
    padding: 40px 0 30px;
}
.mm-profolo .reveal h4{
    color: #006643;
    margin: 0;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0.05rem;
    font: 25px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
    font-size:26px;
}
.mm-profolo .reveal__content{
    padding: 0 60px 30px 60px;
    height: calc(100% - 75px);
}
.mm-profolo .reveal__content .codiceSicurezza{
    float: left;
    /* padding-left: 0%; */
    /* margin: 0 auto; */
    width: 66%;
    /* text-align: center; */
}
.mm-profolo .reveal__content .codiceSicurezza label{
    display: block;
    float: left;
    text-align:left;
}
.mm-profolo .reveal__content .codiceSicurezza input{
    clear: left;
    display: block;
    width: 100%;
}
.mm-profolo .reveal__content a.button.insertCodeSMS_OTP{
zoom: 1;
    width: 33%;
    padding-left: 40px;
    padding-right: 40px;
    /*margin-top: 15px;*/
    text-transform: uppercase;
    font: 18px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
    background-color: #006643;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    /*margin-top: 15px;*/
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    height: 45px;
    white-space: nowrap;
    text-transform: uppercase;
    min-width: 150px;
    text-align: center;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    float: right;
}
.reveal-overlay.mm-profolo  .icon-alert-close:before, .icon.icon--close:before {
    margin-right: 0px;
    content: "\e906";
    color: #fff;
    float: right;
    font-weight: 900;
    font-size: 20px;
}

/* bug 3892 - Bug grafici_iscrizione step1: tutte le freccette degli accordion sono decentrate */
.form__inputCover .customSelect:after {
    line-height: 40px !important;
}

/*CLS aggiunta note per username e psw*/
#datiLoginEdit .millemiglia__formLegend.threeColumns {
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
}

/*Fix Grafica modale adeguamento*/
.mm-profolo .icon.icon--close {
    background-color: rgba(0, 0, 0, 0.7);
    width: 20px !important;
    height: 20px !important;
}
.mm-profolo .reveal .close-button {
    top: 50px;
}
.mm-profolo #modal_otp_sms.reveal--action.reveal--medium {
	max-width: 620px;
    height: auto;
}

.mm-profolo #modal_otp_sms .reveal__content a.button.insertCodeSMS_OTP{
	padding-left: 0;
    padding-right: 0;
	height: 40px;
}
.mm-profolo #modal_otp_sms.reveal .custom-row {
	text-align: left;
}
@media only screen and (max-width: 1023px) {
	.mm-profolo .reveal__header {
	    display: block;
	}
	.mm-profolo .reveal .close-button {
	    position: absolute;
	    top: 30px;
	    right: 10%;
	    position: absolute;
	    top: 30px;
	    right: 20px;
	    pointer-events: auto;
	    display: block;
	}
	.mm-profolo .reveal .reveal__inner {
	    width: auto;
/* 	    margin-right: 10px; */
/* 	    margin-left: 10px; */
	}
	.mm-profolo .reveal__content {
		padding:0px;
	}
	.mm-profolo #modal_otp_sms.reveal--action.reveal--medium {
	    width: 100%;
	    max-width: 100%;
	}
	.mm-profolo #modal_otp_sms.reveal--action.reveal--medium {
		height: 100%;
	}
	.mm-profolo .reveal .reveal__inner {
		-webkit-border-radius: unset;
		-moz-border-radius: unset;
		border-radius: unset;
	}
	.mm-profolo .reveal--action.reveal--medium {
		padding-top:0px;
	}
	
	.mm-profolo .reveal .close-button {
		display:none;
	}
	.reveal .reveal__header-mobile .close-button {
		display:block;
		position: inherit;
	}
	
}
@media only screen and (max-width: 767px) {
	.mm-profolo #modal_otp_sms .reveal__content a.button.insertCodeSMS_OTP {
	    float: left;
	    margin-top: 20px;
	}
	
}

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }