
@media only screen and (max-width: 640px){
    .align-text-mob{
        text-align: left!important;
    }
}
@media (min-width: 640px){
    .align-text-mob{
        text-align: center!important;
    }
}
