@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vkjvww');
  src:  url('fonts/icomoon.eot?vkjvww#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vkjvww') format('truetype'),
    url('fonts/icomoon.woff?vkjvww') format('woff'),
    url('fonts/icomoon.svg?vkjvww#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 15px;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-close:before {
  content: "\e900";
  color: #fff;
}
.icon-alert-icon:before {
  content: "\e901";
  color: #75b829;
}
.icon-arrow-dropdown-white:before {
  content: "\e933";
  color: #fff;
}
.icon-arrow-dx-green:before {
  content: "\e903";
  color: #006643;
}
.icon-arrow-dx-red:before {
  content: "\e904";
  color: #c4262e;
}
.icon-arrow-dx-white:before {
  content: "\e905";
  color: #fff;
}
.icon-ico-fb:before {
  content: "\e906";
  color: #cbcbcb;
}
.icon-ico-in:before {
  content: "\e907";
  color: #cbcbcb;
}
.icon-ico-info-empty:before {
  content: "\e908";
  color: #fff;
}
.icon-ico-insta:before {
  content: "\e909";
  color: #cbcbcb;
}
.icon-ico-menu:before {
  content: "\e90a";
  color: #676767;
}
.icon-ico-notify:before {
  content: "\e90b";
}
.icon-ico-question:before {
  content: "\e90c";
}
.icon-ico-search-big:before {
  content: "\e90d";
  color: #006643;
}
.icon-ico-search:before {
  content: "\e90e";
}
.icon-ico-select-dark:before {
  content: "\e90f";
  color: #676767;
}
.icon-ico-select-green:before {
  content: "\e910";
  color: #008054;
}
.icon-ico-select-white:before {
  content: "\e911";
  color: #fff;
}
.icon-ico-tw:before {
  content: "\e912";
  color: #cbcbcb;
}
.icon-ico-user:before {
  content: "\e913";
  color: #006643;
}
.icon-ico-yt:before {
  content: "\e914";
  color: #cbcbcb;
}
.icon-icon_dropdown:before {
  content: "\e915";
}
.icon-icon-arrival:before {
  content: "\e916";
  color: #c1c1c1;
}
.icon-icon-calendar:before {
  content: "\e917";
  color: #c1c1c1;
}
.icon-icon-departure:before {
  content: "\e918";
  color: #c1c1c1;
}
.icon-icon-history-grey:before {
  content: "\e919";
}
.icon-icon-reverse-green:before {
  content: "\e91a";
  color: #006643;
}
.icon-support-icon-1 .path1:before {
  content: "\e91b";
  color: rgb(117, 184, 41);
}
.icon-support-icon-1 .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(196, 38, 46);
}
.icon-support-icon-1 .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(196, 38, 46);
}
.icon-support-icon-2 .path1:before {
  content: "\e91e";
  color: rgb(117, 184, 41);
}
.icon-support-icon-2 .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(196, 38, 46);
}
.icon-support-icon-3 .path1:before {
  content: "\e920";
  color: rgb(117, 184, 41);
}
.icon-support-icon-3 .path2:before {
  content: "\e921";
  margin-left: -0.998046875em;
  color: rgb(196, 38, 46);
}
.icon-support-icon-3 .path3:before {
  content: "\e922";
  margin-left: -0.998046875em;
  color: rgb(196, 38, 46);
}
