
.foodList ul  {
    -webkit-padding-start: 7px !important;	
    }
.foodList ul > li {
	list-style-type: none;
	padding: 5px;
	}
.foodList ul > li:hover {
	font-weight: bold;
	}

#freccina {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin-top: 6px;
    margin-left: 58.666667%;
    clear: none;
}

#foodbg {
    float: left;
    width: 100.001221%;
    height: 40px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    background-image:url("/component/resource-template/booking-template/clientlibs-ancillary-new/img/bg.jpg");
    -webkit-background-size: 100%;
    background-size: 100%;
    display: block;
}

#foodContainer1 {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#foodContainer2 {
    float: left;
    height: 40px;
    width: 94.813657%;
    background-color: rgb(59, 126, 6);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin-top: 29px;
    margin-left: -59.62963%;
    clear: none;
    display: block;
}


#PASSENGER {
    float: left;
    font-size: 1.125em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    margin-top: 13px;
    margin-left: 1.875%;
    clear: none;
    display: block;
}

#foodContainer3 {
    float: left;
    height: 415px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 0px solid rgb(178, 178, 178);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-top: 20px;
    margin-left: 0.00125036%;
    clear: both;
    display: block;
}

.passengerRow {
    float: left;
    height: 80px;
    width: 99.8%;
    background-color: rgb(245, 248, 244);
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 10px;
    margin-left: 0.07702465%;
    clear: none;
}

.passengerRow:hover {
	background-color: rgb(224, 237, 226);
	
}

.passengerName {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin-top: 30px;
    margin-left: 1.64197%;
    clear: none;
}


.foodPsgNameText {
    float: none;
    font-size: 1em;
    line-height: 1em;
    color: black;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

.infantText {
	font-weight: normal;
}

.foodBox {
    height: 50px;
    width: 22.535211%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 15px;
    margin-right: 1%;
    clear: none;
}

.foodName {
    
    float: left;
    font-size: 1em;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    text-transform: uppercase;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 15;
    /* margin-top: 0; */
    /* margin-left: 3.819444%; */
    clear: none;
    padding-top: 16px;
    padding-left: 3%;
    padding-bottom: 15px;
    /* padding-right: 49%; */
    width: 79%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}


.arrow {
    float: right;
    width: auto;
    /* max-width: 100%; */
    height: auto;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 14;
    /* margin-top: 19px; */
    /* margin-right: 10%; */
    /* border: solid; */
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
    padding-top: 7%;
}

.foodList {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1em;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    margin-top: 6px;
    clear: none;
}

.foodSelected {
	display:none;
}

.foodBtnBoxold {
    float: right;
    height: 40px;
    width: 15%;
    background-color: rgb(59, 126, 6);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 46;
    margin-top: 12px;
    margin-right: 3.2%;
    clear: both;
    display: block;
}

.foodBtnBox {
    float: left;
    height: 36px;
    width: 99.8%;
    /* background-color: rgb(245, 248, 244); */
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 10px;
    margin-left: 0.07702465%;
    clear: none;
}

.foodAdd {
    font-size: 1em;
    width: 14%;
    position: absolute;
    right: 0px;
    height: 100%;
    text-align: center;
    font-weight: bold;
    line-height: 23px;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 126, 6);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    z-index: 47;
    margin-right: 1%;
    border-style: none;
}


@media (max-width: 640px) {
	
.arrow {
    display: none;
}	
	
.foodBox {
    float: right;
    height: 100%;
    width: 22.535211%;
	text-align: center;
    background-color: #f1f1f1;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 0;
    margin-right: 0;
    clear: none;
}	
	
.foodName {
display:none
}	
	
.foodList ul {
    display: none;
}	
	
.passengerName {
    margin-top: 0;
}	
	
.passengerName > span	{
    display: block;
	font-size: 13px;
}	
	
.passengerRow {
    background-color: #e0ede2;
	height: 45px;
}

.foodPsgNameText {
    float: none;
    font-size: 16px !important;
    line-height: 45px;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

.infantText {
	font-weight: normal;
	margin-top: -15px;
}
	
}
	



