input[type=checkbox].insurance_css-checkbox {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

input[type=checkbox].insurance_css-checkbox+label.checkbox_css-label, input[type=checkbox].insurance_css-checkbox+label.checkbox_css-label.clr
	{
	padding-left: 25px;
	height: 20px;
	display: inline-block;
	line-height: 20px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 20px;
	vertical-align: middle;
	cursor: pointer;
}

input[type=checkbox].insurance_css-checkbox:checked+label.checkbox_css-label, input[type=checkbox].insurance_css-checkbox+label.checkbox_css-label.chk
	{
	background-position: 0 -20px;
}

label.checkbox_css-label {
	float: left;
	background-image:
		url("img/csscheckbox.png");
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


label.valErr {
	background-image:
		url("/content/dam/alitalia/Ancillary-new/valCsscheckbox.png");
	}
	
.showErrMsg	{
	
	 visibility: visible ;
}



@media only screen and (max-width: 640px) {

label.checkbox_css-label {
	background-image:
		url("/content/dam/alitalia/Ancillary-new/checkUnchekMobile.png");
	float: left;
}	

label.valErr {
	background-image:
		url("/content/dam/alitalia/Ancillary-new/checkUnchekREDMobile.png");
	}
	
input[type=checkbox].insurance_css-checkbox:checked+label.checkbox_css-label, input[type=checkbox].insurance_css-checkbox+label.checkbox_css-label.chk
	{
	background-position: 0 -50px;
}

input[type=checkbox].insurance_css-checkbox+label.checkbox_css-label, input[type=checkbox].insurance_css-checkbox+label.checkbox_css-label.clr
	{
	padding-left: 55px;
	height: 50px;

	line-height: 50px;

/* 	font-size: 20px; */

}

	
}	
	