#insuranceContainer1old {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

/* #check { */
/*     float: left; */
/*     width: auto; */
/*     max-width: 100%; */
/*     height: auto; */
/*     color: rgb(0, 0, 0); */
/*     position: relative; */
/*     top: 0px; */
/*     left: 0px; */
/*     z-index: 4; */
/*     margin-top: 192px; */
/*     margin-left: -93.896599%; */
/*     clear: none; */
/* } */


.ancAccFooterBtn {
	
	display: block;
	margin: auto;
	width: 100%;
	color: rgb(255, 255, 255);
	background-color: rgb(59, 126, 6);
	clear: none;	
}

#insuranceDELbtn {


/* /*    float: left; */
	font-size: 1.1199195em;
/* /*     width: 88.118812%; */ /*! *\/
/\* 	width: 100%; *\/
/\* /\*     height: auto; *\/ *\/
/\* height: 100%; *\/
/\*     text-align: center; *\/
/\*     font-weight: bold; *\/
/\*     line-height: 23px; *\/
/\*     color: rgb(255, 255, 255); *\/
/\*     font-style: normal; *\/
/\*     letter-spacing: normal; *\/
/\*     text-decoration: none; *\/
/\*     font-family: lato; *\/
/\*     position: relative; *\/
/\*     top: 0px; *\/
/\*     left: 0px; *\/
/\*     z-index: 16; *\/
/\* /\*     margin-top: 20px; *\/ *\/
/\* /\*     margin-left: 4.455446%; *\/ *\/
/\* *\/ *\/ */

/*! border-style: ; */
/*! border-style: ; */
/*! border-style: none; */
	border-style: none;
	height: 60px;
	font-weight: normal;
}


#insuranceADDbtn {


/* /*    float: left; */
	font-size: 1.1199195em;
/* /*     width: 88.118812%; */ /*! *\/
/\* 	width: 100%; *\/
/\* /\*     height: auto; *\/ *\/
/\* height: 100%; *\/
/\*     text-align: center; *\/
/\*     font-weight: bold; *\/
/\*     line-height: 23px; *\/
/\*     color: rgb(255, 255, 255); *\/
/\*     font-style: normal; *\/
/\*     letter-spacing: normal; *\/
/\*     text-decoration: none; *\/
/\*     font-family: lato; *\/
/\*     position: relative; *\/
/\*     top: 0px; *\/
/\*     left: 0px; *\/
/\*     z-index: 16; *\/
/\* /\*     margin-top: 20px; *\/ *\/
/\* /\*     margin-left: 4.455446%; *\/ *\/
/\* *\/ *\/ */

/*! border-style: ; */
/*! border-style: ; */
/*! border-style: none; */
	border-style: none;
	height: 60px;
	font-weight: normal;
}

#insuranceHeader1 {
/*     float: left; */
    font-size: 1em;
    width: 94.053208%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin-top: 26px;
    margin-left: 1.956182%;
    clear: none;
}


#insuranceContainer1 {
/*     float: left; */
/*     font-size: 1em; */
    width: 94.053208%;
    height: 100%;
/*     text-align: left; */
/*     font-weight: normal; */
/*     line-height: 1em; */
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
/*     margin-top: 33px; */
    margin-left: 1.956182%;
    clear: none;
}

#insuranceAceMsg {
    float: none;
    font-size: 1.125em;
    line-height: 26px;
    color: black;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
	margin-top: 33px;
    margin-left: 1.956182%;
    text-transform: uppercase;
    
}



.insuranceMsgList {
    float: none;
    font-size: 1em;
    line-height: 26px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
   
}

.insuranceMsg2 {
    float: none;
    font-size: 1em;
    line-height: 26px;
    color: rgb(59, 126, 6);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}



.errTextspan {
    float: none;
    font-size: 1em;
    line-height: 2em;
    color: #C30E1A;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    visibility: hidden ;
}

#insuranceMsg3 {
    float: none;
    font-size: 1em;
    line-height: 26px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}


.insuranceMsgtxt {
/*     float: none; */
    font-size: 1em;
    line-height: 26px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
 
}



#insuranceMsg4 {
    float: none;
    font-size: 1em;
    line-height: 26px;
    color: rgb(59, 126, 6);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

#insuranceMsg5 {
    float: none;
    font-size: 1em;
    line-height: 26px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
}

.ancAccFooterBox3 {
	display: block;
	text-align: center;
	float: right;
	width: 190px;
	height: 100%;

}



#insuranceContainer4 {
    height: auto;
    margin-left: 27px;
/*     margin-right: auto; */
/*     min-height: 100%; */
/*     width: 100%; */
    margin-top: -3px;
}

.ancAccFooterBox {
	margin-left: 15px;
	margin-right: 15px;
	display: block;
	/*     float: left; */
	font-size: 1em;
	/*     width: 16.353108%; */
	height: auto;
	text-align: right;
	font-weight: normal;
	line-height: 1em;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 12;
	margin-top: 42px;
	/*     margin-left: -32.159624%; */
	border-top: 1px solid rgb(226, 226, 226);
	clear: none;
	padding-top: 15px;
}

.textPriceFor {
    float: none;
    font-size: 0.995484em;
    line-height: 60px;
    color: rgb(51, 51, 51);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    padding-right: 10px;
}

.textPriceFor b {text-transform: uppercase}


#top_line {
    float: left;
    height: 1px;
    width: 97.41784%;
    border: 1px solid rgb(226, 226, 226);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin-top: 12px;
    margin-left: 1.876712%;
    clear: both;
}

#bg_box_accordion_insurance {
    /* float: left; */
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-top: 7px;
    margin-bottom: 20px;

    clear: both;
}

#_1522545_45 {
    float: left;
    font-size: 1.244355em;
    width: 89.89899%;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin-top: 19px;
    margin-left: 6.565657%;
    clear: none;
}

#INSURANCE {
    float: left;
    font-size: 1.125em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 23;
    margin-top: 13px;
    margin-left: 1.953125%;
    clear: none;
}

.textPrice {

    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(59, 126, 6);
    z-index: 9;
    clear: both;
margin-bottom: 6%;
font-size: 1.244355em;
line-height: 60px;
color: black;
font-style: normal;
letter-spacing: normal;
text-decoration: none;
font-family: lato;
font-weight: bold;
}

#chiudi {
    float: right;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 22;
    margin-top: 7px;
    margin-left: 87.03125%;
    clear: none;
}


#insuranceContainer2 {
    float: left;
    height: 40px;
    width: 100%;
    background-color: rgb(59, 126, 6);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
    margin-top: 20px;
    margin-left: 0%;
    clear: none;
}


@media only screen and (max-width: 640px) {
    .ancAccFooterBox {
       text-align: center;
    }
    .textPriceFor {
        padding-right: initial;
    }
    .ancAccFooterBox3 {
        float: none;
        margin:auto;
        width: 100%
    }
    
    .insuranceMsg2 + br {display: none}
     
     #insuranceContainer4 {margin-left: 53px}
     
     #insuranceAceMsg {
		color:	white;
		background-color: #3b7e06;
		text-transform: none;
		margin-left: -10px;
		margin-right: -10px;
		text-align: center;
		font-size: 1em;
		line-height: 40px;
		margin-bottom: 20px;
		margin-top: 0px;
     }
     
     
     
     .bg_head1 {
	display: none;
	}
	
	.bg_box_accordion_bag {
		border: none;
	}
	
	
}

ul.insuranceMsgList li {
	position: relative;
    padding-left: 0px;
	margin-left: 25px;
}

ul.insuranceMsgList li:before {
	position: absolute;
    content: "";
    line-height: 1em;
    width: 8px;
    height: 8px;
    background-color: #3b7e06;
    float: left;
	clear: both;
    margin: 0;
    border-radius: 50%;
	left: -25px;
	top: 10px;
}




