
.afood{
      display:none ;
}
.depOverlay {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.popup_visible .depOverlay {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.Rettangolo_14_active {
    float: left !important;
    height: 50px !important;
    width: 100% !important;
    position: relative !important;
    z-index: 32 !important;
        background-color:transparent !important;
}

.Rettangolo_21 {
    float: left;
    height: 40px !important;
    width: 90% !important;
    background-color: rgb(255, 255, 255) !important;
    position: relative;
    left: 16px;
    margin-top: 3px;
}

a.depOverlay_close  ,a.depOverlay1_close , a.depOverlay2_close  , a.depOverlay3_close  , a.depOverlay4_close  , a.depOverlay5_close  , a.depOverlay6_close , a.depOverlay7_close  {
    float: right;
    cursor: pointer;
    color: black;
    font-size: 40px;
    display: inline-block;
    line-height: 0px;
    padding: 12px 9px;
}


.departureOverlay {
    background-color: transparent;
    float: left;
    clear: both;
    height: 60px !important;
    left: 0 !important;
    position: relative;
    top: 0 !important;
    width: 100%;
    display: none;
        position: absolute;
}


#departureInputOverlay {
    font-size: 20px;
    padding-left: 10px;
}

.classInputOverlayEconomy {
    font-size: 20px;
    padding-left: 10px;
    text-align: left;
}

.classInputOverlayBusiness {
    font-size: 20px;
    padding-left: 10px;
    margin-top: 10px;
    text-align: left;
}

    .classInputOverlayBusiness:focus, .classInputOverlayEconomy:focus {
        background: #f5f8f4 url("/content/dam/alitalia/Ancillary-new/Check_overlay.png") no-repeat scroll 90% 50%;
        font-weight: 600;
        background-size: 25px 25px;
    }

#depRangeCalendarOverlay {
    top: 100px;
    position: absolute;
}

.select {
    color: darkslategray;
    font-size: 20px;
    display: inline-block;
    line-height: 0px;
    padding-top: 24px;
    padding-left: 10px;
}

.depart {
    color: black;
    font-size: 20px;
    display: inline-block;
    line-height: 0px;
    font-weight: bold;
    padding-top: 24px;
    padding-right: 10px;
}

.well {
    background-color: transparent !important;
    float: left !important;
    clear: both !important;
    height: 100% !important;
    width: 100% !important;
    left: 0 !important;
    position: relative !important;
    top: 0 !important;
    display: none;
}







@media (max-width: 640px) {
    .departureOverlay {
        display: block !important;
        opacity: 0 !important;
            position: absolute !important;
    }

    .well {
        display: block;
    }
    .afood{
     line-height: 41px;
    float: none;
    font-size: 1em;
    height: 45px;
    text-align: center;
    font-weight: normal;
    color: #3b7e06;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: lato;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 15;
    clear: none;
	text-transform: none;
	max-width: 75%;
	text-overflow: ellipsis;
    white-space: nowrap;
	overflow: hidden;
    display:block;
}
}
