.preference-airport-form {
  padding: 12px;
}
.preference-airport-form .input-wrap {
  position: relative;
}
.preference-airport-form .input-wrap::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background-position: left 15px center;
  background-repeat: no-repeat;
}
.preference-airport-form .input-wrap input,
.preference-airport-form .input-wrap span.input-placeholder {
  display: block;
  padding: 15px;
  line-height: 20px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  font-size: 21px;
}
.preference-airport-form .input-wrap input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
}
.preference-airport-form .input-wrap input:focus {
  opacity: 1;
}
.preference-airport-form .input-wrap span.input-placeholder {
  overflow: hidden;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #c1c1c1;
  background-color: white;
  white-space: nowrap;
}
.preference-airport-form .input-wrap span.input-placeholder .iata-code {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-left: 10px;
}
.preference-airport-form .button {
  width: 100%;
  margin: 15px 0;
}
@media (min-width: 768px) {
  .preference-airport-form {
    padding: 12px 5px;
    margin: 25px 0;
  }
  .preference-airport-form .partenza-destinazione .input-wrap::after,
  .preference-airport-form .date-viaggio .input-wrap::after,
  .preference-airport-form .timetables .input-wrap::after,
  .preference-airport-form .flight_status .input-wrap::after {
    left: 10px;
  }
  .preference-airport-form .partenza-destinazione .input-wrap input,
  .preference-airport-form .date-viaggio .input-wrap input,
  .preference-airport-form .timetables .input-wrap input,
  .preference-airport-form .flight_status .input-wrap input,
  .preference-airport-form .partenza-destinazione .input-wrap span.input-placeholder,
  .preference-airport-form .date-viaggio .input-wrap span.input-placeholder,
  .preference-airport-form .timetables .input-wrap span.input-placeholder,
  .preference-airport-form .flight_status .input-wrap span.input-placeholder {
    font-size: 18px;
  }
  .preference-airport-form .partenza-destinazione .input-wrap input,
  .preference-airport-form .date-viaggio .input-wrap input,
  .preference-airport-form .timetables .input-wrap input,
  .preference-airport-form .flight_status .input-wrap input {
    width: calc(100% - 20px);
    left: 10px;
  }
  .preference-airport-form .button {
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .preference-airport-form .input-wrap {
    margin-bottom: 8px;
  }
  .preference-airport-form .input-wrap::after {
    left: 0;
  }
  .preference-airport-form .input-wrap input {
    width: 100%;
    left: 0;
    display: block;
  }
  .preference-airport-form .custom-input-group .input-wrap:first-child span.input-placeholder {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
