.main_wrapper {
  display: none;
  z-index: 100;
}
.main_wrapper.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}
.autocomplete-wrap .panel__header-mobile {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 30px 20px;
  width: 100%;
  box-shadow: 0px 0px 20px #cccccc;
  float: left;
}
.autocomplete-wrap .panel__header-mobile span {
  font-size: 20px;
  color: #333333;
  float: left;
}
.autocomplete-wrap .panel__header-mobile .close-button {
  float: right;
  position: relative;
  right: 0;
}
.autocomplete-wrap .panel__header-mobile .close-button .icon--close--black {
  background: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/ico-close-black.svg') no-repeat left center;
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
}
.autocomplete-wrap .panel__content {
  overflow: auto;
  height: calc(100vh - 79px);
  position: relative;
  width: 100%;
  padding: 30px 20px;
}
.autocomplete-wrap .panel__content .suggestion-box__data {
  padding: 25px 20px 0px 20px;
  box-shadow: 0px 2px 10px #cccccc;
  border-radius: 10px;
}
.autocomplete-wrap .panel__content .suggestion-box__single-option {
  line-height: 1.5em;
  margin-bottom: 40px;
  font-size: 21px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
}
.autocomplete-wrap .panel__content .suggestion-box__single-option span {
  display: inline-block;
  *display: inline;
  zoom: 1;
  clear: both;
}
.autocomplete-wrap .panel__content input:focus {
  border: 2px solid #006643;
}
.autocomplete-wrap #luogo-partenza {
  background-image: url(/etc/designs/alitalia/clientlibs-1/images/icon-departure.svg);
  background-size: 25px 20px;
  background-position: left 15px center;
  background-repeat: no-repeat;
  padding-left: 50px;
}
.autocomplete-wrap #luogo-arrivo {
  background-image: url(/etc/designs/alitalia/clientlibs-1/images/icon-arrival.svg);
  background-size: 25px 20px;
  background-position: left 15px center;
  background-repeat: no-repeat;
  padding-left: 50px;
}
.cerca-volo__content--prenota .suggestion_andata,
.cerca-volo__content--prenota .suggestion_destination {
  display: none;
}
@media (min-width: 768px) {
  .autocomplete-wrap .panel__header-mobile {
    padding: 40px 40px 35px ;
  }
  .autocomplete-wrap .panel__content .suggestion-box__data {
    padding: 40px 40px 0px 40px;
  }
  .autocomplete-wrap .panel__content .suggestion-box__single-option {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .suggestion-box {
    display: block;
    position: absolute;
    background: white;
    z-index: 99999;
    /*min-width: 200%;*/
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    padding: 0 10px;
  }
  .suggestion-box .suggestion-box__single-option {
    margin: 8px 0px;
    padding: 15px 10px;
  }
  .suggestion-box .suggestion-box__single-option span {
    margin-left: 10px;
  }
  .suggestion-box .suggestion-box__single-option:hover {
    background-color: #e6e6e6;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .cerca-volo__content--prenota .suggestion_andata,
  .cerca-volo__content--prenota .suggestion_destination {
    display: block;
  }
}

.suggestion-box.suggestion_destination--prenota{
  z-index: 100;
}
input#millemiglia::-webkit-input-placeholder, input#pin::-webkit-input-placeholder { /* WebKit browsers */
    color:    black;
}
input#millemiglia:-moz-placeholder, input#pin::-webkit-input-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    black;
}
input#millemiglia::-moz-placeholder, input#pin::-webkit-input-placeholder { /* Mozilla Firefox 19+ */
    color:    black;
}
input#millemiglia:-ms-input-placeholder, input#pin::-webkit-input-placeholder { /* Internet Explorer 10+ */
    color:    black;
}

