.loader-myalitalia {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 64px;
    margin-left: 5px;
    width: calc(100% - 10px);
    height: 300px;
    z-index: 203;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: none;
}
.loader-myalitalia .fade-circle {
    display: inline-block;
    zoom: 1;
    margin: 0;
    border-radius: 100%;
    font-size: 9px;
    width: 1em;
    height: 1em;
    animation: fade-circle 1.5s infinite ease;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}