.vac {
  top: 50%;
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.add-flight {
  margin-bottom: 50px;
}
.row-action .action.expanded .form-wrap {
  display: block;
}
.row-action .action.expanded > .cta-wrap {
  display: none;
}
.row-action .action .button {
  width: 100%;
}
.row-action .action .form-wrap {
  display: none;
}
.row-action .action .form-wrap label {
  text-transform: uppercase;
}
.row-action .action .field-wrap {
  position: relative;
}
.row-action .action .field-wrap label,
.row-action .action .field-wrap .label {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-bottom: 0;
}
.row-action .action .field-wrap label.empty,
.row-action .action .field-wrap .label.empty {
  min-height: 1px;
}
.row-action .action .button-wrap {
  margin-top: 15px;
}
.section--cerca-volo {
  width: 100%;
  pointer-events: none;
}
.section--cerca-volo .custom-row {
  margin-left: -10px;
  margin-right: -10px;
}
.section--cerca-volo .custom-row::after,
.section--cerca-volo .custom-row::before {
  display: table;
  content: '';
  clear: both;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.section--cerca-volo .custom-row::after {
  clear: both;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.section--cerca-volo .custom-row .custom-col {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.section--cerca-volo .cerca-volo {
  position: relative;
  margin: 0 auto;
  pointer-events: auto;
  border: none;
}
.section--cerca-volo .cerca-volo.is-loading {
  visibility: hidden;
  /* IE 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Webkit */
  -webkit-opacity: 0;
  /* Good browsers */
  opacity: 0;
}
.section--cerca-volo .cerca-volo .cerca-volo__inner {
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.section--cerca-volo .cerca-volo .cerca-volo__inner.loading .loader {
  display: block;
}
.section--cerca-volo .cerca-volo .cerca-volo__inner .loader {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 45px;
  width: calc(100% - 90px);
  height: 100%;
  z-index: 203;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: none;
}
.section--cerca-volo .cerca-volo .cerca-volo__inner .loader .fade-circle {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0;
  border-radius: 100%;
  font-size: 9px;
  width: 1em;
  height: 1em;
  animation: fade-circle 1.5s infinite ease;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.section--cerca-volo .cerca-volo .cerca-volo__content label.h6,
.section--cerca-volo .cerca-volo .cerca-volo__content .label.h6,
.section--cerca-volo .cerca-volo .cerca-volo__content .input-wrap input {
  margin-bottom: 20px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content label.h6,
.section--cerca-volo .cerca-volo .cerca-volo__content .label.h6 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 18px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .button-wrap button {
  width: 100%;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .input-wrap input:focus {
  border: 2px solid #006643;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group {
  position: relative;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .feedback-wrap {
  padding: 0 10px;
  margin-top: 20px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .feedback-error {
  color: #e30512;
}
.section--cerca-volo .cerca-volo .input-wrap.has-input-error input,
.section--cerca-volo .cerca-volo .input-wrap.has-input-error span.input-placeholder {
  border: 2px solid #e30512 !important;
  color: #e30512 !important;
}
.section--cerca-volo .cerca-volo .input-wrap.has-input-error input::placeholder,
.section--cerca-volo .cerca-volo .input-wrap.has-input-error span.input-placeholder::placeholder {
  color: #e30512 !important;
}
@media (min-width: 768px) {
  .row-actions .action > .cta-wrap a {
    font-size: 16px;
    line-height: normal;
  }
  .row-actions .action > .cta-wrap span {
    position: absolute;
    right: 30px;
    top: 3px;
    text-transform: none;
    font-weight: 400;
  }
  .row-actions .action .button-wrap {
    float: right;
  }
  .row-actions .action .radio-wrap .placeholder {
    width: 20px;
    height: 20px;
  }
  .row-actions .action .radio-wrap .placeholder:after {
    width: 12px;
    height: 12px;
    left: 3px;
    top: 3px;
  }
  .row-actions .action .button {
    width: auto;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .section--cerca-volo .custom-row .custom-col {
    float: left;
  }
  .section--cerca-volo .custom-row .custom-medium-33 {
    width: 33.33%;
  }
  .section--cerca-volo .custom-row .custom-medium-50 {
    width: 50%;
  }
  .section--cerca-volo .custom-row .custom-medium-offset-33 {
    margin-left: 33.33%;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-row-5 {
    display: none;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content label.h6,
  .section--cerca-volo .cerca-volo .cerca-volo__content .label.h6 {
    vertical-align: top;
    line-height: 20px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group {
    /*.oh;*/
    margin: 0 -10px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .feedback-wrap {
    width: 100%;
    float: left;
  }
}
@media (min-width: 1024px) {
  .row-action .action .button-wrap {
    margin-top: 0;
  }
  .section--cerca-volo .custom-row .custom-col {
    float: left;
  }
  .section--cerca-volo .custom-row .custom-large-5 {
    width: 5%;
  }
  .section--cerca-volo .custom-row .custom-large-20 {
    width: 20%;
  }
  .section--cerca-volo .custom-row .custom-large-30 {
    width: 30%;
  }
  .section--cerca-volo .custom-row .custom-large-35 {
    width: 35%;
  }
  .section--cerca-volo .custom-row .custom-large-40 {
    width: 40%;
  }
  .section--cerca-volo .custom-row .custom-large-50 {
    width: 50%;
  }
  .section--cerca-volo .custom-row .custom-large-60 {
    width: 60%;
  }
  .section--cerca-volo .custom-row .custom-medium-offset-33 {
    margin-left: 0;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__inner {
    overflow: visible;
    position: relative;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__inner .loader {
    margin: 0;
    width: 100%;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-row-3,
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-row-4 {
    display: none;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-row-5 {
    display: block;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .input-wrap input {
    margin-bottom: 0;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group {
    margin: 0;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap:first-child input {
    border-right: none;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 5;
    -webkit-border-top-left-radius: 5;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 5;
    -moz-border-radius-topleft: 5;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5;
    border-top-left-radius: 5;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap:last-child input {
    -webkit-border-top-right-radius: 5;
    -webkit-border-bottom-right-radius: 5;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 5;
    -moz-border-radius-bottomright: 5;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 5;
    border-bottom-right-radius: 5;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap.selected:first-child input {
    border-right: 1px solid #c1c1c1;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap.selected input:focus {
    border: 2px solid #006643;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap.not-selected:first-child input {
    border-right: none;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap.not-selected:last-child input {
    border-left: none;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap {
    padding: 0;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .feedback-wrap {
    float: left;
    position: relative;
    margin: 20px 0 10px 0;
  }
}
.loader-myalitalia {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 20px!important;
    margin-left: 5px;
    width: calc(100% - 10px);
    height: 100px;
    z-index: 203;
    background: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.loader-myalitalia .fade-circle {
    display: inline-block;
    zoom: 1;
    margin: 0;
    border-radius: 100%;
    font-size: 9px;
    width: 1em;
    height: 1em;
    animation: fade-circle 1.5s infinite ease;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.tratta { margin-top: 20px; }