.main_wrapper {
  display: none;
}
.main_wrapper.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}
.autocomplete-wrap .panel__wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.autocomplete-wrap .panel__header-mobile {
   box-shadow: 0px 0px 20px #cccccc;  
   height: 59px;
   background: #fff;
   padding: 20px;
   width: 100%;
   position: relative;
   z-index: 1000;
}
.autocomplete-wrap .panel__header-mobile span {
  font-size: 20px;
  color: #333333;
  float: left;
}
.autocomplete-wrap .panel__header-mobile .close-button {
  float: right;
  position: relative;
  right: 0;
  /*text-indent: -9999px;*/
  font-size: 0;
}
.autocomplete-wrap .panel__header-mobile .close-button .icon--close--black {
  /*background: url('../../../../../../etc/designs/alitalia/clientlibs/images/ico-close-black.svg') no-repeat left center;*/
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 15px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 15px;
  height: 15px;
  background-size: 15px 15px;
}
.autocomplete-wrap .panel__header-mobile .close-button .icon--close--black:after{
  content: "\e906";
  color: #000;
  float: right;
}
.autocomplete-wrap  .panel__content {
  overflow: auto;
  position: absolute;
  height: calc(100vh - 59px);
  position: relative;
  width: 100%;
  overflow-y: scroll;
  padding-top: 20px;
}
.autocomplete-wrap .panel__content input:focus {
  border: 2px solid #006643;
}
/*.autocomplete-wrap #luogo-partenza {
  background-image: url(/etc/designs/alitalia/clientlibs/images/icon-departure.svg);
  background-size: 25px 20px;
  background-position: left 15px center;
  background-repeat: no-repeat;
  padding-left: 50px;
} */
/*.autocomplete-wrap #luogo-arrivo {
  background-image: url(/etc/designs/alitalia/clientlibs/images/icon-arrival.svg);
  background-size: 25px 20px;
  background-position: left 15px center;
  background-repeat: no-repeat;
  padding-left: 50px;
}*/
.partenza-destinazione,
.timetables-inner {
  position: relative;    
}
.suggestion_new-box {
  position: relative;
  z-index: 203;
  width: 100%;
  padding-bottom: 50px;
}
.suggestion_new-box .autocomplete-suggestions {
  background: #fff;
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.suggestion_new-box .autocomplete-suggestion {
  line-height: 1.5em;
  font-size: 18px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
  cursor: pointer;
  padding: 15px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.suggestion_new-box .autocomplete-suggestion:last-child {
  margin-bottom: 0;
}

[data-clear-autocomplete] {
  position: relative;
}
[data-clear-autocomplete] button.clear-input {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -9999px;
  font-size: 0;
  background: white url('/etc/designs/alitalia/clientlibs-1/images/ico-close-black.svg') no-repeat center center;
  margin: 2px 2px 2px 0;
  width: 50px;
  height: 46px;
  background-size: 10px 10px;
  padding: 15px;
}

@media (min-width: 360px) {

}
@media (min-width: 768px) {
  .autocomplete-wrap .panel__header-mobile {
    padding: 40px 40px 35px;
    height: 94px;
     }

  .suggestion_new-box .autocomplete-suggestions {
    padding: 20px;
  }
  .suggestion_new-box .autocomplete-suggestion {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 20px;
  }
}
@media (min-width: 1024px) {
  /*.cerca-volo .suggestion-box {
    display: block;
    position: absolute;
    background: white;*/
    /*z-index: 10;*/
   /* min-width: 200%;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    padding: 0 10px;
    overflow-y: visible;
  }*/
  .suggestion_new-box {
    position: absolute;
  }
  .suggestion_new-box[id*="prenota"] {
    margin-top: 60px;
  }
  .suggestion_new-box[id*="timetables"] {
    margin-top: 60px;
  }
  .suggestion_new-box .autocomplete-suggestions {
    padding: 10px;
  }
  .suggestion_new-box .autocomplete-suggestion {
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px;
  }
  .suggestion_new-box .autocomplete-suggestion.autocomplete-selected {
      background: #e6e6e6;
  }
  button[data-clear-autocomplete]::after {
      display: none;
  }
}

/*.main_wrapper {
  display: none;
  z-index: 100;
}
.main_wrapper.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}
.autocomplete-wrap .panel__header-mobile {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 30px 20px;
  width: 100%;
  box-shadow: 0px 0px 20px #cccccc;
  float: left;
}
.autocomplete-wrap .panel__header-mobile span {
  font-size: 20px;
  color: #333333;
  float: left;
}
.autocomplete-wrap .panel__header-mobile .close-button {
  float: right;
  position: relative;
  right: 0;
}
.autocomplete-wrap .panel__header-mobile .close-button .icon--close--black {
  background: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/ico-close-black.svg') no-repeat left center;
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
}
.autocomplete-wrap .panel__content {
  overflow: auto;
  height: calc(100vh - 79px);
  position: relative;
  width: 100%;
  padding: 30px 20px;
}
.autocomplete-wrap .panel__content .suggestion-box__data {
  padding: 25px 20px 0px 20px;
  box-shadow: 0px 2px 10px #cccccc;
  border-radius: 10px;
}
.autocomplete-wrap .panel__content .suggestion-box__single-option {
  line-height: 1.5em;
  margin-bottom: 40px;
  font-size: 21px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
}
.autocomplete-wrap .panel__content .suggestion-box__single-option span {
  display: inline-block;
  *display: inline;
  zoom: 1;
  clear: both;
}
.autocomplete-wrap .panel__content input:focus {
  border: 2px solid #006643;
}
.autocomplete-wrap #luogo-partenza {
  background-image: url(/etc/designs/alitalia/clientlibs-1/images/icon-departure.svg);
  background-size: 25px 20px;
  background-position: left 15px center;
  background-repeat: no-repeat;
  padding-left: 50px;
}
.autocomplete-wrap #luogo-arrivo {
  background-image: url(/etc/designs/alitalia/clientlibs-1/images/icon-arrival.svg);
  background-size: 25px 20px;
  background-position: left 15px center;
  background-repeat: no-repeat;
  padding-left: 50px;
}
.cerca-volo__content--prenota .suggestion_andata,
.cerca-volo__content--prenota .suggestion_destination {
  display: none;
}
@media (min-width: 768px) {
  .autocomplete-wrap .panel__header-mobile {
    padding: 40px 40px 35px ;
  }
  .suggestion_new-box {
      padding-bottom: 0px;
  }
  .autocomplete-wrap .panel__content .suggestion-box__data {
    padding: 40px 40px 0px 40px;
  }
  .autocomplete-wrap .panel__content .suggestion-box__single-option {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .suggestion-box {
    display: block;
    position: absolute;
    background: white;
    z-index: 10;
    min-width: 200%;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    padding: 0 10px;
  }
  .suggestion-box .suggestion-box__single-option {
    margin: 8px 0px;
    padding: 15px 10px;
  }
  .suggestion-box .suggestion-box__single-option span {
    margin-left: 10px;
  }
  .suggestion-box .suggestion-box__single-option:hover {
    background-color: #e6e6e6;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .cerca-volo__content--prenota .suggestion_andata,
  .cerca-volo__content--prenota .suggestion_destination {
    display: block;
  }
}

.suggestion-box.suggestion_destination--prenota{
  z-index: 100;
}
input#millemiglia::-webkit-input-placeholder, input#pin::-webkit-input-placeholder {
    color:    black;
}
input#millemiglia:-moz-placeholder, input#pin::-webkit-input-placeholder {
    color:    black;
}
input#millemiglia::-moz-placeholder, input#pin::-webkit-input-placeholder {
    color:    black;
}
input#millemiglia:-ms-input-placeholder, input#pin::-webkit-input-placeholder {
    color:    black;
}
*/
