.ui-datepicker {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 5px rgba(223, 223, 223, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(223, 223, 223, 0.5);
  box-shadow: 0 2px 5px rgba(223, 223, 223, 0.5);
  border: 0 none;
  background: white;
}
.ui-datepicker.mobile-datepicker {
  padding: 0 0 20px;
  top: 140px !important;
  box-shadow: 0px 2px 10px #cccccc;
  width: auto !important;
  right: 20px;
}
.ui-datepicker.mobile-datepicker .year-nav {
  text-align: center;
  background: #006643;
  padding: 10px;
}
.ui-datepicker.mobile-datepicker .year-nav a {
  font-size: 18px;
  color: white;
  font-weight: normal;
  padding: 0 6px 0 4px;
  line-height: 1;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.ui-datepicker.mobile-datepicker .year-nav a:first-child {
  border-right: 1px solid white;
}
.ui-datepicker.mobile-datepicker .year-nav .selected {
  font-weight: 700;
}
.ui-datepicker.mobile-datepicker .ui-datepicker-title {
  line-height: 1.4em;
}
.ui-datepicker.mobile-datepicker .ui-datepicker-header {
  max-width: 470px;
  margin: 10px auto 0;
}
.ui-datepicker.mobile-datepicker .ui-datepicker-calendar {
  max-width: 470px;
  margin: auto;
}
.ui-datepicker.desktop-datepicker {
  z-index=90;
  padding: 40px 80px;
  position:relative !important;
  align-items: center !important;
  margin: 0  !important;
  list-style: none ;
  display: inline-block;
  align-items: center ;
}
.ui-datepicker.desktop-datepicker .year-nav {
  text-align: center;
}
.ui-datepicker.desktop-datepicker .year-nav a {
  font-size: 18px;
  color: #c1c1c1;
  font-weight: bold;
  padding: 0 6px 0 4px;
  line-height: 1;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.ui-datepicker.desktop-datepicker .year-nav a:first-child {
  border-right: 1px solid #c1c1c1;
}
.ui-datepicker.desktop-datepicker .year-nav .selected {
  color: #333333;
}
.ui-datepicker table {
  font-size: 16px;
}
.ui-datepicker th {
  font-weight: 600;
  color: #333333;
  font-size: 14px;
}
.ui-datepicker td {
  padding: 2px 0;
}
.ui-datepicker td .ui-state-active {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ui-datepicker td .ui-state-default {
  color: #333333;
}
.ui-datepicker td .ui-state-hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ui-datepicker .ui-datepicker-group {
  max-width: 320px;
}
.ui-datepicker .ui-datepicker-group.ui-datepicker-group-last {
  float: right;
}
.ui-datepicker .ui-datepicker-header,.ui-datepicker-header.ui-widget-header.ui-helper-clearfix {
  background: white;
  color: #333333;
}
.ui-datepicker .ui-datepicker-title {
  font-size: 20px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 30px;
  height: 21px;
  background-repeat: no-repeat;
  background-size: 30px 21px;
  background-position: center center;
  /*background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-select-dark.svg');*/
  top: 50%;
  margin-top: -11px;

  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  right: 40px;
  
}
.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before{
  content: "\e910";
  color: #676767;  
}

.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
.ui-datepicker .ui-datepicker-next {
  /*background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-select-dark.svg');*/
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}
.ui-datepicker .ui-datepicker-hover a, .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-unselectable.ui-state-disabled.ui-datepicker-hover span,
.ui-datepicker .ui-datepicker-hover:after, .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-unselectable.ui-state-disabled.ui-datepicker-hover:after {
  background-color: #f9d4d9 !important;
}
.ui-datepicker-unselectable.ui-state-disabled.ui.ui-datepicker-hover{
  opacity: 1;
}
.ui-datepicker-unselectable.ui-state-disabled.ui.ui-datepicker-hover span{
  color:#b8b8b8;
}

.ui-datepicker .ui-datepicker-calendar td .ui-state-hover{
  background: #f9d4d9;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-highlight a, .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-unselectable.ui-state-disabled.ui-datepicker-hover span{
  background: #f9d4d9;
}
.ui-datepicker-next.ui-corner-all.ui-state-hover.ui-datepicker-next-hover span{
  display: block;
  color:red;
}

.ui-datepicker .ui-datepicker-calendar .ui-checkin a,
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today.ui-checkin a {
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #e22843 !important;
  color: white;
}
.ui-datepicker .ui-datepicker-calendar .ui-checkout a {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  /*-webkit-border-bottom-left-radius: 0;*/
  /*-webkit-border-top-left-radius: 0;*/
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  /*-moz-border-radius-bottomleft: 0;*/
  /*-moz-border-radius-topleft: 0;*/
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /*border-bottom-left-radius: 0;*/
  /*border-top-left-radius: 0;*/
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #e22843 !important;
  color: white;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-hover {
  /*-webkit-border-top-right-radius: 0;*/
  /*-webkit-border-bottom-right-radius: 0;*/
  /*-webkit-border-bottom-left-radius: 5px;*/
  /*-webkit-border-top-left-radius: 5px;*/
  /*-moz-border-radius-topright: 0;*/
  /*-moz-border-radius-bottomright: 0;*/
  /*-moz-border-radius-bottomleft: 5px;*/
  /*-moz-border-radius-topleft: 5px;*/
  /*border-top-right-radius: 0;*/
  /*border-bottom-right-radius: 0;*/
  /*border-bottom-left-radius: 5px;*/
  /*border-top-left-radius: 5px;*/
  /*-moz-background-clip: padding;*/
  /*-webkit-background-clip: padding-box;*/
  /*background-clip: padding-box;*/
  /*.radius-left;*/
  box-shadow: none;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-hover.ui-datepicker-hover-right .ui-state-hover {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-hover.ui-datepicker-hover-right a {
  background: #e22843;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-hover.ui-datepicker-hover-left .ui-state-hover {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-hover.ui-datepicker-hover-left a {
  background: #e22843;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-hover .ui-state-hover {
  /*.radius-right;*/
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today .ui-state-hover {
  /*-webkit-border-top-right-radius: 0;*/
  /*-webkit-border-bottom-right-radius: 0;*/
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  /*-moz-border-radius-topright: 0;*/
  /*-moz-border-radius-bottomright: 0;*/
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  /*border-top-right-radius: 0;*/
  /*border-bottom-right-radius: 0;*/
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a {
  background: #006643 !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker .ui-datepicker-calendar .ui-checkin.ui-datepicker-hover .ui-state-hover {
  border-radius: 5px;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker .ui-datepicker-calendar .ui-checkin.ui-datepicker-hover.ui-datepicker-hover-left a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker .ui-datepicker-calendar .ui-checkin.ui-datepicker-hover.ui-datepicker-hover-left .ui-state-hover {
  /*-webkit-border-top-right-radius: 0;*/
  /*-webkit-border-bottom-right-radius: 0;*/
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  /*-moz-border-radius-topright: 0;*/
  /*-moz-border-radius-bottomright: 0;*/
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  /*border-top-right-radius: 0;*/
  /*border-bottom-right-radius: 0;*/
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker .ui-datepicker-calendar .ui-checkout.ui-datepicker-hover.ui-datepicker-hover-right a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker .ui-datepicker-calendar .ui-checkout.ui-datepicker-hover.ui-datepicker-hover-right .ui-state-hover {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  /*-webkit-border-bottom-left-radius: 0;*/
  /*-webkit-border-top-left-radius: 0;*/
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  /*-moz-border-radius-bottomleft: 0;*/
  /*-moz-border-radius-topleft: 0;*/
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /*border-bottom-left-radius: 0;*/
  /*border-top-left-radius: 0;*/
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.ui-datepicker.ui-single-selection .ui-datepicker-calendar td .ui-state-hover {
  background: #f9d4d9;
}
.ui-datepicker.ui-single-selection .ui-datepicker-calendar .ui-state-active {
  background: #e22843;
}
.ui-datepicker.ui-single-selection .ui-datepicker-calendar a,
.ui-datepicker.ui-single-selection .ui-datepicker-calendar .ui-state-hover {
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  -moz-background-clip: padding !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}
#ui-datepicker-div .year-nav a.selected {
  font-weight: bold;
}
.ui-widget-header .ui-icon {
  background: none;
}
@media (min-width: 360px) {
  .ui-datepicker.mobile-datepicker .year-nav {
    padding: 15px;
  }
  .ui-datepicker.mobile-datepicker .ui-datepicker-title {
    line-height: 1.8em;
  }
}
@media (min-width: 375px) {
   .ui-datepicker.mobile-datepicker .ui-datepicker-header {
     margin: 20px auto;
   }
}
@media (min-width: 768px) {
  .ui-datepicker.mobile-datepicker {
    top: 170px !important;
  }
}
@media (min-width: 1024px) {
    .ui-datepicker .ui-datepicker-prev,
    .ui-datepicker .ui-datepicker-next {
      background-size: 20px 14px;
    }
   }
.ui-datepicker-unselectable.ui-state-disabled.disabledDateinRange {
    opacity: 1;
}
.ui-datepicker-unselectable.ui-state-disabled.disabledDateinRange span{
    background-color: #f9d4d9 !important;
    color: #b8b8b8;

}
