.reset-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.hero__slider {
  position: relative;
  height: 440px;
  cursor: pointer;
}
.hero__slider h2,
.hero__slider .h2 {
  font-size: 24px;
}
.hero__slider .swiper-pagination {
  width: 100%;
  margin-top: 18px;
  left: 0;
  position: absolute;
  bottom: 15px;
  pointer-events: none;
}
.hero__slider .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  margin: 0 7px;
  opacity: .5;
  pointer-events: auto;
}
.hero__slider .swiper-pagination-bullet-active {
  opacity: 1;
}
.hero__slider_background_full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.hero__slider_background_full:after {
  z-index: 1;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: #000000;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.7) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3a3a3', endColorstr='#000000', GradientType=0);
}
.hero__slider_background_full .swiper-container {
  height: 100%;
}
.hero__slider_background_full .swiper-slide {
  background-size: cover;
}
.hero__slider_background_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #006643;
}
.hero__slider_background_mask:after {
  z-index: 1;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: #000000;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.7) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3a3a3', endColorstr='#000000', GradientType=0);
}
.hero__slider_background_mask .row {
  padding: 0;
}
.hero__slider_background_mask .column {
  position: relative;
  padding: 0;
}
.hero__slider_background_mask .column:after {
  pointer-events: none;
  content: none;
  display: block;
  position: absolute;
  top: 0;
  left: -5px;
  width: 100%;
  height: 100%;
  background: url('/etc/designs/alitalia/clientlibs-1/images/swiper-mask.png') right top no-repeat;
  z-index: 2;
}
.hero__slider_background_mask .row,
.hero__slider_background_mask .column,
.hero__slider_background_mask .swiper-container {
  height: 100%;
}
.hero__slider_background_mask .swiper-slide {
  background-size: cover;
  background-position: center right;
}
.hero__slider_foreground {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  text-align: center;
}
.hero__slider_foreground,
.hero__slider_foreground h1,
.hero__slider_foreground .h1,
.hero__slider_foreground h2,
.hero__slider_foreground .h2,
.hero__slider_foreground h3,
.hero__slider_foreground .h3,
.hero__slider_foreground h4,
.hero__slider_foreground .h4,
.hero__slider_foreground h5,
.hero__slider_foreground .h5,
.hero__slider_foreground h6,
.hero__slider_foreground .h6 {
  color: white;
  pointer-events: none;
}
.hero__slider_foreground .swiper-container {
  pointer-events: none;
}
.hero__slider_foreground .swiper-slide-active {
  pointer-events: none;
}
.hero__slider_foreground .swiper-slide-active a {
  pointer-events: auto;
}
.hero__slider_foreground .swiper-slide {
  width: 100%;
}
.hero__slider_foreground h2 {
  margin: 0;
}
.hero__slider_foreground p.h2 {
  margin: 0 0 10px;
}
.hero__slider_foreground .cta-wrap {
  line-height: normal;
}
.hero__slider_foreground .cta-wrap .cta {
  font: inherit;
}
.hero__slider_foreground .cta-wrap .cta--only-icon {
  padding-top: 0;
  background-position: center right;
}
.hero__slider_foreground a {
  pointer-events: none;
  color: inherit;
}
@media (min-width: 768px) {
  .hero__slider_background_mask .column:after {
    left: -10px;
  }
  .hero__slider {
    height: 540px;
  }
  .hero__slider h2,
  .hero__slider .h2 {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .hero__slider h2,
  .hero__slider .h2 {
    font-size: 40px;
  }
  .hero__slider_background_mask .row {
    padding: 0 35px;
  }
  .hero__slider_background_mask .column {
    padding: 0 10px;
  }
  .hero__slider_background_mask .column:after {
    content: '';
  }
  .custom-large {
    float: none;
    max-width: 1060px;
    margin: auto;
  }
  .hero__slider_foreground {
    position: static;
    min-height: 300px;
    text-align: left;
    left: 15px;
    width: auto;
    max-width: 50%;
  }
  .hero__slider_foreground .swiper-container {
    padding-top: 60px;
  }
  .hero__slider_background_full:after {
    background: #000000;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 60%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 60%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#a3a3a3', GradientType=1);
  }
  .hero__slider_background_mask:after {
    display: none;
  }
}
@media (max-width: 1024px) {
  .hero__slider .h2 {
    font-size: 21px;
  }
}