.warning {
  color: #e30512!important;
}
.top-shadow {
  -webkit-box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.2);
}
.heading-shadow {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}
.flight-info-shadow {
  -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
}
.hide-pane {
  display: none;
}
/* da checkin step 2 */
.section-checkin-manage {
  margin: 0 0 40px;
}
.section-checkin-manage .manage-alert {
  float: left;
  border: 0;
  margin: 0;
}
/* ADD GENERAL
=============== */
/* form */
.input-group input[type="text"],
.input-group input[type="email"],
.input-group button,
.input-group .button {
  height: 3.125rem;
}
.button--naked {
  border-color: transparent;
  color: #006643;
  background: transparent;
}
.icon.icon--reset {
  background: url("/etc/designs/alitalia/clientlibs-checkin-gestione-carte-1-embed/images/ico-close-green.svg");
  /* green */
}
.action-wrap--right {
  text-align: right;
}
.action__icon {
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-gestione-carte-1-embed/images/arrow-dx-green.svg');
  background-size: 16px 12px;
  padding-right: 25px;
  display: block;
  min-width: 16px;
  min-height: 16px;
}
.action__icon.action__icon--medium {
  min-width: 20x;
  min-height: 20px;
  padding-right: 30px;
}
.action__icon--dark {
  color: #333333;
}
.action__icon.action__icon--delete {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-gestione-carte-1-embed/images/ico-trash-green.svg');
  background-size: 16px 19px;
}
.action__icon.action__icon--modifica {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-gestione-carte-1-embed/images/ico-modifica-green.svg');
  background-size: 16px 16px;
}
.action__icon.action__icon--add {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-gestione-carte-1-embed/images/ico-add-green.svg');
  background-size: 16px 16px;
}
.action__icon.action__icon--arrow-down {
  background-image: url("/etc/designs/alitalia/clientlibs-checkin-gestione-carte-1-embed/images/ico-select-green.svg");
  background-size: 16px 9px;
}
.action__icon.action__icon--arrow-up {
  background-image: url("/etc/designs/alitalia/clientlibs-checkin-gestione-carte-1-embed/images/ico-select-up-green.svg");
  background-size: 16px 9px;
}
/* PAGE
============*/
.section-checkin-manage p {
  color: #333333;
}
/* testo intro pagina */
.checkin__heading-wrapper.checkin__heading-wrapper--manage {
  margin-bottom: 1rem;
}
.checkin__heading-wrapper.checkin__heading-wrapper--manage .checkin__text {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 15px;
}
/* switch-view passeggeri check-in completato / non */
.switch-view {
  margin: 1rem 0;
  position: relative;
}
.switch-view:before,
.switch-view:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
  float: none;
}
/* visualizzazione desktop */
.switch-view__tab {
  margin: 0;
  padding: 0;
}
.switch-view__tab a {
  text-transform: uppercase;
  font-weight: 700;
  background: #f3f3f3;
  padding: 17px 10px;
  display: block;
  text-align: center;
}
.switch-view__tab a.active {
  background: #fff;
}
.switch-view__tab:first-child a {
  border-radius: 5px 0 0;
}
.switch-view__tab:last-child a {
  border-radius: 0 5px 0 0;
}
/* visualizzazione mobile - tablet */
.switch-view__button.button {
  text-transform: uppercase;
  color: #006643;
  font-weight: 700;
  line-height: 1.2;
  background-color: #fff;
  border: 0;
  position: relative;
  padding-right: 40px;
  text-align: left;
  font-size: 18px;
}
.switch-view__button.button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  border: 0;
  background-repeat: no-repeat;
  background-image: url("/etc/designs/alitalia/clientlibs-checkin-gestione-carte-1-embed/images/ico-select-green.svg");
  margin-top: -5px;
  height: 10px;
  width: 16px;
}
.switch-view__button--open.button {
  margin-bottom: 0;
}
.switch-view__pane.dropdown-pane {
  border: 1px solid #c1c1c1;
  padding: 0;
  width: 100%;
  left: 0!important;
}
.switch-view__row {
  border-bottom: 1px solid #c1c1c1;
}
.switch-view__row:last-child {
  border: 0;
}
.switch-view__row .switch-view__button--inside {
  margin-bottom: 0;
  padding-right: 20px;
}
.switch-view__row .switch-view__button--inside:after {
  display: none;
}
/* carte d'imbarco generali */
.button-wrap.button-wrap--manage {
  margin-bottom: 20px;
}
.button-wrap.button-wrap--manage.end {
  margin-bottom: 35px;
}
.button-wrap.button-wrap--manage .button {
  font-weight: 600;
  font-size: 16px;
}
/* box info passeggero intestazione  */
.flight-info--manage .flight-info__title {
  -webkit-box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 0;
}
.flight-info--manage .flight-info__title .passenger {
  margin-bottom: 0;
  margin-top: 15px;
  font-weight: 600;
  font-size: 24px;
}
.flight-info--manage .flight-info__title .toggle-wrap--ff {
  margin: 10px 0 20px;
}
.flight-info--manage .flight-info__title .passenger-note {
  color: #676767;
}
.flight-info--manage .flight-info__title p {
  font-weight: 400;
  text-align: left;
  font-size: 18px;
}
.flight-info--manage .flight-info__title hr {
  border-top-width: 1px;
  border-style: solid;
  border-color: #ccd6d0;
  margin: 0 -25px;
}
/* frequent flyer form */
.flight-info--manage .frequent-flyer__pane {
  background: #fff;
  margin: -2px -25px 0;
  padding: 15px 5px 30px;
  position: relative;
}
.flight-info--manage .frequent-flyer__pane:before {
  content: "";
  width: 100%;
  display: block;
  float: none;
  clear: both;
}
.flight-info--manage .frequent-flyer__pane.open {
  display: block;
}
.flight-info--manage .frequent-flyer__pane .frequent-flyer__heading {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
}
.manage__form.manage__form--frequentf label {
  margin-bottom: 15px;
}
.manage__form.manage__form--frequentf .icon.icon--reset {
  position: absolute;
  top: 15px;
  right: 20px;
}
.manage__form.manage__form--frequentf .button-wrap {
  float: none;
  width: 100%;
}
.manage__form.manage__form--frequentf .button-wrap .button {
  width: 100%;
  vertical-align: bottom;
}
/* posti / servizi */
.flight-info--manage .flight-info__content .inner-row {
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 1px solid #ccd6d0;
}
.flight-info--manage .flight-info__content .inner-row:last-child {
  border: 0;
}
.row--heading {
  padding-top: 15px;
}
.row--heading p {
  margin: 0 0 15px;
  font-size: 18px;
}
.row--heading strong {
  font-weight: 600;
}
.row--heading > .column:nth-child(1) .action-wrap {
  display: inline-block;
}
.row--heading.details-expanded {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}
.row--heading .toggle--open {
  display: none;
}
/* pane dettagli / servizi */
.details__pane {
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 15px;
}
.flight-info--manage .flight-info__content .inner-row.details__row {
  border: 0;
  padding-top: 5px;
}
.flight-info--manage .flight-info__content .inner-row.details__row .tratta strong,
.flight-info--manage .flight-info__content .inner-row.details__row .seat strong {
  text-transform: uppercase;
}
.flight-info--manage .flight-info__content .inner-row.details__row .tratta,
.flight-info--manage .flight-info__content .inner-row.details__row .service {
  color: #676767;
  font-size: 18px;
}
.flight-info--manage .flight-info__content .inner-row.details__row .code {
  display: block;
  font-size: 14px;
}
.flight-info--manage .flight-info__content .inner-row.details__row .service strong {
  color: #676767;
}
.flight-info--manage .flight-info__content .inner-row.details__row .service--general {
  font-size: 18px;
  color: #333333;
}
.flight-info--manage .flight-info__content .inner-row.details__row .service--detail {
  text-align: right;
  color: #333333;
}
.flight-info--manage .flight-info__content .inner-row.details__row .service--detail strong {
  color: #333333;
}
.flight-info--manage .flight-info__content .inner-row.details__row .seat {
  text-align: right;
  font-size: 18px;
}
.flight-info--manage .flight-info__content .inner-row.details__row .seat strong {
  display: inline-block;
  min-width: 40px;
}
.flight-info--manage .flight-info__content .inner-row.details__row hr {
  border: 0;
  border-top: 1px solid #c1c1c1;
  margin: 0;
  clear: both;
  float: none;
}
.flight-info--manage .flight-info__content .inner-row.details__row--heading {
  padding-top: 15px;
}
.flight-info--manage .flight-info__content .inner-row.details__row--heading strong {
  text-transform: uppercase;
}
.flight-info--manage .flight-info__content .inner-row.details__row--heading .airports {
  font-size: 20px;
  margin-top: 0;
}
.flight-info--manage .flight-info__content .inner-row.details__row--heading hr {
  border-top: 3px solid #c1c1c1;
}
/* form */
.manage__form .warning {
  margin: 0 0 5px;
  padding: 5px 0;
  font: 600 16px 'Source Sans Pro', Arial, sans-serif;
  text-align: left;
}
.manage__form label {
  font: 12px 'Source Sans Pro', Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.manage__form label input,
.manage__form label select {
  margin: 5px 0 0;
}
.manage__form label input::-webkit-input-placeholder,
.manage__form label select::-webkit-input-placeholder {
  color: #676767;
}
.manage__form label input:-moz-placeholder,
.manage__form label select:-moz-placeholder {
  color: #676767;
  opacity: 1;
}
.manage__form label input::-moz-placeholder,
.manage__form label select::-moz-placeholder {
  color: #676767;
  opacity: 1;
}
.manage__form label input:-ms-input-placeholder,
.manage__form label select:-ms-input-placeholder {
  color: #676767;
}
.manage__form label input::-ms-input-placeholder,
.manage__form label select::-ms-input-placeholder {
  color: #676767;
}
.manage__form label input::placeholder,
.manage__form label select::placeholder {
  color: #676767;
}
.manage__form label .input-group-field {
  margin: 0;
}
.manage__form label .input-group {
  margin: 10px 0 0;
}
.manage__form .button.button--add {
  font-size: 26px!important;
  font-weight: 600;
}
.manage__form-row {
  text-align: left;
}
.manage__form-view-ins {
  margin-top: 5px;
}
.manage__form-view-ins button {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
  display: inline-block;
  border-radius: 5px;
  background: #e6e6e6;
  padding: 3px 20px 3px 5px;
}
.manage__form-view-ins button:after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -5px;
  background: url("etc/designs/alitalia/clientlibs-1/images/ico-close-black.svg") 0 0 no-repeat;
  background-size: 10px auto;
}
/* MODALI
============ */
.reveal--manage .reveal__header {
  display: block;
  width: 100%;
  position: fixed;
  padding: 25px 0;
  background: #fff;
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.reveal--manage .reveal__header .icon.icon--close {
  background-image: url("/etc/designs/alitalia/clientlibs-checkin-gestione-carte-1-embed/images/ico-close-black.svg");
}
.reveal__label {
  color: #333333;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 18px;
}
.reveal--manage .reveal__content {
  margin-top: 60px;
  padding-top: 50px;
}
.reveal--manage .manage__form {
  margin-top: 25px;
}
.reveal--manage-send-address .passenger__name {
  color: #333333;
  font-weight: 600;
  font-size: 22px;
}
.reveal--manage-delete-checkin p {
  color: #333333;
  font-size: 18px;
}
.reveal--manage-delete-checkin .button {
  width: 100%;
  margin-bottom: 20px;
}
.reveal--manage-delete-checkin .success {
  min-height: 400px;
}
.reveal--manage-delete-checkin .success h4 {
  margin-top: 150px;
}
.reveal--manage-delete-checkin .success h4:before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background: url("/etc/designs/alitalia/clientlibs-checkin-gestione-carte-1-embed/images/ico-select-green.svg") 0 0 no-repeat;
  background-size: 100% auto;
  margin: 0 auto 20px;
}

h4.send-mail-success:before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background: url("/etc/designs/alitalia/clientlibs-checkin-gestione-carte-1-embed/images/ico-select-green.svg") 0 0 no-repeat;
  background-size: 100% auto;
  margin: 0 auto 20px;
}

.reveal.reveal--manage-delete-checkin .reveal__content .flight-info__sep {
  margin: 0 0 40px;
  -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: left;
}
.reveal.reveal--manage-delete-checkin .reveal__content .flight-info__sep ul li {
  padding: 0;
}
.reveal.reveal--manage-delete-checkin .reveal__content .flight-info__sep .flight-mob__detail {
  margin-right: 15px;
}
.reveal.reveal--manage-delete-checkin .reveal__content .flight-info__sep .flight-mob__detail:last-child {
  margin: 0;
}
.reveal.reveal--manage-delete-checkin .reveal__content .flight-info__sep .flight-info__date li {
  padding: 0 0 0 35px;
  margin-right: 15px;
}
/* MEDIA QUERY 
===============*/
@media (min-width: 768px) {
  .action__icon {
    display: inline-block;
  }
  /* testo intro pagina */
  .checkin__heading-wrapper.checkin__heading-wrapper--manage .checkin__text {
    margin-bottom: 45px;
    font-size: 18px;
  }
  /* switch passeggeri checkin completo / non */
  .switch-view {
    margin-bottom: 20px;
  }
  /* carte d'imbarco generali */
  .button-wrap.button-wrap--manage {
    margin-bottom: 45px;
  }
  /* box info passeggero intestazione */
  .flight-info--manage .flight-info__title .action-bar {
    margin-top: 0;
  }
  .flight-info--manage .flight-info__title .action-bar p {
    margin: 0 0 30px;
  }
  /* frequent flyer form */
  .flight-info--manage .frequent-flyer__pane {
    padding: 10px 5px;
    margin-bottom: 30px;
  }
  .flight-info--manage .frequent-flyer__pane .row {
    margin: 0 -25px;
  }
  .manage__form--frequentf {
    display: table;
    width: 100%;
  }
  .manage__form--frequentf .columns {
    display: table-cell;
    vertical-align: bottom;
    float: none!important;
  }
  .manage__form--frequentf .button-wrap {
    padding-bottom: 15px;
  }
  /* posti / servizi */
  .flight-info--manage .flight-info__content .inner-row.details__row .seat,
  .flight-info--manage .flight-info__content .inner-row.details__row .service--detail {
    text-align: left;
  }
  .flight-info--manage .flight-info__content .inner-row.details__row .seat strong {
    padding-left: 20px;
    padding-right: 20px;
  }
  .flight-info--manage .flight-info__content .inner-row.details__row .service--detail {
    display: inline-block;
    min-width: 24%;
    padding-right: 20px;
  }
  /* modali */
  .reveal--manage-delete-checkin .button-row .button {
    width: 50%;
    margin: 0 auto 20px;
  }
}
@media (min-width: 1024px) {
  .section-checkin-manage {
    margin: 0 0 40px;
  }
  .section-checkin-manage .manage-alert {
    float: right;
  }
  /* carte d'imbarco generali */
  .button-wrap.button-wrap .button {
    font-size: 14px;
  }
  .section-checkin-manage .flight-info__title {
    position: relative;
    padding-bottom: 0;
  }
  .section-checkin-manage .flight-info__title p {
    margin: 5px 0 10px;
    font-size: 16px;
  }
  .section-checkin-manage .flight-info__title .passenger {
    font-size: 22px;
  }
  .section-checkin-manage .flight-info__title .action-bar {
    position: absolute;
    top: 40px;
    right: 20px;
  }
  .section-checkin-manage .flight-info__title .action-wrap {
    text-align: right;
  }
  .section-checkin-manage .flight-info__title .toggle-wrap--ff {
    margin-bottom: 15px;
  }
  /* frequent flyer form */
  .flight-info--manage .frequent-flyer__pane {
    border-bottom: 1px solid #ccd6d0;
    padding-top: 25px;
    margin-bottom: 0;
  }
  .flight-info--manage .frequent-flyer__pane .frequent-flyer__heading {
    margin-bottom: 20px;
  }
  .manage__form--frequentf {
    width: 75%;
  }
  /* posti /servizi */
  .row--heading > .column:nth-child(1) p {
    display: inline-block;
    margin-right: 35px;
  }
  .flight-info--manage .flight-info__content .inner-row .action-wrap {
    font-size: 16px;
  }
  /* pane dettagli servizi / posti */
  .flight-info--manage .flight-info__content .inner-row.details__row .code {
    display: inline-block;
  }
  .flight-info--manage .flight-info__content .inner-row.details__row .seat {
    font-size: 16px;
  }
  .flight-info--manage .flight-info__content .inner-row.details__row .service--general {
    font-size: 16px;
  }
  .flight-info--manage .flight-info__content .inner-row.details__row .service--general strong {
    font-size: 18px;
  }
  .flight-info--manage .flight-info__content .inner-row.details__row .service--detail {
    font-size: 16px;
  }
  .flight-info--manage .flight-info__content .inner-row.details__row .service--detail strong {
    padding-right: 15px;
  }
  .flight-info--manage .flight-info__content .inner-row.details__row--heading .airports {
    padding-top: 14px;
  }
  /* modali */
  .reveal--manage .reveal__content {
    margin: 50px 0;
    padding-top: 0px;
  }
  .reveal--manage-delete-checkin .button-row .button {
    width: 70%;
  }
  .reveal--manage-delete-checkin .button-col:nth-child(1) {
    float: right;
  }
  .reveal--manage-delete-checkin .button-col:nth-child(1) .button {
    float: left;
  }
  .reveal--manage-delete-checkin .button-col:nth-child(2) .button {
    float: right;
  }
}
