@media (min-width: 1024px) {
  .cta-wrap .cta--only-icon {
    display: inline-block !important;
    *display: inline !important;
    zoom: 1 !important;
  }
  .cta-wrap .cta--only-icon span {
    display: none !important;
  }
  .cta:not(.cta--icon):not(.cta--only-icon) {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    position: relative;

    padding-bottom: 1px;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(90%), #006643 10px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.5s;
  }
  .cta:not(.cta--icon):not(.cta--only-icon) span {
    display: inline;
  }
  .cta:not(.cta--icon):not(.cta--only-icon):hover {
    background-size: 100% 100%;
    color: #005739;
  }
  .cta--secondary:not(.cta--icon):not(.cta--only-icon) {
    background-image: linear-gradient(transparent calc(90%), #a42615 10px);
  }
  .cta--secondary:not(.cta--icon):not(.cta--only-icon):hover {
    color: #831e11;
  }
  .cta.cta--only-icon::after,
  .cta-light.cta--only-icon::after,
  .cta--primary.cta--only-icon::after,
  .cta--secondary.cta--only-icon::after {
    display: none;
  }
  [class*="card"],
  .news-block,
  .lista-destinazioni__item {
    cursor: pointer;
  }
  #header .submenu .is-dropdown-submenu a {
    color: #333333;
    position: relative;
    padding-bottom: 3px;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(90%), #006643 10px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.5s;
  }
  #header .submenu .is-dropdown-submenu a:hover {
    background-size: 100% 100%;
  }
  .lista-offerte .custom-card .cta--only-icon,
  .news-block .cta--only-icon {
    transition: padding 200ms ease-out;
    -moz-transition: padding 200ms ease-out;
    -webkit-transition: padding 200ms ease-out;
    -o-transition: padding 200ms ease-out;
    padding-right: 50px;
  }
  .lista-offerte .custom-card:hover .cta--only-icon,
  .news-block:hover .cta--only-icon {
    padding-right: 32px;
  }
  .offerte-speciali__slider .custom-card .cta--icon,
  .novita__slider .custom-card .cta--icon {
    transition: padding 200ms ease-out;
    -moz-transition: padding 200ms ease-out;
    -webkit-transition: padding 200ms ease-out;
    -o-transition: padding 200ms ease-out;
  }
  .offerte-speciali__slider .custom-card:hover .cta--icon,
  .novita__slider .custom-card:hover .cta--icon {
    padding-right: 45px;
  }
  .values__slider .custom-card .cta--icon {
    transition: padding 200ms ease-out;
    -moz-transition: padding 200ms ease-out;
    -webkit-transition: padding 200ms ease-out;
    -o-transition: padding 200ms ease-out;
  }
  .values__slider .custom-card:hover .cta--icon {
    padding-right: 45px;
    padding-left: 13px;
  }
  .special-needs .cta--icon {
    transition: padding 200ms ease-out;
    -moz-transition: padding 200ms ease-out;
    -webkit-transition: padding 200ms ease-out;
    -o-transition: padding 200ms ease-out;
  }
  .special-needs .cta--icon:hover {
    padding-right: 45px;
    padding-left: 13px;
  }
  .cookie-bar .text .cta.cta--icon {
    transition: padding 200ms ease-out;
    -moz-transition: padding 200ms ease-out;
    -webkit-transition: padding 200ms ease-out;
    -o-transition: padding 200ms ease-out;
  }
  .cookie-bar .text .cta.cta--icon:hover {
    padding-right: 35px;
    padding-left: 10px;
  }
  .cookie-bar .text .cta.cta--primary.closeCookie::after {
    display: none;
  }
  /*.lista-offerte__accordion .accordion .accordion-item .lista-destinazioni .right-col {*/
    /*transition: padding 200ms ease-out;*/
    /*-moz-transition: padding 200ms ease-out;*/
    /*-webkit-transition: padding 200ms ease-out;*/
    /*-o-transition: padding 200ms ease-out;*/
  /*}*/
  /*.lista-offerte__accordion .accordion .accordion-item .lista-destinazioni .lista-destinazioni__item {*/
    /*-webkit-transition: all 200ms ease-out;*/
    /*-moz-transition: all 200ms ease-out;*/
    /*transition: all 200ms ease-out;*/
  /*}*/
  /*.lista-offerte__accordion .accordion .accordion-item .lista-destinazioni .lista-destinazioni__item:hover {*/
    /*background-color: #f6f6f6;*/
    /*padding-left: 15px;*/
  /*}*/
  /*.lista-offerte__accordion .accordion .accordion-item .lista-destinazioni .lista-destinazioni__item:hover .right-col {*/
    /*padding-right: 15px;*/
  /*}*/
  .section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__tab:not(.is-active) .cerca-volo__title {
    transition: background-color 200ms ease-in-out;
    -moz-transition: background-color 200ms ease-in-out;
    -webkit-transition: background-color 200ms ease-in-out;
    -o-transition: background-color 200ms ease-in-out;
  }
  .section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__tab:not(.is-active) .cerca-volo__title:hover {
    background-color: rgba(255, 255, 255, 0.95);
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .multitratta .cta.cta--icon {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .multitratta .cta.cta--icon:hover {
    padding-right: 35px;
    margin-right: 10px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .biglietto-premio .cta.cta--icon {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .biglietto-premio .cta.cta--icon:hover {
    padding-right: 35px;
    margin-right: -10px;
  }
  .hero__slider_foreground .cta-wrap .cta:hover {
    color: #fff;
  }
  .footer__nav .accordion-item .accordion-content a {
    position: relative;
    padding-bottom: 3px;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(90%), #fff 10px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.5s;
  }
  .footer__nav .accordion-item .accordion-content a:hover {
    background-size: 100% 100%;
  }
  .footer__links .footer__link a {
    position: relative;
    display: inline;
    padding-bottom: 3px;
    width: calc(100%);
    background-image: linear-gradient(transparent calc(90%), #fff 10px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.5s;
  }
  .footer__links .footer__link a:hover {
    background-size: 100% 100%;
  }
}