.cookie-bar{padding:20px 0;position:fixed;bottom:0;width:100%;z-index:100;background-color:rgba(255,255,255,0.95);-webkit-box-shadow:0 -0.5px 10px 0 rgba(0,0,0,0.06);-moz-box-shadow:0 -0.5px 10px 0 rgba(0,0,0,0.06);box-shadow:0 -0.5px 10px 0 rgba(0,0,0,0.06)}
.cookie-bar .text{text-align:center}
.cookie-bar .text p{font-size:14px;color:#333;margin:0}
.cookie-bar .text .cta.cta--icon{text-transform:none;font-family:'Source Sans Pro',Arial,sans-serif;font-size:14px;background-size:13px 10px;background-position:right 5px;font-weight:600;padding-right:25px}
.cookie-bar .text .closeCookie{padding-top:20px;display:block}
@media(min-width:1024px){.cookie-bar .text .closeCookie{padding:0;margin-top:20px;display:inline-block !important;*display:inline !important;zoom:1 !important;background:none !important;width:auto !important}
.cookie-bar .text .closeCookie span{display:inline-block !important;*display:inline !important;zoom:1 !important}
}