@charset "UTF-8";
/**
* Filippo Marini - ITN
*/

.form__element3 {
  width: 31.6%;
  margin-top: 25px;
  font-size: 0;
  margin-left: 0;
  float: left;
  margin-bottom:1.5%;
}
#password_advice {
margin-left: 33.1%;
}
#code_advice {
margin-left: 12%;
}

.obbligo {
margin-top: 20px;
}


.form__element3:nth-child(2), .form__element3:nth-child(3) {
  margin-left: 1.5%;
}

.form__element3:nth-child(2n+1) .form__label {
  padding-left: 0;
}

.form__element3 .form__label {
  margin-right: 2.0202%;
  padding: 0 2.0202% 20px 0;
  display: block;
  vertical-align: middle;
  font-size: 14px;
  width: 100%;
}


.auth_form, .sec_form {
  width: 100%;
}

.sec_form .form__inputCover {
  width: 68%;
}
.sec_form .form__label {
width: 25%;

}

.auth_form .radioButton:first-child {
  margin-right: 30px;
}

.auth_form .form__element3, .sec_form .form__element3 {
  padding: 1% 0 3% 0;
  display: block;
}
.form__element3 .form__inputCover {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 16px;
}


.pinkb {
  background-color: #f5dbde;
  color: #000000;
}

.hiding {
  display:none;
}

.hiding input[type=button], #CodeSubmit {
  border: 0;
  padding: 0 10px;
}

.button-double {
width: 50%;
float: left;
text-align: center;
}
.button-double .button {
display: inline-block;
zoom: 1;
width: 60%;
padding-left: 40px;
padding-right: 40px;
margin: 0;
text-transform: uppercase;
font: 700 18px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
padding: 18px 20px 15px;
background-color: #006643;
color: #ffffff;
border: 0;
}

.customSelect,
.checkinCustomSelect {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  line-height: 30px;
  position: relative;
  width: 100%;
}

.customSelect select,
.checkinCustomSelect select {
  font-family: "lato", sans-serif;
  font-weight: 400;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: window;
  text-indent: 0.01px;
  text-overflow: "";
  background: transparent;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  font-weight: normal;
  color: #000000;
  width: 100%;
  cursor: pointer;
  /*height: 3.125rem;*/
  margin: 0 0 1rem;
  padding: 0 .84375rem;
}

#secQuest{
  border: none;
  border-radius: 0;
}


.customSelect:after,
.checkinCustomSelect:after {
  font-family: "iconFont";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 20px!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  display: inline-block;
  font-size: 16px;
  color: #7f7f7f;
  position: absolute;
  right: 10px;
  top: 10px;
  pointer-events: none;
  line-height: 30px;
}
.ie9 .customSelect:after, .ie8 .customSelect:after, .ie9
.checkinCustomSelect:after, .ie8
.checkinCustomSelect:after {
  z-index: 1;
}


@media only screen and (max-width: 640px) {
  .form__element3 {
    width: 100%;
    margin-left: 0;
    float: none;
  }
  .form__element3:nth-child(2), .form__element3:nth-child(3) { margin-left: 0;}

  .obbligo p { margin-top: 0;}
  #password_advice {
margin-left: 0;
margin-top: 0;
}
}

/** MODALI **/
@media (min-width: 1024px){

  .login-modale-pwd .reveal__header, .genera-credenziali-modale .reveal__header {
    padding-bottom: 20px !important;
    display: block;
  }

  .login-modale-pin .reveal__header {
    padding-bottom: 60px;
    display: block;
  }
}


.login-modale-pwd .reveal__content .p_titolo, .genera-credenziali-modale .reveal__content .p_titolo{
  font-family: 'Josefin Sans','Source Sans Pro',Arial,sans-serif;
  margin-bottom: 50px !important;
}

.link-nuove-credenziali{
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/arrow-dx-green.svg');
  background-repeat: no-repeat;
  padding-right: 32px;
  background-size: 18px 14px;
  background-position: right 0;
}

.genera-credenziali-modale label{
  text-align: left;
}

.genera-credenziali-modale label.centratesto{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.genera-credenziali-modale small{
  text-align: left;
  display: block;
  color:#c1c1c1;
}

/*.genera-credenziali-modale select{
  background-image: url('etc/designs/alitalia/clientlibs/images/ico-select-grey.svg');
}*/

.genera-credenziali-modale [type='text']{
  color:#006643;
}

.genera-credenziali-modale .riga-speciale [type='text'], .genera-credenziali-modale .riga-speciale select{
  font-family: 'Josefin Sans','Source Sans Pro',Arial,sans-serif;
  color:#006643;
}

@media print, screen and (min-width: 64em){
  .genera-credenziali-modale .large-6, #hide2 .large-6 {
    width: 48%;
    float: left;
  }

  .genera-credenziali-modale .last-ch, #hide2 .last-ch {
    margin-left: 10px;
    clear: right;
  }

}

/* BLOCCO STILE REGISTRAZIONE */

.regAl {
border: 0;
}

.registra  {
  text-align: center;
}

.registra .reveal__header {
    display: none;
}

.registra .reveal__header-mobile {
    display: inline-block;
    zoom: 1.2;
    color:#006643;
}

.registra .h4 {
  color:#006643;
  margin:0;
  text-transform:none;
  font-weight:400;
  }

.half {
  text-align:left;
  }

.radioButton {
padding-bottom: 10px;
}

  /* CHIUSURA STILE REGISTRAZIONE */

/*, [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea*/

@media (min-width: 1024px){
  .genera-credenziali-modale .button-wrap-padding {
    padding: 20px 78px 0;
  }

  .registra .reveal__header-mobile {
    display: none;
}
}

@media (min-width: 768px) {
.registra .reveal__header-mobile {
    display: none;
}
.registra .reveal__header {
    display: block;
}
.registra .h4 {
    padding: 50px 10px 10px;
    display: inline-block;
    zoom: 1;
  }
.regAl {
    border: 2px solid #000;
    padding: 0 20px;
}
.half {
  float:left;
  width:45%;
  text-align: center;
  }
}

/* APERTURA STILE MODALE ACCESSO SINGOLO */

.reveal--action.accesso-singolo .reveal__content {
    padding: 40px 20px 0 20px;
}

.icon.icon--close {
    background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-close-white.svg');
}

@media (min-width: 1024px) {
  .reveal--action.reveal--medium {
    max-width: 1100px;
  }
  .reveal--action.reveal--medium.reveal .reveal__content {
    padding: 0 60px 30px 60px;
  }
  .area_centrale{
  padding-left: 10%;
  padding-right: 10%;
  }
}

.accesso-singolo{
  font-family: 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  /*color:#333;*/
}
.accesso-singolo .reveal__content .custom-row .custom-button-wrap {
  width: 33.33%;
  float: left;
  margin-bottom: 30px;
  padding: 0 10px;
}

.accesso-singolo .button-wrap .button--gp {
  background-color: #d94234;
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-social-gp.svg');
  background-repeat: no-repeat;
  /*background-size: 23px 22px;
  background-position: 65px 14px;*/
  font-size: 16px;
  background-position: center;
  background-size: 30px 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.accesso-singolo .button-wrap .button--fb {
  background-color: #3d5b96;
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-social-fb.svg');
  background-repeat: no-repeat;
  /*background-size: 23px 22px;
  background-position: 65px 14px;*/
  font-size: 16px;
  background-position: center;
  background-size: 30px 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.accesso-singolo .button-wrap .button--tw {
  background-color: #5aadeb;
  background-image: url('etc/designs/alitalia/clientlibs/images/ico-social-tw.svg');
  background-repeat: no-repeat;
  /*background-size: 23px 22px;
  background-position: 65px 14px;*/
  font-size: 16px;
  background-position: center;
  background-size: 30px 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.accesso-singolo .button-wrap .button--in {
  background-color: #0077b5;
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/linkedin_w.svg');
  background-repeat: no-repeat;
  /*background-size: 23px 22px;
  background-position: 65px 14px;*/
  font-size: 16px;
  background-position: center;
  background-size: 30px 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.accesso-singolo .custom-button-wrap .button span {
  display: none;
}

@media (min-width: 1024px){
  .accesso-singolo .custom-button-wrap .button span {
    display: block;
  }

  .accesso-singolo .button-wrap .button--tw, .accesso-singolo .button-wrap .button--fb, .accesso-singolo .button-wrap .button--gp, .accesso-singolo .button-wrap .button--in {
    background-size: 23px 22px;
    background-position: 65px 14px;
  }
}

.accesso-singolo label{
  color:#9c9c9c;
  text-transform: capitalize !important;
}

.accesso-singolo .reveal__header h4{
  /*color:#333;*/
}

.accesso-singolo label{
  color:#9c9c9c;
  text-transform: capitalize !important;
}


.linea-social{display: inline-block;}

.linea-social .ico-social{
  /*background: #333;*/
    padding: 16px;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 8px;
    text-indent: -200000px;
}

.linea-social .social-fb{
  background: url('/etc/designs/alitalia/clientlibs-1/images/facebook-square-brands.svg') no-repeat;
    background-position: center;
}

.linea-social .social-gp{
  background: url('/etc/designs/alitalia/clientlibs-1/images/google-plus-square-brands.svg') no-repeat;
    background-position: center;
}

.linea-social .social-in{
  background: url('/etc/designs/alitalia/clientlibs-1/images/linkedin-brands.svg') no-repeat;
    background-position: center;
}


.accesso-singolo .par-oppure{
  text-align: center !important;
  margin: 30px auto !important;
}

.accesso-singolo .switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 16px;
  margin-left: 5px;
  margin-right:5px;
}
.accesso-singolo .switch input {display:none;}

.accesso-singolo .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.accesso-singolo .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 0px;
  bottom: -4px;
  background-color: #333333;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.accesso-singolo input:checked + .slider {
  background-color: #ccc;
}
.accesso-singolo input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.accesso-singolo input:checked + .slider:before {
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);
}

.accesso-singolo .area_centrale{
  border-top: 2px solid #ebebeb;

  text-align: center;
}

.area_centrale .field-icon {
  float: right;
  margin-right: 10px;
  margin-top: -50px;
  position: relative;
  z-index: 2;
  width: 20px;
  height: 20px;
}

.eye{
  background: url('/etc/designs/alitalia/clientlibs/images/eye-solid.svg') no-repeat;
}

.eye-slash{
  background: url('/etc/designs/alitalia/clientlibs/images/eye-slash-solid.svg') no-repeat;
}

.area_centrale .accesso-button{
  display: inline-block;
    padding: 15px;
    color: #FFF;
    background: #3d3d3d;
    border-radius: 0px;
    width: 50%;
    margin-bottom: 20px;
}
.accesso-singolo .area_centrale .button{
  width: 50% !important;
  font-size: 16px;
}
.area_centrale .ricorda-dati{
  display: inline-block;
    float: left;
}

.area_centrale .recupera-pwd{
  display: inline-block;
    float: right;
}

.area_centrale .recupera-pwd a{
  color:#333;
  text-decoration: underline;
}

.area_centrale .clear{clear:both;}

.area-registrati{
  margin: 20px auto;
  border-top: 2px solid #ebebeb;
  padding-top: 20px;
}

.area_centrale .btn-registrati{
  display: inline-block;
    padding: 15px;
    color: #006643;
    /* background: #3d3d3d; */
    border-radius: 5px;
    width: 40%;
    margin-bottom: 20px;
    border: 2px solid #006643;
    margin-left: 20px;
    margin-top: 20px;
}

/* Chiusura stile Modale Accesso singolo */


/* STILE RECUPERA PASSWORD CON DOMANDA SEGRETA */
#domandaSec {
  display: none;
}
/* FINE STILE RECUPERA PASSWORD CON DOMANDA SEGRETA */
