@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8xico');
  src:  url('fonts/icomoon.eot?8xico#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8xico') format('truetype'),
    url('fonts/icomoon.woff?8xico') format('woff'),
    url('fonts/icomoon.svg?8xico#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"],.passenger-wrap .passengerGender:after,.passenger-wrap .select-wrapper:after,
.passenger-wrap-content .close,.action__icon--dark:after,.checkin__stepbar .step-old a:before,
.checkin-seleziona-posto .accordion .is-active .accordion-title:before,.seatmap-section-nav-up:before,
.seatmap-section-nav-down:before,.seatmap-section-nav-up:after,.seatmap-section-nav-down:after,
.checkin-seleziona-posto .seats-list .user .seat:before,.chooseSeat__seats .tooltip:after,
.checkin-topbar-container .cart-content-wrap .cart-content .flight-info .title-wrap.open::after,
.checkin-topbar-container .cart-content-wrap .cart-content .flight-info .title-wrap::after,.button.plus:after,
.chkwavebaggage.button.plus:after,.chkwavebaggage.button.minus:after,.button.minus:after,.chkwavebaggage.button.minus:after,
.button.plus.no-active:after,.checkin-personalizza-volo-1 .flight-row.accordion .accordion-item .accordion-title::before,
.checkin-personalizza-volo-1 .customize-row .panel-wrap-content .close:after,.manage__form-view-ins button:after,
.reveal--manage .reveal__header .icon.icon--close:after,.manage__form-view-ins button:after,
.checkin-seleziona-posto .seat-configurator .reveal__header-mobile .close-button .icon--close--black:after{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-ico-button-plus-no-active:before {
  content: "\e995";
  color: #c1c1c1;
}
.icon-ico-button-minus-no-active:before {
  content: "\e996";
  color: #c1c1c1;
}
.icon-ico-button-minus-active:before {
  content: "\e997";
  color: #006643;
}
.icon-icon_diners-club .path1:before {
  content: "\e94f";
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path2:before {
  content: "\e950";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path3:before {
  content: "\e951";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path4:before {
  content: "\e952";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path5:before {
  content: "\e953";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path6:before {
  content: "\e954";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path7:before {
  content: "\e955";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path8:before {
  content: "\e956";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path9:before {
  content: "\e957";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path10:before {
  content: "\e958";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path11:before {
  content: "\e959";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path12:before {
  content: "\e95a";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path13:before {
  content: "\e95b";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path14:before {
  content: "\e95c";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path15:before {
  content: "\e95d";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path16:before {
  content: "\e95e";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path17:before {
  content: "\e95f";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path18:before {
  content: "\e960";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path19:before {
  content: "\e961";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path20:before {
  content: "\e962";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path21:before {
  content: "\e963";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path22:before {
  content: "\e964";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path23:before {
  content: "\e965";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path24:before {
  content: "\e966";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path25:before {
  content: "\e967";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path26:before {
  content: "\e968";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path27:before {
  content: "\e969";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path28:before {
  content: "\e96a";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path29:before {
  content: "\e96b";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path30:before {
  content: "\e96c";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path31:before {
  content: "\e96d";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path32:before {
  content: "\e96e";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path33:before {
  content: "\e96f";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path34:before {
  content: "\e970";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path35:before {
  content: "\e971";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path36:before {
  content: "\e972";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path37:before {
  content: "\e973";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_diners-club .path38:before {
  content: "\e974";
  margin-left: -1.599609375em;
  color: rgb(255, 255, 255);
}
.icon-icon_diners-club .path39:before {
  content: "\e975";
  margin-left: -1.599609375em;
  color: rgb(0, 74, 152);
}
.icon-icon_mastercard .path1:before {
  content: "\e976";
  color: rgb(29, 29, 27);
}
.icon-icon_mastercard .path2:before {
  content: "\e977";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_mastercard .path3:before {
  content: "\e978";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_mastercard .path4:before {
  content: "\e979";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_mastercard .path5:before {
  content: "\e97a";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_mastercard .path6:before {
  content: "\e97b";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_mastercard .path7:before {
  content: "\e97c";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_mastercard .path8:before {
  content: "\e97d";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_mastercard .path9:before {
  content: "\e97e";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_mastercard .path10:before {
  content: "\e97f";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_mastercard .path11:before {
  content: "\e980";
  margin-left: -1.599609375em;
  color: rgb(29, 29, 27);
}
.icon-icon_mastercard .path12:before {
  content: "\e981";
  margin-left: -1.599609375em;
  color: rgb(245, 158, 0);
}
.icon-icon_mastercard .path13:before {
  content: "\e982";
  margin-left: -1.599609375em;
  color: rgb(234, 97, 10);
}
.icon-icon_mastercard .path14:before {
  content: "\e983";
  margin-left: -1.599609375em;
  color: rgb(226, 13, 23);
}
.icon-icon_mastercard .path15:before {
  content: "\e984";
  margin-left: -1.599609375em;
  color: rgb(245, 158, 0);
}
.icon-icon_visa-electron .path1:before {
  content: "\e985";
  color: rgb(0, 90, 155);
}
.icon-icon_visa-electron .path2:before {
  content: "\e986";
  margin-left: -1.599609375em;
  color: rgb(255, 255, 255);
}
.icon-icon_visa-electron .path3:before {
  content: "\e987";
  margin-left: -1.599609375em;
  color: rgb(0, 90, 155);
}
.icon-icon_visa-electron .path4:before {
  content: "\e988";
  margin-left: -1.599609375em;
  color: rgb(250, 169, 41);
}
.icon-icon_visa-electron .path5:before {
  content: "\e989";
  margin-left: -1.599609375em;
  color: rgb(255, 255, 255);
}
.icon-icon_visa-electron .path6:before {
  content: "\e98a";
  margin-left: -1.599609375em;
  color: rgb(255, 255, 255);
}
.icon-icon_visa-electron .path7:before {
  content: "\e98b";
  margin-left: -1.599609375em;
  color: rgb(255, 255, 255);
}
.icon-icon_visa-electron .path8:before {
  content: "\e98c";
  margin-left: -1.599609375em;
  color: rgb(255, 255, 255);
}
.icon-icon_visa-electron .path9:before {
  content: "\e98d";
  margin-left: -1.599609375em;
  color: rgb(255, 255, 255);
}
.icon-icon_visa-electron .path10:before {
  content: "\e98e";
  margin-left: -1.599609375em;
  color: rgb(255, 255, 255);
}
.icon-icon_visa-electron .path11:before {
  content: "\e98f";
  margin-left: -1.599609375em;
  color: rgb(255, 255, 255);
}
.icon-icon_visa-electron .path12:before {
  content: "\e990";
  margin-left: -1.599609375em;
  color: rgb(255, 255, 255);
}
.icon-icon_visa-electron .path13:before {
  content: "\e991";
  margin-left: -1.599609375em;
  color: rgb(255, 255, 255);
}
.icon-icon_visa-electron .path14:before {
  content: "\e992";
  margin-left: -1.599609375em;
  color: rgb(255, 255, 255);
}
.icon-icon_visa-electron .path15:before {
  content: "\e993";
  margin-left: -1.599609375em;
  color: rgb(255, 255, 255);
}
.icon-icon_visa-electron .path16:before {
  content: "\e994";
  margin-left: -1.599609375em;
  color: rgb(255, 255, 255);
}
.icon-tooltip-tip:before {
  content: "\e94e";
  color: #e6e6e6;
}
.icon-ico-search:before, .icon-ico-notify:before, .icon-ico-question:before{
  font-size:15px;
}
.icon-ico-plus:before {
  content: "\e94d";
  color: #006643;
}
.icon-ico-checkin-ok .path1:before {
  content: "\e94a";
  color: rgb(230, 230, 230);
}
.icon-ico-checkin-ok .path2:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(0, 102, 67);
}
.icon-ico-checkin-ok .path3:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(0, 102, 67);
}
.icon-ico-clock:before {
  content: "\e930";
  color: #c1c1c1;
}
.icon-ico-non-disponibile:before {
  content: "\e931";
}
.icon-ico-emergenza:before {
  content: "\e932";
  color: #676767;
}
.icon-ico-emergenza-mobile:before {
  content: "\e939";
}
.icon-icon-cart:before {
  content: "\e93a";
  color: #96ae3b;
}
.icon-ico-posto:before {
  content: "\e93b";
  color: #676767;
}
.icon-ico-add-green:before {
  content: "\e93c";
  color: #006643;
}
.icon-ico-modifica-green:before {
  content: "\e93d";
  color: #006643;
}
.icon-ico-trash-green:before {
  content: "\e93e";
  color: #006643;
}
.icon-ico-faq:before {
  content: "\e93f";
  color: #676767;
}
.icon-ico-booking-active:before {
  content: "\e940";
  color: #006643;
}
.icon-ico-flights:before {
  content: "\e941";
  color: #676767;
}
.icon-ico-booking:before {
  content: "\e942";
  color: #676767;
}
.icon-ico-flights-active:before {
  content: "\e943";
  color: #006643;
}
.icon-ico-edit:before {
  content: "\e944";
  color: #006643;
}
.icon-checkbox .path1:before {
  content: "\e945";
  color: rgb(193, 193, 193);
}
.icon-checkbox .path2:before {
  content: "\e946";
  margin-left: -0.5078125em;
  color: rgb(193, 193, 193);
}
.icon-checkbox .path3:before {
  content: "\e947";
  margin-left: -0.5078125em;
  color: rgb(0, 102, 67);
}
.icon-ico-check:before {
  content: "\e948";
  color: #fff;
}
.icon-ico-faq-active:before {
  content: "\e949";
  color: #006643;
}

.icon-alert-close:before,.icon.icon--close:before,.passenger-wrap .close:before {
  margin-right:10px;
  content: "\e906";
  color: #fff;
  float: right;
}
.icon-alert-icon:before {
  margin-right:10px;
  content: "\e901";
  color: #75b829;
}
.icon-arrow-dropdown-white:before {
  margin-right:10px;
  content: "\e933";
  color: #fff;
}
.icon-arrow-dx-green:before {
  margin-right:10px;
  content: "\e903";
  color: #006643;
}
.icon-arrow-dx-red:before {
  margin-right:10px;
  content: "\e904";
  color: #c4262e;
}
.icon-arrow-dx-white:before {
  margin-right:10px;
  content: "\e934";
  color: #fff;
}
.icon-ico-fb:before {
  margin-right:10px;
  content: "\e935";
  color: #cbcbcb;
}
.icon-ico-in:before {
  margin-right:10px;
  content: "\e907";
  color: #cbcbcb;
}
.icon-ico-info-empty:before {
  margin-right:10px;
  content: "\e936";
  color: #fff;
}
.icon-ico-info-gray-full:before {
  margin-right:10px;
  content: "\e909";
  color: #676767;
}
.icon-ico-insta:before {
  margin-right:10px;
  content: "\e90a";
  color: #cbcbcb;
}
.icon-ico-menu:before {
  margin-right:10px;
  content: "\e90b";
  color: #676767;
}
.icon-ico-notify:before {
  margin-right:10px;
  content: "\e90c";
  color: #676767;
}
.icon-ico-question:before {
  margin-right:10px;
  content: "\e90d";
}
.icon-ico-search-big:before {
  content: "\e90e";
  color: #006643;
}
.icon-ico-search:before {
  margin-right:10px;
  content: "\e90f";
}
.icon-ico-select-dark:before {
  margin-right:10px;
  content: "\e910";
  color: #676767;
}
.icon-ico-select-green:before {
  margin-right:10px;
  content: "\e911";
  color: #008054;
}
.icon-ico-select-white:before {
  margin-right:10px;
  content: "\e937";
  color: #fff;
}
.icon-ico-tw:before {
  margin-right:10px;
  content: "\e913";
  color: #cbcbcb;
}
.icon-ico-user:before {
  content: "\e914";
  color: #006643;
}
.icon-ico-yt:before {
  margin-right:10px;
  content: "\e915";
  color: #cbcbcb;
}
.icon-icon_dropdown:before {
  margin-right:10px;
  content: "\e916";
  color:#333333;
}
.icon-icon-arrival:before {
  margin-right:10px;
  content: "\e917";
  color: #c1c1c1;
}
.icon-icon-calendar:before {
  margin-right:10px;
  content: "\e918";
  color: #c1c1c1;
}
.icon-icon-departure:before {
  margin-right:10px;
  content: "\e919";
  color: #c1c1c1;
}
.icon-icon-history-grey:before {
  margin-right:10px;
  content: "\e91a";
}
.icon-icon-reverse-green:before {
  margin-right:10px;
  content: "\e91b";
  color: #006643;
}
.icon-support-icon-1 .path1:before {
  content: "\e91c";
  color: rgb(117, 184, 41);
}
.icon-support-icon-1 .path2:before {
  content: "\e91d";
  margin-left: -1.5em;
  color: rgb(196, 38, 46);
}
.icon-support-icon-1 .path3:before {
  content: "\e91e";
  margin-left: -1.5em;
  color: rgb(196, 38, 46);
}
.icon-support-icon-2 .path1:before {
  content: "\e91f";
  color: rgb(117, 184, 41);
}
.icon-support-icon-2 .path2:before {
  content: "\e920";
  margin-left: -1.5em;
  color: rgb(196, 38, 46);
}
.icon-support-icon-3 .path1:before {
  content: "\e921";
  color: rgb(117, 184, 41);
}
.icon-support-icon-3 .path2:before {
  content: "\e922";
  margin-left: -1.5em;
  color: rgb(196, 38, 46);
}
.icon-support-icon-3 .path3:before {
  content: "\e923";
  margin-left: -1.5em;
  color: rgb(196, 38, 46);
}

.icon-ico-info-full:before {
  margin-right:10px;
  content: "\e938";
  color: #fff;
}
.icon-icon-it, .icon-icon-us, .icon-icon-uk, .icon-icon-fr, .icon-icon-es{
  font-size: 20px;
}
    
.icon-icon-it .path1:before {
  content: "\e900";
  color: rgb(241, 241, 242);
}
.icon-icon-it .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 168, 79);
}
.icon-icon-it .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(237, 55, 38);
}
.icon-icon-us .path1:before {
  content: "\e908";
  color: rgb(241, 241, 242);
}
.icon-icon-us .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(237, 55, 38);
}
.icon-icon-us .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(34, 60, 114);
}
.icon-icon-uk .path1:before {
  content: "\e925";
  color: rgb(0, 0, 0);
}
.icon-icon-uk .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(34, 60, 114);
}
.icon-icon-uk .path3:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(239, 235, 231);
}
.icon-icon-uk .path4:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(237, 55, 38);
}
.icon-icon-uk .path5:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(47, 62, 103);
}
.icon-icon-fr .path1:before {
  content: "\e92a";
  color: rgb(241, 241, 242);
}
.icon-icon-fr .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(34, 60, 114);
}
.icon-icon-fr .path3:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(237, 55, 38);
}
.icon-icon-es .path1:before {
  content: "\e92d";
  color: rgb(237, 55, 38);
}
.icon-icon-es .path2:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(237, 55, 38);
}
.icon-icon-es .path3:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 210, 1);
}



/* styling icons */
#main_search span.icon-alert-icon:before{
  font-size:27px;
  float:left;
}
.user-area a.user-login span.icon-ico-user{
    font-size: 24px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .validate-search--desktop span.icon-ico-select-white:before{
  font-size: 18px;
  margin-left: 10px;
}
a.cta-history--form span.icon-icon-history-grey{
  font-size: 18px;
  vertical-align: sub;  
}

a.cta--primary span.icon-arrow-dx-green{
  font-size: 17px;
  margin-left: 10px;
}
.cta-wrap.multitratta .cta.cta--primary.cta--icon.cta--form, .cta-wrap.biglietto-premio .cta.cta--primary.cta--icon.cta--form{
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.cta-wrap.multitratta .cta.cta--primary.cta--icon.cta--form:hover, .cta-wrap.biglietto-premio .cta.cta--primary.cta--icon.cta--form:hover{
  margin-right: 20px;
}

.cerca-volo .icon-alert-close:before {
    margin-right: 0px;
    float: right;
    font-size: 20px;
    font-weight: 600;
}
.current-departure .icon.icon-icon_dropdown{
  font-size: 20px;
}
.custom-card__section span.icon-arrow-dx-red, .novita__slider span.icon-arrow-dx-green, .values__slider span.icon-arrow-dx-white{
  font-size: 18px;
  vertical-align: sub;
}
.reverse-button .icon-icon-reverse-green{
  font-size: 22px;
  vertical-align: -webkit-baseline-middle;
  margin-left: 5px;
}

.footer__contacts span.icon-ico-info-empty{
  vertical-align: middle;
}

.footer__contacts span.icon-ico-info-empty:hover:before{
  content: "\e938";
}

.mobile-menu-toggle .icon-ico-menu{
  font-size: 27px;
}

.mobile-menu-tools .icon-ico-search-big{
  font-size: 30px;
  padding-top: 22px;
  display: block;
}
.user-area .icon-ico-user:before{
    vertical-align: text-top;
    font-size: 42px;
  }
.reveal--support .icon-support-icon-1,.reveal--support .icon-support-icon-2,.reveal--support .icon-support-icon-3{
  font-size: 43px;
  margin-top: 10px;
  display: block;
  margin-bottom: 25px;
}
.reveal-overlay .icon-alert-close:before, .icon.icon--close:before,.manage__form-view-ins button:after,.reveal--manage .reveal__header .icon.icon--close:after,.checkin-seleziona-posto .seat-configurator .reveal__header-mobile .close-button .icon--close--black:after {
  margin-right: 0px;
  content: "\e906";
  color: #fff;
  float: right;
  font-weight: 900;
  font-size: 20px;
}
.icon.icon--close.icon--close--black:before,.checkin-seleziona-posto .seat-configurator .reveal__header-mobile .close-button .icon--close--black:after{
  color: #000;
}

#panel-list_andata--prenota .icon-icon-departure,#panel-all-destination .icon-icon-arrival{
  display: block;
  position: absolute;
  top: 13px;
  left: 16px;
  font-size: 25px;
}

#panel-date-andata--prenota .icon-icon-calendar, #panel-date-ritorno--prenota .icon-icon-calendar, #departure_date--flight-status-mobile .icon-icon-calendar, #panel-data--flight-status .icon-icon-calendar{
  position: absolute;
  top: 35px;
  font-size: 20px;
  left: 39px;
} 
    
@media (min-width: 1024px) {
  .user-area .icon-ico-user:before{
    vertical-align: text-top;
    font-size: 30px;  
  }
  .user-area .icon-ico-user{
    vertical-align: text-bottom;
  }
}
@media (max-width: 1023px) {
  .icon-icon-reverse-green:before{
    color: #fff;
    margin-left: 12px;
    margin-top: -15px;
    display: block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
  }
}

/* CHECK IN */
.sidebar-nav .flights,.sidebar-nav .booking, .sidebar-nav .faq{
  /*padding-left: 0;*/
  display: inline-flex;
}
.selected .icon-ico-booking:before,.selected .icon-ico-flights:before, .selected .icon-ico-faq:before {
  color: #006643;
}
.flights a,.booking a, .faq a{
  /*padding-left: 24px;*/
}
.flights .icon-ico-flights, .flights .icon-ico-flights, .faq .icon-ico-faq, .booking .icon-ico-booking{
    font-size: 22px;
    display: inline-block;
}
.booking .icon-ico-booking{
  font-size: 18px;
}
.flight-info__date-clock .icon-ico-clock{
  font-size: 18px;
  padding-right: 10px;
  vertical-align: middle;
}
.flight-info__date .icon-icon-departure, .flight-info__date .icon-icon-arrival{
  font-size: 25px;
  vertical-align: middle;
}
.passenger-wrap .passengerGender:after,.passenger-wrap .select-wrapper:after {
    content: "\e910";
    color: #676767;
    display: inline-block;
    position: absolute;
    left: 20%;
    font-size: 14px;
    top: 80px;
    pointer-events: none;
}
.checkin-lista-pax-1 .passenger-wrap .passengerGender:after,.passenger-wrap .select-wrapper:after {
  top: 100px;
}
.passenger-wrap .select-wrapper:after {
    left: 80%;
    top: 42px;
}
.passenger-wrap-content .close:before{
  color: #006643;
  font-weight: 700;
  float: none;
}
.passengerLinkEdit .icon-ico-edit{
  font-size:20px;
}
@media (max-width: 355px) {
  .passenger-wrap .passengerGender:after,.passenger-wrap .select-wrapper:after  {
    left: 88%;
  }
  .passenger-wrap .select-wrapper:after {
    left: 90%;
    top: 42px;
  }
  .checkin-seleziona-posto .seats-list .user .seat{
    width: 85%;
  }
}
@media (min-width: 356px) and (max-width: 535px) {
 .checkin-seleziona-posto .seats-list .user .seat{
    width: 87%;
  } 
}
@media (min-width: 536px) and (max-width: 735px) {
 .checkin-seleziona-posto .seats-list .user .seat{
    width: 93%;
  } 
}
@media (min-width: 736px) {
 .checkin-seleziona-posto .seats-list .user .seat{
    width: 95%;
  } 
}
.flight-info__content .icon-ico-edit,.flight-info__content .icon-ico-add-green,.flight-info--manage .icon-ico-trash-green,
.action__icon--arrow-down .icon-ico-select-green, .action__icon--arrow-up .icon-ico-select-green{
  padding-left: 20px;
  vertical-align: middle;
}
.action__icon--delete .icon-ico-trash-green{
  font-size: 20px;
}
.action__icon--arrow-up .icon-ico-select-green:before,.action__icon--arrow-up .icon-icon_dropdown:before{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  display: inline-block;
  color: #006643;
  margin-left: 15px;
} 
.flight-info--manage .action__icon--dark{
  padding-right: 0;
}
.flight-info--manage .action__icon--dark:after{
  content: "\e903";
  color: #006643;
}
.passengerLinkEdit .icon-ico-edit:before{
  font-size: 20px;
}
.passengerLinkEdit .icon-alert-icon:before{
  color: #E10E20;
  font-size: 25px;
  vertical-align: sub;
}
.passenger-wrap-top .field-wrap .icon-checkbox{
    font-size: 58px;
    line-height: 0.1;
    margin-left: 2px;
}
.checkin__stepbar .step-old a:before{
  content: "\e948";
  color: #fff;
  font-size: 13px;
  padding-right: 10px;
}
.seat-configurator .icon-ico-non-disponibile:before, .seat-configurator .icon-ico-emergenza:before{
  content: "\e931";
  color: #c1c1c1;
  font-size: 18px;
  vertical-align: middle;
  margin-right: 15px;
  margin-left: 1px;
}
.seat-configurator .icon-ico-emergenza:before{
  content: "\e932";
  color: #676767;
}
.emergency .icon-ico-emergenza-mobile:before{
  color:#555;
}
.emergency .icon-ico-emergenza:before{
 vertical-align: unset;
  margin-right: 0;
  margin-left: 0px; 
}
.checkin-seleziona-posto .icon-ico-info-empty:before, .checkin-seatmap-1 .icon-ico-info-empty:before{
  margin-right: 10px;
  content: "\e936";
  color: #000;
  font-size: 15px;
  display: block;
}
    
.checkin-topbar .cart-review .icon-icon-cart{
  font-size: 32px;
  float: left;
  margin-left: -50px;
  /* margin-top:5px; */
  margin-top: -10px;
}
.checkin-topbar .cart-review .icon-icon-cart:before{
  font-size: 32px;
}
.cart-toggle .icon-arrow-dropdown-white{
  padding-left: 0px;
  margin-left: -2px;
  display: block;
}
.cart-toggle .icon-arrow-dropdown-white:before{
  margin-right: 0;
}
.is-stuck .checkin-topbar .cart-review .icon-icon-cart{
  margin-top:-10px;
}
.checkin-seleziona-posto .accordion .is-active .accordion-title:before{
  content: "\e933";
  color: #fff;
}

.passenger-exclude-chd .icon-ico-posto{
  clear: left;
  margin-top: 10px;
  margin-right: 0px;
  font-size: 18px;
  float:left;
  display: inline-block;
  margin-top: 9px;
}
.seatmap-section-nav-up:before,.seatmap-section-nav-down:before,
.seatmap-section-nav-up:after,.seatmap-section-nav-down:after{
  margin-right:10px;
  content: "\e903";
  color: #006643;
  font-size: 10px;
  font-weight: 700;
} 
.passenger-exclude-chd .name{
  display: block;
}
.flight-info__date .icon-ico-clock:before{
  margin-right: 10px;
}

.flight-info__content .action__icon--arrow-down .icon-icon_dropdown:before{
    margin-left: 15px;
    content: "\e916";
    color: #006643;
    vertical-align: middle;
}
.checkin-thank-you-1 .icon-ico-checkin-ok  {
  text-align: center;
  display: block;
  font-size: 40px;  
}

.flight-info__detail .icon-icon-departure:before{
  margin-right: 10px;
  display: inline-block;
  padding-top: 0;
  font-size: 25px;
  position: unset;
}
span[class*="passengerDataError"]:before,a[id*="passengerLinkEdit"] span:before{
    content: "\e901";
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 24px;
    margin-right: 10px;
    vertical-align: sub;
}
a[id*="passengerLinkEdit"] span:before{
  content: "\e944";
  color: #006643;
  font-size: 20px;
}
span.chkPassenger.placeholder:before{

}
.tooltip .icon--close--black:before{
  content: "\e906";
  color: #000;
}

.chooseSeat__seats .tooltip:after{
  font-size: 8px;
  content: "\e94e";
  color: #e6e6e6;
}
.checkin-topbar-container .cart-content-wrap .cart-content .flight-info .title-wrap::after{
  color:#000;
}
.payment-type.icon-icon_diners-club,.payment-type.icon-icon_mastercard,.payment-type.icon-icon_visa-electron{
  font-size: 35px;  
  margin-left: 0;  
}
.payment-wrap-content .icon-ico-info-empty:before{
  color: #676767;
  display: block;
}
.payment-wrap-content .icon-ico-info-empty:hover:before{
  content: "\e909";
}
.chkwavebaggage.button.plus:after,.button.plus:after,.chkwavebaggage.button.minus:after,.button.minus:after{
  content: "\e94d";
  color: #006643;
  font-size: 16px;
}
.button.minus:after,.chkwavebaggage.button.minus:after{
  content: "\e997";
  font-size:2px;
  display: block;
}
.button.minus.no-active:after{
  content: "\e996";
  color: #c1c1c1;
  font-size:2px;
  display: block;
}
.button.plus.no-active:after{
  content: "\e995";
  color: #c1c1c1;
  font-size: 16px;
  display: block;
}
.alert-row .icon-alert-icon:before{
  color: rgb(226, 13, 23);
  font-size: 26px;
}
.checkin-personalizza-volo-1 .flight-row.accordion .accordion-item.is-active .accordion-title::before{
  content: '\e916';
  font-size: 15px;  
}

.checkin-personalizza-volo-1 .customize-row .panel-wrap-content .close:after{
  content:"\e906"; 
  color: #008054; 
  font-weight: 700;
}
.manage__form-view-ins button:after {
 
    font-size: 11px;
    color: black;
}

