#header [aria-hidden="true"] {

    /* AMS Bugfix #4584 header menu hidden */
    /* display: initial!important; Originale */
    display: inline-block; /* Correzione */
    /* Fine bugfix #4584 */

    line-height:1.1!important;
}
#support .supportMenu__group{
    float:none!important;
    width:auto!important;
    min-height:auto!important;
}

[class^="icon"] {

    /* AMS Bugfix #4584 header menu hidden */
    /* text-indent: initial;
       display: initial; Originale */
    text-indent: 0px; /* Correzione */
    display: inline; /* Correzione */
    /* Fine bugfix #4584 */

    height: auto;
}
body {
  font-family: "lato", sans-serif!important;
  font-weight: 400;
  line-height: 1.4!important;
  color: inherit!important;
}
#login .loader, #login-ma .loader{
    border: none!important;
}
#myalitalia-login input[type='text'], #myalitalia-login input[type='password'], #login input[type='text'], #login input[type='password'],
#login-ma input[type='text'], #login-ma input[type='password'], #login-ma input[type='text'], #login-ma input[type='password']{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 3.125rem;
    margin: 0 0 1rem;
    padding: .84375rem;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.customSelect select, .checkinCustomSelect select{
    border:none!important;
    border-radius:0px!important;
}
.innerPage__aside.specialOffers__boxesAside{
    position: sticky;
}
.user-signin{
    vertical-align:initial;
}
.icon{
    width:inherit!important;
    height:inherit!important;
}
.booking__date .booking__dateListCover .dateBlockWrapper .dateBlock{
    line-height: 16px!important;
}.booking__date .booking__dateListCover .dateBlockWrapper .dateBlock__price{
    line-height: 20px!important;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
    margin:0px!important
}
#booking-flight-select-selection{
    position: sticky!important;
}
.bookingTable__header .bookingTable__leftRow{
    padding:8px 15px!important;
}
.verticalAlignMiddle{
    /*line-height: initial!important;*/
}
.customSelect, .checkinCustomSelect{
    width: auto!important;
}
.customSelect:after, .checkinCustomSelect:after{
    line-height: inherit!important;
    top: 0;
}
.booking__fightPreview .row{
    padding:initial!important
}

.displayFlex{
    display: flex !important;
}

div.displayFlex .bookingFlightDetails__flightNumber{
    vertical-align:top;
}

.myexp__step2 input[type="file"] {
    line-height: 1.15;
}