.white {
    color: white;
}
.dark-grey {
    background-color: #3d3e3f;
}
.grey {
    background-color: #4c4d4f;
}
footer h5 {
    padding: 20px 0;
    fonte-weight: 600;
}
footer h5,
footer p {
    color: white;
}
footer .icon {
    display: inline-block;
    *display: inline;
    zoom: 1;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 0;
}
footer .icon.icon--info {
    width: 22px;
    height: 22px;
    background-size: contain;
    vertical-align: middle;
    border-bottom: none;
    color: white;
}
.footer__credits,
.footer__links,
.footer__nav {
    background-color: #4c4d4f;
}
.footer__contacts {
    background-color: #3d3e3f;
}
.footer__contacts p {
    margin-top: 0;
    font-size: 21px;
    margin-bottom: 13px;
}
.footer__contacts p strong {
    float: left;
    padding-right: 5px;
}
.footer__contacts a {
    padding-right: 15px;
}
.footer__contacts .footer__social {
    padding: 20px 0;
}
.footer__contacts .footer__social a {
    display: inline;
}
.footer__contacts .footer__social a img {
    width: 40px;
    height: 40px;
}
.footer__contacts .footer__app {
    padding: 20px 0;
}
.footer__contacts .footer__app a img {
    max-width: 40%;
}
.footer__links {
    border-top: 1px solid #fff;
}
.footer__links .footer__link {
    padding: 1rem;
}
.footer__links .footer__link a {
    font-size: 17px;
    color: white;
    width: 100%;
    display: block;
    font-weight: bold;
    position: relative;
    font-family: 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
}
.footer__links .footer__link a:after {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    /*background-image: url('/../../etc/designs/alitalia/clientlibs-1/images/arrow-dropdown-white.svg');*/
    background-position: center center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    background-size: 100%;
    content: "";
    top: 0;
    right: 20px;
    margin-top: 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: absolute;
    right: 0;
}
.footer__credits {
    padding-top: 0;
}
.footer__credits p {
    color: white;
    text-align: center;
    margin-top: 0;
    padding: 0 15px;
    font-size: 15px;
}
.footer__credits p a {
    color: white;
    text-decoration: none;
}
.footer__nav .accordion {
    display: block;
    background-color: #4c4d4f;
}
.footer__nav .accordion-item {
    padding: 1rem;
}
.footer__nav .accordion-item:first-child > :first-child {
    border: none;
    border-radius: 0;
}
.footer__nav .accordion-item:last-child:not(.is-active) > .accordion-title {
    border: none;
    border-radius: 0;
}
.footer__nav .accordion-item.is-active .accordion-title:before {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.footer__nav .accordion-item .accordion-title {
    border: none;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    font-family: 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
    color: white;
    background-color: #4c4d4f;
    padding: 0 .625rem;
    text-transform: uppercase;
}
.footer__nav .accordion-item .accordion-title:hover {
    background-color: #4c4d4f;
}
.footer__nav .accordion-item .accordion-title:before {
    /*background-image: url('/../../etc/designs/alitalia/clientlibs-1/images/arrow-dropdown-white.svg');*/
    background-position: center center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    background-size: 100%;
    content: "";
    top: 0;
    right: 20px;
    margin-top: 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: absolute;
    right: 0;
}
.footer__nav .accordion-item .accordion-content {
    border: none;
    background-color: #4c4d4f;
    line-height: 26px;
    padding: .3rem .625rem;
}
.footer__nav .accordion-item .accordion-content:last-child {
    border: none;
    border-radius: 0;
}
.footer__nav .accordion-item .accordion-content a {
    color: white;
}
@media (min-width: 768px) {
    footer .icon {
        display: inline-block;
        *display: inline;
        zoom: 1;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    footer .icon.icon--info {
        width: 14px;
        height: 14px;
    }
    .footer__contacts {
        padding: 10px 0;
    }
    .footer__contacts p {
        font-size: 18px;
    }
    .footer__contacts p strong {
        float: left;
    }
    .footer__contacts p .contact--text {
        float: left;
        padding-right: 5px;
    }
    .footer__contacts .footer__social {
        padding-top: 0;
    }
    .footer__contacts .footer__social a {
        padding-right: 20px;
    }
    .footer__contacts .footer__social a img {
        width: 35px;
        height: 35px;
    }
    .footer__contacts h5 {
        font-size: 16px;
    }
    .footer__contacts .footer__app {
        display: inline-block;
        *display: inline;
        zoom: 1;
        width: 100%;
    }
    .footer__contacts .footer__app h5 {
        float: left;
        padding-top: 0;
    }
    .footer__contacts .footer__app a {
        float: left;
        padding-left: .625rem;
    }
    .footer__contacts .footer__app a img {
        max-width: 100%;
    }
    .footer__links .footer__link {
        padding: 1rem 0;
    }
    .footer__credits {
        padding: 10px 0;
        background-color: white;
    }
    .footer__credits p {
        color: #000;
        font-size: 12px;
        padding: 0 20%;
    }
    .footer__credits p a {
        color: #000;
    }
    .footer__nav .accordion-title {
        border: none;
        font-size: 17px;
        font-weight: bold;
        position: relative;
        font-family: 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
        color: white;
    }
    .footer__nav .accordion-item {
        padding: 1rem 0;
    }
}
@media (min-width: 1024px) {
    .footer__contacts a {
        padding-right: 0;
        margin-right: 15px;
    }
    .footer__contacts h5 {
        padding-bottom: 10px;
    }
    .footer__contacts p {
        font-size: 18px;
        float: left;
    }
    .footer__contacts p strong {
        display: block;
    }
    .footer__contacts .footer__app h5 {
        float: none;
    }
    .footer__contacts .footer__app a {
        padding-left: 0;
    }
    .footer__contacts .footer__social a img {
        width: 34px;
        height: 34px;
    }
    .footer__contacts .footer__social a {
        padding-right: 0;
        margin-right: 20px;
    }
    .footer__links {
        padding: 20px 0;
    }
    .footer__links .footer__link {
        text-align: center;
        padding: 1rem 0;
    }
    .footer__links .footer__link a {
        font-size: 14px;
    }
    .footer__links .footer__link a:after {
        display: none;
    }
    .footer__credits p {
        padding: 0;
        text-align: left;
    }
    .footer__nav .footer__accordion.footer__accordion--16 .accordion-item {
        width: 16.66667%;
        float: left;
        padding: 0;
        padding: 1rem;
    }
    .footer__nav .footer__accordion.footer__accordion--16 .accordion-item .accordion-title {
        font-size: 14px;
        cursor: default;
    }
    .footer__nav .footer__accordion.footer__accordion--16 .accordion-item .accordion-title:before {
        display: none;
    }
}

