@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);
.wdg-adr-parking{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-flow:row;
    flex-flow:row;
    height:225px;
    max-width:1080px;
    border-radius:4px;
    background-color:#fff;
    -webkit-box-shadow:0 0 16px 0 rgba(0,0,0,.15);
    box-shadow:0 0 16px 0 rgba(0,0,0,.15)
}
@media screen and (max-width:540px){
    .wdg-adr-parking{
        height:auto
    }
}
.wdg-form{
    -webkit-box-flex:0;
    -ms-flex:0 1 auto;
    flex:0 1 auto;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    padding:10px 12px 6px
}
@media screen and (max-width:540px){
    .wdg-form{
        padding:10px 16px
    }
}
.wdg-form-title{
    color:#4e4e4e;
    font-family:"Open Sans";
    font-size:20px;
    font-weight:700;
    line-height:22px;
    -webkit-box-flex:0;
    -ms-flex:0 1 100%;
    flex:0 1 100%;
    -webkit-box-ordinal-group:2;
    -ms-flex-order:1;
    order:1;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    min-height:47px;
    margin:0 12px 10px
}
.wdg-form-title:before{
    content:"";
    background-image:url(/etc/designs/alitalia/clientlibs-alitalia-widget-embed/img/easy_parking.jpg);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center left;
    width:210px;
    height:87px;
    margin-right:14px
}
@media screen and (max-width:540px){
    .wdg-form-title:before{
        width:106px;
        height:42px
    }
}
@media screen and (max-width:540px){
    .wdg-form-title{
        margin:0 0 12px
    }
}
@media screen and (max-width:540px) and (max-width:340px){
    .wdg-form-title{
        font-size:16px
    }
}
.wgt-form-select{
    -webkit-box-flex:0;
    -ms-flex:0 1 calc(50% - 26px);
    flex:0 1 calc(50% - 26px);
    height:32px;
    border:1px solid #f0f0f0;
    margin:0 12px;
    position:relative
}
@media screen and (max-width:540px){
    .wgt-form-select{
        -webkit-box-flex:0;
        -ms-flex:0 1 100%;
        flex:0 1 100%;
        margin:0 0 12px
    }
}
.wgt-form-select select{
    font-size:12px;
    color:#4e4e4e;
    width:100%;
    border:0;
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    overflow:hidden;
    border-radius:4px;
    background-color:#fff;
    height:30px;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    padding:0 .5em;
    cursor:pointer;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
    padding-left:30px;
    background-repeat:no-repeat;
    position:relative
}
.wgt-form-select__airport select{
    background-image:url(/etc/designs/alitalia/clientlibs-alitalia-widget-embed/img/partenze.png);
    background-size:20px 11px;
    background-position:3px 12px
}
.wgt-form-select__transport select{
    background-size:14px 12px;
    background-position:-25px 9px;
    background-image:url(/etc/designs/alitalia/clientlibs-alitalia-widget-embed/img/car.png)
}
.wgt-form-select__transport.car select{
    background-size:14px 12px;
    background-image:url(/etc/designs/alitalia/clientlibs-alitalia-widget-embed/img/car.png)
}
.wgt-form-select__transport.moto select{
    background-size:16px 12px;
    background-image:url(/etc/designs/alitalia/clientlibs-alitalia-widget-embed/img/moto.png)
}
.wgt-form-select:after{
    content:"";
    background-image:url(/etc/designs/alitalia/clientlibs-alitalia-widget-embed/img/accordion.png);
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    top:14px;
    right:10px;
    cursor:pointer;
    pointer-events:none;
    width:11px;
    height:6px
}
.wgt-form-select.wgt-form-select__airport{
    display:none;
    -webkit-box-ordinal-group:3;
    -ms-flex-order:2;
    order:2
}
.wgt-form-select.wgt-form-select__transport{
    -webkit-box-ordinal-group:5;
    -ms-flex-order:4;
    order:4
}
@media screen and (max-width:540px){
    .wgt-form-select.wgt-form-select__transport{
        -webkit-box-ordinal-group:4;
        -ms-flex-order:3;
        order:3
    }
}
.wgt-form-date{
    -webkit-box-flex:0;
    -ms-flex:0 1 calc(50% - 26px);
    flex:0 1 calc(50% - 26px);
    margin:0 12px;
    border:0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:initial;
    -ms-flex-pack:initial;
    justify-content:initial;
    height:32px;
    font-size:12px
}
@media screen and (max-width:540px){
    .wgt-form-date{
        -webkit-box-flex:1;
        -ms-flex:1 1 100%;
        flex:1 1 100%;
        margin:0 0 12px
    }
}
.wgt-form-date input{
    -webkit-box-flex:0;
    -ms-flex:0 1 calc(50% - 6px);
    flex:0 1 calc(50% - 6px);
    border:0;
    background-image:url(/etc/designs/alitalia/clientlibs-alitalia-widget-embed/img/calendar.png);
    padding:0 0 0 20px;
    background-size:14px;
    background-repeat:no-repeat;
    background-position:3px 7px;
    height:30px;
    margin:0 6px;
    font-size:12px;
    border:1px solid #f0f0f0
}
.wgt-form-date input::-webkit-input-placeholder{
    font-size:12px
}
.wgt-form-date input:-ms-input-placeholder{
    font-size:12px
}
.wgt-form-date input::-ms-input-placeholder{
    font-size:12px
}
.wgt-form-date input::placeholder{
    font-size:12px
}
.wgt-form-date input:focus{
    outline:0
}
.wgt-form-date__start{
    -webkit-box-ordinal-group:4;
    -ms-flex-order:3;
    order:3
}
@media screen and (max-width:540px){
    .wgt-form-date__start{
        -webkit-box-ordinal-group:5;
        -ms-flex-order:4;
        order:4
    }
}
.wgt-form-date__stop{
    -webkit-box-ordinal-group:6;
    -ms-flex-order:5;
    order:5
}
.wgt-form-submit{
    -webkit-box-ordinal-group:8;
    -ms-flex-order:7;
    order:7
}
.wdg-logo-ra_exp{
    height:34px;
    -webkit-box-flex:0;
    -ms-flex:0 1 calc(50% - 24px);
    flex:0 1 calc(50% - 24px);
    margin:0 12px;
    background-image:url(/etc/designs/alitalia/clientlibs-alitalia-widget-embed/img/ra_experience.png);
    background-repeat:no-repeat;
    background-size:auto 24px;
    background-position:center;
    -webkit-box-ordinal-group:7;
    -ms-flex-order:6;
    order:6
}
@media screen and (max-width:540px){
    .wdg-logo-ra_exp{
        -webkit-box-flex:0;
        -ms-flex:0 1 100%;
        flex:0 1 100%;
        -webkit-box-ordinal-group:8;
        -ms-flex-order:7;
        order:7;
        height:24px
    }
}
.wgt-form-hour-sel{
    -webkit-box-flex:0;
    -ms-flex:0 1 50%;
    flex:0 1 50%;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
    background-repeat:no-repeat;
    position:relative;
    border:0;
    background-image:url(/etc/designs/alitalia/clientlibs-alitalia-widget-embed/img/time.png);
    background-size:14px;
    background-position:-16px 3px;
    background-repeat:no-repeat;
    padding-left:20px;
    height:30px;
    font-size:12px;
    color:#4e4e4e;
    border:1px solid #f0f0f0;
    border-radius:unset; 
    margin-top: auto;                
}
select.wgt-form-hour-sel{
padding: 5px 0 0 20px;
}                
.wgt-form-submit{
    -webkit-box-flex:0;
    -ms-flex:0 1 calc(50% - 24px);
    flex:0 1 calc(50% - 24px);
    height:36px;
    border-radius:3px;
    background-color:#1e57a4;
    margin:0 12px;
    color:#fff;
    font-family:"Open Sans";
    font-size:14px;
    font-weight:700;
    line-height:19px;
    text-align:center;
    border:0
}
.wgt-form-submit:focus{
    outline:0
}
.wgt-form-submit:disabled{
    background-color:#dedede
}
@media screen and (max-width:540px){
    .wgt-form-submit{
        -webkit-box-flex:1;
        -ms-flex:1 1 100%;
        flex:1 1 100%;
        -webkit-box-ordinal-group:7;
        -ms-flex-order:6;
        order:6;
        margin:0 0 18px
    }
}
.wdg-image{
    background-image:url(/etc/designs/alitalia/clientlibs-alitalia-widget-embed/img/banner_widget_alitalia_20190726_06.jpg);
    background-size:cover;
    position:relative;
    -webkit-box-flex:1;
    -ms-flex:auto;
    flex:auto;
    width:100%
}

.wdg-image.new-image{
    background-image:url(/etc/designs/alitalia/clientlibs-alitalia-widget-embed/img/banner_widget_alitalia_20190729_ENG.jpg);
    background-size:cover;
    position:relative;
    -webkit-box-flex:1;
    -ms-flex:auto;
    flex:auto;
    width:100%
}


@media screen and (max-width:810px){
    .wdg-image{
        display:none
    }
}
.wdg-image .wdg-image__title{
    color:#fff;
    font-family:"Open Sans";
    font-size:24px;
    font-weight:700;
    line-height:32px;
    text-align:right;
    position:absolute;
    bottom:30px;
    right:30px
}
.wgt-blank{
    -webkit-box-ordinal-group:7;
    -ms-flex-order:6;
    order:6;
    -webkit-box-flex:0;
    -ms-flex:0 1 calc(50%-24px);
    flex:0 1 calc(50%-24px);
}
 .wdg-adr {
     display: flex;
     justify-content: center;
     margin-top:40px;
     margin-bottom:180px;
}



@media (min-width: 481px) and (max-width: 767px) {

 .wdg-adr {
     display: flex;
     justify-content: center;
     margin-top:40px;
     margin-bottom:110px;
}

}