.feedback-error{
    float: none;
    position: absolute;
    margin: 10px 0;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    color: #e30512;
}

.success{
    color: #73a13f!important;
}
.fail{
    color: #e30512!important;
}

.custom-selected {
    color: #006643 !important;
    font-weight: 900 !important;
}