/* FONT SIZE */

.rteSize9 {
	font-size: 9px;
}

.rteSize10 {
	font-size: 10px;
}

.rteSize12 {
	font-size: 12px;
}

.rteSize14 {
	font-size: 14px;
}

.rteSize16 {
	font-size: 16px;
}

.rteSize18 {
	font-size: 18px;
}

.rteSize24 {
	font-size: 24px;
}

.rteSize36 {
	font-size: 36px;
}

.rteSize48 {
	font-size: 48px;
}