.bg-alert {
  background-color: #333333;
  padding: 15px 0;
}
.bg-alert .row {
  position: relative;
}
.bg-alert p {
  margin: 0;
  font: 400 13px 'Source Sans Pro', Arial, sans-serif;
  color: white;
  margin-right: 40px;
}
.bg-alert p strong {
  text-transform: uppercase;
  color: #75b829;
  font-weight: 700;
}
.bg-alert .ico-close {
  position: absolute;
  top: 4px;
  right: 20px;
  width: 18px;
  height: 18px;
  /*background-image: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/alert-close.svg');*/
  background-size: 100% auto;
  /*text-indent: -9999px;*/
  color: white;
}
.bg-alert .ico-close:focus {
  outline: none;
}
@media (min-width: 768px) {
  .bg-alert {
    padding: 12px 0;
  }
  .bg-alert p {
    font-size: 16px;
    margin-right: 140px;
  }
  .bg-alert .ico-close {
    right: 50px;
  }
}
@media (min-width: 1024px) {
  .bg-alert {
    padding: 8px 0;
  }
  .bg-alert p {


    font-size: 14px;
    padding: 5px 40px 0px;
    /*background: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/alert-icon.svg') left bottom no-repeat;*/
    background-size: 28px 24px;
  }
.bg-alert p:before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 27px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e901";
  margin-right: 25px;
  margin-top:-5px;
  color: #75b829;
  float: left;
  display: inline-block;
}
  .bg-alert p strong {
    color: white;
    font-size: 16px;
  }
  .bg-alert .ico-close {
    top: 6px;
    right: 45px;
    width: 24px;
    height: 24px;
  }
  /*.bg-alert a.ico-close:before{
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 15px;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e935";
    float: right;
    margin-top: -19px;
  }*/
    .bg-alert .ico-close:focus {
      outline: 1px solid #fff;
    }
}
