.widget-research label[for=booking_code]{
    text-transform: lowercase;
}
.widget-research label[for=booking_code]:first-letter{
    text-transform: uppercase;
}
.booking-research {
  background-color: #e6e6e6;
}
.booking-research .custom-row {
  margin-left: -10px;
  margin-right: -10px;
}
.booking-research .custom-row::after,
.booking-research .custom-row::before {
  display: table;
  content: '';
  clear: both;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.booking-research .custom-row::after {
  clear: both;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.booking-research .custom-row .custom-col {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.booking-research .custom-input-group {
  position: relative;
}
.booking-research .input-wrap input:focus {
  border: 2px solid #006643;
}
.booking-research .button-wrap .button {
  width: 100%;
}
.booking-research .widget-research {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.booking-research .widget-error {
  background-color: #ddd;
  color: red;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.booking-research .widget-error .labelError{
  color:red;
  font-weight:bold;
}

.booking-research .widget-research .loader-check-in-search{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 64px;
    margin-left:5px;
    width: calc(100% - 10px);
    height: 100%;
    z-index: 203;
    background: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: none;
}

.booking-research .widget-research .loader-check-in-search .fade-circle{
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
    border-radius: 100%;
    font-size: 9px;
    width: 1em;
    height: 1em;
    animation: fade-circle 1.5s infinite ease;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    }

@media (min-width: 768px) {
  .booking-research .custom-row .custom-col {
    float: left;
  }
  .booking-research .custom-row .custom-medium-33 {
    width: 33.33%;
  }
  .booking-research .custom-row .custom-medium-50 {
    width: 50%;
  }
  .booking-research .custom-row .custom-medium-offset-33 {
    margin-left: 33.33%;
  }
  .booking-research .custom-input-group {
    overflow: hidden;
    margin: 0 -10px;
  }
  .booking-research .custom-input-group .input-wrap {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
  .booking-research .radio-group {
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 0;
  }
  .booking-research .radio-group .radio-wrap {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-left: 45px;
  }
  .booking-research .radio-group .radio-wrap:first-child {
    margin-left: 0;
  }
  .booking-research .radio-group .placeholder,
  .booking-research .radio-group label {
    line-height: 20px;
  }
  .booking-research .radio-group label {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .booking-research .custom-row .custom-col {
    float: left;
  }
  .booking-research .custom-row .custom-large-5 {
    width: 5%;
  }
  .booking-research .custom-row .custom-large-20 {
    width: 20%;
  }
  .booking-research .custom-row .custom-large-30 {
    width: 30%;
  }
  .booking-research .custom-row .custom-large-35 {
    width: 35%;
  }
  .booking-research .custom-row .custom-large-40 {
    width: 40%;
  }
  .booking-research .custom-row .custom-large-60 {
    width: 60%;
  }
  .booking-research .custom-row .custom-medium-offset-33 {
    margin-left: 0;
  }
  .booking-research .custom-input-group {
    margin: 0;
  }
  .booking-research .custom-input-group .input-wrap {
    padding: 0;
  }
  .booking-research .custom-input-group .input-wrap:first-child input {
    border-right: none;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 5;
    -webkit-border-top-left-radius: 5;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 5;
    -moz-border-radius-topleft: 5;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5;
    border-top-left-radius: 5;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .booking-research .custom-input-group .input-wrap:last-child input {
    -webkit-border-top-right-radius: 5;
    -webkit-border-bottom-right-radius: 5;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 5;
    -moz-border-radius-bottomright: 5;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 5;
    border-bottom-right-radius: 5;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .booking-research .custom-input-group .input-wrap.selected:first-child input {
    border-right: 1px solid #c1c1c1;
  }
  .booking-research .custom-input-group .input-wrap.selected input:focus {
    border: 2px solid #006643;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .booking-research .custom-input-group .input-wrap.not-selected:first-child input {
    border-right: none;
  }
  .booking-research .custom-input-group .input-wrap.not-selected:last-child input {
    border-left: none;
  }
}
