.capitalize{
    text-transform: lowercase;
}
.capitalize::first-letter{
    text-transform: uppercase;
}
.section--cerca-volo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  pointer-events: none;
}
.section--cerca-volo .custom-row {
  margin-left: -10px;
  margin-right: -10px;
}
.section--cerca-volo .custom-row::after,
.section--cerca-volo .custom-row::before {
  display: table;
  content: '';
  clear: both;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.section--cerca-volo .custom-row::after {
  clear: both;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.section--cerca-volo .custom-row .custom-col {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 1px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.section--cerca-volo .tabs,
.section--cerca-volo .tabs-content,
.section--cerca-volo .accordion-content,
.section--cerca-volo .accordion-title,
.section--cerca-volo :last-child:not(.is-active) > .accordion-title {
  border: none;
}
.section--cerca-volo .accordion-title:hover,
.section--cerca-volo .accordion-title:focus,
.section--cerca-volo .accordion-content {
  background-color: transparent;
}
.section--cerca-volo.overlay--mobile {
  position: static;
  background-color: #006643;
}
.section--cerca-volo.overlay--mobile .cerca-volo #cerca-volo__widget {
  background-color: white;
}
.section--cerca-volo .cerca-volo {
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1150px;
  pointer-events: auto;
  border: none;
}
.section--cerca-volo .cerca-volo.is-loading {
  visibility: hidden;
  /* IE 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Webkit */
  -webkit-opacity: 0;
  /* Good browsers */
  opacity: 0;
}
.section--cerca-volo .cerca-volo .cerca-volo__inner {
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.section--cerca-volo .cerca-volo .cerca-volo__inner.loading .loader {
  display: block;
}
.section--cerca-volo .cerca-volo .cerca-volo__inner .loader {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 64px;
   margin-left:25px;
  width: calc(100% - 50px);
  height: 100%;
  z-index: 203;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: none;
}
.section--cerca-volo .cerca-volo .cerca-volo__inner .loader .fade-circle {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0;
  border-radius: 100%;
  font-size: 9px;
  width: 1em;
  height: 1em;
  animation: fade-circle 1.5s infinite ease;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.section--cerca-volo .cerca-volo #cerca-volo__close-button {
  display: none;
  position: absolute;
  right: 45px;
  bottom: 100%;
  margin-bottom: 30px;
  pointer-events: auto;
  z-index: 203;
  font-size: 0;
}
.section--cerca-volo .cerca-volo #cerca-volo__widget {
  position: relative;
  background-color: rgba(255, 255, 255, 0.95);
  pointer-events: auto;
  z-index: 5;
}
.section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__tab {
  border-top: 1px solid #676767;
}
.section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__tab:first-child {
  border: none;
}
.section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__tab.is-active .cerca-volo__title {
  color: #006643;
}
.section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__tab.is-active .cerca-volo__title::before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  color: #676767;
  padding: 20px;
}
.section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__title::before {
  /*background-image: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/ico-select-dark.svg');*/
  content: '';
  width: 15px;
  height: 15px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  right: 20px;
}
.section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__title .label_check-in {
  position: relative;
}
.section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__title .label_check-in .notification-count {
  position: absolute;
  top: -2px;
  right: -25px;
  display: block;
  width: 17px;
  height: 17px;
  text-align: center;
  font: 12px/15px 'Source Sans Pro', Arial, sans-serif;
  color: white;
  background: #006643;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__content {
  padding: 20px;
}
.section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__content .radio-group .radio-wrap label {
  margin: 0;
}
.section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__content .radio-group .radio-wrap .placeholder {
  margin-right: 10px;
}
.section--cerca-volo .cerca-volo .tabs-content[data-tabs-content="cerca-volo__widget"] {
  position: relative;
  z-index: 5;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .link-wrap--tablet,
.section--cerca-volo .cerca-volo .cerca-volo__content .radio-wrap--desktop,
.section--cerca-volo .cerca-volo .cerca-volo__content .radio-wrap--desktop,
.section--cerca-volo .cerca-volo .cerca-volo__content .link-wrap--desktop,
.section--cerca-volo .cerca-volo .cerca-volo__content .input-wrap-2--desktop,
.section--cerca-volo .cerca-volo .cerca-volo__content .history-wrap--desktop {
  display: none;
}
.section--cerca-volo .cerca-volo .cerca-volo__content label.h6,
.section--cerca-volo .cerca-volo .cerca-volo__content .label.h6,
.section--cerca-volo .cerca-volo .cerca-volo__content .input-wrap input {
  margin-bottom: 20px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content label.h6,
.section--cerca-volo .cerca-volo .cerca-volo__content .label.h6  {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 18px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .button-wrap button {
  width: 100%;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .input-wrap input:focus,.section--cerca-volo .cerca-volo .cerca-volo__content .input-wrap.selected input:focus {
  border: 2px solid #006643;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group {
  position: relative;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .reverse-button {
  position: absolute;
  top: 50%;
  right: 15px;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 45px;
  width: 45px;
  background-color: #006643;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 203;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .reverse-button .icon--reverse {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  height: 25px;
  width: 19px;
  position: absolute;
  left: 13px;
  top: 10px;
  font-size: 0;
  text-indent: -9999px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .input-wrap input,
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--miei-voli .input-wrap input {
  font-size: 18px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .input-wrap input::placeholder,
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--miei-voli .input-wrap input::placeholder {
  color: #333333;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .input-wrap input:focus::placeholder,
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--miei-voli .input-wrap input:focus::placeholder {
  color: #fff;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .input-wrap,
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .cta-wrap,
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .button-wrap {
  margin-bottom: 20px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota input {
  margin-bottom: 0;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .cta-wrap .cta--form {
  font-size: 18px;
  padding-right: 25px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .history .cta {
  /*background-image: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/icon-history-grey.svg');*/
  background-position: center left;
  padding: 0 0 0 0px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .history .cta.active-toggle {
  color: #006643;
  background-image: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/icon-history-green.svg');
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .validate-search--desktop {
  display: none;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .cta-wrap a {
  color: #333333;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .link-wrap--tablet .external-link .cta-wrap.multitratta a {
  margin-right: 20px;
}

.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .biglietto-premio {
  margin-bottom: 0;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .radio-travel-type fieldset {
  display: block;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .radio-travel-type legend {
  display: none;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .partenza-destinazione .input-wrap:first-child::after {
  /*background-image: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/icon-departure.svg');*/
  background-size: 25px 20px;
  content: "\e919";
  color: #c1c1c1;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 26px;
  margin-left: 15px;
  -webkit-font-smoothing: antialiased;
  margin-top: 15px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .partenza-destinazione .input-wrap::after {
  /*background-image: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/icon-arrival.svg');*/
  background-size: 25px 22px;
  content: "\e917";
  color: #c1c1c1;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 26px;
  margin-left: 15px;
  -webkit-font-smoothing: antialiased;
  margin-top: 15px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .partenza-destinazione .toggle-wrap {
  position: absolute;
  top: 60px;
  width: 100%;
  max-width: none;
  z-index: 1000;
  padding: 0;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .partenza-destinazione .toggle-wrap .toggle-all-destination-desk {
  position: relative;
  z-index: 203;
  color: #676767;
  font: 18px 'Source Sans Pro', Arial, sans-serif;
  text-transform: none;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .partenza-destinazione .toggle-wrap .toggle-all-destination-desk span {
  display: block;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .partenza-destinazione .toggle-wrap .toggle-all-destination-desk span:hover {
  background: #e6e6e6;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .date-viaggio .input-wrap span.input-placeholder {
  padding-left: 46px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .date-viaggio .input-wrap span.input-placeholder.disabled {
  background-color: #e6e6e6;
  pointer-events: none;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .date-viaggio .input-wrap::after {
  width: 32px;
  /*background-image: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/icon-calendar.svg');*/
  background-size: 17px 20px;
  content: "\e918";
  color: #c1c1c1;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;
  margin-left: 15px;
  -webkit-font-smoothing: antialiased;
  margin-top: 15px;
}

.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in {
  padding: 10px 20px;
  min-height: 130px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .user-login-box {
  position: relative;
  font-size: 16px;
  margin-left: 10px;
  padding-top: 7px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-bottom: 2px;
}

.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .labelError {
  color: #e30512;
  font-size: 16px;
  line-height: 1.2em;
  margin-top: 3px;
  display: none;
}

.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile .box-text {
  background: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/aereo-verde_ricerche-precedenti.svg') left center no-repeat;
  background-size: 26px 24px;
  padding-left: 40px;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile .box-text span {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile .button-wrap {
  width: 100%;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile .button-wrap .button {
  width: 100%;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile .open_booking_code {
  display: none;
  /*.pa; bottom: 15px; left: 58px;*/
  float: left;
  margin: 15px 0 0 48px;
  font-size: 18px;
  width:100%;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile.no-flight {
  padding-top: 0;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile.no-flight .box-text {
  background: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/aereo-grigio_ricerche-precedenti.svg') left center no-repeat;
  background-size: 26px 24px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile.no-flight .button-wrap {
  display: none;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile.no-flight .open_booking_code {
  display: block;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .myalitalia_profile {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .myalitalia_profile .box-text {
  background: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/aereo-verde_ricerche-precedenti.svg') left center no-repeat;
  background-size: 26px 24px;
  padding-left: 40px;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .myalitalia_profile .box-text span {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .myalitalia_profile .button-wrap {
  width: 100%;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .myalitalia_profile .button-wrap .button {
  width: 100%;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .myalitalia_profile .open_booking_code {
  display: none;
  /*.pa; bottom: 15px; left: 58px;*/
  float: left;
  margin: 15px 0 0 48px;
  font-size: 18px;
  width:100%;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .myalitalia_profile.no-flight {
  padding-top: 0;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .myalitalia_profile.no-flight .box-text {
  background: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/aereo-grigio_ricerche-precedenti.svg') left center no-repeat;
  background-size: 26px 24px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .myalitalia_profile.no-flight .button-wrap {
  display: none;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .myalitalia_profile.no-flight .open_booking_code {
  display: block;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap,
.section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap,
.section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap,
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap {
  position: relative;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap::after,
.section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap::after,
.section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap::after,
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background-position: left 15px center;
  background-repeat: no-repeat;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap input,
.section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap input,
.section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap input,
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap input,
.section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap span.input-placeholder,
.section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap span.input-placeholder,
.section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap span.input-placeholder,
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap span.input-placeholder {
  display: block;
  padding: 15px;
  line-height: 20px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  padding-left: 50px;
  font-size: 21px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap input,
.section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap input,
.section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap input,
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  display: none;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap input:focus,
.section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap input:focus,
.section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap input:focus,
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap input:focus {
  opacity: 1;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap span.input-placeholder,
.section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap span.input-placeholder,
.section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap span.input-placeholder,
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap span.input-placeholder {
  overflow: hidden;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #c1c1c1;
  background-color: white;
  white-space: nowrap;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap span.input-placeholder .iata-code,
.section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap span.input-placeholder .iata-code,
.section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap span.input-placeholder .iata-code,
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap span.input-placeholder .iata-code {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-left: 10px;
  color:#006643;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .flight-status-label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  padding: 15px;
  font-weight: 700;
  color: #c1c1c1;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap span.input-placeholder.is-invalid-input,
.section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap span.input-placeholder.is-invalid-input,
.section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap span.input-placeholder.is-invalid-input,
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap span.input-placeholder.is-invalid-input{
  /*color: #e30512;*/
  border: #e30512 solid 2px;
 }
 .section--cerca-volo .cerca-volo .cerca-volo__content .input-wrap input.is-invalid-input{
  border: #e30512 solid 2px;
 }

.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap span.flight-status-span,
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap .flight-status-field {
  padding-left: 50px !important;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap,
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap {
  margin-bottom: 30px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap::after,
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap::after {
  display: none;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap input,
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap input,
.section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap span.input-placeholder,
.section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap span.input-placeholder {
  padding-left: 15px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .feedback-wrap {
  padding: 0 10px;
  margin-top: 20px;
}
.section--cerca-volo .cerca-volo .cerca-volo__content .feedback-error,.labelCheckinError {
  color: #e30512;
  margin:0;margin-left:10px;position: relative;padding:0;
}
.section--cerca-volo .cerca-volo .input-wrap.has-input-error input,
.section--cerca-volo .cerca-volo .input-wrap.has-input-error span.input-placeholder {
  border: 2px solid #e30512 !important;
  color: #e30512 !important;
}
.section--cerca-volo .cerca-volo .input-wrap.has-input-error input::placeholder,

.section--cerca-volo .cerca-volo .input-wrap.has-input-error span.input-placeholder::placeholder {
  color: #e30512 !important;
}
.section--cerca-volo .overlay--desk {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 79;
}
@media (min-width: 768px) {
  .section--cerca-volo .custom-row .custom-col {
    float: left;
  }
  .section--cerca-volo .custom-row .custom-medium-33 {
    width: 33.33%;
  }
  .section--cerca-volo .custom-row .custom-medium-50 {
    width: 50%;
  }
  .section--cerca-volo .custom-row .custom-medium-offset-33 {
    margin-left: 33.33%;
  }
  .section--cerca-volo .cerca-volo {
    padding: 0 45px;
  }
  .section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__title,
  .section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__content {
    padding: 20px 40px;
  }

  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-row-5 {
    display: none;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .link-wrap--mobile {
    display: none;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .link-wrap--tablet {
    display: block;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content label.h6,
  .section--cerca-volo .cerca-volo .cerca-volo__content .label.h6  {
    vertical-align: top;
    line-height: 20px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .radio-group {
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 0;
    padding-left: 10px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .radio-group .radio-wrap {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
    padding: 0 10px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .radio-group .placeholder,
  .section--cerca-volo .cerca-volo .cerca-volo__content .radio-group label {
    line-height: 20px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .radio-group label {
    font-size: 16px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group {
    /*.oh;*/
    margin: 0 -10px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap {
    float: left;
    width: 50%;
    padding: 0 10px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .reverse-button {
    width: 30px;
    height: 30px;
    top: 10px;
    left: 50%;
    right: auto;
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .reverse-button .icon--reverse {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    height: 12px;
    width: 16px;
    position: absolute;
    left: 7px;
    top: 9px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .input-wrap {
    margin-bottom: 10px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .radio-group .radio-wrap {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .radio-group,
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .radio-group .input-wrap {
    padding: 0;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .radio-group .input-wrap:last-child {
    margin-left: 20px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .cta-wrap .cta--form {
    font-size: 16px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota label.h6,
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .label.h6  {
    font-size: 16px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .button-wrap {
    max-width: 220px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .radio-travel-type {
    float: left;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .radio-travel-type .input-wrap {
    margin-bottom: 20px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link {
    text-align: right;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .multitratta,
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .biglietto-premio {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .link-wrap--tablet .external-link .multitratta,
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .link-wrap--tablet .external-link .biglietto-premio {
    display: contents;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .biglietto-premio {
    margin: 0 0 20px 30px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .radio-group {
    padding-left: 0;
    padding-bottom: 20px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .radio-group .radio-wrap {
    padding-left: 0;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .radio-group .radio-wrap label {
    margin-left: 5px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile {
    padding-top: 5px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile .button-wrap {
    width: 100%;
    text-align: center;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile .button-wrap .button {
    width: 33.3%;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .myalitalia_profile {
    padding-top: 5px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .myalitalia_profile .button-wrap {
    width: 100%;
    text-align: center;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .myalitalia_profile .button-wrap .button {
    width: 33.3%;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }tion--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--info-voli .radio-group {
      padding: 0;
      margin-bottom: 20px;
    }
    .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--info-voli .radio-group .radio-wrap {
      padding: 0;
      margin-right: 20px;
    }
  .section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap::after,
  .section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap::after,
  .section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap::after,
  .section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap::after {
    left: 10px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap input,
  .section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap input,
  .section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap input,
  .section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap input,
  .section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap span.input-placeholder,
  .section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap span.input-placeholder,
  .section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap span.input-placeholder,
  .section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap span.input-placeholder {
    font-size: 18px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap input,
  .section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap input,
  .section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap input,
  .section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap input {
    width: calc(100% - 20px);
    left: 10px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .feedback-wrap {
    width: 100%;
    float: left;
  }
}
@media (max-width: 1023px) {
    .section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__title::before {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    right: 40px;
    content: "\e910";
    color: #676767;
  }
}
@media (min-width: 1024px) {
  .cerca-volo__content .radio-group .radio-wrap label {
    margin: 0;
  }
  .cerca-volo__content .radio-group .radio-wrap .placeholder {
    margin-right: 10px;
  }
  .section--cerca-volo {
    padding: 80px 0 0;
    top: 230px;
  }
  .section--cerca-volo.on-focus .cerca-volo #cerca-volo__widget {
      z-index: 202;
  }
  .section--cerca-volo.on-focus .cerca-volo #cerca-volo__widget .cerca-volo__tab.is-active .cerca-volo__title {
    background-color: white;
  }
  .section--cerca-volo.on-focus .cerca-volo #cerca-volo__widget .cerca-volo__tab .cerca-volo__title {
    background-color: #e6e6e6;
  }
  .section--cerca-volo.on-focus .cerca-volo .tabs-content[data-tabs-content="cerca-volo__widget"] {
    z-index: 202;
    background-color: white;
  }
  .section--cerca-volo .custom-row .custom-col {
    float: left;
  }
  .section--cerca-volo .custom-row .custom-large-5 {
    width: 5%;
  }
  .section--cerca-volo .custom-row .custom-large-20 {
    width: 20%;
  }
  .section--cerca-volo .custom-row .custom-large-30 {
    width: 30%;
  }
  .section--cerca-volo .custom-row .custom-large-35 {
    width: 35%;
  }
  .section--cerca-volo .custom-row .custom-large-40 {
    width: 40%;
  }
  .section--cerca-volo .custom-row .custom-large-50 {
    width: 50%;
  }
  .section--cerca-volo .custom-row .custom-large-60 {
    width: 60%;
  }
  .section--cerca-volo .custom-row .custom-medium-offset-33 {
    margin-left: 0;
  }
  .section--cerca-volo.on-focus #cerca-volo__close-button {
    display: block;
  }
  .section--cerca-volo.on-focus .overlay--desk {
    display: block;
    pointer-events: auto;
    z-index: 100;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__inner {
    overflow: visible;
    position: relative;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__inner .loader {
    margin: 0;
    width: 100%;
  }
  .section--cerca-volo .cerca-volo #cerca-volo__widget {
    background: transparent;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    overflow: hidden;
  }
  .section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__title,
  .section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__content {
    padding: 15px 15px;
  }
  .section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__tab {
    border: none;
    width: 25%;
  }
  .section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__tab.is-active .cerca-volo__title {
    background-color: rgba(255, 255, 255, 0.95);
  }
  .section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__tab .cerca-volo__title {
    text-align: center;
    background-color: rgba(230, 230, 230, 0.95);
  }
   .section--cerca-volo .cerca-volo #cerca-volo__widget .cerca-volo__tab .cerca-volo__title:focus {
      padding: 14px;
    margin: 1px 1px 0 0;
  }
  .section--cerca-volo .cerca-volo .tabs-content[data-tabs-content="cerca-volo__widget"] {
    background-color: rgba(255, 255, 255, 0.95);
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .section--cerca-volo .cerca-volo .tabs-panel {
    padding: 20px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-row-3,
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-row-4 {
    display: none;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-row-5 {
    display: block;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .history-wrap--mobile,
  .section--cerca-volo .cerca-volo .cerca-volo__content .radio-wrap--mobile,
  .section--cerca-volo .cerca-volo .cerca-volo__content .input-wrap-2--mobile,
  .section--cerca-volo .cerca-volo .cerca-volo__content .link-wrap--tablet {
    display: none;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .radio-wrap--desktop,
  .section--cerca-volo .cerca-volo .cerca-volo__content .link-wrap--desktop,
  .section--cerca-volo .cerca-volo .cerca-volo__content .input-wrap-2--desktop,
  .section--cerca-volo .cerca-volo .cerca-volo__content .history-wrap--desktop {
    display: block;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .input-wrap input {
    margin-bottom: 0;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group {
    margin: 0;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap:first-child input {
    border-right: none;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 5;
    -webkit-border-top-left-radius: 5;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 5;
    -moz-border-radius-topleft: 5;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5;
    border-top-left-radius: 5;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap:last-child input {
    -webkit-border-top-right-radius: 5;
    -webkit-border-bottom-right-radius: 5;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 5;
    -moz-border-radius-bottomright: 5;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 5;
    border-bottom-right-radius: 5;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap.selected:first-child input {
    border-right: 1px solid #c1c1c1;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap.selected input:focus {
    border: 2px solid #006643;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap.selected input.is-invalid-input:focus{
    border-color:#e30512;
    border: 2px solid #e30512;
}  
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap.not-selected:first-child input {
    border-right: none;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap.not-selected:last-child input {
    border-left: none;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .input-wrap {
    padding: 0;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .reverse-button {
    background-color: white;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .custom-input-group .reverse-button .icon--reverse {
    top: 7px;
    left: 3px;
    width: 24px;
    height: 16px;
    /*background-image: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/icon-reverse-green.svg');*/
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota {
    padding: 10px 20px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .custom-row-1,
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .custom-row-2 {
    padding-right: 70px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .input-wrap {
    margin-bottom: 8px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .radio-travel-type .input-wrap {
    margin-bottom: 12px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .multitratta,
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .biglietto-premio {
    margin-bottom: 0;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .biglietto-premio {
    float: right;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .multitratta {
    float: left;
    /*-moz-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);*/
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .external-link .multitratta .cta {
    margin-right: 20px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .validate-search--mobile {
    display: none;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .validate-search--desktop {
    position: absolute;
    display: block;
    top: 0;
    left: 100%;
    margin-left: 10px;
    padding: 0;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .validate-search--desktop button {
    width: 50px;
    height: 50px;
    padding: 0;
    /*background-image: url('../../../../../../etc/designs/alitalia/clientlibs-1/images/ico-select-white.svg');*/
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .history .cta-wrap {
    margin-bottom: 3px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in {
    padding: 10px 30px;
    min-height: 130px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in legend {
    float: left;
    margin-bottom: 12px;
    line-height: 20px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in label.h6,
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .label.h6 {
    margin-bottom: 12px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .radio-group {
    padding-bottom: 0px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .radio-group .radio-wrap {
    padding: 0 10px;
  }
/*  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .radio-group .radio-wrap label {
    margin-left: 10px;
  }*/
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile {
    padding-top: 10px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile .button-wrap {
    width: 33.3%;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile .button-wrap .button {
    width: 100%;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .millemiglia_profile .box-text {
    margin-bottom: 0px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .myalitalia_profile {
    padding-top: 10px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .myalitalia_profile .button-wrap {
    width: 33.3%;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .myalitalia_profile .button-wrap .button {
    width: 100%;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--check-in .myalitalia_profile .box-text {
    margin-bottom: 0px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--info-voli .radio-group {
      padding: 0 10px;
      margin: 0;
    }
    .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--info-voli .radio-group .radio-wrap {
      padding: 0 10px;
      margin: 0;
    }
    .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--info-voli legend {
      float: left;
      margin-bottom: 12px;
      line-height: 20px;
    }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--miei-voli,
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--info-voli {
    padding: 10px 20px 38px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--miei-voli label.h6,
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--info-voli label.h6,
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--miei-voli .label.h6,
  .section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--info-voli .label.h6
  {
    margin-bottom: 12px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap,
  .section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap,
  .section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap,
  .section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap {
    margin-bottom: 8px;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap::after,
  .section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap::after,
  .section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap::after,
  .section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap::after {
    left: 0;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .input-wrap input,
  .section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .input-wrap input,
  .section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap input,
  .section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap input {
    width: 100%;
    left: 0;
    display: block;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .custom-input-group .input-wrap:first-child span.input-placeholder,
  .section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .custom-input-group .input-wrap:first-child span.input-placeholder,
  .section--cerca-volo .cerca-volo .cerca-volo__content .timetables .custom-input-group .input-wrap:first-child span.input-placeholder,
  .section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .custom-input-group .input-wrap:first-child span.input-placeholder {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-right: none;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .partenza-destinazione .custom-input-group .input-wrap span.input-placeholder,
  .section--cerca-volo .cerca-volo .cerca-volo__content .date-viaggio .custom-input-group .input-wrap span.input-placeholder,
  .section--cerca-volo .cerca-volo .cerca-volo__content .timetables .custom-input-group .input-wrap span.input-placeholder,
  .section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .custom-input-group .input-wrap span.input-placeholder {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .timetables .input-wrap,
  .section--cerca-volo .cerca-volo .cerca-volo__content .flight_status .input-wrap {
    margin-bottom: 0;
  }
  .section--cerca-volo .cerca-volo .cerca-volo__content .feedback-wrap {
    float: none;
    position: absolute;
    margin: 10px 0;
    bottom: 0;
    left: 0;
    padding: 0 20px;
  }
  .section--cerca-volo.open-panel .tabs-content[data-tabs-content="cerca-volo__widget"] {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .section--cerca-volo.open-panel [id*="panel-"].open {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
.panel__content.last__search a{
  outline: none;
}
.ricerche-precedenti .custom-col-card .card{
  color:#676767;
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .date-viaggio .input-wrap.greek:after,
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .date-viaggio .input-wrap.russian:after,
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .partenza-destinazione .input-wrap.greek:after{

  background-size: 14px 20px;
  left:-8px; 
}
.russian #span_luogo-arrivo--prenota-desk,.russian #span_luogo-partenza--prenota-desk{
  padding-left: 50px;
} 
.greek #span_luogo-arrivo--prenota-desk, .greek #span_luogo-partenza--prenota-desk{
  font-size: 14px;
}

.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .partenza-destinazione .input-wrap.russian:after,
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .partenza-destinazione .input-wrap.greek:after{
 background-size: 20px 20px;
  left:5px;  
}
.section--cerca-volo .cerca-volo .cerca-volo__content.cerca-volo__content--prenota .date-viaggio .input-wrap.russian:after{
  left:-5px; 
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  .flight_status_DIV{
    margin-top:  20px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
    .flight_status_DIV{
    margin-top:  20px;
  }

}

