[id*="panel-"] {
  display: none;
  z-index: 201;
}
[id*="panel-"].open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}
.collapsable-wrap .panel__header-mobile {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 20px;
  width: 100%;
  box-shadow: 0px 0px 20px #cccccc;
  float: left;
}
.collapsable-wrap .panel__header-mobile span {
  font-size: 20px;
  color: #333333;
  float: left;
}
.collapsable-wrap .panel__header-mobile .close-button {
  float: right;
  position: relative;
  right: 0;
  font-size: 0;
  cursor: pointer;
}
.collapsable-wrap .panel__header-mobile .close-button .icon--close--black {
  /*background: url('/etc/designs/alitalia/clientlibs-1/images/ico-close-black.svg') no-repeat left center;*/
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
}
.collapsable-wrap .panel__content {
  overflow: auto;
  height: calc(100vh - 59px);
  position: relative;
  width: 100%;
}
.collapsable-wrap .panel__content .button-wrap.close-wrap {
  display: none;
}
.collapsable-wrap .panel__content .cta-close-panel {
  text-indent: -9999px;
  font-size: 0;
}
.collapsable-wrap .panel__content .cta.cta-close-panel:hover:after {
  width: auto;
}
[id*="panel-"] {
  position: relative;
  overflow: hidden;
}
[id*="panel-"] .panel__content {
  overflow: auto;
  height: calc(100vh - 59px);
  position: relative;
  width: 100%;
  padding: 20px;
}
[id*="panel-"] #data-andata--prenota-mobile,
[id*="panel-"] #data-ritorno--prenota-mobile,
[id*="panel-"] #departure_date--timetables-mobile,
[id*="panel-"] #departure_date--flight-status-mobile {
  /*background-image: url(/etc/designs/alitalia/clientlibs-1/images/icon-calendar.svg);*/
  background-size: 25px 20px;
  background-position: left 15px center;
  background-repeat: no-repeat;
  padding-left: 50px;
  background-color: transparent;
  border: 2px solid #006643;
}
#panel-numero-volo-stato-volo {
  position: relative;
  overflow: hidden;
}
#panel-numero-volo-stato-volo .panel__content {
  overflow: auto;
  height: calc(100vh - 59px);
  position: relative;
  width: 100%;
  padding: 20px;
}
#panel-numero-volo--flight-status .input-wrap {
  position: relative;
}
#panel-numero-volo--flight-status .input-wrap .flight-status-label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  padding: 15px;
  font-weight: 700;
  color: #c1c1c1;
}
#panel-numero-volo--flight-status .input-wrap .flight-status-field {
  padding-left: 50px;
}
#panel-numero-volo--flight-status .input-wrap .flight-status-field:focus {
  border-width: 2px;
}
#panel-history {
  overflow: hidden;
}
#panel-history .panel__content {
  padding: 0;
}
#panel-history .ricerche-precedenti {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  border-top: 1px solid #c1c1c1;
  float: left;
  width: 100%;
}
#panel-history .ricerche-precedenti:first-child {
  border-top: none;
}
#panel-history .ricerche-precedenti.custom-row {
  margin: 0;
}
#panel-history .ricerche-precedenti .column {
  padding: 0;
  position: relative;
}
#panel-history .ricerche-precedenti .custom-col-card {
  padding: 0 5% 0 15%;
}
#panel-history .ricerche-precedenti .card .destination {
  font-size: 21px;
  margin-bottom: 10px;
}
#panel-history .ricerche-precedenti .card .destination .sigla {
  font-weight: 600;
}
#panel-history .ricerche-precedenti .card .date {
  margin-right: 20px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#panel-history .ricerche-precedenti .card .date.back {
  margin-right: 0;
}
#panel-history .ricerche-precedenti .card .passengers,
#panel-history .ricerche-precedenti .card .class {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 17px;
  clear: both;
  margin-top: 20px;
  width: 100%;
}
#panel-history .ricerche-precedenti .fly {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/aereo-verde_ricerche-precedenti.svg');
  background-size: 20px 20px;
  background-position: center top;
  float: left;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 17%;
}
#panel-history .ricerche-precedenti .cta-wrap {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 12%;
}
#panel-history .ricerche-precedenti .cta-wrap .cta--primary {
  background-size: 18px 14px;
  background-position: left bottom;
  height: 100%;
}
#panel-flight-status {
  overflow: hidden;
  background-color: #fff;
}
#panel-flight-status .panel__content-partenza,
#panel-flight-status .panel__content-arrivo {
  padding-bottom: 45px;
}
#panel-flight-status .panel__content-arrivo {
  padding-top: 30px;
}
#panel-flight-status .panel__content-partenza::after {
  content: '';
  display: block;
  position: relative;
  top: 45px;
  max-width: 150px;
  margin: 0 auto;
  border-bottom: 1px solid #c8c8c8;
}
#panel-flight-status .panel__content {
  font-size: 18px;
  background-color: #e6e6e6;
  color: #333;
}
#panel-flight-status .panel__content h6 {
  font-size: 28px;
}
#panel-flight-status .panel__content .panel__content-subtitle {
  font-size: 20px;
  margin: 0 0 30px;
}
#panel-flight-status .panel__content .panel__content-subtitle strong {
  font-weight: 700;
}
#panel-flight-status .panel__content .panel__content-hour-title {
  font-weight: 700;
  text-transform: uppercase;
}
#panel-flight-status .panel__content .panel__content-list {
  max-width: 250px;
}
#panel-flight-status .panel__content .panel__content-list li {
  margin-bottom: 20px;
}
#panel-flight-status .panel__content .panel__content-list li:last-child {
  margin-bottom: 0;
}
#panel-flight-status .panel__content .panel__content-list li span {
  float: right;
  background-image: url('../../../../../../etc/designs/alitalia/clientlibs/images/icon-clock.svg');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  padding: 0 0 0 30px;
}
#panel-flight-status .panel__content .panel__content-riepilogo {
  color: #676767;
}
#panel-travel-options {
  background: white;
}
#panel-travel-options .panel__content {
  padding: 20px 0px 90px;
}
#panel-travel-options .panel__content .h6 {
  margin-bottom: 10px;
  padding: 0 20px;
  clear: both;
}
#panel-travel-options .panel__content .custom_row {
  width: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 10px 20px;
}
#panel-travel-options .panel__content label,
#panel-travel-options .panel__content .label  {
  font-size: 18px;
  width: 50%;
  line-height: 1;
}
#panel-travel-options .panel__content label span,
#panel-travel-options .panel__content .label span{
  color: #676767;
  font-size: 18px;
  clear: both;
  display: block;
}
#panel-travel-options .panel__content label .icon.icon--info,
#panel-travel-options .panel__content .label .icon.icon--info {
  line-height: 15px;
  /*text-indent: -9999px;*/
  margin-left: 13px;
  /*background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-info-gray-empty.svg');*/
  border-bottom: 0;
  top: 1px;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 15px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#panel-travel-options .panel__content label .icon.icon--info:after,
#panel-travel-options .panel__content .label .icon.icon--info:after{
  content: "\e936";
  color:#333;
}
#panel-travel-options .panel__content label .icon.icon--info:hover:after,
#panel-travel-options .panel__content .label .icon.icon--info:hover:after{
  content: "\e938";
  color:#333;
}
#panel-travel-options .panel__content label .icon.icon--info:hover,
#panel-travel-options .panel__content .label .icon.icon--info:hover{
  /*background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-info-gray-full.svg');*/
  content: "\e936";
}
#panel-travel-options .panel__content .input-wrap {
  float: right;
}
#panel-travel-options .panel__content .input-wrap input {
  border: 0;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 50px;
  padding: 0;
  cursor: default;
}
#panel-travel-options .panel__content .input-wrap input:read-only {
  background: none;
}
#panel-travel-options .panel__content .input-wrap button {
  border: 1px solid #c1c1c1;
  background: white;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 37px;
  height: 37px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-bottom: 0;
  text-indent: -999pox;
  font-size: 0;
}
#panel-travel-options .panel__content .input-wrap button.minus {
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-button-minus-active.svg') no-repeat center center;
  background-size: 15px 3px;
}

#panel-travel-options .panel__content .input-wrap button.minus:hover {
  border: 3px solid #006643;
}

#panel-travel-options .panel__content .input-wrap button.minus.no-active,
#panel-travel-options .panel__content .input-wrap button.minus[disabled] {
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-button-minus-no-active.svg') no-repeat center center;
  background-size: 15px 15px;
  pointer-events: none;
  opacity: 1;
  pointer-events: none;
}

#panel-travel-options .panel__content .input-wrap button.minus.no-active:hover,
#panel-travel-options .panel__content .input-wrap button.minus[disabled]:hover {
  border: 3px solid #c1c1c1;
}
#panel-travel-options .panel__content .input-wrap button.plus {
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-button-plus-active.svg') no-repeat center center;
  background-size: 15px 15px;
}

#panel-travel-options .panel__content .input-wrap button.plus:hover {
  border: 3px solid #006643;
}

#panel-travel-options .panel__content .input-wrap button.plus.no-active,
#panel-travel-options .panel__content .input-wrap button.plus[disabled] {
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-button-plus-no-active.svg') no-repeat center center;
  background-size: 15px 15px;
  opacity: 1;
  pointer-events: none;
}

#panel-travel-options .panel__content .input-wrap button.plus.no-active:hover,
#panel-travel-options .panel__content .input-wrap button.plus[disabled]:hover {
  border: 3px solid #c1c1c1;
}
#panel-travel-options .panel__content .radio-wrap {
  float: left;
  width: 100%;
  padding: 10px 20px;
  margin: 0;
}
#panel-travel-options .panel__content .radio-wrap label,
#panel-travel-options .panel__content .passenger-wrap .label{
  width: auto;
  margin: 0;
}
#panel-travel-options .panel__content .passenger-wrap {
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 5px;
}
#panel-travel-options .panel__content .passenger-wrap label {
  float: left;
}
#panel-travel-options .panel__content .seat-type-wrap {
  padding-top: 15px;
}
#panel-travel-options .panel__content .seat-type-wrap legend {
  display: none;
}
#panel-travel-options .panel__content .seat-type-wrap fieldset {
  display: block;
}
#panel-travel-options .panel__content .seat-type-wrap .h6 {
  float: left;
}
#panel-travel-options .panel__content .seat-type-wrap .radio-group {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#panel-travel-options .panel__content .seat-type-wrap .radio-group .placeholder {
  margin-right: 25px;
  display: inline-block !important;
  *display: inline !important;
  zoom: 1 !important;
}
#panel-travel-options .panel__content .button-wrap {
  padding: 0 20px;
  margin-top: 45px;
}
#panel-travel-options .panel__header-mobile + .panel__content .button-wrap{
  margin-top: 0;
}
#panel-travel-options .panel__header-mobile + .panel__content {
    padding: 30px 0px 100px 0px;
}
#panel-travel-options .panel__content .button-wrap button {
  width: 100%;
}
#panel-histogram {
  position: relative;
  overflow: hidden;
}
#panel-histogram .panel__content {
  padding-bottom: 30px;
  background: #e6e6e6;
}
#panel-histogram .custom-row {
  margin: 0;
}
#panel-histogram .content_wrap {
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 0 10px;
  color: #333333;
}
#panel-histogram .panel__title {
  text-align: center;
  font: 24px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  margin-bottom: 60px;
}
#panel-histogram .histogram_wrap .custom-row {
  margin-bottom: 20px;
}
#panel-histogram .histogram_wrap .row--padded {
  padding-left: 110px;
}
#panel-histogram .histogram_wrap .row--histogram {
  position: relative;
}
#panel-histogram .histogram_wrap .row--histogram a:focus {
  outline: 2px solid #5569ae;
}
#panel-histogram .histogram_wrap .col {
  float: left;
  width: 90px;
  margin: 0 10px;
  text-align: center;
}
#panel-histogram .histogram_wrap .col--legend {
  position: relative;
  width: 110px;
  height: 90px;
  margin: 0;
}
#panel-histogram .histogram_wrap .histogram__price {
  font: 600 21px 'Source Sans Pro', Arial, sans-serif;
}
#panel-histogram .histogram_wrap .histogram__month {
  font: 600 14px 'Source Sans Pro', Arial, sans-serif;
}
#panel-histogram .histogram_wrap .histogram__block {
  display: block;
  position: relative;
  height: 90px;
}
#panel-histogram .histogram_wrap .histogram__bar {
  display: block;
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 80px;
  background: #006643;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#panel-histogram .histogram_wrap .histogram__priceline {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
}
#panel-histogram .histogram_wrap .histogram__priceline .price {
  position: absolute;
  top: -10px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 80px;
  color: #999;
  text-align: right;
}
#panel-histogram .histogram_wrap .histogram__priceline .line {
  position: absolute;
  top: 0;
  left: 100px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 680px;
  border-top: 1px solid #CCC;
}

#panel-all-destination .all-destination-wrap {
  position: relative;
}

#panel-all-destination .toggle-all-destination-mobile,
#panel-all-destination .all-destination {
  -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
}

#panel-all-destination .toggle-wrap {
  /* .pa; top: 0; left: 0; width: 100%; */
  position: relative;
}

#panel-all-destination .toggle-all-destination-mobile {
  color: #676767;
  font: 18px 'Source Sans Pro', Arial, sans-serif;
  text-transform: none;
  width: 100%;
  padding: 5px;
}

#panel-all-destination .toggle-all-destination-mobile span {
  display: block;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

#panel-all-destination .toggle-all-destination-mobile span:hover {
  background: #e6e6e6;
}

#panel-all-destination .all-destination {
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
  height: calc(100vh - 210px);
}

#panel-all-destination .all-destination h6 {
  background-color: #006643;
  padding: 20px;
  color: #fff;
}

#panel-all-destination .all-destination .initials-wrap,
#panel-all-destination .all-destination .countries-wrap,
#panel-all-destination .all-destination .airports-wrap {
  height: 100%;
}

#panel-all-destination .all-destination .initials-list,
#panel-all-destination .all-destination .countries-list,
#panel-all-destination .all-destination .airports-list {
  position: relative;
  overflow: auto;
}

#panel-all-destination .all-destination .initials-list h6,
#panel-all-destination .all-destination .countries-list h6,
#panel-all-destination .all-destination .airports-list h6 {
  position: absolute;
  width: 100%;
}

#panel-all-destination .all-destination .initials-list,
#panel-all-destination .all-destination .countries-list {
  height: calc(100% - 67px);
}

#panel-all-destination .all-destination .airports-list {
  height: calc(100% - 130px);
}

#panel-all-destination .all-destination .initials-wrap {
  float: right;
  width: 75px;
}

#panel-all-destination .all-destination .initials-wrap h6 {
  text-align: center;
}

#panel-all-destination .all-destination .initials-wrap .initials-list {
  padding: 10px 0;
  text-align: center;
}

#panel-all-destination .all-destination .initials-wrap .initials-list .initial {
    display: block;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
}

#panel-all-destination .all-destination .initials-wrap .initials-list .initial:hover,
#panel-all-destination .all-destination .initials-wrap .initials-list .initial.selected {
  background-color: #e6e6e6;
}

#panel-all-destination .all-destination .initials-wrap .initials-list .initial.disabled {
  color: #e6e6e6;
  pointer-events: none;
}
#panel-all-destination .all-destination .initials-wrap .initials-list .initial.disabled:hover {
  background: transparent;
}
#panel-all-destination .all-destination .countries-wrap {
  float: left;
  width: calc(100% - 75px);
}
#panel-all-destination .all-destination .countries-wrap .initial-letter,
#panel-all-destination .all-destination .countries-wrap .country {
  display: block;
  color: #333333;
}
#panel-all-destination .all-destination .countries-wrap .initial-letter:hover,
#panel-all-destination .all-destination .countries-wrap .country:hover,
#panel-all-destination .all-destination .countries-wrap .initial-letter.selected,
#panel-all-destination .all-destination .countries-wrap .country.selected {
  background-color: #e6e6e6;
}

#panel-all-destination .all-destination .countries-wrap .initial-letter.disabled,
#panel-all-destination .all-destination .countries-wrap .country.disabled {
  color: #e6e6e6;
  pointer-events: none;
}

#panel-all-destination .all-destination .countries-wrap .initial-letter {
  display: block;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
  pointer-events: none;
}

#panel-all-destination .all-destination .countries-wrap .countries-list {
  padding: 10px 0;
  border-right: 1px solid #c1c1c1;
}

#panel-all-destination .all-destination .countries-wrap .country {
  padding: 10px 20px;
  cursor: pointer;
}

#panel-all-destination .all-destination .airports-wrap {
  float: left;
  width: 100%;
}

#panel-all-destination .all-destination .airports-wrap .back-wrap {
  padding: 20px;
}

#panel-all-destination .all-destination .airports-wrap .back-wrap .cta {
  padding-left: 20px;
  padding-right: 0;
  background-position: left center;
  font: 18px 'Source Sans Pro', Arial, sans-serif;
  background-image: url('/etc/designs/alitalia/clientlibs-myalitalia/images/ico-pointer-left-grey.svg');
  background-size: 8px 15px;
  text-transform: none;
}

#panel-all-destination .all-destination .airports-wrap .airports-list {
  padding: 10px 0;
}

#panel-all-destination .all-destination .airports-wrap .airports-group {
  padding-bottom: 20px;
}
#panel-all-destination .all-destination .airports-wrap .airport,
#panel-all-destination .all-destination .airports-wrap .city {
  display: block;
  color: #333333;
}
#panel-all-destination .all-destination .airports-wrap .airport:hover,
#panel-all-destination .all-destination .airports-wrap .city:hover,
#panel-all-destination .all-destination .airports-wrap .airport.selected,
#panel-all-destination .all-destination .airports-wrap .city.selected {
  background-color: #e6e6e6;
}

#panel-all-destination .all-destination .airports-wrap .airport.disabled,
#panel-all-destination .all-destination .airports-wrap .city.disabled,
#panel-all-destination .all-destination .airports-wrap .airport.disabled .code,
#panel-all-destination .all-destination .airports-wrap .city.disabled .code {
  color: #e6e6e6;
  pointer-events: none;
}

#panel-all-destination .all-destination .airports-wrap .city {
  display: block;
  font-weight: 700;
  color: #333333;
  padding: 10px 20px;
  pointer-events: none;
}

#panel-all-destination .all-destination .airports-wrap .airport {
  color: #333333;
  padding: 10px 40px;
  cursor: pointer;
}

#panel-all-destination .all-destination .airports-wrap .iata-code {
  text-transform: uppercase;
  padding-left: 6px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#luogo-partenza--prenota-mobile,
#luogo-arrivo--prenota-mobile,
#luogo-partenza--timetables-mobile,
#luogo-arrivo--timetables-mobile {
  padding-left: 50px;
  background-position: left 15px center;
  background-repeat: no-repeat;
}
#luogo-partenza--prenota-mobile,
#luogo-partenza--timetables-mobile {
  /*background-image: url('/etc/designs/alitalia/clientlibs/images/icon-departure.svg');*/
  background-size: 25px 20px;
}
#luogo-partenza--prenota-mobile:before,
#luogo-partenza--timetables-mobile:before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 15px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e919";
  color: #c1c1c1;
}
#luogo-arrivo--prenota-mobile,
#luogo-arrivo--timetables-mobile {
  /*background-image: url('/etc/designs/alitalia/clientlibs/images/icon-arrival.svg');*/
  background-size: 25px 22px;
}
@media (min-width: 375px) {
   #panel-all-destination .all-destination {
    height: calc(100vh - 220px);
   }
 }
@media (min-width: 768px) {
  .collapsable-wrap .panel__header-mobile {
    padding: 40px 40px 35px ;
  }
  #panel-history .ricerche-precedenti .custom-col-card {
    padding: 0 8%;
  }
  #panel-history .ricerche-precedenti .card .date {
    font-size: 16px;
    width: auto;
    margin-right: 30px;
  }
  #panel-history .ricerche-precedenti .card .date.back {
    margin-right: 30px;
  }
  #panel-history .ricerche-precedenti .card .passengers,
  #panel-history .ricerche-precedenti .card .class {
    width: auto;
    margin-left: 0;
    clear: none;
    margin-top: 0;
  }
  #panel-history .ricerche-precedenti .card .passengers {
    margin-right: 30px;
    margin-left: 0;
  }
  #panel-history .ricerche-precedenti .fly {
    background-size: 20px 20px;
    background-position: center 10px;
    float: left;
    height: 100%;
    width: 8%;
  }
  #panel-history .ricerche-precedenti .cta-wrap {
    width: 8%;
  }
  #panel-history .ricerche-precedenti .cta-wrap .cta--primary {
    background-position: left center;
    width: 100%;
  }
  #panel-travel-options .panel__content {
    padding: 30px 0;
  }
  #panel-travel-options .panel__content .h6 {
    font-size: 22px;
  }
  #panel-travel-options .panel__content .custom_row {
    line-height: 100%;
    padding: 20px;
  }
  #panel-travel-options .panel__content label,
  #panel-travel-options .panel__content .label{
    font-size: 16px;
    font-weight: 700;
    line-height: auto;
  }
  #panel-travel-options .panel__content label span,
  #panel-travel-options .panel__content .label span{
    display: inline-block;
    *display: inline;
    zoom: 1;
    clear: none;
    font-size: 16px;
    font-weight: 400;
    margin-right: 15px;
  }
  #panel-travel-options .panel__content label .icon.icon--info,
  #panel-travel-options .panel__content .label .icon.icon--info{
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  #panel-travel-options .panel__content .radio-group {
    width: 100%;
  }
  #panel-travel-options .panel__content .radio-wrap {
    width: auto;
    margin-bottom: 20px;
  }
  #panel-travel-options .panel__content .button-wrap {
    text-align: center;
  }
  #panel-travel-options .panel__content .button-wrap button {
    width: 33.33%;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  #panel-travel-options .panel__content .passenger-wrap {
    padding-bottom: 30px;
  }
  #panel-travel-options .panel__content .seat-type-wrap {
    padding-top: 30px;
  }
  #panel-travel-options .panel__content .seat-type-wrap .radio-group .placeholder {
    margin-left: 0;
  }
  #panel-travel-options .panel__content .seat-type-wrap .radio-group label,
  #panel-travel-options .panel__content .seat-type-wrap .radio-group .label{
    font-weight: 400;
  }
  #panel-all-destination .all-destination {
    height: calc(100vh - 210px);
  }
  #panel-flight-status .panel__content-partenza,
  #panel-flight-status .panel__content-arrivo {
    padding-bottom: 30px;
  }
  #panel-flight-status .panel__content-partenza::after {
    max-width: none;
    width: 100%;
    top: 30px;
  }
  #panel-flight-status .panel__content-riepilogo p {
    display: inline-block;
    margin-right: 20px;
  }
  #panel-flight-status .panel__content h6 {
    font-size: 26px;
  }
  #panel-flight-status .panel__content .panel__content-subtitle {
    font-size: 18px;
  }
  #panel-flight-status .panel__content .panel__content-hour-title,
  #panel-flight-status .panel__content .panel__content-list li,
  #panel-flight-status .panel__content .panel__content-riepilogo p {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  [id*="panel-"].open {
    background: transparent;
    top: auto;
    left: auto;
    position: relative;
  }
  .collapsable-wrap .panel__header-mobile {
    display: none;
  }
  .collapsable-wrap .panel__content {
      height: auto;
    }
  .collapsable-wrap .panel__content .button-wrap.close-wrap {
      position: absolute;
      bottom: 0;
      display: block;
      background: #e6e6e6;
      left: 50%;
      -moz-transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
    }
    .collapsable-wrap .panel__content .button-wrap.close-wrap .cta-close-panel {
      height: 30px;
      width: 110px;
      display: block;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-bottom-right-radius: 0px;
      -webkit-border-bottom-left-radius: 0px;
      -webkit-border-top-left-radius: 5px;
      -moz-border-radius-topright: 5px;
      -moz-border-radius-bottomright: 0px;
      -moz-border-radius-bottomleft: 0px;
      -moz-border-radius-topleft: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-left-radius: 5px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background: #b2b2b2 url('/etc/designs/alitalia/clientlibs/images/icon-arrow-up-white.svg') no-repeat center center;
      background-size: 17px 10px;
      cursor: pointer;
    }
  .collapsable-wrap .button-wrap.close-wrap {
    position: absolute;
    bottom: 0;
    display: block;
    background: #e6e6e6;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .collapsable-wrap .panel__content .button-wrap.close-wrap .cta-close-panel {
    height: 30px;
    width: 110px;
    display: block;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #b2b2b2 url('/etc/designs/alitalia/clientlibs-1/images/icon-arrow-up-white.svg') no-repeat center center;
    background-size: 17px 10px;
    cursor: pointer;
  }
  #panel-history .ricerche-precedenti .card .destination {
    font-size: 18px;
  }
  #panel-history .ricerche-precedenti .card .date {
    font-size: 16px;
    width: 15%;
  }
  #panel-history .ricerche-precedenti .card .passengers,
  #panel-history .ricerche-precedenti .card .class {
    font-size: 16px;
  }
  #panel-history .panel__content {
    padding-bottom: 30px;
    background: #e6e6e6;
  }
  #panel-history .ricerche-precedenti .card .destination {
    font-size: 18px;
    margin-bottom: 10px;
  }
  #panel-history .ricerche-precedenti .card .date {
    font-size: 16px;
    width: 15%;
  }
  #panel-history .ricerche-precedenti .card .passengers,
  #panel-history .ricerche-precedenti .card .class {
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-size: 16px;
  }
  #panel-history .ricerche-precedenti .fly {
    background-size: 20px 20px;
    float: left;
  }
  #panel-history .ricerche-precedenti .cta-wrap .cta--primary {
    background-position: center center;
  }
  #panel-travel-options.open {
    background: white;
  }
  #panel-travel-options .panel__content {
    padding: 40px 0px;
  }
  #panel-travel-options .panel__content .h6 {
    font-size: 22px;
  }
  #panel-travel-options .panel__content .custom_row {
    padding: 10px 20px;
  }
  #panel-travel-options .panel__content label,
  #panel-travel-options .panel__content .label{
    font-size: 16px;
    font-weight: 700;
    width: 60%;
  }
  #panel-travel-options .panel__content label span,
  #panel-travel-options .panel__content .label span{
    display: inline-block;
    *display: inline;
    zoom: 1;
    clear: none;
    font-size: 16px;
    font-weight: 400;
    margin-left: 15px;
  }
  #panel-travel-options .panel__content label .icon.icon--info,
  #panel-travel-options .panel__content .label .icon.icon--info{
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  #panel-travel-options .panel__content .input-wrap {
    float: right;
  }
  #panel-travel-options .panel__content .input-wrap input {
    width: 60px;
    background-color: white;
  }
  #panel-travel-options .panel__content .radio-group {
    width: 100%;
  }
  #panel-travel-options .panel__content .radio-wrap {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 0;
  }
  #panel-travel-options .panel__content .radio-wrap .placeholder {
    width: 35px;
    height: 35px;
  }
  #panel-travel-options .panel__content .radio-wrap.checked .placeholder::after {
    width: 17px;
    height: 17px;
    top: 8px;
    left: 8px;
  }
  #panel-travel-options .panel__content .button-wrap {
    text-align: center;
  }
  #panel-travel-options .panel__content .button-wrap button {
    width: 33.33%;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  #panel-travel-options .panel__content .passenger-wrap {
    width: 50%;
    border-bottom: 0;
    border-right: 1px solid #c1c1c1;
    padding: 0 40px 0 20px;
    float: left;
  }
  #panel-travel-options .panel__content .passenger-wrap label,
  #panel-travel-options .panel__content .passenger-wrap .label{
    margin-top: 10px;
  }
  #panel-travel-options .panel__content .seat-type-wrap {
    width: 50%;
    float: left;
    padding: 0 20px;
  }
  #panel-travel-options .panel__content .seat-type-wrap span.h6 {
    margin-bottom: 2px;
  }
  #panel-travel-options .panel__content .seat-type-wrap .input-wrap {
    margin-bottom: 9px;
  }
  #panel-travel-options .panel__content .seat-type-wrap .radio-group label,
  #panel-travel-options .panel__content .seat-type-wrap .radio-group .label{
    font-weight: 400;
  }
  #panel-travel-options .panel__content .button-wrap {
    position: absolute;
    width: 20%;
    bottom: 30px;
    right: 0px;
  }
  #panel-travel-options .panel__content .button-wrap button {
    width: 100%;
  }
  #panel-all-destination {
    height: 467px;
    overflow: hidden;
    z-index: 80;
  }

  #panel-all-destination.open {
    background: white;
  }

  #panel-all-destination .panel__content {
    overflow: hidden;
    height: 100%;
    padding-bottom: 20px;
    z-index: 80;
  }

  #panel-all-destination .toggle-all-destination,
  #panel-all-destination .all-destination {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: transparent;
  }

  #panel-all-destination h3 {
    text-align: center;
    margin: 0 0 30px;
  }

  #panel-all-destination .all-destination {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }

  #panel-all-destination .all-destination h6 {
    background-color: transparent;
    color: #006643;
    padding: 0;
  }

  #panel-all-destination .all-destination .initials-list,
  #panel-all-destination .all-destination .countries-list,
  #panel-all-destination .all-destination .airports-list {
    height: 340px;
    overflow: auto;
  }

  #panel-all-destination .all-destination .initials-wrap {
    display: block;
    float: left;
    width: 8.33%;
    margin-left: 8.33%;
    padding: 0 10px;
  }

  #panel-all-destination .all-destination .initials-wrap .initials-title {
    visibility: hidden;
  }

  #panel-all-destination .all-destination .initials-wrap .initials-list {
    padding: 0;
  }

  #panel-all-destination .all-destination .initials-wrap .initials-list .initial {
    padding: 4px;
    font-weight: 400;
    font-size: 14px;
  }

  #panel-all-destination .all-destination .countries-wrap {
    display: block;
    float: left;
    width: 33.33%;
    padding: 0 10px;
  }

  #panel-all-destination .all-destination .countries-wrap .countries-list {
    border-right: none;
  }

  #panel-all-destination .all-destination .airports-wrap {
    float: left;
    width: 41.66%;
    padding: 0 10px;
  }

  #panel-all-destination .all-destination .airports-wrap .airports-group {
    padding-bottom: 10px;
    border-bottom: 1px solid #c1c1c1;
  }

  #panel-all-destination .all-destination .airports-wrap .airports-group:last-child {
    border-bottom: none;
  }
  #panel-flight-status .panel__content-partenza,
  #panel-flight-status .panel__content-arrivo {
    float: left;
    width: 50%;
    padding: 0;
    margin-bottom: 30px;
  }
  #panel-flight-status .panel__content-arrivo {
    padding-left: 20px;
  }
  #panel-flight-status .panel__content-partenza {
    border-right: 1px solid #c8c8c8;
  }
  #panel-flight-status .panel__content-partenza::after {
    display: none;
  }
}
