.history-panel .ricerche-precedenti {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  border-bottom: 1px solid #c1c1c1;
}
.history-panel .ricerche-precedenti.custom-row {
  margin: 0;
}
.history-panel .ricerche-precedenti .column {
  padding: 0;
}
.history-panel .ricerche-precedenti .card {
  padding-left: 20px;
  padding-top: 5px;
}
.history-panel .ricerche-precedenti .card p {
  margin-top: 0;
}
.history-panel .ricerche-precedenti .card .destination {
  font-size: 21px;
}
.history-panel .ricerche-precedenti .card .destination .sigla {
  font-weight: 600;
}
.history-panel .ricerche-precedenti .card .date p {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 18px;
}
.history-panel .ricerche-precedenti .card .date p:nth-child(2) {
  padding-left: 5px;
}
.history-panel .ricerche-precedenti .card .passengers,
.history-panel .ricerche-precedenti .card .class {
  display: block;
  font-size: 17px;
}
.history-panel .ricerche-precedenti .fly {
  text-align: center;
  float: left;
}
.history-panel .ricerche-precedenti .fly img {
  width: 30px;
}
.history-panel .ricerche-precedenti .cta--primary {
  background-size: 18px 14px;
  background-position: left;
  position: absolute;
  bottom: 30px;
  right: 15px;
}
@media (min-width: 768px) {
  .ricerche-precedenti .fly img {
    padding-top: 20px;
  }
  .ricerche-precedenti .card .date,
  .ricerche-precedenti .card .passengers,
  .ricerche-precedenti .card .class {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .ricerche-precedenti .card .date p,
  .ricerche-precedenti .card .passengers p,
  .ricerche-precedenti .card .class p {
    margin-bottom: 0;
  }
  .ricerche-precedenti .card .passengers {
    padding-left: 0;
    padding-right: 30px;
  }
  .ricerche-precedenti .card .date {
    padding-right: 30px;
    margin-bottom: 15px;
  }
  .ricerche-precedenti .card .date p:nth-child(2) {
    padding-left: 20px;
  }
  .ricerche-precedenti .cta--primary {
    bottom: 0;
    right: 15px;
    top: 0;
  }
}
@media (min-width: 1024px) {
  .history-panel {
    display: none;
  }
  .history-panel .ricerche-precedenti .card .destination {
    font-size: 18px;
  }
  .history-panel .ricerche-precedenti .card .date p {
    font-size: 16px;
  }
  .history-panel .ricerche-precedenti .card .passengers,
  .history-panel .ricerche-precedenti .card .class {
    font-size: 16px;
  }
}
