.customize-row {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 25px;
}
.customize-row .notification-row {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
.customize-row .notification-row p {
  margin: 0;
  padding: 10px 20px 25px 20px;
  margin-bottom: -10px;
  font-size: 16px;
  font-weight: 600;
}
.customize-row .notification-row.confirm-status {
  background: #d7ece0;
}
.customize-row .notification-row.confirm-status p {
  color: #333333;
}
.customize-row .notification-row.alert {
  background: #676767;
}
.customize-row .notification-row.alert p {
  color: white;
}
.customize-row .ancillary-row {
  padding: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
  position: relative;
  margin-bottom: 0;
  float: left;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.customize-row .ancillary-row .column {
  text-align: left;
}
.customize-row .ancillary-row .bg-image {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 220px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: none;
}
.customize-row .ancillary-row .box-content {
  text-align: left;
}
.customize-row .ancillary-row .box-content h6 {
  font-size: 22px;
  padding-left: 45px;
}
.customize-row .ancillary-row .box-content h6.bagagli {
  background: url("/etc/designs/alitalia/clientlibs-checkin-personalizza-volo-1-embed/images/ico-bagaglio.svg") left center no-repeat;
  background-size: 25px 25px;
}
.customize-row .ancillary-row .box-content h6.lounge {
  background: url("/etc/designs/alitalia/clientlibs-checkin-personalizza-volo-1-embed/images/ico-lounge.svg") left center no-repeat;
  background-size: 25px 20px;
}
.customize-row .ancillary-row .box-content h6.fast-track {
  background: url("/etc/designs/alitalia/clientlibs-checkin-personalizza-volo-1-embed/images/ico-fast-track.svg") left center no-repeat;
  background-size: 27px 20px;
}
.customize-row .ancillary-row .box-content h6.assicurazione {
  background: url("/etc/designs/alitalia/clientlibs-checkin-personalizza-volo-1-embed/images/ico-assicurazione.svg") left center no-repeat;
  background-size: 23px 29px;
}
.customize-row .ancillary-row .box-content p {
  font-size: 18px;
  line-height: 1.3em;
  color: #333333;
  margin: 10px 0;
}
.customize-row .ancillary-row .box-confirm {
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  padding: 0;
}
.customize-row .ancillary-row .box-confirm .confirm-label {
  background: url("/etc/designs/alitalia/clientlibs-checkin-personalizza-volo-1-embed/images/ico-check.svg") 15px center no-repeat #d7ece0;
  background-size: 12px 9px;
  padding: 8px 15px 8px 35px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 16px;
  color: #676767;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.customize-row .ancillary-row .box-cta .price-wrap {
  font-size: 26px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: #333333;
  padding: 0;
}
.customize-row .ancillary-row .box-cta .button-wrap,
.customize-row .ancillary-row .box-cta .cta-wrap {
  margin-top: 40px;
  padding: 0;
}
.customize-row .ancillary-row .box-cta .button-wrap .cta--edit,
.customize-row .ancillary-row .box-cta .cta-wrap .cta--edit {
  background-image: url("/etc/designs/alitalia/clientlibs-checkin-personalizza-volo-1-embed/images/ico-edit.svg");
  background-size: 20px 20px;
  line-height: 20px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  min-height: 33px;
  min-width: 25px;
  background-position: center center;
}
.customize-row .ancillary-row .box-cta .button-wrap .cta--edit span,
.customize-row .ancillary-row .box-cta .cta-wrap .cta--edit span {
  display: none;
}
.customize-row .ancillary-row .box-cta .button-wrap .button,
.customize-row .ancillary-row .box-cta .cta-wrap .button {
  width: 100%;
}
.customize-row .ancillary-row .box-cta .cta-wrap {
  margin-top: 0;
}
.customize-row .ancillary-row .row-content {
  position: relative;
  width: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 25px 15px;
}
.customize-row .ancillary-row .row-cta {
  width: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 20px;
}
.customize-row .ancillary-row .row-cta .box-cta {
  padding: 0px;
  float: right;
}
.customize-row .ancillary-row .row-cta .box-cta .cta--edit {
  float: right;
}
.customize-row .panel-wrap-content {
  display: none;
  float: left;
  width: 100%;
  background: white;
  position: relative;
  top: 10px;
  padding-top: 60px;
}
.customize-row .panel-wrap-content .close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("/etc/designs/alitalia/clientlibs-1/images/ico-close-green.svg") center center no-repeat;
  background-size: 16px;
}
.customize-row .panel-wrap-content .info-row {
  padding-left: 65px;
  padding-bottom: 30px;
  background: url("/etc/designs/alitalia/clientlibs-1/images/ico-info-green.svg") 20px top no-repeat;
  background-size: 24px 24px;
}
.customize-row .panel-wrap-content .info-row.alert-row {
  color: #e30512;
  background: url("/etc/designs/alitalia/clientlibs-checkin-1/images/ico-alert.svg") 20px top no-repeat;
  background-size: 28px 24px;
  margin-top: 30px;
}
.customize-row .panel-wrap-content .total-row {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
  text-align: right;
  font-size: 18px;
  color: #333333;
  padding: 0 15px;
}
.customize-row .panel-wrap-content .total-row .column {
  float: right;
}
.customize-row .panel-wrap-content .total-row .price {
  font-size: 26px;
  clear: both;
  width: 100%;
  line-height: 1.5em;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.customize-row .panel-wrap-content .total-row .button-wrap {
  float: left;
  width: 100%;
  margin: 20px 0 35px 0;
}
.customize-row .panel-wrap-content .total-row .button-wrap .button {
  width: 100%;
}
.customize-row .panel-wrap-content .accordion-title {
  background: #d7ece0;
  float: left;
  width: 100%;
  padding: 25px 20px;
  border: 0px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 22px;
  font-weight: 700;
  color: #333333;
  margin-top: 1px;
}
.customize-row .panel-wrap-content .flight-content {
  padding: 30px 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
}
.customize-row .panel-wrap-content .flight-content .col_passenger {
  color: #676767;
  font-size: 16px;
  line-height: 24px;
}
.customize-row .panel-wrap-content .flight-content .col_passenger .passenger-name {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
  font-size: 22px;
  font-weight: 700;
  color: #333333;
}
.customize-row .panel-wrap-content .flight-content .col_bag,
.customize-row .panel-wrap-content .flight-content .col_bag_ancillary {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}
.customize-row .panel-wrap-content .flight-content .col_bag_ancillary {
  margin-top: 35px;
}
.customize-row .panel-wrap-content .flight-content .col_price {
  color: #333333;
  font-size: 20px;
  line-height: 24px;
  margin-top: 35px;
  text-align: right;
}
.customize-row .panel-wrap-content .flight-content .flight_label {
  margin-bottom: 20px;
  min-height: 20px;
}
.customize-row .panel-wrap-content .flight-content .flight_info {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
  margin-bottom: 30px;
}
.customize-row .panel-wrap-content .flight-content .flight_info [type="checkbox"] {
  margin-bottom: 0;
  margin-right: 5px;
}
.customize-row .panel-wrap-content .flight-content .flight_info .column {
  padding: 0;
}
.customize-row .panel-wrap-content .flight-content .flight_info .airport-name {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 21px;
  font-weight: 700;
}
.customize-row .panel-wrap-content .flight-content .flight_info .airport-name .city-name {
  display: none;
}
.customize-row .panel-wrap-content .flight-content .flight_info .price {
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: right;
  font-size: 21px;
}
.customize-row .panel-wrap-content .flight-content .flight_info.disabled {
  color: #999999;
}
.customize-row .panel-wrap-content .flight-content .flight_info:last-child {
  margin-bottom: 0;
}
.customize-row .panel-wrap-content .flight-content:first-child {
  border-bottom: 1px solid #c1c1c1;
}
.customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary {
  margin-top: 35px;
}
.customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary label {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary .input-wrap input {
  border: 0;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 50px;
  padding: 0;
  cursor: default;
}
.customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary .input-wrap input:read-only {
  background: white;
}
.customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary .input-wrap button {
  border: 1px solid #c1c1c1;
  background: white;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 37px;
  height: 37px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-bottom: 0;
}
.customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary .input-wrap button.minus {
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-button-minus-active.svg') no-repeat center center;
  background-size: 15px 3px;
}
.customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary .input-wrap button.minus:hover {
  border: 3px solid #006643;
}
.customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary .input-wrap button.minus.no-active,
.customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary .input-wrap button.minus[disabled] {
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-button-minus-no-active.svg') no-repeat center center;
  background-size: 15px 3px;
  pointer-events: none;
  opacity: 1;
}
.customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary .input-wrap button.minus.no-active:hover,
.customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary .input-wrap button.minus[disabled]:hover {
  border: 3px solid #c1c1c1;
}
.customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary .input-wrap button.plus {
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-button-plus-active.svg') no-repeat center center;
  background-size: 15px 15px;
}
.customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary .input-wrap button.plus:hover {
  border: 3px solid #006643;
}
.customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary .input-wrap button.plus.no-active,
.customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary .input-wrap button.plus[disabled] {
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-button-plus-no-active.svg') no-repeat center center;
  background-size: 15px 3px;
  opacity: 1;
}
.customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary .input-wrap button.plus.no-active:hover,
.customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary .input-wrap button.plus[disabled]:hover {
  border: 3px solid #c1c1c1;
}
.customize-row .panel-wrap-content.add-row .flight-content .col_price {
  margin-top: 35px;
}
.customize-row .panel-wrap-content .slider-row {
  padding: 0 20px;
  margin-bottom: 20px;
}
.customize-row .panel-wrap-content .slider-row .swiper-container {
  margin: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
}
.customize-row .panel-wrap-content .slider-row .swiper-container .swiper-wrapper .swiper-slide .card {
  min-height: 275px;
  text-align: center;
  background-size: cover;
}
.customize-row .panel-wrap-content .slider-row .swiper-container .swiper-wrapper .swiper-slide .card .slide--text {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 22px;
  font-weight: 700;
  padding: 15px 50px;
  background: white;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-top: 45px;
}
.customize-row .panel-wrap-content .block-text .col-logo {
  float: right;
  text-align: center;
}
.customize-row .panel-wrap-content .block-text .col-text {
  color: #333333;
  padding-left: 25px;
}
.customize-row .panel-wrap-content .block-text .col-text h6 {
  font-size: 20px;
  margin-bottom: 35px;
  font-weight: 600;
}
.customize-row .panel-wrap-content .block-text .col-text ul {
  list-style: disc inside;
  font-size: 18px;
  margin-bottom: 35px;
}
.customize-row .panel-wrap-content .block-text .col-text ul li {
  margin-bottom: 15px;
}
.customize-row .panel-wrap-content .block-text .col-condition {
  font-size: 14px;
  margin-bottom: 50px;
}
.customize-row .panel-wrap-content .block-text .col-condition [type="checkbox"] {
  margin-bottom: 0;
  margin-right: 5px;
  float: left;
}
.customize-row .panel-wrap-content .block-text .col-condition .condition-content {
  margin-bottom: 25px;
}
.flight-row.accordion {
  background: transparent;
  float: left;
  width: 100%;
}
.flight-row.accordion .accordion-item {
  float: left;
  width: 100%;
}
.flight-row.accordion .accordion-item .accordion-content {
  float: left;
  width: 100%;
  padding: 0;
  border: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
.flight-row.accordion .accordion-item .accordion-title::before {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon_dropdown.svg');
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  width: 14px;
  height: 100%;
  top: 0;
  right: 20px;
  margin-top: 0;
}
.flight-row.accordion .accordion-item.is-active .accordion-title::before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
input[name="add_bag"] {
  pointer-events: none;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .customize-row .ancillary-row .box-cta .button-wrap,
  .customize-row .ancillary-row .box-cta .cta-wrap {
    margin-top: 0;
  }
  .customize-row .ancillary-row .box-cta .button-wrap .cta--edit,
  .customize-row .ancillary-row .box-cta .cta-wrap .cta--edit {
    cursor: pointer;
    background-position: right center;
    min-height: 1px;
    float: right;
  }
  .customize-row .ancillary-row .box-cta .button-wrap .cta--edit span,
  .customize-row .ancillary-row .box-cta .cta-wrap .cta--edit span {
    display: block;
  }
  .customize-row .ancillary-row .row-cta {
    padding: 10px 10px 20px 10px;
  }
  .customize-row .ancillary-row .row-cta .box-cta {
    width: 24%;
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
  }
  .customize-row .ancillary-row .row-content {
    padding: 20px 0 0 0;
  }
  .customize-row .ancillary-row .row-content .box-cta {
    padding: 20px 10px 20px 10px;
  }
  .customize-row .ancillary-row .row-content .box-cta .button-wrap {
    float: none;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    width: 24%;
  }
  .customize-row .ancillary-row .row-content .box-cta .price-wrap {
    float: none;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
  }
  .customize-row .ancillary-row .box-cta .price-wrap {
    text-align: left;
  }
  .customize-row .ancillary-row .box-confirm {
    padding: 0;
  }
  .customize-row .panel-wrap-content .flight-content .col_bag,
  .customize-row .panel-wrap-content .flight-content .col_bag_ancillary {
    text-align: center;
  }
  .customize-row .panel-wrap-content .flight-content .col_bag strong,
  .customize-row .panel-wrap-content .flight-content .col_bag_ancillary strong {
    width: 100%;
    font-size: 30px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-top: 17px;
  }
  .customize-row .panel-wrap-content .flight-content .col_bag_ancillary {
    margin-top: 0;
  }
  .customize-row .panel-wrap-content .flight-content .col_price {
    margin-top: 25px;
  }
  .customize-row .panel-wrap-content .flight-content .flight_info .airport-name .city-name,
  .customize-row .panel-wrap-content .flight-content .flight_info .price .city-name {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary {
    margin-top: 0;
  }
  .customize-row .panel-wrap-content.add-row .flight-content .col_bag_ancillary label {
    margin-bottom: 10px;
  }
  .customize-row .panel-wrap-content.add-row .flight-content .col_price {
    margin-top: 25px;
  }
  .footer__credits {
    padding: 10px 0;
  }
  .footer__credits p {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  .customize-row {
    margin-bottom: 30px;
  }
  .customize-row .ancillary-row {
    height: 220px;
  }
  .customize-row .ancillary-row .box-content {
    text-align: left;
  }
  .customize-row .ancillary-row .box-content h6 {
    padding-left: 0;
  }
  .customize-row .ancillary-row .box-content h6.bagagli {
    background: none;
  }
  .customize-row .ancillary-row .box-content h6.lounge {
    background: none;
  }
  .customize-row .ancillary-row .box-content h6.fast-track {
    background: none;
  }
  .customize-row .ancillary-row .box-content h6.assicurazione {
    background: none;
  }
  .customize-row .ancillary-row .bg-image {
    display: block;
  }
  .customize-row .ancillary-row .box-cta {
    text-align: right;
  }
  .customize-row .ancillary-row .box-cta .price-wrap {
    text-align: right;
  }
  .customize-row .ancillary-row .box-cta .button-wrap,
  .customize-row .ancillary-row .box-cta .cta-wrap {
    width: 100%;
  }
  .customize-row .ancillary-row .box-cta .button-wrap .cta--edit span,
  .customize-row .ancillary-row .box-cta .cta-wrap .cta--edit span {
    display: block;
  }
  .customize-row .ancillary-row .row-content {
    padding: 20px 0px 10px 20px;
  }
  .customize-row .ancillary-row .row-content .box-cta {
    padding: 0 10px;
    height: 180px;
    position: relative;
  }
  .customize-row .ancillary-row .row-content .box-cta .button-wrap {
    float: none;
    vertical-align: bottom;
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 100%;
  }
  .customize-row .ancillary-row .row-cta {
    width: 100%;
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 0px 10px 0px 30px;
  }
  .customize-row .ancillary-row .row-cta .box-cta {
    padding: 0px;
  }
  .customize-row .ancillary-row .row-cta .box-cta .cta-wrap {
    margin-top: 0;
  }
}
