.tooltiptext-modal-reset {
    display: none;
    /*bottom: 85px;*/
    top : 114px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    background-color: #F3F5F6;
    color: #333333;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    font-family: "Source Sans Pro", Arial,sans-serif;
    line-height: 19.2px;
    text-decoration: none solid rgb(103, 103, 103);
    border: 1px solid #BFCFDA;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltiptext-modal-reset div{
    padding: 15px;
}
.tooltiptext-modal-reset .level{
    height: 1px;
    background-color: #B6B6B6;
    color: #333333;
    margin: 0 10px;
    padding: 0;
}
.tooltiptext-modal-reset .level #colorlevel-modal-reset{
    height: 1px;
    padding: 0;
}

.level-1{
    background-color: red;
    width: 25%;
}
.level-2{
    background-color: green;
    width: 50%;
}
.level-3{
    background-color: #4ABABC;
    width: 75%;
}
.level-4{
    background-color: #4ABABC;
    width: 100%;
}

.tooltiptext-modal-reset:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}
.tooltiptext-modal-reset:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #F3F5F6 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 80%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}