.radioGigya{
    margin-bottom: unset;
    height: 40px;
}

.titleGigya{
    padding-top: 20px
}

@media (max-width: 650px) {
    .buttonGyia {
        padding: 18px 20px 15px !important;
    }

    .radio-wrap.radioGigya .placeholder{

    }

    .radioGigya{
        margin-bottom: unset;
        height: unset;
    }
}