@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Josefin+Sans:300,400,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext'); html, button, input, select, textarea {
                                                                                                                                                                       color: #222;
                                                                                                                                                                     }
#header {
  padding: 22px 0 18px;
  position: relative;
  background: white;
}
#header:after {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  pointer-events: none;
  -webkit-box-shadow: 0 2px 5px rgba(223, 223, 223, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(223, 223, 223, 0.5);
  box-shadow: 0 2px 5px rgba(223, 223, 223, 0.5);
  z-index: 100;
  content: '';
  display: block;
}
#header .mainmenu .row,
#header .mainmenu .column,
#header .mainmenu .columns {
  margin: 0;
  padding: 0;
}
#header .mainlogo:focus {
  background: none;
}
#header .mainlogo img {
  max-width: 100px;
}
#header .skyteam {
  margin-left: 5px;
  max-width :40px;
}
#header .skyteam:focus {
  background: none;
}
#header .skyteam img {
  max-width: 26px;
  margin-bottom: -10px;
}
#header .user-area {
  text-transform: uppercase;
  display: inline-block;
  *display: inline;
  zoom: 1;
  display: none;
}
#header .mobile-menu-toggle {
  text-align: right;
}
#header .mobile-menu-toggle .user-area {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#header .mobile-menu-toggle .menu-toggle {
  display: block;
}
#header .mobile-menu-tools {
  position: relative;
  z-index: 2;
  height: 75px;
  background: white;
  -webkit-box-shadow: 0 3px 5px rgba(223, 223, 223, 0.5);
  -moz-box-shadow: 0 3px 5px rgba(223, 223, 223, 0.5);
  box-shadow: 0 3px 5px rgba(223, 223, 223, 0.5);
  text-align: center;
}
#header .mobile-menu-tools .close-button {
  float: left;
  width: 75px;
  height: 100%;
  border-right: 1px solid #d5d5d5;
  border-radius: 0;
  /*background: url(/etc/designs/alitalia/clientlibs-1/images/ico-close-black.svg) no-repeat left center;*/
  background-size: 15px 15px;
  background-position: center center;
}
#header .mobile-menu-tools .close-button:hover {
  cursor: pointer;
}
#header .mobile-menu-tools .lang-selection {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font: 13px/75px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  color: #333333;
  text-transform: uppercase;
}
#header .mobile-menu-tools .lang-selection a,
#header .mobile-menu-tools .lang-selection .sep {
  color: inherit;
}
#header .mobile-menu-tools .lang-selection .sep {
  display: inline-block;
  *display: inline;
  zoom: 1;
  color: #333333;
  margin: 0 5px;
  font-size: 13px;
  vertical-align: top;
}
#header .mobile-menu-tools .search-button {
  float: right;
  width: 55px;
  height: 100%;
  font-size: 0;
}
#header .mobile-menu-tools .search-button img {
  padding: 22px 0;
}
#header .mobile-menu-tools .search-button:hover {
  cursor: pointer;
}
#header .menu-toggle {
  float: right;
  margin: 7px 0 0 25px;
  position: relative;
  display: none;
}
#header .menu-toggle img {
  width: 27px;
  height: 21px;
}
#header .menu-toggle .notification-count {
  position: absolute;
  top: -5px;
  right: -5px;
  display: block;
  width: 17px;
  height: 17px;
  text-align: center;
  font: 12px/15px 'Source Sans Pro', Arial, sans-serif;
  color: white;
  background: #de2039;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#header .user-login {
  display: inline-block;
  *display: inline;
  zoom: 1;
  /*padding-left: 35px;
  background: url(/etc/designs/alitalia/clientlibs-1/images/ico-user.svg) no-repeat left center;*/
  background-size: 35px 35px;
  min-height: 35px;
  /* AMS Bugfix #4584 header menu hidden */
  /* vertical-align: middle; Originale */
  /* Fine bugfix #4584 */
}
#header .user-login .label {
  display: none;
}
#header .user-login img {
  max-width: 35px;
}
#header .menu-secondary {
  display: none;
}
#header .mobile-menu-secondary {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  background: #e6e6e6;
}
#header .mobile-menu-secondary,
#header .mobile-menu-secondary a {
  color: #333333;
}
#header .mobile-menu-secondary li {
  padding: 20px 20px;
  font: 19px 'Source Sans Pro', Arial, sans-serif;
  text-transform: uppercase;
  border-top: 1px solid #676767;
}
#header .mobile-menu-secondary li:first-child {
  border-top: none;
}
#header .mobile-menu-secondary li img {
  margin-right: 10px;
}
#header .js-off-canvas-overlay {
  background: rgba(0, 0, 0, 0.7);
  z-index: 115;
}
#header .off-canvas.position-right {
  width: 100%;
  right: -100%;
}
#header .off-canvas.position-right.is-open {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
#header .off-canvas {
  background: white;
  z-index: 120;
  /*width: 100%;*/
}
#header .off-canvas.is-transition-overlap.is-open {
  -webkit-box-shadow: -3px 0 5px rgba(0, 0, 0, 0);
  -moz-box-shadow: -3px 0 5px rgba(0, 0, 0, 0);
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0);
}
#header .is-drilldown {
  font: 700 23px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  text-transform: uppercase;
  max-width: none !important;
  height: 100% !important;
  width: 100% !important;
}
#header .is-drilldown,
#header .is-drilldown a {
  color: #333333;
}
#header .is-drilldown li {
  padding: 20px 20px;
}
#header .is-drilldown li li {
  padding: 0;
}
#header .is-drilldown li li li {
  padding: 20px 20px;
  font: 700 19px 'Source Sans Pro', Arial, sans-serif;
  text-transform: none;
}
#header .is-drilldown li.mobile-special {
  padding: 20px 20px;
  font: 19px 'Source Sans Pro', Arial, sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid #c1c1c1;
  background: #e6e6e6;
}
#header .is-drilldown li.mobile-special > a {
  position: relative;
}
#header .is-drilldown li.mobile-special:last-child {
  border-bottom: none;
}
#header .is-drilldown li.mobile-special img {
  margin-right: 15px;
}
#header .is-drilldown li.mobile-special li {
  padding: 20px 20px;
  font: 700 19px 'Source Sans Pro', Arial, sans-serif;
  text-transform: none;
}
#header .is-drilldown li.mobile-special .js-drilldown-back {
  background-color: transparent;
  font: 19px 'Source Sans Pro', Arial, sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid #676767;
  padding: 25px 20px;
}
#header .is-drilldown li.mobile-special .js-drilldown-back > a {
  color: #333333;
}
ul.notificationMenu__list.menu.device.submenu.is-drilldown-submenu.is-active{
  height: 100%;
}
#header .is-drilldown li.mobile-special .js-drilldown-back > a:before {
  color:#000;
  /*background-image: url(/etc/designs/alitalia/clientlibs-1/images/icon_dropdown.svg);*/
}
#header .is-drilldown li.mobile-special li.support-box {
  padding: 10px 20px;
  background: #006643;
}
#header .is-drilldown li.mobile-special li.support-box p {
  margin: 30px 0;
  font: 21px 'Source Sans Pro', Arial, sans-serif;
  color: #ffffff;
}
#header .is-drilldown .notification-count {
  position: absolute;
  top: 0px;
  left: 10px;
  display: block;
  width: 17px;
  height: 17px;
  text-align: center;
  font: 12px/15px 'Source Sans Pro', Arial, sans-serif;
  color: white;
  background: #de2039;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#header .is-drilldown .mobile-support {
  /*padding-left: 30px;
  background: url(/etc/designs/alitalia/clientlibs-1/images/ico-question.svg) left center no-repeat;*/
  background-size: 15px 15px;
}
#header .is-drilldown .mobile-notify {
  /*padding-left: 30px;
  background: url(/etc/designs/alitalia/clientlibs-1/images/ico-notify.svg) left center no-repeat;*/
  background-size: 15px 15px;
}
#header .drilldown a {
  padding: 0;
  background-color: transparent;
  display: block;
}
#header .drilldown .is-drilldown-submenu-parent > a:after {
  right: 0;
  margin: 0;
  margin-top: -6px;
  border: none;
  width: 14px;
  height: 8px;
  /*background: url(/etc/designs/alitalia/clientlibs-1/images/icon_dropdown.svg) center center no-repeat;*/
  background-size: 14px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}
#header .drilldown .is-drilldown-submenu-item [role="treeitem"] > a {
  position: relative;
}
#header .drilldown .is-drilldown-submenu-item [role="treeitem"] > a:after {
  right: 0;
  margin: 0;
  margin-top: -6px;
  border: none;
  width: 14px;
  height: 8px;
  /*background: url(/etc/designs/alitalia/clientlibs-1/images/icon_dropdown.svg) center center no-repeat;*/
  background-size: 14px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  content: '';
  display: block;
  position: absolute;
  top: 50%;
}
#header .drilldown .js-drilldown-back {
  padding: 25px 15px;
  background: #006643;
  color: #333333;
  font: 23px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  text-transform: uppercase;
}
#header .drilldown .js-drilldown-back,
#header .drilldown .js-drilldown-back a {
  color: #ffffff;
}
#header .drilldown .js-drilldown-back > a:before {
  margin: 0;
  margin-top: -6px;
  border: none;
  width: 14px;
  height: 8px;
  /*background: url(/etc/designs/alitalia/clientlibs-1/images/icon_dropdown.svg) center center no-repeat;*/
  background-size: 14px;
  /*background-image: url(/etc/designs/alitalia/clientlibs-1/images/arrow-dropdown-white.svg);*/
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  margin-right: 15px;
}
#header .drilldown .js-drilldown-back .notification-count {
  position: static;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-top: 4px;
  margin-left: 12px;
  vertical-align: top;
}
#header .user-area.user-logged::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -26px;
  left: 0;
  width: 0;
  border-bottom: 5px solid #006643;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#header .user-area.user-logged .loggeduser_info {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding-left: 35px;
  min-height: 35px;
  vertical-align: middle;
  position: relative;
}
#header .user-area.user-logged .loggeduser_info .label-name {
  text-transform: none;
  display: none;
}
#header .user-area.user-logged .loggeduser_info .initial,
#header .user-area.user-logged .loggeduser_info .img-social {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  left: 0;
}
#header .user-area.user-logged .loggeduser_info--myalitalia .initial {
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  background: #fff;
  border: 1px solid #006643;
  color: #6ab398;
  font-weight: 700;
}
#header .user-area.user-logged .loggeduser_info--millemiglia {
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-user-millemiglia.svg') no-repeat left center;
}
#header .user-area.user-logged .loggeduser_info--ulisse {
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-user-ulisse.svg') no-repeat left center;
}
#header .user-area.user-logged .loggeduser_info--freccia-alata {
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-user-freccia-alata.svg') no-repeat left center;
}
#header .user-area.user-logged .loggeduser_info--freccia-alata-plus {
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-user-freccia-alata-plus.svg') no-repeat left center;
}
#header .user-initial {
  display: block;
  text-align: center;
  background: #fff;
  color: #6ab398;
  font-size: 32px;
  line-height: 80px;
  text-transform: uppercase;
}
#header .user__logout {
  color: #006643;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 600;
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-logout.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 18px auto;
}

#MM-Login .user__logout {
  color: #006643;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 600;
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/ico-logout.svg');
  background-position: 95% center;
  background-repeat: no-repeat;
  background-size: 18px auto;
}
#header .logged-user-bar {
  position: absolute;
  z-index: 201;
  width: 100%;
  left: 0;
  top: 100%;
  background: white;
  -webkit-box-shadow: 0px 6px 5px -2px rgba(82, 82, 82, 0.5);
  -moz-box-shadow: 0px 6px 5px -2px rgba(82, 82, 82, 0.5);
  box-shadow: 0px 6px 5px -2px rgba(82, 82, 82, 0.5);
  display: none;
}
#header .logged-user-bar.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 199;
  overflow-y: scroll;
}
#header .logged-user-bar .panel__header-mobile {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 20px;
  width: 100%;
  box-shadow: 0px 0px 20px #cccccc;
  float: left;
  z-index: 1;
  position: relative;
}
#header .logged-user-bar .panel__header-mobile span {
  font-size: 20px;
  color: #333333;
  float: left;
}
#header .logged-user-bar .panel__header-mobile .close-button {
  float: right;
  position: relative;
  right: 0;
  font-size: 0;
  cursor: pointer;
}
#header .logged-user-bar .panel__header-mobile .close-button .icon--close--black {
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-close-black.svg') no-repeat left center;
  width: 15px !important;
  height: 15px !important;
  background-size: 15px 15px;
}
#header .logged-user-bar .panel__content {
  overflow: auto;
  height: calc(100vh - 59px);
  position: relative;
  width: 100%;
  padding-bottom: 100px;
  overflow-y: scroll;
}

#header .logged-user-bar .panel__content_mobile {
  overflow: auto;
  height: auto;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  margin-top: 60px;
  z-index: 100;
  overflow-y: scroll;
}
#header .logged-user-bar .panel__content .button-wrap.close-wrap {
  display: none;
}
#header .logged-user-bar .panel__content .cta-close-panel {
  text-indent: -9999px;
  font-size: 0;
}
#header .logged-user-bar .panel__content .cta.cta-close-panel:hover:after {
  width: auto;
}
#header .logged-user-bar section {
  padding: 0;
  overflow: hidden;
}
#header .logged-user-bar .wrapper {
  margin: 0 -20px;
}
#header .logged-user-bar .user__scheda,
#header .logged-user-bar .user__logout {
  background-color: #f2f2f2;
}
#header .logged-user-bar a {
  display: block;
  padding: 5px !important;
}

#MM-Login.logged-user-bar a {
   display: block;
   padding: 10px 60px 10px 20px !important;
 }


#header .logged-user-bar .cta-wrap .cta--dark {
  background-position: 95% center;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 600;
  color: #333333;
  font-size: 18px;
}
#header .logged-user-bar .cta-wrap p {
  margin: 0;
}
#header .logged-user-bar .user__scheda {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 600;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 20px 0;
}
#header .logged-user-bar .user__scheda div {
  float: left;
}
#header .logged-user-bar .user__scheda .rounded {
  overflow: hidden;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  float: none;
  margin: 0 auto;
}
#header .logged-user-bar .user__scheda .rounded img {
  max-width: auto ;
}
#header .logged-user-bar .user__scheda .user__name {
  font-size: 27px;
  line-height: 1.7;
  color: #006643;
}
#header .logged-user-bar .user__scheda .user__programma {
  font-size: 18px;
  line-height: 1.2;
  /*padding-left: 45px;*/
  color: #333333;
}
#header .logged-user-bar .user__saldo {
  text-align: center;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 20px 0;
}
#header .logged-user-bar .user__saldo div {
  float: left;
  padding-left: 35px;
  padding-right: 35px;
}
#header .logged-user-bar .user__saldo div .punti {
  margin: 0;
  font-size: 27px;
  line-height: 1.2;
  color: #006643;
  font-weight: 600;
  padding-bottom: 10px;
}
#header .logged-user-bar .user__saldo div .desc {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: #333333;
}
#header .logged-user-bar .user__punti a,
#header .logged-user-bar .user__link a {
  border-top: 1px solid #c1c1c1;
}
#header .logged-user-bar .user__punti h5,
#header .logged-user-bar .user__punti .h5 {
  font-size: 18px;
}
.reveal--language .reveal__header-mobile {
  /*display: block;*/
  position: fixed;
  background-color: white;
  left:0;
  top:0;
  text-align: left;
  padding: 20px;
  z-index: 1000;
}
.reveal--language .reveal__header-mobile .close-button {
  height: 22px;
}
.reveal--language .reveal__header-mobile span {
  float: none;
}
/** Customizzazione reveal support desktop **/
.reveal--support .reveal__content {
  background-color: #e6e6e6;
}
.reveal--support .reveal__content .custom-column:nth-child(2) img {
  margin-top: 16px;
}
.reveal--support .reveal__content .custom-column:nth-child(3) img {
  margin-top: 12px;
}
.reveal--support .reveal__content a {
  color: #333333;
  position: relative;
  padding-bottom: 1px;
  width: calc(100%);
  background-image: linear-gradient(transparent calc(90%), #006643 10px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.5s;
}
.reveal--support .reveal__content a:hover {
  background-size: 100% 100%;
}
.reveal--support .reveal__bottom-bar {
  background-color: #006643;
}
/** Customizzazione reveal language mobile **/
.reveal--language {
  overflow: hidden;
  /* 	.reveal__header-mobile { .db; } */
}
.reveal--language .reveal__inner {
  /*overflow: hidden;
  position: absolute;*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.reveal--language .reveal__content {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
  height: auto;
  overflow-y: scroll;
  padding-top: 20px;
  padding-bottom: 70px;
}
.reveal--language .custom-row .custom-row--alt {
  margin: 0 -10px;
}
.reveal--language .checkbox-wrap input,
.reveal--language .select-wrap select {
  margin: 0;
}
.reveal--language .checkbox-wrap {
  margin-bottom: 40px;
}
.reveal--language .select-wrap {
  margin-bottom: 20px;
}
.reveal--language .checkbox-wrap {
  text-align: left;
}
.reveal--language .button-wrap .button {
  display: block;
  margin-bottom: 60px;
}
.reveal--language .h4 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 18px;
}
.reveal--language .h4 span {
  color: #333333;
}
.reveal--language .shortcut-wrap {
  overflow: hidden;
  float: left;
  width: 50%;
  padding: 0 10px;
  margin-bottom: 20px;
}
.reveal--language .shortcut-wrap .shortcut {
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #c1c1c1;
  padding: 20px 0;
}
.reveal--language .shortcut-wrap .shortcut:hover {
  border-color: #006643;
}
.reveal--language .shortcut-wrap .shortcut span {
  /*vertical-align: middle;*/
}
.reveal--language .shortcut-wrap .shortcut .shortcut__lang {
  text-transform: uppercase;
  font: 700 20px/1em 'Source Sans Pro', Arial, sans-serif;
  padding-left: 10px;
  color: #333333;
}
/** Blocco notifiche desktop **/
.notification-cta {
  position: relative;
}
.notification-cta.active:before {
  content: '';
  border: 1px solid #e1e1e1;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: white;
  padding: 20px 0px;
  position: absolute;
  border-bottom: 0;
  left: -10px;
  top: -10px;
  z-index: 100;
  width: calc(100% + 30px);
  box-shadow: 0px 0px 15px #CCCCCC;
}
.notification-cta.active:after {
  content: '';
  width: calc(100% + 28px);
  position: absolute;
  height: 16px;
  background: white;
  bottom: -15px;
  left: -9px;
  z-index: 103;
}
.notification-cta a {
  position: relative;
  z-index: 104;
}
.notification-wrap {
  display: none;
  position: absolute;
  width: 310px;
  border: 1px solid #e1e1e1;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: white;
  margin-top: 11px;
  left: -10px;
  box-shadow: 0px 0px 15px #CCCCCC;
  z-index: 102;
}
.notification-single-item {
  margin: 10px 7px;
  white-space: normal;
  padding: 20px 30px 20px 15px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
}
.notification-single-item .date,
.notification-single-item a.notification-text {
  color: #999;
}
.notification-single-item .date {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 14px;
  font-weight: normal;
}
.notification-single-item a.notification-text {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.notification-single-item .icon--close--black {
  position: absolute;
  top: 15px;
  right: 15px;
  /*background: url(/etc/designs/alitalia/clientlibs-1/images/ico-close-black.svg) no-repeat left center;*/
  width: 12px;
  height: 12px;
  font-size: 0 !important;
}
.notification-single-item:hover {
  background-color: #e6e6e6;
}
.no-notification,
.is-drilldown li.no-notification {
  display: none;
}
.no-notification:hover,
.is-drilldown li.no-notification:hover {
  background: none;
}
#header .notification-single-item .date,
#header .notification-single-item a.notification-text {
  color: #999;
}
#header .notification-single-item.notification-unread .date,
#header .notification-single-item.notification-unread a.notification-text {
  color: #333;
}
#header .is-drilldown .mobile-notify-wrap .notification-single-item {
  margin: 0;
  padding: 40px 35px 40px 20px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom: 1px solid #676767;
}
#header .is-drilldown .mobile-notify-wrap .notification-single-item .date {
  margin-bottom: 10px;
}
#header .is-drilldown .mobile-notify-wrap .notification-single-item .icon--close--black {
  top: 20px;
  right: 20px;
}
#header .is-drilldown .mobile-notify-wrap .no-notification {
  border-bottom: none;
  height: 500px;
}
/* END notifiche */
/** Customizzazione reveal search desktop **/
.reveal--search .reveal__header-mobile {
  padding: 0;
  box-shadow: none;
  position: fixed;
  left: 20px;
  top: 30px;
  z-index: 2;
  width: auto;
}
.reveal--search .reveal__content {
  padding: 0;
  height: 100%;
}
.reveal--search form {
  position: relative;
}
.reveal--search form .search-bar__input {
  padding: 5px 65px 0px 65px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 75px;
  font: 700 20px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  color: #006643;
  border: none;
  margin: 0;
  line-height: normal;
  border-radius: 0;
  box-shadow: 1px 1px 10px rgba(193, 193, 193, 0.6);
  position: fixed;
  top: 0;
}
.reveal--search form .search-bar__input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font: 700 20px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  color: #66b398;
  line-height: normal;
}
.reveal--search form .search-bar__input::-moz-placeholder {
  /* Firefox 19+ */
  font: 700 20px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  color: #66b398;
  line-height: normal;
}
.reveal--search form .search-bar__input:-ms-input-placeholder {
  /* IE 10+ */
  font: 700 20px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  color: #66b398;
  line-height: normal;
}
.reveal--search form .search-bar__input:-moz-placeholder {
  /* Firefox 18- */
  font: 700 20px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  color: #66b398;
  line-height: normal;
}
.reveal--search form .search-bar__icon {
  position: fixed;
  top: 25px;
  right: 20px;
  /*background: url(/etc/designs/alitalia/clientlibs-1/images/ico-search-big.svg) no-repeat right center;*/
  background-size: 27px 29px;
  width: 27px;
  height: 29px;
  font-size: 0;
  border-left: 0px;
  border-radius: 0;
}
.reveal--search form .search-bar__icon:before,#header .is-drilldown .mobile-support:before,
#header .is-drilldown .mobile-notify:before, #header .mobile-menu-tools .close-button:before,
#header .drilldown .is-drilldown-submenu-parent > a:after,
#header .drilldown .is-drilldown-submenu-item [role="treeitem"] > a:after,
#header .drilldown .js-drilldown-back > a:before{
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 27px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e90e";
  color: #006643;
  /*margin-right: 25px;
  margin-top:-5px;

  float: left;
  display: inline-block;*/
}
#header .drilldown .is-drilldown-submenu-parent > a:after,
#header .drilldown .is-drilldown-submenu-item [role="treeitem"] > a:after{
  content: "\e933";
  color: #000;
  font-size:12px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: inline-block;
}

#header .drilldown .is-drilldown-submenu-parent.no-repeate > a:after,
#header .drilldown .is-drilldown-submenu-item.no-repeate [role="treeitem"] > a:after{
  content: "\e933";
  color: #000;
  font-size:12px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: inline-block;
  position: absolute;
  top: 16px;
}
#header .drilldown .js-drilldown-back > a:before{
  content: "\e933";
  color: #fff;
  font-size:15px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  display: inline-block;
}
#header .mobile-menu-tools .close-button:before{
  content: "\e906";
  color: #000;
  font-size: 14px;
  font-weight: 800;
}

#header .is-drilldown .mobile-notify:before{
  content: "\e90c";
  color: #676767;
  font-size: 15px;
  margin-right: 10px;
}
#header .is-drilldown .mobile-support:before{
  content: "\e90d";
  color: #676767;
  font-size: 15px;
  margin-right: 10px;
}
.reveal--search form .suggestion-box {
  margin-top: 75px;
}
.reveal--search form .suggestion-box .suggestion-box__data {
  padding: 30px 20px;
}
.reveal--search form .suggestion-box .suggestion-box__single-option {
  color: #333333;
  padding: 20px 0px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 22px;
  text-align: left;
  margin-top: 0;
}
/** Customizzazione reveal login mobile **/
.reveal--login {
  overflow: hidden;
  /* 	.reveal__header-mobile { .db; } */
}
.reveal--login .reveal__inner {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.reveal--login .reveal__content {
  position: absolute;
  top: 95px;
  bottom: 0;
  width: 100%;
  height: auto;
  overflow-y: scroll;
  padding-top: 0;
  padding-bottom: 70px;
}
.reveal--login .button-wrap {
  padding: 0 10px;
  margin-bottom: 20px;
}
.reveal--login .reveal__content .custom-row p {
  margin: 0 0 25px 0;
}
.reveal--login .reveal__content .custom-row p a {
  font-weight: 700;
  cursor:pointer;
}
.reveal--login .reveal__content .custom-row p.small-txt {
  font-size: 14px;
  margin-bottom: 0;
}
.reveal--login .reveal__content .custom-row .custom-button-wrap {
  width: 33.33%;
  float: left;
  margin-bottom: 30px;
}
.reveal--login .reveal__content .custom-row .custom-button-wrap .button {
  padding-left: 40px;
  text-align: center;
  background-position: 15px center;
  background-repeat: no-repeat;
  padding: 15px 20px 12px 40px;
}
.reveal--login .reveal__content .custom-row.custom-row-button {
  padding: 0 10px;
}
.reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button {
  background-position: center center;
  height: 45px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 100%;
}
.reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button span {
  display: none;
}
.reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--gp {
  background-size: 23px 15px;
}
.reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--fb {
  background-size: 9px 20px;
}
.reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--tw {
  background-size: 20px 16px;
}
.reveal--login .reveal__content .custom-row.custom-row-utils {
  margin: 10px 0 25px;
}
.reveal--login .checkbox-wrap {
  padding-left: 0px;
  float: left;
  clear: both;
  margin-bottom: 25px;
}
.reveal--login .checkbox-wrap label {
  font-size: 16px;
  color: #676767;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 300;
  line-height: 1;
}
.reveal--login .checkbox-wrap input {
  margin-bottom: 0;
}
.reveal--login .cta-custom-wrap {
  padding-right: 0px;
  float: left;
  clear: both;
}
.reveal--login .input-wrap {
  margin-bottom: 20px;
}
.reveal--login .custom-button-wrap {
  width: 33.33%;
  float: left;
  margin-bottom: 30px;
}
.reveal--login .custom-button-wrap .button {
  padding-left: 40px;
  text-align: center;
  background-position: 15px center;
  background-repeat: no-repeat;
  padding: 15px 20px 12px 40px;
}
.reveal--login .button-wrap-padding {
  padding: 0;
}
.reveal--login .button-wrap-padding .button {
  width: 100%;
}
@media (min-width: 768px) {

  /* AMS Bugfix #4584 header menu hidden */
  /* #header .fM{
    margin-top: -20px;
  } Originale */
  /* Fine bugfix #4584 */

  #header {
    padding: 25px 0;
  }
  #header .mainlogo img {
    max-width: 130px;
  }
  #header .skyteam {
    margin-left: 10px;
  }
  #header .skyteam img {
    max-width: 34px;
  }
  #header .menu .menu-toggle {
    margin: 10px 0 0 30px;
  }
  #header .user-area .user-login {
    padding-left: 40px;
    background-size: 40px 40px;
    /*min-height: 40px;*/
  }
  #header .off-canvas.position-right {
    width: 610px;
    right: -610px;
  }
  #header .off-canvas.position-right.is-open {
    -webkit-transform: translateX(-610px);
    -ms-transform: translateX(-610px);
    transform: translateX(-610px);
  }
  #header .user-area.user-logged .loggeduser_info {
    padding-left: 40px;
    background-size: 40px 40px;
    min-height: 40px;
  }
  #header .logged-user-bar .panel__header-mobile {
    padding: 40px 40px 35px;
  }
  #header .logged-user-bar .wrapper {
    margin: 0 -45px;
  }
  #header .logged-user-bar .user__scheda {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  #header .logged-user-bar .user__scheda > div {
    padding: 0 15px;
  }
  #header .logged-user-bar .user__scheda .user__name {
    font-size: 24px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #header .logged-user-bar .user__scheda .user__programma {
    font-size: 20px;
  }
  #header .logged-user-bar .user__scheda .rounded {
    width: 80px;
    height: 80px;
    margin-left: 20px;
  }
  #header .logged-user-bar .user__saldo {
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #header .logged-user-bar .user__saldo div:first-child {
    margin-bottom: 10px;
  }
  #header .logged-user-bar .user__saldo div .punti {
    padding-bottom: 0;
    font-size: 24px;
    line-height: 1;
  }
  #header .logged-user-bar .user__saldo div .desc {
    font-size: 18px;
    line-height: 30px;
  }
  #header .logged-user-bar a {
    padding: 5px !important;
  }
  .reveal--login .reveal__header {
    display: none;
  }
  .reveal--login .reveal__header-mobile {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .reveal--login .reveal__content {
    padding-top: 44px;
  }
  .reveal--login .reveal__content .custom-row {
    padding: 0 140px;
  }
  .reveal--login .reveal__content .custom-row .custom-button-wrap .button {
    padding-left: 40px;
    text-align: center;
    background-position: 15px center;
    background-repeat: no-repeat;
    padding: 15px 20px 12px 40px;
  }
  .reveal--login .reveal__content .custom-row.custom-row-button {
    padding: 0 200px;
  }
  .reveal--login .reveal__content .custom-row.custom-row-utils {
    margin: 20px 0 60px;
  }
  .reveal--login .checkbox-wrap {
    padding-left: 80px;
    float: left;
    clear: none;
    margin-bottom: 0px;
  }
  .reveal--login .cta-custom-wrap {
    padding-right: 80px;
    float: right;
    clear: none;
  }
  .reveal--login .button-wrap-padding {
    padding: 20px 160px 0;
  }
  .reveal--language .reveal__content {
    padding-top: 50px;
  }
  .reveal--language .select-wrap,
  .reveal--language .checkbox-wrap,
  .reveal--language .button-wrap {
    width: 55%;
    margin: 0 auto 30px;
  }
  .reveal--language .checkbox-wrap {
    margin-bottom: 50px;
  }
  .reveal--language .button-wrap {
    margin-bottom: 70px;
  }
  .reveal--language .button-wrap .button {
    display: inline-block;
    *display: inline;
    zoom: 1;
    max-width: 220px;
    margin: 0 auto;
  }
  .reveal--language .h4 {
    font-size: 25px;
  }
  .reveal--language .shortcut-wrap .shortcut {
    padding: 30px 0;
  }
  .reveal--search .reveal__header-mobile {
    left: 40px;
    top: 40px;
  }
  .reveal--search .reveal__content {
    padding: 0;
  }
  .reveal--search form {
    position: relative;
  }
  .reveal--search form .search-bar__input {
    padding: 10px 100px 0px 95px;
    height: 90px;
    font-size: 25px;
    line-height: 90px;
  }
  .reveal--search form .search-bar__input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 25px;
    line-height: 90px;
  }
  .reveal--search form .search-bar__input::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 25px;
    line-height: 90px;
  }
  .reveal--search form .search-bar__input:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 25px;
    line-height: 90px;
  }
  .reveal--search form .search-bar__input:-moz-placeholder {
    /* Firefox 18- */
    font-size: 25px;
    line-height: 90px;
  }
  .reveal--search form .search-bar__icon {
    top: 30px;
    right: 40px;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
  }
  .reveal--search form .suggestion-box {
    margin-top: 90px;
  }
  .reveal--search form .suggestion-box .suggestion-box__data {
    padding: 30px 40px;
  }
}
@media (min-width: 1024px) {

  /* AMS Bugfix #4584 header menu hidden */
  #header .fM{
    margin-top: -20px;
  } /* Correzione */
  /* Fine bugfix #4584 */

  #header {
    padding: 30px 0 0;
  }
  #header .navigation {
    text-align: right;
  }
  #header .mainmenu .row {
    padding: 0 35px;
    /*margin-right: -.625rem; margin-left: -.625rem;*/
  }
  #header .mainmenu .column,
  #header .mainmenu .columns {
    padding-right: .625rem;
    padding-left: .625rem;
  }
  #header .mainlogo {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-top: 10px;
  }
  #header .mainlogo img {
    max-width: 225px;
  }
  #header .skyteam img {
    max-width: 54px;
    width: 100%;
    margin-bottom: -18px;
  }
  #header .menu .menu-toggle {
    display: none;
  }
  #header .menu a {
    font: 12px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
    text-transform: uppercase;
    color: #333333;
  }
  #header .mainmenu {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    text-align: left;
  }
  #header .mainmenu li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-right: 25px;
    vertical-align: top;
    padding-bottom: 25px;
    border-bottom: 5px solid white;
  }
  #header .mainmenu li.is-active {
    border-bottom: 5px solid #006643;
  }
  #header .mainmenu .submenu {
    position: absolute;
    left: 0;
    margin-top: 30px;
    width: 100%;
    display: none;
    border-top: 1px solid #e1e1e1;
    font-size: 14px;
    padding-bottom: 20px;
    z-index: 150;
    background: white;
  }
  #header .mainmenu .submenu .first-sub {
    margin-top: 35px;
  }
  #header .mainmenu .submenu li {
    display: block;
    margin-right: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  #header .mainmenu .submenu .submenu-title {
    margin-bottom: 20px;
    font-size: 16px;
  }
  #header .mainmenu .submenu li.is-active {
    border-bottom: none;
  }
  #header .mainmenu .is-active .submenu {
    display: block;
  }
  #header .user-area {
    display: inline-block;
    *display: inline;
    zoom: 1;
    /*margin-top: -10px;*/
  }
  #header .user-area a {
    color: #006643;
  }
  #header .user-area .user-login {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding-left: .6em;
    /*background-size: 22px 22px;
    min-height: 24px;
    line-height: 24px;
    background-position: left top;*/
  }
  #header .user-area .user-login .label {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  #header .user-area .user-login img {
    max-width: 22px;
  }
  #header .user-area .user-signin {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  #header .user-area .sep {
    display: inline-block;
    *display: inline;
    zoom: 1;
    color: #333333;
    margin: 0 5px;
    font-size: 13px;
    vertical-align: text-top;
  }
  #header .logged-user-bar {
    z-index: 95;
  }
  #header .logged-user-bar.open {
    position: absolute;
    height: auto;
    top: 100%;
    z-index: 2;
  }
  #header .logged-user-bar .panel__header-mobile {
    display: none;
  }
  #header .logged-user-bar .panel__content {
    height: auto;
    padding-bottom: 0;
  }
  #header .user-area.user-logged .loggeduser_info .initial,
  #header .user-area.user-logged .loggeduser_info .img-social {
    width: 24px;
    height: 24px;
  }
  #header .user-area.user-logged .loggeduser_info--myalitalia .initial {
    font-size: 12px;
    text-align: center;
    line-height: 24px;
  }
  #header .menu-secondary {
    display: block;
    margin-bottom: 22px;
  }
  #header .menu-secondary > ul > li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: left;
    white-space: nowrap;
    margin-left: 30px;
    position: relative;
  }
  #header .menu-secondary > ul > li:first-child {
    margin-left: 0;
  }
  #header .menu-secondary a {
    font: 12px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
    text-transform: uppercase;
    color: #333333;
    display: block;
  }
  #header .menu-secondary a img {
    vertical-align: sub;
    margin-right: 15px;
  }
  #header .menu-secondary a.notification-text {
    text-transform: none;
    font: 700 16px/1.3em 'Source Sans Pro', Arial, sans-serif;
  }
  #header .menu-secondary .notification-count {
    position: absolute;
    top: 4px;
    left: 10px;
    display: block;
    width: 17px;
    height: 17px;
    text-align: center;
    font: 12px/15px 'Source Sans Pro', Arial, sans-serif;
    color: white;
    background: #de2039;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  #header .menu-secondary .lang-selection {
    font-size: 0;
  }
  #header .menu-secondary .lang-selection a {
    position: relative;
    padding-right: 18px;
    display: block;
  }
  #header .menu-secondary .lang-selection a:after {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -3px;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
    border: 6px solid #333333;
    border-top-color: #333333;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    content: "";
    top: 4px;
    left: auto;
  }
  #header .menu-secondary .lang-selection span {
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  #header .menu-secondary .lang-selection .sep {
    color: #676767;
    margin: 0 5px;
    font-size: 10px;
    vertical-align: top;
  }
  #header .mobile-menu-secondary {
    display: none;
  }
  #header .mainmenu .column > .menu {
    margin: 45px 0 0;
  }
  #header .mainmenu .column > .menu > li > a {
    font: 700 16px 'Source Sans Pro', Arial, sans-serif;
    text-transform: none;
  }
  #header .submenu .is-dropdown-submenu-parent a {
    text-transform: none;
  }
  #header .submenu .is-dropdown-submenu-parent li {
    margin: 7px 0;
  }
  #header .submenu .is-dropdown-submenu a {
    font: 14px 'Source Sans Pro', Arial, sans-serif;
  }
  #header .off-canvas.position-right {
    width: auto;
  }
  #header .off-canvas.position-right.is-open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  #header .off-canvas.is-transition-overlap.is-open {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #header .dropdown.menu a {
    padding: 0;
  }
  #header .dropdown.menu > li.is-dropdown-submenu-parent > a:after {
    content: none;
  }
  #header .drilldown .is-drilldown-submenu-item [role="treeitem"] > a {
    content: none;
    position: static;
  }
  #header .is-dropdown-submenu {
    border: none;
  }
  #header .is-dropdown-submenu-parent {
    position: static;
  }
  #header .is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a:after {
    content: none;
  }
  #header .dropdown.menu > li.opens-right > .is-dropdown-submenu {
    top: auto;
  }
  #header .dropdown.menu > li.opens-left > .is-dropdown-submenu {
    top: auto;
  }
  #header .column:last-child:not(:first-child),
  #header .columns:last-child:not(:first-child) {
    float: left;
  }
  #header .mainmenu .submenu .submenu {
    position: static;
    display: block;
    margin-top: 0;
    border-top: none;
    padding-bottom: 0;
    min-width: auto;
  }
  #header .user-area.user-logged {
    position: relative;
    width: 175px;
  }
  #header .user-area.user-logged .loggeduser_info {
    display: block;
    overflow: hidden;
    background-size: 22px 22px;
    font-family: 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
    font-size: 16px;
    min-height: 24px;
    height: 24px;
    line-height: 24px;
    padding: 0 30px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #header .user-area.user-logged .loggeduser_info .label-name {
    display: block;
    *display: inline;
    zoom: 1;
  }
  #header .user-area.user-logged.active::after {
    width: 100%;
  }
  #header .user__logout {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 24px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    padding-left: 30px;
  }
  #header .logged-user-bar {
    z-index: 85;
    -webkit-box-shadow: 0px 6px 5px -2px rgba(140, 137, 137, 0.5);
    -moz-box-shadow: 0px 6px 5px -2px rgba(140, 137, 137, 0.5);
    box-shadow: 0px 6px 5px -2px rgba(140, 137, 137, 0.5);
  }
  #header .logged-user-bar .sfondo {
    background: white;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  #header .logged-user-bar .sfondo * {
    color: red;
  }
  #header .logged-user-bar .sfondo .column {
    position: relative;
  }
  #header .logged-user-bar .sfondo .row {
    position: relative;
    height: 100%;
  }
  #header .logged-user-bar .sfondo .row .before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc( (100% / 12) * 4);
    background: #f2f2f2;
    content: "";
    display: block;
  }
  #header .logged-user-bar .sfondo .row .after {
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 1000%;
    background: white;
    content: "";
    display: block;
  }
  #header .logged-user-bar section {
    padding: 30px 0;
  }
  #header .logged-user-bar .wrapper {
    margin: 0;
  }
  #header .logged-user-bar a {
    display: block;
    padding: 5px !important;
    font-size: 14px;
  }
  #header .logged-user-bar .user__scheda,
  #header .logged-user-bar .user__logout {
    background-color: transparent;
  }
  #header .logged-user-bar .user__scheda,
  #header .logged-user-bar .user__saldo,
  #header .logged-user-bar .user__link {
    padding-top: 0;
    padding-bottom: 0;
  }
  #header .logged-user-bar .user__scheda .user__name {
    margin-top: 0;
    margin-bottom: 5px;
    padding-right: 20px;
  }
  #header .logged-user-bar .user__scheda > div {
    padding: 0;
  }
  #header .logged-user-bar .user__scheda .rounded {
    margin: 30px 0 0;
  }
  #header .logged-user-bar .user__scheda .user__programma {
    font-size: 18px;
    padding-left: 0;
    color: #006643;
  }
  #header .logged-user-bar .user__scheda .user__programma.millemiglia {
    background-image: none;
  }
  #header .logged-user-bar .user__scheda .show-for-large {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: 600;
    line-height: 36px;
    color: #333333;
    max-width: 145px;
  }
  #header .logged-user-bar .user__punti a,
  #header .logged-user-bar .user__link a {
    border: none;
  }
  #header .logged-user-bar .user__punti a:first-child,
  #header .logged-user-bar .user__link a:first-child {
    padding-top: 0;
  }
  #header .logged-user-bar .user__saldo div {
    padding: 0;
  }
  #header .logged-user-bar .user__link a {
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
    margin-left: -35px;
  }
  .reveal--login {
    overflow: visible;
  }
  .reveal--login .reveal__header {
    padding-bottom: 30px;
    display: block;
  }
  .reveal--login .close-button {
    display: block;
  }
  .reveal--login .reveal__header-mobile {
    display: none;
  }
  .reveal--login .reveal__inner {
    overflow: hidden;
    position: static;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    height: auto;
    border-radius: 5px;
  }
  .reveal--login .reveal__content {
    position: static;
    top: auto;
    bottom: auto;
    width: 75%;
    margin: 0 auto;
    padding: 0 0 50px;
    overflow: auto;
    height: auto;
  }
  .reveal--login .reveal__content .custom-row {
    padding: 0;
  }
  .reveal--login .reveal__content .custom-row.custom-row-button {
    padding: 0;
  }
  .reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button {
    background-position: 15px center;
    /*height: auto;*/
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button span {
    display: block;
  }
  .reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--gp {
    background-size: 18px 12px;
  }
  .reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--fb {
    background-size: 6px 12px;
  }
  .reveal--login .reveal__content .custom-row.custom-row-button .custom-button-wrap .button.button--tw {
    background-size: 18px 12px;
  }
  .reveal--login .reveal__content .custom-row.custom-row-utils {
    margin: 0px;
  }
  .reveal--login .input-wrap {
    padding: 0 80px;
    padding-top: 5px;
  }
  .reveal--login .h4 {
    padding: 0 10px;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .reveal--login .button-wrap-padding {
    padding: 20px 135px 0;
  }
  /** Customizzazione reveal language desktop **/
  .reveal--language {
    overflow: visible;
  }
  .reveal--language .reveal__inner {
    overflow: hidden;
    position: static;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
  }
  .reveal--language .reveal__content {
    position: static;
    top: auto;
    bottom: auto;
    height: calc(100% - 75px);
    overflow: hidden;
    width: 75%;
    margin: 0 auto;
    padding: 0 0 50px;
  }
  .reveal--language .select-wrap,
  .reveal--language .checkbox-wrap,
  .reveal--language .button-wrap {
    padding: 0 10px;
  }
  .reveal--language .custom-row {
    margin: 0 -10px;
  }
  .reveal--language .select-wrap {
    float: left;
    width: 50%;
    margin-bottom: 20px;
  }
  .reveal--language .checkbox-wrap {
    width: 100%;
    margin-bottom: 30px;
  }
  .reveal--language .button-wrap {
    margin-bottom: 40px;
  }
  .reveal--language .h4 {
    margin-bottom: 30px;
  }
  .reveal--language .shortcut-wrap {
    width: 20%;
    margin-bottom: 0;
  }
  .reveal--search .reveal__content {
    padding: 0;
    width: 100%;
  }
  .reveal--search form .search-bar__input {
    padding: 0px 240px 0px 65px;
    height: 110px;
    font-size: 35px;
    position: relative;
    line-height: 110px;
  }
  .reveal--search form .search-bar__input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 35px;
    line-height: 110px;
  }
  .reveal--search form .search-bar__input::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 35px;
    line-height: 110px;
  }
  .reveal--search form .search-bar__input:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 35px;
    line-height: 110px;
  }
  .reveal--search form .search-bar__input:-moz-placeholder {
    /* Firefox 18- */
    font-size: 35px;
    line-height: 110px;
  }
  .reveal--search form .search-bar__icon {
    position: absolute;
    top: 30px;
    right: 70px;
    /*background: url(/etc/designs/alitalia/clientlibs-1/images/ico-search-big.svg) no-repeat right center;*/
    background-size: 35px 35px;
    width: 90px;
    height: 50px;
    font-size: 0;
    border-left: 1px solid #c1c1c1;
    border-radius: 0;
  }
  .reveal--search form .suggestion-box {
    margin-top: 0px;
  }
  .reveal--search form .suggestion-box .suggestion-box__data {
    padding: 30px 45px;
  }
  .reveal--search form .suggestion-box .suggestion-box__single-option {
    color: #333333;
    padding: 20px 30px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-size: 22px;
    text-align: left;
    margin-top: 5px;
    cursor: pointer;
  }
  .reveal--search form .suggestion-box .suggestion-box__single-option:hover {
    background-color: #e6e6e6;
  }
}
@media (min-width: 1200px) {
  #header .menu a {
    font-size: 15px;
  }
  #header .user-area.user-logged .loggeduser_info {
    font-size: 18px;
  }
}
@media (min-width: 1366px) {
  #header .mainmenu li {
    margin-right: 40px;
  }
}
@media (min-width: 1240px) {
  #header .logged-user-bar .sfondo .row .before {
    width: calc( (100% / 12) * 3.5);
  }
  #header .logged-user-bar .user__link a {
    margin-left: 0;
  }
  #header .logged-user-bar .user__saldo div:first-child {
    margin-bottom: 20px;
  }
  #header .logged-user-bar section {
    padding: 50px 0 ;
  }
  .reveal--language .custom-row .custom-row--alt {
    margin: 0;
  }
}
.suggestion-box.suggestion-boxSearch{

  /*background-color:red;*/
  display:flex;
  text-align:left;

}

@media (min-width: 1024px) {
  .suggestion-box.suggestion-boxSearch {
    display: flex;
    position: relative;
    background: white;
    z-index: 10;
    min-width: 100%;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    padding: 0 10px;
  }
}
@media (max-width: 1024px) {
  .notification-single-item .icon--close--black {
    width: 18px;
    height: 18px;
  }

  #header .menu-secondary a {
    font: 11px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  }
}

.notification-single-item.notification-unread{
  cursor: pointer;

}

/*ultime righe */
/*
a.notification-label, .notification-wrap{
	z-index:91;
}
*/

.read{

  background-color:#d0cfcf;

}


li.notification-single-item{
  font: 700 16px/1.3em 'Source Sans Pro', Arial, sans-serif;

}

li.notification-single-item.no-notification span.notification-text{
  color: #676767;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 300;
}

li.notification-single-item span{
  text-transform: none;
  cursor:pointer;
  color: #999;
}

li.notification-single-item span.date{
  /*text-transform: none;*/
  margin-left:-3px;
  font: 400 16px/1.3em 'Source Sans Pro', Arial, sans-serif;
  color: #999;

}

li.notification-single-item.notification-unread span{
  text-transform: none;

  color: #333;}


li.notification-single-item.notification-unread span.date{
  /*text-transform: none;*/
  margin-left:-3px;
  font: 400 16px/1.3em 'Source Sans Pro', Arial, sans-serif;
  color: #333;

}


.notification-single-item{
  z-index:8!important;

}


li.notification-single-item a:visited {
  color: green!important;
}

.change-index{
  z-index:9!important;

}

ul.menu.submenu.is-dropdown-submenu.first-sub.vertical{
  -webkit-box-shadow: 0px 11px 14px -4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 11px 14px -4px rgba(0,0,0,0.3);
  box-shadow: 0px 11px 14px -4px rgba(0,0,0,0.3);
}
@media only screen and (max-width: 1023px){
  .mobile_hide_name_user{
    display: none;
  }
}

.name-thumbnail-image{
  font-size: 40px;
  width: 85px;
  height: 85px;
  background: white;
  color: rgb(154, 200, 182);
  line-height: 85px;
  text-align: center;
  margin-left: -3px;
  margin-top: -4px;
}
.reveal__inner .loader .loading {
  display: block;
}
.reveal__inner .loader {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 45px;
  width: calc(100% - 90px);
  height: 80%;
  z-index: 100;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: none;

}


.reveal__inner .loader .fade-circle {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0;
  outline: 0 none;
  border-radius: 100%;
  font-size: 9px;
  width: 1em;
  height: 1em;
  animation: fade-circle 1.5s infinite ease;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.reveal__inner .loader {
  margin: 0;
  width: 100%;
  background-color: transparent;
}

/* Loader Dinamico (Per le modali) */
.reveal__inner .Dloader {
  position: absolute;
  top: 80px;
  left: 0;
  margin: 0;
  width: 100%;
  height: calc(100% - 80px);
  z-index: 100;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: none;

}


.reveal__inner .Dloader .fade-circle {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0;
  outline: 0 none;
  border-radius: 100%;
  font-size: 9px;
  width: 1em;
  height: 1em;
  animation: fade-circle 1.5s infinite ease;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.Dloader.Dloading {
    display: block;
    background: rgba(255, 255, 255, .5);
}

@media (max-width: 600px) {

  header .small-5 {
    width: 50%;
  }
  header .small-7 {
    width: 50%;
  }

  header img[alt="Alitalia"]{
    max-width: 100px;
  }

  header img[alt="Sky Team"]{
    max-width: 30px;
  }

}

.button#login-submit-sa{
  float: none;
  margin-left:100%;
}


.reveal--sa-login .checkbox-wrap label {
  font-size: 16px;
  color: #676767;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 300;
  line-height: 1;
}


.progress.progress_m {
  background-color: #ddd !important;
  padding: 0 20px 0 20px !important;
  margin-top: unset !important;
}

.progress {
  margin-top: 30px;
  padding: 20px 0;
}
.progress:before {
  content: '';
  display: block;
  border-top: 1px solid #c1c1c1;
  margin-left: -20px;
  margin-right: -20px;
  padding-bottom: 20px;
}
.progress-bar {
  position: relative;
  margin: 3px 0 10px;
}
.progress-bar .value {
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: 0;
  color: #333333;
  font: 600 18px 'Source Sans Pro', Arial, sans-serif;
  margin-top: -10px;
}
.progress-bar .bar {
  overflow: auto;
  padding-top: 23px;
  width: 220px;
}
.progress-bar .bar span {
  float: left;
  width: 20%;
}
.progress-bar .bar span:after {
  content: '';
  display: block;
  margin-right: 2px;
  height: 8px;
  background: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.progress-bar .bar span.fill:after {
  background: #006643;
}
.progress-bar.myalitalia .bar span.fill:after {
  background: #75b829;
}
.progress-bar.millemiglia .bar span.fill:after {
  background: #007b2f;
}
.progress-bar.ulisse .bar span.fill:after {
  background: #737373;
}
.progress-bar.freccia-alata .bar span.fill:after {
  background: #cc9738;
}
.progress-bar.freccia-alata-plus .bar span.fill:after {
  background: #141414;
}

.circle-loader{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 64px;
  margin-left:5px;
  width: 100%;
  height: 100%;
  z-index: 203;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: none;
}

.circle-loader .fade-circle{
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0;
  border-radius: 100%;
  font-size: 9px;
  width: 1em;
  height: 1em;
  animation: fade-circle 1.5s infinite ease;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.vcenter-wrap{
  background-color: #e6e6e6;
  padding: 20px 20px 20px 20px !important;
}

.logoutDiv{
  background-color: #e6e6e6;
  padding: 10px 0 10px 0;
}

.content-login-border {
  border: 1px solid #c1c1c1;
  margin-top: 20px;
}

.content-login{
    display: grid;
    display:-ms-grid;
    grid-template-columns: 50% 50%;
    -ms-grid-columns:50% 50%;
    grid-template-rows: auto;
    -ms-grid-rows: auto;
    padding: 10px 0;
}
.content-login .login-ma{
    grid-row: 1;
    -ms-grid-row: 1;
    grid-column: 1;
    -ms-grid-column: 1;
    border-right: 1px solid #c1c1c1;
    padding: 40px 10px;
}
.content-login .login-mm{
    grid-row: 1;
    -ms-grid-row: 1;
    grid-column: 2;
    -ms-grid-column: 2;
    padding: 40px 10px;

}
.content-login .button-login-ma{
    grid-row: 2;
    -ms-grid-row: 2;
    grid-column: 1;
    -ms-grid-column: 1;
    border-right: 1px solid #c1c1c1;
    padding-left: 60px;
    padding-right: 60px;
}
.content-login .button-login-mm{
    grid-row: 2;
    -ms-grid-row: 2;
    grid-column: 2;
    -ms-grid-column: 2;
    padding-left: 60px;
    padding-right: 60px;
}

.center-text{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 15px;
}

.button-login-ma,
.button-login-mm{
  padding: 25px 25px;
}
/*Fix visualizzazione utente MyAlitalia errato quando loggati Millemiglia*/
.millemiglia li.hide-for-large.info-user.show-if-user-logged {
    display: none !important;
}

@media only screen and (max-width: 350px){
	.mobile-menu-tools .icon-ico-search-big {
		font-size: 25px;
	}
	#header .mobile-menu-tools .close-button {
		width: 40px;
	}
	#header .mobile-menu-tools .lang-selection {
		font: 11px/75px 'Josefin Sans','Source Sans Pro',Arial,sans-serif;
	}
}
#header {
    position: relative;
    z-index: 7;
    width: 100%;
}
.close-animation {
	transition-duration: 0.3s;
}
.open-animation {
	transition-duration: 0.5s;
	transform: translateY(100px);
}
.pad-top-large {
	padding-top: 30px;
}
.sticky-header {
    position:fixed !important;
    top: -100px;
	padding-top:10px !important;
	padding-bottom: 0px !important;
}
@media only screen and (max-width: 1023px) {
    .pad-top-large {
    	padding-top: 0px;
    }
    .sticky-header {
    	padding-bottom: 10px !important;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 700px) {
    .user-area {
        padding-top: 8px;
    }
    .loggeduser_info--myalitalia {
        transform: translateY(-15px);
    }
}
@media only screen and (min-width: 1024px) {
  #header .skyteam {
    margin-left: 5px;
  }
}