#header .mobile-menu-tools .close-button {
  position: static;
}
#header .user-area.user-logged {
  position: relative;
  text-transform: none;
  text-align: left;
  /*z-index: 1;*/
}
#header .user-area.user-logged:after {
  content: none;
}
#header .user-area.user-logged .user-menu {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  background: #fff;
  display: none;
}
#header .user-area.user-logged .user-menu .heading {
  padding: 8px 20px;
  color: white;
}
#header .user-area.user-logged .user-menu .heading--myalitalia {
  padding: 3px;
}
#header .user-area.user-logged .user-menu .miglia {
  padding: 15px 20px;
  border-bottom: 1px solid #c1c1c1;
  font-weight: 600;
  color: #333333;
}
#header .user-area.user-logged .user-menu .miglia .value {
  font-size: 18px;
  color: #006643;
}
#header .user-area.user-logged .user-menu ul {
  margin: 10px 0;
  padding: 0;
}
#header .user-area.user-logged .user-menu a {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-weight: 600;
  text-transform: none;
  color: #676767;
  display: block;
  padding: 10px 20px;
  position: relative;
}
#header .user-area.user-logged .user-menu a:after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -4px;
  width: 14px;
  height: 8px;
  background: url(/etc/designs/alitalia/clientlibs-header-1-embed/images/icon_dropdown.svg) center center no-repeat;
  background-size: 14px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#header .user-area.user-logged.active .user-menu {
  display: block;
  z-index: 9999;
  box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.30);
}
@media (min-width: 1024px) {
  #header .user-area.user-logged {
    border-bottom: 5px solid;
    padding: 0 0 20px 0;
  }

}
@media (max-width: 1024px) {
    #header .user-area.user-logged .user-menu{
        display:none;
    }
}
#header.myalitalia {
  border-bottom: 2px solid #75b829;
}
#header.myalitalia .user-area.user-logged {
  border-color: #75b829;
}
#header.myalitalia .user-area.user-logged .user-menu .heading {
  background: #75b829;
}
#header.millemiglia {
  border-bottom: 2px solid #007b2f;
}
#header.millemiglia .user-area.user-logged {
  border-color: #007b2f;
}
#header.millemiglia .user-area.user-logged .user-menu .heading {
  background: #007b2f;
}
#header.ulisse {
  border-bottom: 2px solid #737373;
}
#header.ulisse .user-area.user-logged {
  border-color: #737373;
}
#header.ulisse .user-area.user-logged .user-menu .heading {
  background: #737373;
}
#header.freccia-alata {
  border-bottom: 2px solid #cc9738;
}
#header.freccia-alata .user-area.user-logged {
  border-color: #cc9738;
}
#header.freccia-alata .user-area.user-logged .user-menu .heading {
  background: #cc9738;
}
#header.freccia-alata-plus {
  border-bottom: 2px solid #141414;
}
#header.freccia-alata-plus .user-area.user-logged {
  border-color: #141414;
}
#header.freccia-alata-plus .user-area.user-logged .user-menu .heading {
  background: #141414;
}

.gigya-error.no-border {
    border-color: #c1c1c1 !important;
}