#header {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.noScroll{
  overflow: hidden;
}
/** Sticky Footer **/
.checkin-site-wrap {
  min-height: 100%;
  position: relative;
}
.passengerName{
  font-weight: 600;
}
.push,
.footer {
  position: relative;
}
.push {
  z-index: 4;
}
.footer {
  z-index: 5;
}
.full-bg-section {
  background: #e6e6e6;
  padding-top: 20px;
}
/*** Clearfix .inner-row  ***/
.inner-row::before,
.inner-row::after {
  display: table;
  content: ' ';
}
.inner-row::after {
  clear: both;
}
.inner-row .column {
  padding: 0;
}
/** buttons **/
.checkin-button-wrap {
  float: right;
}
.checkin-button-wrap--bottom {
  padding-top: 40px;
}
.button-wrap .button--inline {
  width: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 18px 40px 15px;
}
.button-wrap .button--back {
  background-color: transparent;
  color: #006643;
}
.checkin__heading {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 30px;
  font-weight: 700;
}
/* text */
.checkin__text {
  font-size: 18px;
  color: #333333;
  margin-bottom: 50px;
  line-height: 1.5;
}
/* white blocks */
.white-block__container {
  padding-bottom: 50px;
}
.white-block {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
}
.white-block .white-block__heading {
  margin-bottom: 5px;
}
.white-block__heading--light {
  font-weight: 400;
  padding-bottom: 35px;
}
.checkin__note {
  color: #333333;
  margin: 0;
}
/*** Flight Box  ***/
.tratta-wrap {
  margin: 0 auto 60px;
}
.tratta-wrap:before {
  content: "";
  border-top: 4px solid white;
  margin: 25px -20px 30px;
  display: block;
}
.flights__title {
  margin-bottom: 25px;
}
.flights__title span {
  display: inline-block;
}
.flights__title h4 {
  font-weight: 400;
  margin-bottom: 10px;
}
.flights__title .cta-wrap {
  margin: 6px 0;
}
.flight-info {
  padding-bottom: 20px;
}
.flight-info .button {
  display: block;
}
.flight-info__codes {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 15px;
}
.flight-info__title {
  background: #006643;
  color: #fff;
  padding: 15px 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.flight-info__title p {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-top:0px;
}
.flight-info__title.flight-info__title--ko {
  background: #eaeaea;
  color: #333333;
}
.flight-info__title.flight-info__title--progress {
  background: #d7ece0;
  color: #333333;
}
.flight-info__content {
  background: #fff;
  color: #676767;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.flight-info__link {
  background: #fff;
  padding: 20px 0 0;
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.flight-info__link:after {
  content: "";
  width: 100%;
  height: 5px;
  display: inline-block;
  margin: 0 0 -5px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.flight-info__link.open:after {
  border-radius: 0;
  -webkit-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.flight-info__detail {
  padding: 25px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #676767;
}
.flight-info__block {
  margin: 0 auto 10px;
}
.flight-info__block:first-child:after {
  background: #c1c1c1;
  content: "";
  width: 80%;
  height: 1px;
  display: block;
  margin: 30px auto;
}
.flight-info__separator {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  margin: 15px auto 20px;
}
.flight-info__separator:before,
.flight-info__separator:after {
  content: "";
  width: 30%;
  height: 1px;
  display: block;
  background: #c1c1c1;
  margin: 10px 0 0 0;
}
.flight-info__separator:before {
  float: left;
}
.flight-info__separator:after {
  float: right;
}
.flight-info__date {
  margin: 0 auto 15px;
}
.flight-info__date li {
  display: inline-block;
  background: no-repeat;
  margin: 0 30px 0 0;
  color: #333333;
}
.flight-info__date .flight-info__date-departure {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon-departure.svg');
  background-size: 26px 20px;
  padding: 0 0 0 40px;
}
.flight-info__date .flight-info__date-arrival {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon-arrival.svg');
  background-size: 26px 20px;
  padding: 0 0 0 40px;
}
.flight-info__date .flight-info__date-clock {
  background-image: url('/etc/designs/alitalia/clientlibs-1/images/icon-clock.svg');
  background-size: 18px 18px;
  padding: 0 0 0 30px;
}

.airport__name {
  color: #333333;
  font-size: 26px;
}
.airport__name span {
  font-weight: 300;
  font-size: 18px;
}
.airport__short {
  color: #333333;
}
.flight-info__airport p {
  margin: 0;
}
/*** Flight info Sep ***/
.flight-info__sep {
  background: #fff;
  padding: 20px;
  margin: 0 -20px 30px;
}
.flight-info__sep .flight-info__block {
  margin: 0;
}
.airport__nflight {
  text-transform: uppercase;
  margin: 10px auto 0;
  display: block;
}
.flight-mob .flight-mob__info {
  font-weight: 700;
  text-transform: uppercase;
}
.flight-mob__info {
  font-size: 18px;
  margin: 0 0 20px;
}
.flight-mob__info span {
  display: inline-block;
}
.flight-mob__info span:first-child:after {
  content: "";
  border-right: 1px solid #333333;
  margin: 10px;
}
.flight-mob__info span:first-child {
  color: #333333;
}
.flight-mob__detail {
  font-size: 18px;
  color: #333333;
  display: inline-block;
  margin: 0 20px 0 0;
}
.flight-mob__detail span {
  display: block;
}
.flight-mob__detail .flight-mob__title {
  font-weight: 400;
  color: #676767;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.flight-mob__detail .flight-mob__day {
  font-size: 16px;
  margin-bottom: 5px;
}
.flight-mob__detail .flight-mob__hour {
  font-weight: 700;
}
/*** Flight info multirow ***/
.flight-info__multirow {
  margin: 0 -20px 30px;
  background: white;
}
.flight-info__multirow .inner {
  padding: 0 20px;
}
.flight-info__multirow .multirow-title {
  font-size: 20px;
  color: #333333;
  margin: 0 0 10px;
}
.flight-info__multirow .multirow-text {
  margin: 0 0 35px;
}
.flight-info__multirow .flight-info__link {
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.flight-info__multirow .flight-info__link:after {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.flight-info__multirow .flight-info__link .number-flight {
  float: left;
  padding: 0 0 0 20px;
  font-size: 26px;
  color: #333333;
}
.flight-info__multirow .flight-info__link .link__toggle {
  text-align: right;
  padding: 0 20px 0 0;
}
.flight-info__multirow section {
  padding: 0;
}
.flight-info__multirow section .outward-return {
  margin: 0 0 30px;
}
.flight-info__multirow p {
  margin: 0;
}
.flight-info__multirow .row-flights__outward {
  padding: 0 0 80px;
}
.flight-info__multirow .outward-return {
  text-transform: uppercase;
  color: #333333;
}
.round-space {
  color: #333333;
  margin: 0 15px;
}
/*** Toggle  ***/
.content__toggle {
  display: none;
}
.link__toggle {
  display: block;
  text-align: center;
  font-size: 18px;
}
.link__toggle span {
  position: relative;
  padding-right: 30px;
}
.link__toggle span:after {
  content: '';
  background: url('/etc/designs/alitalia/clientlibs-1/images/ico-select-green.svg') no-repeat center center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
}
.link__toggle .link__toggle-close:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
/*** Thank you page ***/
.checkin__ty-head {
  text-align: center;
}
.checkin__ty-head .checkin__ty-heading {
  font-size: 30px;
  margin-bottom: 10px;
}
.checkin__ty-head .checkin__ty-heading--alert {
  font-size: 23px;
  margin-bottom: 40px;
  color: #e6091b;
  text-transform: initial;
}
.checkin__ty-head .checkin__ty-heading--alert--cotipax {
  font-size: 23px;
  margin-bottom: 40px;
  color: #e6091b;
  text-transform: none;
}
.checkin__ty-head .checkin__ty-heading--alert::first-letter{
    text-transform:uppercase;
}
.checkin__ty-head .checkin__ty-sub-heading {
  font-family: 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 40px;
}
.checkin__ty--alert .flight-info__sep {
  /*border-top-left-radius: 0;
		border-top-right-radius: 0;*/
}
.checkin__ty--alert .button--light {
  display: block;
}
.checkin__ty-head--ok {
  background: url("/etc/designs/alitalia/clientlibs-checkin-1/images/ico-checkin-ok.svg") center top no-repeat;
  background-size: 41px 41px;
  padding-top: 60px;
}
#manage-error-msg .checkin__ty-head .button-wrap .button {
    width:30%!important;
    margin: 0 auto!important;
}
.checkin__ty-head--alert {
  /*background: url("/etc/designs/alitalia/clientlibs-checkin-1/images/ico-alert.svg") center top no-repeat;
  background-size: 42px 36px;*/
  padding-top: 60px;
}
.checkin__ty-text {
  color: #333333;
}
/** Thank you page buttons **/
.checkin-ty-button-wrap {
  margin-bottom: 20px;
}
.checkin-ty-button-wrap:after {
  clear: both;
  content: ' ';
  display: table;
}
.checkin-ty-button-wrap .button-wrap {
  margin-bottom: 20px;
}
.checkin-ty-button-wrap .button-wrap .button {
  font-size: 16px;
  display: block;
  width: 100%;
}
/** Thank you page status block **/
.checkin__ty-status-block--ok {
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
  margin-bottom: 40px;
  clear: both;
}
.checkin__ty-status-block--ok .checkin__ty-status-block-title {
  font-weight: 700;
  color: #333333;
}
.checkin__ty-status-block--alert {
  border-top: 2px solid #e30512;
  border-bottom: 2px solid #e30512;
  margin-bottom: 40px;
  clear: both;
}
.checkin__ty-status-block--alert .checkin__ty-status-block-title {
  background: url("/etc/designs/alitalia/clientlibs-checkin-1/images/ico-alert.svg") left center no-repeat;
  background-size: 25px 20px;
  padding-left: 40px;
}
.checkin__ty-status-block--alert .checkin__ty-status-block-title {
  font-weight: 700;
  color: #e30512;
}
/* fixed mobile buttons */
@media (max-width: 1023px) {
  .checkin-button-wrap--fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 6;
    background-color: #fff;
  }
  .checkin-button-wrap--fixed .button {
    float: left;
    width: 50%;
    border-radius: 0;
    font-size: 18px;
    padding: 20px;
  }
  .checkin-button-wrap--fixed .button--back {
    background-color: #fff;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .checkin-button-wrap--fixed .button {
    font-size: 16px;
    padding: 13px;
  }
}
@media (max-width: 767px) {
    .content__toggle .inner-row .column p{
        margin:6px 0;
    }
    .checkin__text a{
        display: block;
        width:100%;
    }
}
@media (max-width: 363px) {
    .flight-info__date li{
        margin: 0 6px 0 0!important;
    }
}
@media (max-width: 315px) {
    .flight-info__date li{
        margin: 0 0 0 0;
    }
    .flight-info__date li:last-child{
        margin-top:8px!important;
    }
}

@media (max-width: 396px) {
    .flight-info__separator:before, .flight-info__separator:after{
        width:20%;
    }
}
@media (max-width: 294px) {
    .flight-info__separator:before, .flight-info__separator:after{
        width:10%;
    }
}

@media (min-width: 768px) {

  #RecVoliSeg{
    margin: 0 -45px 0px !important;
  }

  .tratta-wrap:before {
    display: none;
  }
  .flight-info .button-wrap {
    float: right;
  }
  .flight-info .button {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  .flight-info .content__toggle {
    display: block;
  }
  .flight-info__title p {
    text-align: left;
  }
  .flight-info__block:first-child:after {
    margin: 0;
    background: none;
  }
  .flight-info__block:first-child {
    padding-right: 40px;
  }
  .flight-info__block:last-child {
    border-left: 1px solid #c1c1c1;
    padding-left: 40px;
  }
  .flight-info__separator:before,
  .flight-info__separator:after {
    width: 40%;
  }
  .flight-mob__detail {
    margin: 0 60px 0 0;
  }
  .flight-info__sep {
    margin-left: -45px;
    margin-right: -45px;
    padding: 20px 45px;
  }
  .flight-info__multirow {
    margin-left: -45px;
    margin-right: -45px;
  }

  .checkin-ty-button-wrap .button-wrap {
    width: 50%;
    float: left;
    padding-left: 10px;
  }
  .checkin-ty-button-wrap .button-wrap:first-child {
    padding-left: 0;
    padding-right: 10px;
  }
  .checkin__ty-status-block--alert .checkin__ty-text {
    padding-left: 40px;
  }
}
@media (min-width: 1024px) {
  .cta-wrap--right {
    text-align: right;
  }
  .flights__title h4 {
    margin-bottom: 0;
  }
  .flight-info__title p {
    text-align: left;
  }
  .flight-info__sep {
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  }
  .flight-info__multirow {
    padding: 20px 0 0;
    margin-left: 0;
    margin-right: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  }
  .flight-info__multirow .flight-info__link {
    padding: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .flight-info__multirow .flight-info__link:after {
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .flight-info__multirow .flight-info__link.open:after {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .flight-info__multirow .flight-info__link .link__toggle {
    text-align: center;
  }
  .flight-info__multirow .flight-info__link {
    /* 		box-shadow: none; */
  }
  .checkin__heading-wrapper {
    margin-bottom: 45px;
  }
  .checkin__text {
    margin-bottom: 30px;
  }

  .checkin-ty-button-wrap .button-wrap {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: auto;
  }
  .checkin-ty-button-wrap .button-wrap .button {
    font-size: 14px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  .checkin__ty--alert .flight-info__title {
    margin-left: 0;
    margin-right: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

input::-webkit-input-placeholder {
  color: #676767 !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #676767 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: #676767 !important;
}

input:-ms-input-placeholder {
  color: #676767 !important;
}
input.is-invalid-input{
  border:1px solid #e30512;
}

label.is-invalid-checkbox{
  color:#e30512!important;
}

.circle-loader{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 64px;
  margin-left:5px;
  width: calc(100% - 10px);
  height: 100%;
  z-index: 203;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: none;
}

.circle-loader .fade-circle{
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0;
  border-radius: 100%;
  font-size: 9px;
  width: 1em;
  height: 1em;
  animation: fade-circle 1.5s infinite ease;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (max-width: 600px) {

  header .small-5 {
    width: 50%;
  }
  header .small-7 {
    width: 50%;
  }

  header img[alt="Alitalia"]{
    max-width: 100px;
  }

  header img[alt="Sky Team"]{
    max-width: 30px;
  }

}

.flight-info__link .number-flight {
  float: left;
  padding: 0 0 0 20px;
  font-size: 22px;
  color: #333333;
}
