.white-block {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
}
.white-block h5 {
  margin-bottom: 5px;
}
.button-wrap .button-white {
  padding: 0;
  height: 50px;
  border: 3px solid #006643;
}
.button-wrap .button-white,
.button-wrap .button-white:hover,
.button-wrap .button-white:focus {
  background-color: white;
  color: #006643;
}
.button-wrap .button-white:hover,
.button-wrap .button-white:focus {
  border-color: #005739;
}
.passenger-wrap {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
  text-align: left;
  overflow: hidden;
}
.passenger-wrap h5 {
  margin-bottom: 5px;
}
.passenger-wrap .inner-row {
  padding: 0 .3125rem;
}
.passenger-wrap .inner-row .column {
  padding-right: .3125rem;
  padding-left: .3125rem;
}
.passenger-wrap .inner-row .row {
  padding: 0;
}
.passenger-wrap .white-block__heading--light {
  padding-bottom: 0;
}
.passenger-wrap .passenger-wrap-top {
  padding: 10px 10px;
  -webkit-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
  position: relative;
}
.passenger-wrap .passenger-wrap-top:after {
  -webkit-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
  content: "";
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  pointer-events: none;
}
.passenger-wrap .passenger-wrap-top label {
  font: 22px 'Source Sans Pro', Arial, sans-serif;
  text-transform: none;
}
.passenger-wrap .passenger-wrap-top .field-wrap {
  float: left;
}
.passenger-wrap .passenger-wrap-top .interactive {
  margin-top: 8px;
}
.passengerDataSuccess{
    position:relative;
}
.passengerDataSuccess span{
    color: #73a13f;
    position: absolute;
    left: 50%;
    margin-top: 12px;
    transform: translate(-50%, 0);
}
.field-wrap .passengerDataSuccess{
    color: #73a13f!important;
}

.passenger-wrap .passenger-wrap-top .warning {
  font-weight: 400;
}
.passenger-wrap .warning {
  margin: 0 0 5px;
  font: 600 16px 'Source Sans Pro', Arial, sans-serif;
  color: #e30512;
  padding: 5px 0 5px 49px;
  background: url("/etc/designs/alitalia/clientlibs-checkin-navbar-1-embed/images/ico-alert.svg") center left no-repeat;
  background-size: 28px 24px;
}
.passenger-wrap .edit {
  padding: 5px 37px 5px 0;
  background: url("/etc/designs/alitalia/clientlibs-checkin-navbar-1-embed/images/ico-edit.svg") center right no-repeat;
  background-size: 21px 20px;
  float: right;
  height: 20px;
}
.passenger-wrap .passenger-wrap-content {
  padding: 20px 10px;
  display: none;
  background: white;
  position: relative;
}
.passenger-wrap .passenger-wrap-content h5 {
  text-transform: none;
  font: 600 20px 'Source Sans Pro', Arial, sans-serif;
  margin: 5px 0 10px;
}
.passenger-wrap .passenger-wrap-content label {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 35px;
}
.passenger-wrap .passenger-wrap-content .label--no-pad {
  padding-bottom: 0;
  margin-bottom: 5px;
}
.passenger-wrap .passenger-wrap-content .accept {
  margin-top: 21px;
  font: 14px 'Source Sans Pro', Arial, sans-serif;
  text-transform: none;
  width: auto;
  white-space: normal;
}
.passenger-wrap .passenger-wrap-content .accept input {
  float: left;
}
.passenger-wrap .passenger-wrap-content .accept span {
  display: block;
  margin-left: 25px;
}
.passenger-wrap .close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("/etc/designs/alitalia/clientlibs-1/images/ico-close-green.svg") center center no-repeat;
  background-size: 16px;
}
.passenger-wrap label {
  position: relative;
  font: 12px 'Source Sans Pro', Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.passenger-wrap-content.show {
  display:block;
}
.passenger-wrap label input,
.passenger-wrap label select {
  margin: 5px 0 0;
}
.passenger-wrap label input::-webkit-input-placeholder,
.passenger-wrap label select::-webkit-input-placeholder {
  color: #676767;
}
.passenger-wrap label input:-moz-placeholder,
.passenger-wrap label select:-moz-placeholder {
  color: #676767;
  opacity: 1;
}
.passenger-wrap label input::-moz-placeholder,
.passenger-wrap label select::-moz-placeholder {
  color: #676767;
  opacity: 1;
}
.passenger-wrap label input:-ms-input-placeholder,
.passenger-wrap label select:-ms-input-placeholder {
  color: #676767;
}
.passenger-wrap label input::-ms-input-placeholder,
.passenger-wrap label select::-ms-input-placeholder {
  color: #676767;
}
.passenger-wrap label input::placeholder,
.passenger-wrap label select::placeholder {
  color: #676767;
}
.passenger-wrap label select {
  display: block;
}
.passenger-wrap label .feedback-error {
  position: absolute;
  text-transform: none;
  color: #e30512;
  bottom: 15px;
}
.passenger-wrap select {
  background-image: url('/etc/designs/alitalia/clientlibs-checkin-navbar-1-embed/images/ico-select-dark.svg');
}
.passenger-wrap input:disabled,
.passenger-wrap input[readonly],
.passenger-wrap textarea:disabled,
.passenger-wrap textarea[readonly] {
  background: transparent;
  border-color: #ececec;
  color: #999999;
}
.passenger-wrap input:disabled::-webkit-input-placeholder,
.passenger-wrap input[readonly]::-webkit-input-placeholder,
.passenger-wrap textarea:disabled::-webkit-input-placeholder,
.passenger-wrap textarea[readonly]::-webkit-input-placeholder {
  color: #999999;
}
.passenger-wrap input:disabled:-moz-placeholder,
.passenger-wrap input[readonly]:-moz-placeholder,
.passenger-wrap textarea:disabled:-moz-placeholder,
.passenger-wrap textarea[readonly]:-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.passenger-wrap input:disabled::-moz-placeholder,
.passenger-wrap input[readonly]::-moz-placeholder,
.passenger-wrap textarea:disabled::-moz-placeholder,
.passenger-wrap textarea[readonly]::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.passenger-wrap input:disabled:-ms-input-placeholder,
.passenger-wrap input[readonly]:-ms-input-placeholder,
.passenger-wrap textarea:disabled:-ms-input-placeholder,
.passenger-wrap textarea[readonly]:-ms-input-placeholder {
  color: #999999;
}
.passenger-wrap input:disabled::-ms-input-placeholder,
.passenger-wrap input[readonly]::-ms-input-placeholder,
.passenger-wrap textarea:disabled::-ms-input-placeholder,
.passenger-wrap textarea[readonly]::-ms-input-placeholder {
  color: #999999;
}
.passenger-wrap input:disabled::placeholder,
.passenger-wrap input[readonly]::placeholder,
.passenger-wrap textarea:disabled::placeholder,
.passenger-wrap textarea[readonly]::placeholder {
  color: #999999;
}
.passenger-wrap .privacy {
  font: 12px 'Source Sans Pro', Arial, sans-serif;
  margin: 0 0 35px;
}
.passenger-wrap .privacy p {
  margin: 0 0 15px;
}
.passenger-wrap .button-wrap .button {
  width: 100%;
}
.passenger-wrap .collapse .column {
  padding: 0;
}
.passenger-wrap .collapse select {
  border-radius: 0;
  border-left: none;
}
.passenger-wrap .collapse .column:first-child select {
  border-radius: 5px 0 0 5px;
  border-left: 1px solid #c1c1c1;
}
.passenger-wrap .collapse .column:last-child select {
  border-radius: 0 5px 5px 0;
}
.passenger-wrap-add {
  margin-top: 60px;
  padding: 25px 10px;
}
.passenger-wrap-disabled {
  background: #f3f3f3;
}
.passenger-wrap-disabled .passenger-wrap-top .field-wrap {
  /* IE 8 */
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Webkit */
  -webkit-opacity: 0.5;
  /* Good browsers */
  opacity: 0.5;
}
.passenger-wrap-completed {
  background: #d1eddf;
}
.field-wrap {
  /*padding: 3px 0;*/
  position: relative;
}
.field-wrap.error .checkbox-wrap .placeholder {
  border: 1px solid #000;
}
.field-wrap.checked .field-checkbox .checkbox-wrap .placeholder {
  background-position: 0 -29px;
}
.field-wrap label,
.field-wrap .label {
  display: inline-block;
  *display: inline;
  zoom: 1;
  float: left;
  margin-bottom: 0;
}
.field-wrap label.empty,
.field-wrap .label.empty {
  min-height: 1px;
}
.field-wrap .field-checkbox {
  margin: 5px 0;
}
.field-wrap .field-checkbox .checkbox-wrap {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-right: 15px;
}
.field-wrap .field-checkbox .checkbox-wrap:hover {
  cursor: pointer;
}
.field-wrap .field-checkbox .checkbox-wrap input {
  position: absolute;
  top: -100%;
  left: -100%;
}
.field-wrap .field-checkbox .checkbox-wrap .placeholder {
  /*border: 1px solid transparent;*/
  border: none;
  display: block;
  height: 30px;
  width: 30px;
  background: url("/etc/designs/alitalia/clientlibs-checkin-navbar-1-embed/images/checkbox.svg") no-repeat;
  background-size: 30px;
  vertical-align: middle;
}
.field-wrap .field-checkbox label {
  float: none;
  vertical-align: middle;
}
.field-wrap .field-checkbox label:hover {
  cursor: pointer;
}
.field-wrap .field-checkbox label .sub {
  display: block;
  font-size: 16px;
  color: #006643;
}
.field-wrap .field-reset {
  margin: 5px 0;
}
.field-wrap .field-reset a {
  display: block;
  padding-left: 35px;
  background: url("/etc/designs/alitalia/clientlibs-checkin-navbar-1-embed/images/reset.png") left top no-repeat;
  font: 700 14px/30px Arial;
  color: #666;
}
.field-wrap .field-reset a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .passenger-wrap .inner-row {
    padding: 0 .625rem;
  }
  .passenger-wrap .inner-row .column {
    padding-right: .625rem;
    padding-left: .625rem;
  }
  .passenger-wrap .collapse .column {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1024px) {
  .passenger-wrap .inner-row {
    /*padding: 0 .625rem;*/
  }
  .passenger-wrap .inner-row .row {
    /*padding: 0;*/
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
  .passenger-wrap .button-wrap .button {
    max-width: 220px;
  }
  .passenger-wrap .large-uncollapse .column {
    padding-right: .625rem;
    padding-left: .625rem;
  }
  .passenger-wrap .large-uncollapse select,
  .passenger-wrap .large-uncollapse .column select,
  .passenger-wrap .large-uncollapse .column:first-child select,
  .passenger-wrap .large-uncollapse .column:last-child select {
    border-radius: 5px;
    border: 1px solid #c1c1c1;
  }
  .button-arrow {
    background: url("/etc/designs/alitalia/clientlibs-checkin-navbar-1-embed/images/arrow-dark-green.svg") center center no-repeat;
    background-size: 9px;
  }
  .button-arrow span {
    display: none;
  }
}
/*avoid horizontal scroll*/
.checkin-site-wrap {
  overflow-x: hidden;
}

@media (max-width: 768px){
  .passenger-wrap-add {
    margin-top: 0px;
  }
  .passenger-wrap .passenger-wrap-top .warning {
    padding-left: 30px;
  }
}
