.modal-overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, .8);
  z-index: 9999;
  color: black;
  overflow-y: auto;
}

.modal {
  background: white;
  margin: auto;
  border-radius: 5px;
  font-family: Josefin Sans Regular;
  font-size: 23px;
  top: 50vh;
  position: relative;
  transform: translateY(-50%);
  color: #e6091b;
}

.modal-content {
  background: #F6F8F5;
  padding: 10px;
  margin: 10px 10px 0px 10px;
}

.modal-footer {
  width: 100%;
  padding: 10px;
}

.btn {
  margin: 5px;
}

ul.modal-list {
  list-style-type: initial;
  word-wrap: break-word;
  text-align: left;
  margin-bottom: 40px;
}
ul.modal-list li{
    padding: 6px 0!important;
}
