#main-content section{
  padding: 30px 0!important;
}
#main-content .registration-wrap .title p{
  margin:20px auto;
  font-size: 18px;
}


@media (min-width: 768px) {
  .registration-wrap .inner-row .column {
    padding-right: .625rem;
    padding-left: .625rem;
  }
  .registration-wrap .title {
    text-align: center;
  }
  .registration-wrap .social-login {
    text-align: left;
    margin: 13px 0;
  }
  .registration-wrap .agree li .text {
    margin: 0 25px 10px 0;
    width: auto;
  }
  /*  .registration-wrap .or {
      padding: 10px 0;
    }*/
  .registration-wrap .radio-wrap .placeholder {
    width: 20px;
    height: 20px;
  }
  .registration-wrap .radio-wrap .placeholder:after {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
  }
  .registration-wrap .custom-button-wrap .button {
    background-position: 15px center;
  }
  .registration-wrap .custom-button-wrap .button span {
    display: block;
  }
  .registration-wrap .button-wrap {
    margin: 0;
  }
  .registration-wrap .banner-advantages .bg {
    min-height: 170px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .registration-wrap .banner-advantages ul {
    margin-top: 0;
  }
  .registration-wrap .field-wrap.checked .field-checkbox .checkbox-wrap .placeholder {
    background-position: 0 -19px;
  }
  .registration-wrap .field-wrap .field-checkbox .checkbox-wrap .placeholder {
    height: 20px;
    width: 20px;
    background-size: 20px;
  }
}
@media (min-width: 1024px) {
  .myalitalia-site-wrap .border-bottom:after {
    border-bottom: none;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 500px) {
  #radiocheck {
    width: 7.5% !important;
  }
  .registration-wrap .banner-advantages #checkbottom ul{
    margin-top: 0px !important;
  }
  .registration-wrap .banner-advantages ul{
    margin-top: 20px !important;
  }
  .pancor p{
    text-align: center!important;
  }
  #header{
    min-height: 0px !important;
  }
  .nav-wrapper{
    height: unset !important;
  }
  #modalmobile{
    display: block!important;
  }
  #modallarge{
    display: none !important;
  }
}

#modalmobile{
  display: none;
}

#socialIconsReg_bottomLink { display: none }

.alignp-r{
  padding:1px;
  font-size: 22px!important;
  font-family: josefin sans !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  text-align: right
}
.alignp-l{
  padding:1px;
  font-size: 22px!important;
  font-family: josefin sans !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  text-align: left
}