.editor h1 {
	font-size: xx-large;
    padding: .5em
}

.editor h4 {
	font-size:larger;
    padding: 1.2em
}

.editor .logo{
	padding: 1.2em
}

.editor .supportMenu.j-groupContainer {
    height: inherit;
    max-height: none;
    margin-left:.8em;
}

.editor .loginMenu.j-groupContainer {
    height: inherit;
    max-height: none;
    margin-left:.8em;
}

.editor .languageMenu.j-groupContainer {
    height: inherit;
    max-height: none;
    margin-left:.8em;
}

.editor .notificationMenu.j-groupContainer {
    display: block;
    opacity:1;
    position:relative;
    margin-left:.8em;
    max-height: none;
    top: 0px;
}

.editor .recentMenu.j-groupContainer {
    display: block;
    opacity:1;
    position:relative;
    margin-left:.8em;
    max-height: none;
    top: 0px;
}

#languageMenu-country
{
	text-transform: capitalize;
}

.loginMenu.isActive{
	overflow:visible;
}

.loginMenu.velocity-animating.isActive{
	overflow:hidden;
}