.bg-primary h3 {
  color: white;
}
.values__slider {
  clear: both;
}
.values__slider .custom-card {
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.values__slider .custom-card__section {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.values__slider .custom-card__section.bg-image {
  height: 240px;
  padding: 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.values__slider .custom-card__section.custom-card__section--text {
  padding-top: 50px;
  padding-bottom: 70px;
}
.values__slider .swiper-container--carousel {
  margin: 0 -20px;
}
.values__slider .swiper-container--carousel .swiper-slide {
  padding: 0;
}
.values__slider .bg-image {
  background-position: center;
  background-size: cover;
}
.values__slider p {
  font: 16px 'Josefin Sans', 'Source Sans Pro', Arial, sans-serif;
  color: white;
  text-transform: uppercase;
}
.values__slider h5 a {
  color: inherit;
}
.values__slider h5 {
  color: white;
}
.values__slider .cta-wrap .cta {
  font-size: 18px;
}
@media (min-width: 768px) {
  .values__slider h5 {
    text-align: center;
  }
  .values__slider .custom-card {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .values__slider .custom-card .bg-image {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .values__slider .custom-card__section.bg-image {
    height: 220px;
    padding: 20px;
  }
  .values__slider .cta-wrap {
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  .values__slider .cta-wrap .cta {
    font-size: 14px;
  }
  .values__slider .swiper-slide {
    width: 50%;
  }
  .values__slider .swiper-container--carousel {
    margin: 0 -10px;
  }
  .values__slider .swiper-container--carousel .swiper-slide {
    padding: 0 10px;
  }
}
@media (min-width: 1024px) {
  .values__slider .swiper-container--carousel {
    padding-bottom: 0;
  }
  .values__slider .swiper-slide {
    width: 33.333333%;
  }
  .values__slider .custom-card.custom-card--hor .custom-card__section {
    float: none;
    width: 100%;
  }
}
