.section-faq {
  background: white;
}
.faq__accordion .accordion-item *,
.faq__accordion .accordion-item:first-child > :first-child,
.faq__accordion :last-child:not(.is-active) > .accordion-title,
.faq__accordion :last-child > .accordion-content:last-child {
  border-radius: 0;
  border: 0;
}
.faq__accordion .accordion-content {
  padding: 0;
}
.faq__accordion .accordion-title:hover,
.faq__accordion .accordion-title:focus {
  background-color: transparent;
}
.faq__accordion .accordion .accordion-item .accordion-title,
.faq__accordion .lista-destinazioni__item {
  border-bottom: 1px solid #c1c1c1;
}
.faq__accordion .accordion .accordion-content {
  color: #676767;
  padding: 20px;
  border-bottom: 1px solid #c1c1c1;
}
.faq__accordion .accordion .accordion-content p,
.faq__accordion .accordion .accordion-content ul li {
  margin-bottom: 20px;
}
.faq__accordion .accordion .accordion-content ul li::before {
  list-style-type: none;
  content: 'â€¢';
}
.faq__accordion .accordion .accordion-item {
  color: #676767;
}
.faq__accordion .accordion .accordion-item.is-active .accordion-title::before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.faq__accordion .accordion .accordion-title {
  padding: 25px 20px 20px;
  font: 20px 'Source Sans Pro', Arial, sans-serif;
  color: inherit;
}
.faq__accordion .accordion .accordion-title::before {
  background-image: url('/etc/designs/alitalia/clientlibs/images/icon_dropdown.svg');
  background-position: center center;
  background-repeat: no-repeat;
  content: '';
  width: 14px;
  height: 100%;
  top: 0;
  right: 20px;
  margin-top: 0;
}
.faq__accordion .accordion .cta-wrap {
  text-align: center;
  padding: 50px 20px;
}
.checkin-sidebar-heading {
  font-weight: 700;
}
.checkin-sidebar-text {
  margin-bottom: 80px;
}
.checkin-sidebar-faq__container {
  margin-bottom: 60px;
}
.checkin-sidebar-faq__heading {
  margin-bottom: 20px;
}
.checkin-sidebar-faq__accordion {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.checkin-sidebar-faq__accordion .faq__accordion .accordion .accordion-item {
  padding: 0;
}
.checkin-sidebar-faq__accordion .faq__accordion .accordion .accordion-item.is-active .accordion-title {
  border-bottom: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.checkin-sidebar-faq__accordion .faq__accordion .accordion .accordion-item a {
  padding: 25px 20px 20px;
}
@media (min-width: 768px) {
  .faq__accordion {
    margin: 0;
  }
  .faq__accordion .accordion .accordion-item .accordion-title {
    padding: 25px 0 20px;
  }
  .checkin-sidebar-heading {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .faq__accordion .accordion-title {
    font-size: 18px;
  }
  .faq__accordion .accordion .accordion-item {
    padding: 0 10px;
  }
  .checkin-sidebar-faq__heading {
    margin-bottom: 25px;
  }
  .checkin-sidebar-text {
    margin-bottom: 60px;
  }
}