
body {
	background: #E1E1E1 url(../img/background_generale_booking_tcm42-14101.gif) repeat-x;
	margin-top: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #333333;
	text-align: center;
	}
input {
	font-size: 1.2em;
}
select {
	font-size: 1.2em;
}
td {
	font-family: Verdana;
	font-size: 0.65em;
}

#text-generico h3 {
	border-bottom: #D6D6D6 1px solid;
	color: #015A20;
	font-size: 15px;
	letter-spacing: 1px;
	margin-top: 10px;
	padding-bottom: 33px;
}
h3 {
	border-bottom: #D6D6D6 1px solid;
	color: #015A20;
	font-size: 15px;
	letter-spacing: 1px;
}
#main {
	background: url(../img/bg_main_tcm42-14104.gif) repeat-y;
	width: 741px;
	margin: 0px auto;
	text-align: left;
	padding: 0 12px;
}
.top {
	background: #E1E1E1;
	width: 730px;
	text-align: right;
	padding: 1px 11px 5px 0;
	color: #035C24;
}

.logo {
	width: 741px;
	height: 70px;
	MARGIN-RIGHT:23px;
	PADDING: 0px;
}

.ident {
	background: #E1E1E1;
	width: 741px;
	font-size: 11px;
}

.logo a.menu-lg img{
	border: 0px;
	margin-left: 28px;
}
.logo a.menu-lg-first img{
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px;
	BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 0px; BORDER-RIGHT-WIDTH: 0px;
	MARGIN-BOTTOM: 0px;
}

.trb {
	FONT-WEIGHT: bold; 
	COLOR: #cc3333; 
	FONT-STYLE: normal; 
	FONT-FAMILY: Verdana,Arial,Helvetica; 
	TEXT-DECORATION: none
}

.top a {
	color: #025B25;
}
.top a:hover {
	color: #025B25;
	text-decoration: none;
}

.ident a{
	color: #035C24;
}
.ident a:hover{
	color: #035C24;
	text-decoration: none;
}
#footer p a {
	color: #026634;
	margin-left: 10px;
}
#edowrap {
	position: relative;
	margin: 0 auto; /* non-IE centering */
	text-align: left;
	width: 767px;
	}
a {
	color: #025B25;
}

a:hover {
	color: #025B25;
	text-decoration: none;
}

input.text {
	border: 1px solid #999999;
	font-size: 1.2em;
}

/*********( FORMATTAZIONE PERCORSO )***********************/
.percorso ul#percor {
	/*font-size: 10px;*/
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.percorso ul#percor li {
	display: inline;
	margin: 0px;
	padding: 0px;
	color: #025B25;
}

.percorso ul#percor li a{
	color: #025B25;
}
.percorso ul#percor li a:hover{
	color: #025B25;
	text-decoration: none;
}

.percorso ul#percor li.active{
	color: #000;
	font-weight: bold;
}


div.percorso {
	border-bottom: 1px solid #E5E5E5;
	padding: 5px 0 5px 21px;
}

/*********( FORMATTAZIONE NEWS HOME )***********************/
.news ul#percor {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.news ul#percor li {
	display: inline;
	color: #025B25;
}

.news ul#percor li a{
	color: #025B25;
}
.news ul#percor li a:hover{
	color: #025B25;
	text-decoration: none;
}

.news ul#percor li.active{
	color: #000;
	font-weight: bold;
}
/*********( FINE FORMATTAZIONE NEWS HOME )***********************/

/*********( FINE FORMATTAZIONE PERCORSO )***********************/

.editorial {
	width: 717px;
}

#footer {
	background: url(../img/footer_gradient_tcm42-24242.gif) no-repeat top center;
	width: 767px;
	margin: 0px auto;
	padding-top: 15px;
	text-align: center;
}


/*------------------- [  FORMATTAZIONE DELLA COLONNA DESTRA : I SERVIZI  ]------------------*/

ul.servizi {
	list-style: none;
	margin: 0 0 0 4px;
	padding: 0px;
}

ul.servizi li {
	text-indent: -9999px;
	margin: 0px;
	padding: 0px;
}

ul.servizi a { 
	display:block;
	text-decoration:none;
	width:135px;
	height: 40px;
}
ul.service{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

}
/* Formattazione dell'elenco NEWS
---------------------------------------------------------*/
#text-generico h3.new {
	border-bottom: 1px solid #fff;
	margin-bottom: 0px;
}
div.dispari {
	background: #fff;
	border-top:1px solid #E5E5E5; 
	border-bottom:1px solid #E5E5E5;
	padding: 6px 10px 7px 10px;
}
div.pari {
	background: #E5E5E5;
	border-top:1px solid #fff; 
	border-bottom:1px solid #fff;
	padding: 6px 10px 7px 10px;
}
span.news-data {
	float: left;
	margin-right: 30px;
	font-weight: bold;
}

/* ------------------------------------------------------ */

td.prenota_e_acquista {
	color: #025B23;
	font-size: 0.55em;
	font-weight: bold;
	text-transform: uppercase;
}

td.prenota_e_acquista_done {
	color: #025B23;
	font-size: 0.7em;
	background-color: #e5e5e5;
	padding-left: 3px;
	padding-right: 3px;
}

td.prenota_e_acquista_active {
	color: #ffffff;
	font-size: 0.7em;
	background-color: #025B23;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: bold;
}

td.prenota_e_acquista_todo {
	color: #000000;
	font-size: 0.7em;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
}

td.prenota_e_acquista_todo_stop {
	color: #000000;
	font-size: 0.7em;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	border-bottom: 1px solid #E5E5E5;
	border-top: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
}


td.left_coloumn {
	vertical-align: top;
	background-image: url(../img/left_column_gradient_back_tcm42-24238.gif);
	background-repeat: repeat-y;
	width: 13px;
}

td.rite_coloumn {
	vertical-align: top;
	background-image: url(../img/rite_column_gradient_back_tcm42-24239.gif);
	background-repeat: repeat-y;
	width: 13px;
}

#prenot-online-home {

	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	BACKGROUND: url() no-repeat left top;
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px;
	WIDTH: 717px;
	TEXT-INDENT: -9999px;
	PADDING-TOP: 0px;
	HEIGHT: 37px
}
#prenot-online {
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  margin-top: 0px !important; /*margine dall'alto della barra verde per firefox*/
  margin-top/**/: 0px; /*margine dall'alto della barra verde per IE*/
}
#prenot-online a{
  display: block;
  text-decoration: none;
  height: 37px;
  width: 717px;
  /*float: left;*/
  background: transparent url() top left no-repeat;
	}
td.cerca-multitratta-dispari table.cerca-volo td.opt-adulti {
	vertical-align: bottom;
}
td.cerca-multitratta-pari table.cerca-volo td.opt-adulti {
	vertical-align: bottom;
}
td.cerca-multitratta-opzioni table.cerca-volo td.opt-adulti {
	vertical-align: bottom;
}
td.box_richiesta_chat {
 color: #B1092A;
 background-color: #D5D5D5;
 border: 1px solid #B1092A;
 font-size: 0.75em;
 text-align: center;
 font-weight: bold;
 padding-top: 6px;
 padding-bottom: 6px; 
}
td.container_avviso_errore_01 {
    border-top: 1px solid #989A99;
    border-left: 1px solid #989A99;
    padding-left: 20px;
    padding-top: 7px;
    padding-right: 20px;
    padding-bottom: 10px;
} 
td.container_avviso_errore_02 {
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    padding-left: 20px;
    padding-top: 7px;
    padding-right: 20px;
    padding-bottom: 10px; 
}
td.avviso_rosso {
    color: #B1092A;
    font-size: 1.07em;
    font-weight: bold;
}
td.avviso_rosso span.avviso_02{
    color: #B1092A;
    font-size: 0.6em;
    font-weight: bold;
}
td.container_avviso_errore_01 strong {
    color: #015A22;
    font-weight: bold;
}
.segnalazione_errore {
    color: #B1092A;
}

/* Fine COMMON ---------------------------------------------------------- */
/* Inizio Trade --------------------------------------------------------- */

td.trade_faq {
	background-color: #E1E1E1;
	text-align: right;
}	

table.trade_tastiera {
	background: url(../img/sfumatura_tastiera_aliTrade_tcm42-24243.gif);
	background-repeat: no-repeat;
	background-position: top;
}
td.trade_nome_agenzia {
	text-align: center;
	color: #007236;
	font-size: 13px;
	font-weight: bold;
}	
td.trade_titoli_menu1 {
	color: #007236;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	padding-top: 10px;
	vertical-align: top;
	height: 65px;
	text-transform: uppercase;
	border-bottom: 1px solid #d7d7d7; 
}
td.trade_titoli_content {
	color: #007236;
	font-size: 16 px;
	font-weight: bold;
	border-bottom: 1px solid #007236;
	vertical-align: top;
	letter-spacing: 1px;
	height: 65px;
	padding-top: 10px;
}
td.trade_linea_laterale_menu {
	border-left: 1px solid #007236; 
}
table.trade_sx_menu_submenu {
	border-bottom: 1px solid #D7D7D7;
	border-top: 1px solid #D7D7D7;
} 
table.trade_sx_menu_submenu td {
	background-color: #F3F3F3; 
	font-size: 10px;
	letter-spacing: 0px;
	font-weight: bold;
	padding-bottom: 4px;
}
table.trade_sx_menu_submenu a {
	background-color: #F3F3F3; 
	height: 16 px;
	font-size:10 px;
	letter-spacing: 0px;
	text-decoration: underline;
	font-weight: normal;
}
table.trade_sx_menu_submenu a: hover {
	text-decoration: none;
}
table.trade_sx_menu_submenu a.subselected {
	background-color: #F3F3F3; 
	height: 16 px;
	font-size:10px;
	letter-spacing: 0px;
	text-decoration: underline;
	font-weight: bold;
}
table.trade_sx_menu {
	padding-bottom: 10px;
}
td.trade_titoli_descrizione {
	border-bottom: 1px solid #D7D7D7;
	vertical-align: top;
	padding-top: 10px;
}
td.trade_descrizione {
	border-bottom: 1px solid #d7d7d7;
	height: 65px;
	vertical-align: top;
	padding-top: 10px;
	}
td.trade_dx_menu_immagini  {
	border-bottom: 1px solid #D7D7D7;
	vertical-align: top;
	padding-bottom: 5px;
}
input.trade_aerop {
	width: 124px;
	border: 1px solid #9a9a9a;
	font-size: 12px;
	height: 18px;
}
input.trade_data {
	width: 103px;
	border: 1px solid #9a9a9a;
	font-size: 12px;
	height: 18px;
	vertical-align: middle;
}
select.trade_traveller {
	font-size: 11px;
	border: 1px dotted #9a9a9a;
}
td.trade_faqHome_titolo {
	font-weight: bold; 
	font-size: 12px; 
	color: #007236;
}
select.trade_faqHome {
	width: 230px;
	font-size: 12px;
	background-color: #ECECEC;
	color: #888888;
	margin-bottom: 10px;
}
td.trade_AI_titolo_left {
	color: #007236;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	padding-top: 10px;
	vertical-align: top;
	height: 27px;
	text-transform: uppercase;
	border-bottom: 1px solid #d7d7d7; 
}
td.trade_AI_titolo_rite {
	color: #007236;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	padding-top: 10px;
	vertical-align: top;
	height: 27px;
	text-transform: uppercase;
	border-bottom: 1px solid #007236; 
}
td.trade_AI_scegli {
	vertical-align: top;
	height: 15px;
}
td.trade_AI_scegli select {
	width: 135px;
	font-size: 11px;
}
td.trade_AI_titolo_cerca {
	color: black;
	font-size: 10px;
	font-weight: bold;
	padding-top: 10px;
	vertical-align: top;
	height: 27px;
	text-transform: uppercase;
}
input.trade_AI_cerca {
	width: 25px;
	font-size: 10px;
	height: 18px;
}

input.trade_AI_cerca_year {
	width: 40px;
	font-size: 10px;
	height: 18px;
}

input.trade_AI_title {
	width: 135px;
	font-size: 10px;
	height: 18px;
}

td.trade_AI_intestazione {
	color: white;
	font-size: 10px;
	font-weight: bold;
	height: 18px;
	background-color: #007236;
	border-right: 1px solid White;
	padding-left: 10px;
}
td.trade_AI_titolo_intro {
	color: white;
	font-size: 10px;
	font-weight: bold;
	height: 18px;
	background-color: #007236;
	padding-left: 10px;
}
td.trade_news_dati {
	border-right: 1px solid #ffffff;
	background-color: #ebebeb;
	height: 34px;
	color: #333333;
	padding-left: 10px;
	font-weight: bold;
	font-size: 10px;
}
td.trade_news_intro {
	border-right: 1px solid #ffffff;
	background-color: #f7f7f7;
	height: 34px;
	color: #333333;
	padding-left: 10px;
}
td.trade_news_icona {
	background-color: #ebebeb;
	height: 34px;
	text-align: center;
}

div.faq-open {
	padding: 7px 10px 10px 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #DAD8D8;
	background: #E3E3E3;
}

div.faq {
	padding: 7px 10px 10px 10px;
	border-bottom: 1px solid #D6d6d6;
	background: White url(../img/i_arrow_tcm42-23270.gif) no-repeat 10px bottom;
}
table.aztrade{
	width:100%;
	text-align: left;
	background-color:#f2f2f2;
	border-bottom:1px solid #525252;
	border-left:1px solid #ffffff;
	border-right:1px solid #ffffff;
}
table.aztrade td{
	height:22px;
	padding: 1px 5px;
	border-right: 1px solid #d4d4d4;	
	border-bottom: 1px solid #d4d4d4;
}
table.aztrade tr.header{
	background: #d4d4d4;

}
table.aztrade td.header{
	vertical-align:center;
	font-weight:bold;
	height:28px;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
	border-left:0px;
	border-right:0px;
	
}

table.consulta-orari tr.header {
	background-color: #f2f2f2;
	font-weight: bold;
}
table.consulta-orari td {
	padding: 5px;
	vertical-align: top;
}
table.consulta-orari td.help {
	padding: 2px 0px 0px 0px;
	text-align: right;
}
iframe.frame_laterale_menu{height:800; width:155;}
