#richiediMigliaForm{
    padding-bottom:30px;
}
.myalitalia-site-wrap .richiedi-miglia .widget-research span{
    bottom:36px!important;
}
#richiediMigliaErrMsg{
    padding:2px 20px;
    margin-top:20px;
}

