.editor h1 {
	font-size: xx-large;
    padding: .5em
}

.editor .prefooter {
    max-height:none;
    margin-left:.8em;
}

.editor .footer__row {
    max-height:none;
    margin-left:.8em;
}

.editor .footerLogoList {
    max-height:none;
    margin-left:.8em;
}

