.newsletter-wrap .column {
  position: relative;
}
.newsletter-wrap .column.button-col {
  float: left;
  margin-top: 25px;
}
.newsletter-wrap .column.button-col .button {
  width: 100%;
}
.newsletter-wrap .column p {
  font-size: 18px;
  line-height: 1.2em;
  color: #333333;
  margin-bottom: 35px;
}
.newsletter-wrap .column [type='email'] {
  margin-bottom: 25px;
}
.newsletter-wrap .column [type='email'].error {
  border-color: #e30512;
}
.newsletter-wrap .column .cell {
  position: relative;
}
.newsletter-wrap .column .cell .feedback-error, .newsletter-error.newsletter-checkbox,.newsletter-error{
  position: relative;
  font-size: 14px;
  color: #e30512;
  top: -10px;
}
.newsletter-feedback-message,.newsletter_FeedbackSuccess{
  color:#006643;
}
.newsletter_feedback_error.feedback-error{
  font-size: 14px;
  color: #e30512;
}
@media (min-width: 768px) {
  .newsletter-wrap .column.button-col {
    margin-top: 0px;
  }
  .newsletter-wrap .column [type='email'] {
    margin-bottom: 15px;
  }
}
@media (min-width: 1024px) {
  .newsletter-wrap .column p {
    margin-top: 0px;
    margin-bottom: 0;
  }
}
